{% set pageType = "404" %}
{% set title = "Страница не найдена" %}
{% set isHeaderBg = true %}
{% extends "layout.html" %} 
{% block content %}
<div class="bg_wave_1"></div>
<div class="container"></div>
<div class="page_404">
    <div> <span class="big">ошибка</span> страница не найдена или была удалена </div>
</div>
<div class="empty_box"></div>{% endblock %}
