{% set pageType = "about" %}
{% set title = "О Комплексе" %}
{% set isPageWhite = false %}
{% set isFullSize = false %}
{% set isHeaderBg = true %}
{% extends "layout.html" %}
{% block content %}
<div class="bg_wave_1"></div>
<div class="bg_wave_2"></div>
<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Главная</a></li>
    <li class="active">О проекте</li>
  </ol>
  <div class="breadcrumb_320">О проекте</div>
  <div class="row"> 
    <a data-toggle="modal" href="#aboutPageVideoModal" class="btn_orange video">Видео о проекте</a>
    <a data-toggle="modal" href="#aboutPageVideoModalSecond" class="btn_orange video">Прогулочная зона</a>
    <div class="col-sm-7">
      <h1>
       <small>Жилой комплекс «Пироговская Ривьера»&nbsp;— </small>
       квартиры комфорт-класса на&nbsp;берегу Пироговского водохранилища
     </h1> </div>
   </div>
   <div class="row about_1">
    <div class="col-sm-6 col-md-3"> современный пригород европейского уровня </div>
    <div class="col-sm-6 col-md-3"> 250 метров до берега Пироговского водохранилища, лес </div>
    <div class="col-sm-6 col-md-3"> физкультурно- оздоровительный комплекс с олимпийским бассейном </div>
    <div class="col-sm-6 col-md-3"> всего 12 км от МКАД по&nbsp;Осташковскому шоссе </div>
  </div>
</div>
<div class="row about_2">
  <div class="container">
    <div class="col-sm-6 col-md-7 pull-right">
      <div class="h1"> <small>Для тех, кто ценит городской комфорт</small> и стремится к счастливой жизни в гармонии с&nbsp;природой! </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row about_3">
    <div class="col-sm-5">
      <h2>благоприятная экология</h2>
      <p>Новый микрорайон располагается в уникальном природном уголке Подмосковья на берегу Пироговского водохранилища в окружении лесного массива. Эта территория отличается благоприятной экологической обстановкой, которая останется неизменной. Согласно генеральному плану п.&nbsp;Пирогово Мытищинского района, здесь не предполагается строительство каких-либо промышленных предприятий.</p>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <h2>развитая инфраструктура</h2>
      <p>Жители комплекса будут получать качественные образовательные, медицинские и другие услуги, не&nbsp;выезжая за его территорию. На территории ЖК будет построен большой торгово-развлекательный центр с кинотеатром, откроются рестораны, кафе и&nbsp;салоны красоты. На берегу Пироговского водохранилища будут обустроены отдельный пляж и пристань для серфинга и рыбалки.</p>
    </div>
  </div>
</div>
<div class="row about_4">
  <div class="container">
    <h4>Все продумано<br>до мелочей:</h4>
    <div class="row">
      <div class="col-sm-4 col-md-2"> <img src="img/about/icon_1.svg" alt="">
        <p>удобные и&nbsp;функциональные планировки</p>
      </div>
      <div class="col-sm-4 col-md-2"> <img src="img/about/icon_2.svg" alt="">
        <p>грамотная организация общественных пространств</p>
      </div>
      <div class="col-sm-4 col-md-2"> <img src="img/about/icon_3.svg" alt="">
        <p>спортивные площадки, велодорожки</p>
      </div>
      <div class="col-sm-4 col-md-2"> <img src="img/about/icon_4.svg" alt="">
        <p>детские площадки, детский сад, школа</p>
      </div>
      <div class="col-sm-4 col-md-2"> <img src="img/about/icon_5.svg" alt="">
        <p>консьерж в&nbsp;подъезде и&nbsp;огороженная территория</p>
      </div>
      <div class="col-sm-4 col-md-2"> <img src="img/about/icon_6.svg" alt="">
        <p>пункт охраны, видеонаблюдение</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2>стиль жизни</h2>
  <div class="row about_5">
    <div class="col-sm-5">
      <p>Всего несколько лет назад у воды строили только жилые комплексы элит- и бизнес-класса. ЖК «Пироговская Ривьера» стал одним из первых проектов сегмента «комфорт», который возводится в непосредственной близости от «большой воды» Пироговского водохранилища.</p>
      <p>Эта уникальная особенность расположения микрорайона диктует особенности организации жилого пространства. Все пешеходные выходы в ЖК «Пироговская Ривьера» будут вести к благоустроенной береговой линии. А жители верхних этажей смогут любоваться завораживающими видами.</p>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <p>На Пироговском водохранилище есть все для катания на яхтах, лодках, водных мотоциклах, занятий серфингом. А в зимнее время здесь можно будет играть в хоккей и кататься на коньках. В течение всего года в распоряжении жителей комплекса будет трехэтажный физкультурно-оздоровительный комплекс с олимпийским бассейном.</p>
      <h4>Здесь откроется Школа<br>по&nbsp;плаванию</h4>
      <p><i>под руководством четырехкратного олимпийского чемпиона, многократного чемпиона мира и Европы, Президента Всероссийской федерации плавания Владимира Сальникова.</i></p>
    </div>
  </div>
  <div class="row about_5"><img src="img/about/about_2.jpg" alt="" class="img-responsive"></div>
  <div class="row">
    <div class="col-sm-5">
      <h2>АРХИТЕКТУРА и&nbsp;характеристики</h2> </div>
    </div>
    <div class="row about_5">
      <div class="col-sm-5">
        <p>ЖК «Пироговская Ривьера» - это индивидуальный архитектурный проект, разработанный компанией Плюс Проджект, входящей в состав холдинга Rezidential Group. Он соответствует высоким стандартам комфортного жилья, которые приняты в европейских странах. Большой вклад в создание проекта внесли специалисты из Испании, Турции и других стран.</p>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <h4>Особое внимание уделено комфорту внутренних планировок и удобству зон общего пользования.</h4>
        <p>Новый микрорайон гармонично вписывается в окружающую среду. Архитектурные решения ЖК «Пироговская Ривьера» стали воплощением лучших традиций конструктивизма. </p>
      </div>
    </div>
    <div class="row about_6">
      <div class="col-md-5">
        <dl class="dl-horizontal">
          <dt>Территория ЖК</dt>
          <dd>49 Га</dd>
          <dt>Очереди строительства</dt>
          <dd>20 жилых корпусов в&nbsp;4&nbsp;очереди</dd>
          <dt>Тип дома</dt>
          <dd>
            <div class="view_pc">Монолит, облицованный кирпичом</div>
            <div class="view_m">Монолит, облиц.&nbsp;кирпичом</div>
          </dd>
          <dt>Этажность</dt>
          <dd>9 этажей</dd>
        </dl>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-md-5">
        <dl class="dl-horizontal">
          <dt>Высота потолков</dt>
          <dd>2,80 м</dd>
          <dt>I очередь строительства</dt>
          <dd>17, 18, 19 и&nbsp;20&nbsp;корпуса </dd>
          <dt>Срок окончания строительства I&nbsp;очереди</dt>
          <dd>IV кв. 2016 года</dd>
          <dt>Парковка</dt>
          <dd>
            <div class="view_pc">подземная и наземная</div>
            <div class="view_m">подземная,наземная</div>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="empty_box"></div>

  <div class="modal fade" id="aboutPageVideoModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="1280" height="720" src="https://www.youtube.com/embed/CvBfHwUxHIk?rel=0&amp;controls=0&amp;showinfo=0"></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="aboutPageVideoModalSecond">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://player.vimeo.com/video/235744268?title=0&byline=0&portrait=0" width="640" height="427" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>




  {% endblock %}
