{% set pageType = "actions" %}
{% set title = "Акции" %}
{% set isFullSize = false %}
{% set isPageWhite = false %}
{% set isHeaderBg = true %}
{% extends "layout.html" %}

{% block content %}
<div class="bg_wave_1 allways-visible"></div>
<div class="bg_wave_2 allways-visible"></div>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Главная</a></li>
		<li class="active">Акции</li>
	</ol>
	<div class="breadcrumb_320">Акции</div>
	<div class="container big_name_page"><div class="wrap">Акции</div></div>
	<div class="action_list">
		<div class="col-md-6">
			<a href=""# class="item">
				<span class="img"><img src="img/trash_action.jpg" alt=""></span>
				<span class="name">В Новый Год с&nbsp;iPhone7!</span>
			</a>
		</div>
		<div class="col-md-6">
			<a href="#" class="item">
				<span class="img"><img src="img/trash_action_1.jpg" alt=""></span>
				<span class="name">отделка в&nbsp;подарок!</span>
			</a>
		</div>
	</div>
	<div class="action_list_old">
		<h4>Архив акций</h4>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="item">
				<div class="name">бархатный сезон открыт</div>
				<div class="date_end">Закончилась 20.02.12</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="item">
				<div class="name">В июле подарки покупателям</div>
				<div class="date_end">Закончилась 20.02.12</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="item">
				<div class="name">Суперлето для покупателей!</div>
				<div class="date_end">Закончилась 20.02.12</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="item">
				<div class="name">Отделка в подарок</div>
				<div class="date_end">Закончилась 20.02.12</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="item">
				<div class="name">100 000 рублей в подарок!</div>
				<div class="date_end">Закончилась 20.02.12</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="item">
				<div class="name">В июле подарки</div>
				<div class="date_end">Закончилась 20.02.12</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="item">
				<div class="name">скидка 3%</div>
				<div class="date_end">Закончилась 20.02.12</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="item">
				<div class="name">Отделка в подарок</div>
				<div class="date_end">Закончилась 20.02.12</div>
			</div>
		</div>
	</div>
</div>
<div class="empty_box"></div>
{% endblock %}