{% set pageType = "action-single" %}
{% set title = "Акция" %}
{% set isFullSize = false %}
{% set isPageWhite = false %}

{% set isHeaderBg = true %}
{% extends "layout.html" %}

{% block content %}
<div class="bg_wave_2"></div>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Главная</a></li>
		<li><a href="#">Акции</a></li>
		<li class="active">В Новый Год с iPhone7!</li>
	</ol>
	<div class="breadcrumb_320">Акции</div>
	<div class="action_page">
		<div class="row">
			<div class="col-xs-11">
				<h1><span>В Новый Год с iPhone7!</span></h1>
			</div>
			<div class="news_social">
				<a href="#" title="" target="_blank" class="item_1"><img src="img/news_page/fb_hover.svg" alt=""></a>
				<a href="#" title="" target="_blank" class="item_2"><img src="img/news_page/vk_hover.svg" alt=""></a>
				<a href="#" title="" target="_blank" class="item_3"><img src="img/news_page/tw_hover.svg" alt=""></a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-11">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" src="img/trash_news.jpg" alt="">
					</a>
					<div class="media-body">
						<h5>Спешим сообщить, что 2 декабря стартовала предпраздничная акция. Только до 11 декабря каждый покупатель квартиры в ЖК «Пироговская Ривьера» получит приятный подарок iPhone7! Не упускайте момент, приобретайте жилье вашей мечты!</h5>
						<p>*Акция распространяется на покупку при 100% оплате Договора участия в долевом строительстве за счет собственных средств и кредитных средств банков-партнеров. Акция не действует при предоставлении рассрочки от застройщика или партнера проекта ООО «ЛидерИнвестГрупп». В период действия акции необходимо заключить и оплатить договор бронирования. Акция не распространяется на квартиры по специальному предложению. Вручение подарка производится после 100% оплаты ДДУ. Период действия акции 02-11.12.2016</p>
						<p>**Участник акции самостоятельно выступает исполнителем по налоговым обязательствам перед налоговыми органами, предусмотренным п.1 ст.210 НК РФ и самостоятельно уплачивает НДФЛ со стоимости подарка по акции, превышающего стоимость 4 000 (четыре тысячи) рублей.</p>
						</p>Не является публичной офертой. Подробности об условиях проведения акции уточняйте по тел. +7 (495) 1-333-999.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="empty_box"></div>
{% endblock %}