{% set pageType = "article" %}
{% set title = "Статья" %}
{% set isFullSize = false %}
{% set isPageWhite = false %}

{% set isHeaderBg = true %}
{% extends "layout.html" %}

{% block content %}
<div class="bg_wave_2"></div>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Главная</a></li>
		<li><a href="#">Новости</a></li>
		<li class="active">Rezidential Group и ОАО «Сбербанк России» в 11 апреля 2015 года проводят совместную ипотечную субботу для всех клиентов ЖК «Пироговская Ривьера»!</li>
	</ol>
	<div class="breadcrumb_320">Новости</div>
	<div class="news_page">
		<div class="row">
			<div class="col-xs-1">
				<div class="news_date">
					<span class="day">25</span>
					<span class="month">11</span>
					<span class="year">2016</span>
				</div>
			</div>
			<div class="col-xs-10">
				<h1><span>Rezidential Group и ОАО «Сбербанк России» в 11 апреля 2015 года проводят совместную ипотечную субботу для всех клиентов ЖК «Пироговская Ривьера»!</span></h1>
			</div>
			<div class="news_social">
				<a href="#" title="" target="_blank" class="item_1"><img src="img/news_page/fb_hover.svg" alt=""></a>
				<a href="#" title="" target="_blank" class="item_2"><img src="img/news_page/vk_hover.svg" alt=""></a>
				<a href="#" title="" target="_blank" class="item_3"><img src="img/news_page/tw_hover.svg" alt=""></a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<div class="media">
					<a class="pull-left" data-toggle="modal" href="#articleBigImage" style="cursor: zoom-in;">
						<img class="media-object" src="img/trash_news.jpg" alt="">
					</a>
					<div class="media-body">
						<p>Дорогие клиенты! Мы получили разрешение Министерства строительного комплекса Московской области на возведение детского сада на 225 мест в ЖК «Пироговская Ривьера». Площадь трехэтажного дошкольного образовательного учреждения составит более 3,7 тысячи кв.м.</p>
						<p>Детский сад, который будет муниципальным, рассчитан на 9 групп младшего, среднего и подготовительного возраста. В нем также откроются кабинеты дополнительного образования, творческая студия, спортивный и музыкальный залы, столовая, медицинский кабинет, служебные помещения для персонала и многое другое. Наша компания построит дошкольное учреждение за счет собственных средств, общая стоимость проекта — 260 млн. руб.</p>
						<p>На территории детского сада также запланировано оборудование 9 детских и 1 спортивной площадки. Кроме того, для маленьких жильцов «Пироговской Ривьеры» построят еще одно ДОУ, школу и трехэтажный физкультурно-оздоровительный комплекс с бассейном олимпийского стандарта. В нем откроется детская спортивная школа по плаванию под руководством четырехкратного олимпийского чемпиона, многократного чемпиона мира и Европы, Президента Всероссийской федерации плавания Владимира Сальникова.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="empty_box"></div>


<div class="modal fade" id="articleBigImage">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive" src="http://placehold.it/600x600" width="600" height="600" alt="{name}" style="margin: 0 auto;" />
      </div>
    </div>
  </div>
</div>

{% endblock %}