{% set pageType = "bank" %}
{% set title = "Банк" %}
{% set isFullSize = false %}
{% set isPageWhite = false %}

{% set isHeaderBg = true %}
{% extends "layout.html" %}

{% block content %}
<div class="bg_wave_2"></div>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Главная</a></li>
		<li><a href="#">Ипотека</a></li>
		<li class="active">Сбербанк</li>
	</ol>
	<div class="breadcrumb_320">Ипотека</div>
	<div class="about_bank">
		<a href="#" class="btn_orange lg">Отправить заявку на ипотеку</a>
		<a href="#" class="btn_orange sm">Отправить заявку</a>
		<div class="row">
			<div class="col-md-6">
				<div class="logo_bank"><img src="img/banks/sbrf.png" alt=""></div>
				<p>Ипотека с государственной поддержкой по ставке 11,4% в рублях РФ. Преимущества программ жилищного кредитования в Сбербанке.</p>
				<p>Достаточно паспорта РФ для подачи заявки на кредит клиентам, получающим заработную плату на счет, открытый в Сбербанке.</p>
				<p>Для увеличения суммы получаемого кредита могут быть привлечены созаемщики.</p>
				<p>Удобное погашение кредита: достаточно внести необходимую сумму на счет любым удобным способом, погашение произойдет автоматически в соответствии с графиком платежей.</p>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<h4>Условия программы<br>с&nbsp;государственной поддержкой:</h4>
				<div class="tarif">
					<div class="th_row lg">
						<div class="col col_1">Ставка в год, руб<br>(до и после регистрации ипотеки)</div>
						<div class="col col_2">Первоначальный взнос</div>
						<div class="col col_3">Срок кредита</div>
					</div>
					<div class="th_row sm">
						<div class="col col_1">ставка</div>
						<div class="col col_2">взнос</div>
						<div class="col col_3">срок</div>
					</div>
					<div class="td_row">
						<div class="col col_1">от 11,4%</div>
						<div class="col col_2">от 20%</div>
						<div class="col col_3">до 30 лет</div>
					</div>
				</div>
				<h4>Условия программы Акция для застройщиков:</h4>
				<div class="tarif">
					<div class="th_row lg">
						<div class="col col_1">Ставка в год, руб<br>(до и после регистрации ипотеки)</div>
						<div class="col col_2">Первоначальный взнос</div>
						<div class="col col_3">Срок кредита</div>
					</div>
					<div class="th_row sm">
						<div class="col col_1">ставка</div>
						<div class="col col_2">взнос</div>
						<div class="col col_3">срок</div>
					</div>
					<div class="td_row">
						<div class="col col_1">12%</div>
						<div class="col col_2">от 15%</div>
						<div class="col col_3">до 30 лет</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="empty_box"></div>
{% endblock %}