{% set pageType = "choice" %}
{% set title = "Подбор квартир" %}
{% set isFullSize = true %}
{% set isPageWhite = false %}
{% set isHeaderBg = false %}
{% extends "layout.html" %} 
{% block content %}
<style id="choicePageSpecificStyles">
    #hd {
       display: none;
    }
    
    @media (min-width: 768px) {
        #ft {
            display: none;
        }
    }
</style>
<div class="container genplan">
    <div class="b-halfpage choice_gp_link white-page">
        <div class="b-header b-header--in-halfpage b-header--left">
            <div class="logo">
                <a href="/" title="" class="b-logo"> <img src="img/logo_white.svg" class="b-logo__pic" alt=""> </a>
            </div>
            <ul class="menuHeader">
                <li><a href="choice.html">ВЫбрать квартиру</a></li>
                <li><a href="#" data-location-modal="callMeBackLocationModal">ОБРАТНЫЙ ЗВОНОК</a></li>
                <li><a href="#">+ 7 495 241 96 08</a><div class="scrollbar-pusher pull-right"></div></li>

            </ul> <a href="#" class="menu_btn">меню<div class="scrollbar-pusher pull-right hidden-xs"></div></a> </div> <a href="genplan.html" class="text b-halfpage__link b-halfpage__link--to-genplan">

			<span class="btn_point"><span></span></span> подбор квартиры<br>на генплане </a>
            <div class="b-footer b-footer--in-halfpage b-footer--left hidden-xs">
                <div class="copy b-footer__copyright">© «Пироговская Ривьера», 2016</div>
                <ul class="menuFooter b-footer__icons b-footer__icons--white">
                    <li> <a href="#" title="" target="_blank"><i class="b-footer__icon icon-logo_rg"></i></a> </li>
                    <li> <a href="#" title="" target="_blank"><i class="b-footer__icon icon-fb"></i></a> </li>
                    <li> <a href="#" title="" target="_blank"><i class="b-footer__icon icon-vk"></i></a> </li>
                    <li> <a href="#" title="" target="_blank"><i class="b-footer__icon icon-inst"></i></a> </li>
                    <li> <a href="#" title="" target="_blank"><i class="b-footer__icon icon-logo_blue-ant"></i></a>
                        <div class="scrollbar-pusher pull-right"></div>
                    </li>
                </ul>
            </div>

        <div class="b-halfpage__genplan-bg"></div>
        <div class="b-halfpage__overlay"></div>
    </div>
    <div class="b-halfpage choice_param_link">
        <div class="b-header b-header--in-halfpage b-header--right hidden-xs">
            <div class="logo">
            	<div class="scrollbar-pusher pull-left"></div>
                <a href="/" title="" class="b-logo"> <img src="img/logo.svg" class="b-logo__pic" alt=""></a>
            </div>
            <ul class="menuHeader">
                <li><a href="choice.html">ВЫбрать квартиру</a></li>
                <li><a href="#" data-location-modal="callMeBackLocationModal">ОБРАТНЫЙ ЗВОНОК</a></li>
                <li><a href="#">+ 7 495 241 96 08</a>
            </ul> <a href="#" class="menu_btn">меню</a> </div> <a href="flats.html" class="b-halfpage__link b-halfpage__link--to-params text">
				<span class="btn_param"><span></span></span> подбор квартиры
        <br>по&nbsp;параметрам </a>
        <div class="b-footer b-footer--in-halfpage b-footer--right hidden-xs"> {% include "includes/footer-content.html" %} </div>
    </div>
</div>
<div class="empty_box"></div> {% endblock %}
