{% set pageType = "contacts" %}
{% set title = "Свяжитесь с нами" %}
{% set isFullSize = true %}
{% set isPageWhite = false %}
{% set isHeaderBg = false %}
{% extends "layout.html" %}

{% block content %}
<div class="container">
	<div class="location">
		<div class="h1_full"><h1>Расположение</h1></div>
		<div id="locationMap" class="map"></div>
	</div>
</div>
<ul class="menuLocation contacts">
	<li><a href="#" class="btn_orange" data-location-modal="contacsModalOffice1">Центральный офис</a></li>
	<li><a href="#" class="btn_blue" data-location-modal="contacsModalOffice2">Территориальный офис</a></li>
</ul>




<div class="b-location-modal popUP_location" id="contacsModalOffice1">
    <div class="b-location-modal__backdrop"></div>
    <div class="location_text contacts b-location-modal__inner">
        <div class="wrap">
            <h4>Центральный офис</h4>
            <p>При использовании навигатора введите в поиск ЖК «Пироговская Ривьера» обязательно поставьте кавычки в названии» и выберете один из двух офисов, отображенных на карте.</p>
            <dl class="dl-horizontal">
                <dt>Адрес</dt>
                <dd>Москва, Чапаевский переулок, дом 3, Триумф Палас, офис № 8</dd>
                <dt>Телефон</dt>
                <dd>+7 495 241-99-00</dd>
                <dt>Почта</dt>
                <dd><a href="mailto:sales@pirogovskaya-riviera.ru">sales@pirogovskaya-riviera.ru</a></dd>
                <dt>GPS</dt>
                <dd>Ш<span class="hide_text">ирота</span>: 55°47'54.8"N (55.798549)
                    <br>Д<span class="hide_text">олгота</span>: 37°31'14.7"E (37.520746) </dd>
            </dl>
        </div>
    </div>
</div>
<div class="b-location-modal popUP_location" id="contacsModalOffice2">
    <div class="b-location-modal__backdrop"></div>

    <div class="location_text contacts b-location-modal__inner">
        <div class="wrap">
            <h4>Территориальный офис</h4>
            <p>Ежедневно в любое удобное для Вас время с 10:00 до 19:00 наш фирменный транспорт доставит вас от м. Медведково до офиса продаж на объекте. Для этого необходимо <a href="#" data-location-modal="contactsPageFormModal" class="send_letter">оставить заявку</a> или позвонить в офис продаж за сутки до планируемой поездки.</p>
            <dl class="dl-horizontal">
                <dt>Адрес</dt>
                <dd>МО, городской округ Мытищи , дер. Пирогово, ул. Центральная, д.1</dd>
                <dt>Телефон</dt>
                <dd>+7 495 241-99-00</dd>
                <dt>Почта</dt>
                <dd><a href="mailto:sales@pirogovskaya-riviera.ru">sales@pirogovskaya-riviera.ru</a></dd>
                <dt>GPS</dt>
                <dd>Ш<span class="hide_text">ирота</span>: 55°59'12"N (55.986692)
                    <br>Д<span class="hide_text">олгота</span>: 37°43'41"E (37.728029)</dd>
            </dl>
        </div>
    </div>
</div>

<div class="popUpbgGrad b-location-modal" id="contactsPageFormModal">
    <div class="b-location-modal__backdrop"></div>
    <div class="send_letterIpotek lg b-location-modal__inner">
        <div class="wrap">
            <div class="h1">Оставить заявку</div>
            <div class="note_1">Наш фирменный транспорт доставит вас от
м. Медведково до офиса продаж на объекте.</div>
            <form action="" id="contactsPageForm">
                <div class="row">
                    <input type="text" name="name" placeholder="Имя *" required>
                </div>
                <div class="row">
                    <input type="text" name="input" placeholder="Телефон *" required>
                </div>
                <div class="row">
                    <input type="text" name="" placeholder="E-mail">
                </div>
                <div class="row">
                    <select class="easydropdown">
                        <option>с 10:30&nbsp;&nbsp;-&nbsp;&nbsp;до 11:00</option>
                        <option>с 11:30&nbsp;&nbsp;-&nbsp;&nbsp;до 12:00</option>
                        <option>с 12:30&nbsp;&nbsp;-&nbsp;&nbsp;до 13:00</option>
                        <option>с 13:30&nbsp;&nbsp;-&nbsp;&nbsp;до 14:00</option>
                        <option>с 14:30&nbsp;&nbsp;-&nbsp;&nbsp;до 15:00</option>
                        <option>с 15:00&nbsp;&nbsp;-&nbsp;&nbsp;до 15:30</option>
                        <option>с 16:00&nbsp;&nbsp;-&nbsp;&nbsp;до 16:30</option>
                        <option>с 17:00&nbsp;&nbsp;-&nbsp;&nbsp;до 17:30</option>
                    </select>
                </div>
                <div class="row captcha">
                    <img src="img/trash_captcha.gif" alt="" class="pull-right">
                    <input type="text" name="captcha" placeholder="Код с картинки *" class="pull-left">
                </div>
                <div class="note_important"><sup>*</sup> поля, обязательные для заполнения</div>
                <!--<div class="row">
                    <input type="submit" name="" value="Отправить" class="btn_orange">
                    <span class="btn_orange">Отправить</span>
                </div>-->
                <div class="row thanks">
                    <input type="submit" name="" value="Отправить" class="btn_orange">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="empty_box"></div>
{% endblock %}