{% set pageType = "developer" %}
{% set title = "Застройщик" %}
{% set isFullSize = false %}
{% set isPageWhite = true %}
{% set isHeaderBg = false %}
{% extends "layout.html" %}

{% block content %}
<div class="aboutRg_bg"></div>
<div class="aboutRg">
	<div class="container">
		<div class="row">
			<div class="logo_rg"><img src="img/logo_rg_big.svg" alt="">
			</div><a href="#" class="gotoRG" target="_blank">перейти на сайт компании</a>
			<h1>Rezidential Group —</h1>
			<div class="col-md-5">
				<p>это крупная холдинговая структура, созданная в 2013 г., команда которой обладает богатым опытом реализации строительных проектов на территории России и за рубежом. Флагманский проект компании — жилой комплекс «Пироговская Ривьера», объект комплексного развития территории.</p>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-5">
				<p>Особое преимущество Rezidential Group — активное взаимодействие с иностранными специалистами, так, в реализации ЖК «Пироговская Ривьера» использован передовой международный опыт и привлечены специалисты из четырех стран мира.</p>
			</div>
		</div>
	</div>
</div>
<div class="empty_box"></div>
{% endblock %}