{% set pageType = "diary" %}
{% set title = "Динамика строительства" %}
{% set isFullSize = true %}
{% set isPageWhite = false %}
{% set isHeaderBg = false %}
{% extends "layout.html" %}

{% block content %}
<div class="container">
	<div class="galery">
		<ol class="breadcrumb">
			<li><a href="/">Главная</a></li>
			<li class="active">Динамика строительства</li>
		</ol>
		<div class="breadcrumb_320 hidden-xs">Этап строительства</div>
		<div class="breadcrumb_320 visible-xs"><span style="font-weight: 400;font-size: 14px;">Веб-камеры</span></div>
		<div class="b-webcams-row">
			<a data-toggle="modal" href='#webcam-1-Modal' class="b-webcam-btn b-webcam-btn--n1 btn btn-default btn-sm">
				<span class="b-webcam-btn__text">Веб-камера 18 корпус</span>
				<i class="b-webcam-btn__icon"></i>
			</a>
			<a data-toggle="modal" href='#webcam-2-Modal' class="b-webcam-btn b-webcam-btn--n2 btn btn-default btn-sm">
				<span class="b-webcam-btn__text">Веб-камера 17 корпус</span>
				<i class="b-webcam-btn__icon"></i>
			</a>

			<a data-toggle="modal" href="#webcam-3-Modal" class="b-webcam-btn b-webcam-btn--n3 btn btn-default btn-sm">
			  <span class="b-webcam-btn__text">Веб-камера 10 корпус </span>
			  <i class="b-webcam-btn__icon"></i>
			</a>
		</div>
		
		
		<div class="choose_year dropdown">
			<a class="active" href="#" data-target="yearDropdown" data-toggle="dropdown">2016</a>
			<ul class="dropdown-menu" id="yearDropdown">
				<li><a href="diary.html?year=2016">2016</a></li>
				<li><a href="diary.html?year=2015">2015</a></li>
				<li><a href="diary.html?year=2014">2014</a></li>
			</ul>
		</div>
		<div class="galery_1 gallery_1--diary">
			<ul class="galery_list">
				<li class="galery_item active">
					<div class="wrap" data-ajax-popup-gallery="gallery-slides.json">
						<div class="galery_img" style="background-image:url(img/trash_galery_2.jpg);"></div>
						<div class="info">
							<div class="name">ноябрь</div>
							<div class="count">59 фото</div>
						</div>
					</div>
				</li>
				<li class="galery_item">
					<div class="wrap" data-ajax-popup-gallery="gallery-slides.json">
					<div class="galery_img" style="background-image:url(img/trash_galery_2.jpg);"></div>
					<div class="info">
						<div class="name">октябрь</div>
						<div class="count">5 фото</div>
					</div>
					</div>
				</li>
				<li class="galery_item">
					<div class="wrap" data-ajax-popup-gallery="gallery-slides.json">
					<div class="galery_img" style="background-image:url(img/trash_galery_2.jpg);"></div>
					<div class="info">
						<div class="name">октябрь</div>
						<div class="count">5 фото</div>
					</div>
					</div>
				</li>
			</ul>
			<a href="#" class="galery_str_l" title=""></a>
			<a href="#" class="galery_str_r" title=""></a>
		</div>
	</div>
</div>
<div class="empty_box"></div>



<div class="modal fade" id="webcam-1-Modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="1280" height="720" src="https://open.ivideon.com/embed/v2/?server=100-nORBcrdqHTRuhhZlKNSXu9&#38;camera=65536&#38;width=&#38;height=&#38;lang=ru"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="webcam-2-Modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="1280" height="720" src="https://open.ivideon.com/embed/v2/?server=100-nORBcrdqHTRuhhZlKNSXu9&#38;camera=131072&#38;width=&#38;height=&#38;lang=ru"></iframe>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="webcam-3-Modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="1280" height="720" class="embed-responsive-item" src="https://www.youtube.com/embed/lWA2pjMjpBs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>









{% endblock %}