{% set pageType = "docs" %}
{% set title = "Документы" %}
{% set isFullSize = false %}
{% set isPageWhite = false %}
{% set isHeaderBg = true %}
{% extends "layout.html" %}

{% block content %}
<div class="bg_wave_1"></div>
<div class="bg_wave_2"></div>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Главная</a></li>
		<li class="active">Документы</li>
	</ol>
	<div class="breadcrumb_320">Документы</div>
	<div class="container big_name_page">
        <div class="wrap">Документы</div>
    </div>
	<div class="docs_list clearfix">

		<h2 class="docs_list__title docs_list__title--top">Проектные декларации</h2>
		<div class="clearfix"></div>
		<div class="item">
			<a href="#" class="doc">
		 		<span class="name">Изменения в&nbsp;Проектной декларации 9, 20 дом от 28.10.16 Изменения в&nbsp;Проектной декларации </span>
				<dl class="dl-horizontal">
					<dt>Загружено:</dt>
						<dd>23:31 21.02.2017</dd>
					<dt>Загрузил:</dt>
						<dd>Воздвиженский Илья</dd>
				</dl>
				<span class="format">
					547 КБ
					<img src="img/icon_pdf.svg" alt="">
				</span>
				<span class="btn_orange">Скачать 547 КБ</span>
			</a>
		</div>
		<div class="item">
			<a href="#" class="doc">
		 		<span class="name">Изменения в&nbsp;Проектной декларации 9, 20 дом от 28.10.16</span>
				<dl class="dl-horizontal">
					<dt>Загружено:</dt>
						<dd>23:31 21.02.2017</dd>
					<dt>Загрузил:</dt>
						<dd>Воздвиженский Илья</dd>
				</dl>
				<span class="format">
					547 КБ
					<img src="img/icon_pdf.svg" alt="">
				</span>
				<span class="btn_orange">Скачать 547 КБ</span>
			</a>
		</div>
		<div class="item">
			<a href="#" class="doc">
		 		<span class="name">Изменения в&nbsp;Проектной декларации 9, 20 дом от 28.10.16</span>
				<dl class="dl-horizontal">
					<dt>Загружено:</dt>
						<dd>23:31 21.02.2017</dd>
					<dt>Загрузил:</dt>
						<dd>Воздвиженский Илья</dd>
				</dl>
				<span class="format">
					547 КБ
					<img src="img/icon_pdf.svg" alt="">
				</span>
				<span class="btn_orange">Скачать 547 КБ</span>
			</a>
		</div>
		<div class="item">
			<a href="#" class="doc">
		 		<span class="name">Изменения в&nbsp;Проектной декларации 9, 20 дом от 28.10.16</span>
				<dl class="dl-horizontal">
					<dt>Загружено:</dt>
						<dd>23:31 21.02.2017</dd>
					<dt>Загрузил:</dt>
						<dd>Воздвиженский Илья</dd>
				</dl>
				<span class="format">
					547 КБ
					<img src="img/icon_pdf.svg" alt="">
				</span>
				<span class="btn_orange">Скачать 547 КБ</span>
			</a>
		</div>
		<div class="item">
			<a href="#" class="doc">
		 		<span class="name">Изменения в&nbsp;Проектной декларации 9, 20 дом от 28.10.16</span>
				<dl class="dl-horizontal">
					<dt>Загружено:</dt>
						<dd>23:31 21.02.2017</dd>
					<dt>Загрузил:</dt>
						<dd>Воздвиженский Илья</dd>
				</dl>
				<span class="format">
					547 КБ
					<img src="img/icon_pdf.svg" alt="">
				</span>
				<span class="btn_orange">Скачать 547 КБ</span>
			</a>
		</div>
		<div class="item">
			<a href="#" class="doc">
		 		<span class="name">Изменения в&nbsp;Проектной декларации 9, 20 дом от 28.10.16</span>
				<dl class="dl-horizontal">
					<dt>Загружено:</dt>
						<dd>23:31 21.02.2017</dd>
					<dt>Загрузил:</dt>
						<dd>Воздвиженский Илья</dd>
				</dl>
				<span class="format">
					547 КБ
					<img src="img/icon_pdf.svg" alt="">
				</span>
				<span class="btn_orange">Скачать 547 КБ</span>
			</a>
		</div>
		<div class="clearfix"></div>
		<h2 class="docs_list__title">Разрешение на строительство</h2>
		<div class="item">
			<a href="#" class="doc">
		 		<span class="name">Изменения в&nbsp;Проектной декларации 9, 20 дом от 28.10.16</span>
				<dl class="dl-horizontal">
					<dt>Загружено:</dt>
						<dd>23:31 21.02.2017</dd>
					<dt>Загрузил:</dt>
						<dd>Воздвиженский Илья</dd>
				</dl>
				<span class="format">
					547 КБ
					<img src="img/icon_pdf.svg" alt="">
				</span>
				<span class="btn_orange">Скачать 547 КБ</span>
			</a>
		</div>
		<div class="item">
			<a href="#" class="doc">
		 		<span class="name">Изменения в&nbsp;Проектной декларации 9, 20 дом от 28.10.16</span>
				<dl class="dl-horizontal">
					<dt>Загружено:</dt>
						<dd>23:31 21.02.2017</dd>
					<dt>Загрузил:</dt>
						<dd>Воздвиженский Илья</dd>
				</dl>
				<span class="format">
					547 КБ
					<img src="img/icon_pdf.svg" alt="">
				</span>
				<span class="btn_orange">Скачать 547 КБ</span>
			</a>
		</div>
		<div class="item">
			<a href="#" class="doc">
		 		<span class="name">Изменения в&nbsp;Проектной декларации 9, 20 дом от 28.10.16</span>
				<dl class="dl-horizontal">
					<dt>Загружено:</dt>
						<dd>23:31 21.02.2017</dd>
					<dt>Загрузил:</dt>
						<dd>Воздвиженский Илья</dd>
				</dl>
				<span class="format">
					547 КБ
					<img src="img/icon_pdf.svg" alt="">
				</span>
				<span class="btn_orange">Скачать 547 КБ</span>
			</a>
		</div>
		<div class="item">
			<a href="#" class="doc">
		 		<span class="name">Изменения в&nbsp;Проектной декларации 9, 20 дом от 28.10.16</span>
				<dl class="dl-horizontal">
					<dt>Загружено:</dt>
						<dd>23:31 21.02.2017</dd>
					<dt>Загрузил:</dt>
						<dd>Воздвиженский Илья</dd>
				</dl>
				<span class="format">
					547 КБ
					<img src="img/icon_pdf.svg" alt="">
				</span>
				<span class="btn_orange">Скачать 547 КБ</span>
			</a>
		</div>
		<div class="item">
			<a href="#" class="doc">
		 		<span class="name">Изменения в&nbsp;Проектной декларации 9, 20 дом от 28.10.16</span>
				<dl class="dl-horizontal">
					<dt>Загружено:</dt>
						<dd>23:31 21.02.2017</dd>
					<dt>Загрузил:</dt>
						<dd>Воздвиженский Илья</dd>
				</dl>
				<span class="format">
					547 КБ
					<img src="img/icon_pdf.svg" alt="">
				</span>
				<span class="btn_orange">Скачать 547 КБ</span>
			</a>
		</div>
		<div class="item">
			<a href="#" class="doc">
		 		<span class="name">Изменения</span>
				<dl class="dl-horizontal">
					<dt>Загружено:</dt>
						<dd>23:31 21.02.2017</dd>
					<dt>Загрузил:</dt>
						<dd>Воздвиженский Илья</dd>
				</dl>
				<span class="format">
					547 КБ
					<img src="img/icon_pdf.svg" alt="">
				</span>
				<span class="btn_orange">Скачать 547 КБ</span>
			</a>
		</div>
	</div>

	<div class="b-insurdesc">
		<p>Выбранные застройщиком способы обеспечения исполнения обязательств по договору участия в долевом строительстве в соответствии с частью 2 статьи 12.1 Федерального закона от 30.12.2004 N 214-ФЗ "Об участии в долевом строительстве многоквартирных домов и иных объектов недвижимости и о внесении изменений в некоторые законодательные акты Российской Федерации": страхование гражданской ответственности застройщика за неисполнение или ненадлежащее исполнение обязательств по передаче жилого помещения участнику долевого строительства по договору в порядке, установленном статьей 15.2 указанного Федерального закона.</p>

		<p>Страховщик: <span class="bold">Общество с ограниченной ответственностью «Страховая компания «Респект»</span></p>
		<p>Страховщик: <span class="bold">Страховое акционерное общество «ВСК»</span></p>



	</div>

</div>
<div class="empty_box"></div>
{% endblock %}