{% set pageType = "flat-single" %}
{% set title = "Квартира" %}
{% set isFullSize = true %}
{% set isPageWhite = false %}
{% set isHeaderBg = true %}
{% extends "layout.html" %}
{% block content %}
<div class="container view_flat">
    <div class="h1_full">
        <h1>Квартира №331</h1></div>
    <a href="#" class="btn_print_plan hidden-sm">распечатать планировку</a>
    <a href="#3d-modal" class="btn_print_3d hidden-sm" data-3d="pirogovka_35.9.html">посмотреть квартиру в 3D</a>

    <div class="b-flatvars-titles">
        <div class="b-flatvars-titles__wrap">
            <div class="b-flatvars-titles__item"><a class="b-flatvars-titles__slidelink" href="#flatvar-1" data-toggle="tab">Базовая планировка</a></div>
            <div class="b-flatvars-titles__item"><a class="b-flatvars-titles__slidelink" href="#flatvar-2" data-toggle="tab">Планировка 2</a></div>
            <div class="b-flatvars-titles__item"><a class="b-flatvars-titles__slidelink" href="#flatvar-3" data-toggle="tab">Планировка 3</a></div>
            <div class="b-flatvars-titles__item"><a class="b-flatvars-titles__slidelink" href="#flatvar-4" data-toggle="tab">Планировка 4</a></div>
        </div>
        <button class="b-flatvars-titles__arrow b-flatvars-titles__arrow--prev"></button>
        <button class="b-flatvars-titles__arrow b-flatvars-titles__arrow--next"></button>
        <div class="b-flatvars-titles__uderline-track">
            <div class="b-flatvars-titles__underline" id="flatvarsTitleUnderline"></div>
        </div>
    </div>

    <div class="flat_plan tab-content">
        <div class="tab-pane fade in active" id="flatvar-1" style="visibility: hidden;">
            <img class="flat_plan__img" width="994" height="822"  src="img/trash_flat_plan_4.svg" alt="">
            <div class="flat_plan__shadow" style="background-image: url('../img/trash_flat_plan_4_shadow.png');"></div>
        </div>
        <div class="tab-pane fade" id="flatvar-2">
            <img class="flat_plan__img" width="994" height="822"  src="http://pirogovo-riviera.ru/upload/information_system_13/1/3/1/item_1315/information_items_property_83.png" alt="">
            <div class="flat_plan__shadow" style="background-image: url(http://pirogovo-riviera.ru/upload/information_system_13/1/3/1/item_1315/information_items_property_84.png);"></div>
        </div>
        <div class="tab-pane fade" id="flatvar-3">
            <img class="flat_plan__img" width="994" height="822"  src="http://pirogovo-riviera.ru/upload/information_system_13/1/3/1/item_1315/information_items_1315.svg" alt="">
            <div class="flat_plan__shadow" style="background-image: url(http://pirogovo-riviera.ru/upload/information_system_13/1/3/1/item_1315/information_items_property_84.png);"></div>
        </div>
        <div class="tab-pane fade" id="flatvar-4">
            <img class="flat_plan__img" width="994" height="822"  src="http://pirogovo-riviera.ru/upload/information_system_13/1/3/1/item_1315/information_items_property_83.png" alt="">
            <div class="flat_plan__shadow" style="background-image: url(http://pirogovo-riviera.ru/upload/information_system_13/1/3/1/item_1315/information_items_property_84.png);"></div>
        </div>
    </div>

    <div class="view_court">ДВОР</div>
    <div class="view_street">Улица</div>
    <div class="row">

    <ul class="b-flatcounter col-sm-5 col-md-2">
        <li class="b-flatcounter__leaf">
            <span class="b-flatcounter__title">Корпус</span>
            <span class="b-flatcounter__count">18</span>
        </li>
        <li class="b-flatcounter__leaf">
            <span class="b-flatcounter__title">Секция</span>
            <span class="b-flatcounter__count">8</span>
        </li>
        <li class="b-flatcounter__leaf">
            <span class="b-flatcounter__title">Этаж</span>
            <span class="b-flatcounter__count">1</span>
        </li>
        <li class="b-flatcounter__leaf">
            <span class="b-flatcounter__title">Планировка</span>
            <span class="b-flatcounter__count">1С-1</span>
        </li>
    </ul>
        <div class="col-sm-2"></div>
        <ul class="flat_legend_info col-sm-5 col-md-2">
            <li>Спален <span class="count">1</span></li>
            <li>Площадь <span class="count">42,4 м&sup2;</span></li>
            <li>Отделка <span class="count ok"></span></li>
            <li>Балкон <span class="count ok"></span></li>
            <li>Вид во двор <span class="count ok"></span></li>
        </ul>
    </div>
    <div class="best_offers">
    	<div class="best_offers__cost">
    		Стоимость: <s class="best_offers__value">22 222 222 Р.</s>
    	</div>
    	<div class="best_offers__text">
    		Спасибо, что выбрали наш проект! Мы готовы дать Вам больше!<br>Свяжитесь с нами и получите <span class="best_offers__strong-text">20 000 рублей</span> скидки за звонок.
    	</div>
		<a href="#" class="btn_orange" data-location-modal="singleFlatFormModal">Получить наилучшие условия</a>
    </div>
    <div class="flat_on_floor">
        <Img src="img/img_korpus.svg" alt="">
    </div>
    <div class="flat_rose_wind">
        <Img src="img/icon_rose_floor.svg" alt="">
    </div>
</div>
<div class="empty_box"></div>
<div class="popUpbgGrad b-location-modal" id="singleFlatFormModal">
    <div class="b-location-modal__backdrop"></div>
    <div class="send_letterIpotek lg b-location-modal__inner">
        <div class="wrap">
            <div class="h1">Здравствуйте!</div>
            <div class="note_1">Введите ваши контактные данные, наш менеджер свяжется с Вами в ближайшее время и ответит на интересующие вас вопросы, в удобное для вас время.</div>
            <form action="" id="singleFlatForm">
                <div class="row">
                    <input type="text" name="name" placeholder="Имя *" required>
                </div>
                <div class="row">
                    <input type="text" name="phone" placeholder="Телефон *" required>
                </div>
                <!--
                <div class="row">
                    <input type="text" name="email" placeholder="E-mail">
                </div>
                <div class="row">
                    <select class="easydropdown">
                        <option>с 14:30&nbsp;&nbsp;-&nbsp;&nbsp;до 15:00</option>
                        <option>с 15:00&nbsp;&nbsp;-&nbsp;&nbsp;до 15:30</option>
                        <option>с 16:00&nbsp;&nbsp;-&nbsp;&nbsp;до 16:30</option>
                        <option>с 17:00&nbsp;&nbsp;-&nbsp;&nbsp;до 17:30</option>
                    </select>
                </div>
                -->
                <div class="row captcha">
                    <img src="img/trash_captcha.gif" alt="" class="pull-right">
                    <input type="text" name="captcha" placeholder="Код с картинки *" required class="pull-left">
                </div>
                <div class="note_important"><sup>*</sup> поля, обязательные для заполнения</div>
                <div class="row thanks">
                    <input type="submit" name="" value="Отправить" class="btn_orange">
                </div>
            </form>
        </div>
    </div>
</div>
{% include "./includes/3d-modal.html" %}
{% endblock %}
