{% set pageType = "flats" %}
{% set title = "Выбрать квартиру" %}
{% set isFullSize = true %}
{% set isPageWhite = false %}
{% set isHeaderBg = false %}
{% extends "layout.html" %}

{% block content %}
<style>
@media(min-width: 768px) {
    #ft {
        display: none;
    }
}
</style>

<div class="container parame_choice">
	<a href="#" class="btn_param filtr_page"><span></span></a>
	<div class="filtr">
		<form action="" id="pickupFlatFilterForm" method="post">
			<div class="slide square" id="squareSlider" data-ranges='{"min":25,"max":95,"valueMin":25,"valueMax": 95}'>
				<div class="label">Площадь</div>
				<div class="min" style="left:0%;">&nbsp;</div>
				<div class="max" style="left:100%;">&nbsp;</div>
				<input type="hidden" name="area_from">
				<input type="hidden" name="area_to">
				
			</div>
			<div class="row bedroom b-filter-inline-buttons" data-toggle="buttons">
				<div class="label">Спален</div>
				<label class="btn btn-primary">
					С
					<input autocomplete="off" type="checkbox" value="0" name="bedrooms[]">
				</label>
				<label class="btn btn-primary">
					1
					<input autocomplete="off" type="checkbox" value="1" name="bedrooms[]">
				</label>
				<label class="btn btn-primary">
					2
					<input autocomplete="off" type="checkbox" value="2" name="bedrooms[]">
				</label>
				<label class="btn btn-primary">
					3
					<input autocomplete="off" type="checkbox" value="3" name="bedrooms[]">
				</label>
			</div>
			<div class="slide floor" id="floorSlider"  data-ranges='{"min":1,"max": 7,"valueMin":1,"valueMax": 7}'>
				<div class="label">Этаж</div>
				<div class="min" style="left:0%;">&nbsp;</div>
				<div class="max" style="left:100%;">&nbsp;</div>
				<input type="hidden" name="floor_from">
				<input type="hidden" name="floor_to">
			</div>
			<div class="row build b-filter-inline-buttons" data-toggle="buttons">
				<div class="label">Корпус</div>
				<label class="btn btn-primary">
					17
					<input autocomplete="off" type="checkbox" value="1" name="house[]">
				</label>
				<label class="btn btn-primary">
					18
					<input autocomplete="off" type="checkbox" value="2" name="house[]">
				</label>
				<label class="btn btn-primary">
					19
					<input autocomplete="off" type="checkbox" value="3" name="house[]">
				</label>
				<label class="btn btn-primary">
					20
					<input autocomplete="off" type="checkbox" value="4" name="house[]">
				</label>
			</div>
			<div class="slide stage" id="completenessSlider" data-slider-min="1398899123" data-slider-max="1522572723">
				<div class="label">Стадия строительства</div>
				<div class="min" style="left:0%;">&nbsp;</div>
				<div class="max" style="left:100%;">&nbsp;</div>
				<input type="hidden" name="finish_from">
				<input type="hidden" name="finish_to">
			</div>
			<div class="row view b-filter-inline-buttons" data-toggle="buttons">
				<div class="label">Вид из окна</div>
				<label class="btn btn-primary">
					С
					<input autocomplete="off" type="checkbox" value="1" name="view_direction[]">
				</label>
				<label class="btn btn-primary">
					Ю
					<input autocomplete="off" type="checkbox" value="2" name="view_direction[]">
				</label>
				<label class="btn btn-primary">
					З
					<input autocomplete="off" type="checkbox" value="3" name="view_direction[]">
				</label>
				<label class="btn btn-primary">
					В
					<input autocomplete="off" type="checkbox" value="4" name="view_direction[]">
				</label>
			</div>

			
			
			<div class="row more" data-toggle="buttons">
				<div class="clearfix">
					<div class="pull-left">Отделка</div>
					<div class="pull-right">
						<div class="b-multycheckbox">
			              <input type="hidden" class="b-multycheckbox__input" name="furnish" data-possible-values="[2, 1, 0]" value="2">
			              <div class="b-multycheckbox__btn"></div>
			            </div>
					</div>
				</div>

				<div class="clearfix">
					<div class="pull-left">Балкон</div>
					<div class="pull-right">
						<div class="b-multycheckbox">
			              <input type="hidden" class="b-multycheckbox__input" name="balcony" data-possible-values="[2, 1, 0]" value="2">
			              <div class="b-multycheckbox__btn"></div>
			            </div>
					</div>
				</div>

				<div class="clearfix">
					<div class="pull-left">Вид во двор</div>
					<div class="pull-right">
						<div class="b-multycheckbox">
			              <input type="hidden" class="b-multycheckbox__input" name="courtyard" data-possible-values="[2, 1, 0]" value="2">
			              <div class="b-multycheckbox__btn"></div>
			            </div>
					</div>
				</div>

				
			</div>
			<input type="submit" name="" value="НАЙТИ">
		</form>
	</div>
	<div class="row filtr_result">
	<div id="filterResults">

<script type="text/template" id="filterTopBarTemplate">
<ul class="filter_values">
	<li>площадь: <% if(area_from === area_to){print(area_from)}else{print(area_from + '-' + area_to)} %>м<sup>2</sup></li>
	<% if(bedrooms.length){ %><li>спален: <%= bedrooms.join() %></li><%} %>
	<% if(house.length){ %><li>корпус: <%= house.join() %></li><%} %>
	<li>этаж: <% if(floor_from === floor_to){print(floor_from)}else{print(floor_from + '-' + floor_to)} %></li>
	<% if(view_direction.length){ %><li>вид из окон: <%= view_direction.join() %></li><%} %>
	<% if(furnish){ %><li>с отделкой</li><%} %>
	<% if(balcony){ %><li>с балконом</li><%} %>
	<% if(courtyard){ %><li>вид во двор</li><%} %>
</ul>
</script>

</div>		

<script type="text/template" id="flatsListTemplate">
<% _.forEach(typicals, function(flat) { %>
<div class="filtr_result_item col-sm-6 col-md-4">
	<a href="#" data-toggle="tooltip" data-placement="left" title="<% if(flat.favorite){print('Убрать из избранного')}else{print('Добавить в избранное')}%>" data-toggle-favorite="<%= flat.id %>" class="btn_close<% if(flat.favorite){print(' active')}%>"></a>
	<div class="inner">
		<div class="number"><a href="<%= flat.url%>"><%= flat.name %></a></div>
		<div class="img"><a href="<%= flat.url%>" style="background-image:url('http://pr.blue-ant.ru<%= flat.img %>')"><img class="visible-xs" src="http://pr.blue-ant.ru<%= flat.img %>" alt="">&nbsp;</a></div>
		<div class="info"><% if(flat.bedrooms === 0) {print('С&nbsp;')}else{print(flat.bedrooms)}%></div>
		<div class="info_filtr">
			<div class="item">
				<span class="digit">
					<% if(flat.area_min === flat.area_max){print(flat.area_min)}else{print(flat.area_min + ' - ' + flat.area_max)} %></span>
				<span class="small">площадь</span>
			</div>
			<div class="item">
				<span class="<% if(flat.furnish){print('yes')}else{print('no')} %>"></span>
				<span class="small">отделка</span>
			</div>
			<div class="item">
				<span class="<% if(flat.balcony){print('yes')}else{print('no')} %>"></span>
				<span class="small">балкон</span>
			</div>
			<div class="item">
				<span class="<% if(flat.inside_view){print('yes')}else{print('no')} %>"></span>
				<span class="small">вид во двор</span>
			</div>
		</div>
		<div class="filtr_flat_square"><%= flat.area_min %>-<%= flat.area_max %> м&sup2;</div>
	</div>
</div>
<% }); %>
<% if(!typicals.length) { %>
<div class="empty_result">0 квартир</div>
<% }%>
</script>


		<div id="flatsListContainer"></div>
		
	</div>
</div>

<div class="favorite_list" id="favoritesFlatsList">
	<div class="favorite_list__backdrop"></div>
	<div class="favorite_list_inner row">
		<h2>Избранное</h2>
		<div class="favorite_list__scroller">
			<div class="favorite_list_item_t">
				<div class="favorite_list_item_tr"></div>
			</div>
		</div>
		
	</div>
</div>
{% endblock %}