{% set pageType = "flat-type" %}
{% set title = "Планировка квартиры" %}
{% set isFullSize = true %}
{% set isPageWhite = false %}

{% set isHeaderBg = false %}
{% extends "layout.html" %}

{% block content %}
<div class="container apart_chosen_wrap">
	<div class="h1_full h1_full--on-flat-plan-page"><h1>Квартиры выбранной планировки</h1></div>
	<div class="row apart_chosen">
		<div class="col-md-3">
			<div class="row">
			<div class="apart_chosen_img col-xs-12">
			
            <div class="apart_chosen_img-shadow" style="background-image: url('http://pr.blue-ant.ru/upload/information_system_13/1/3/1/item_1314/information_items_property_82.png');"></div>
            <div class="apart_chosen_img-underlay" style="background-image: url('http://pr.blue-ant.ru/upload/information_system_13/1/3/1/item_1314/information_items_1314.svg');"></div>
            <img src="http://pr.blue-ant.ru/upload/information_system_13/1/3/1/item_1314/information_items_property_81.png" alt="">
           
		</div>
			</div>
		<div class="row">
			<div class="col-xs-12"> <div class="b-plan-info">
            	<table class="b-plan-info__tbl">
            		<tr class="b-plan-info__row">
            			<td class="b-plan-info__cell b-plan-info__cell--left">Планировка</td>
            			<td class="b-plan-info__cell b-plan-info__cell--right">Тип 7</td>
            		</tr>
            		<tr class="b-plan-info__row">
            			<td class="b-plan-info__cell b-plan-info__cell--left">Спален</td>
            			<td class="b-plan-info__cell b-plan-info__cell--right">1</td>
            		</tr>
            	</table>
            </div></div>
		</div>
		</div>
		
		<div class="col-md-offset-1 col-md-8">
			<div class="apart_chosen_list">
			
			<div class="apart_chosen_list_t">
				<div class="apart_chosen_list_th_r">
					<div class="col col_1">квартира</div>
					<div class="col col_2">корпус</div>
					<div class="col col_3">секция</div>
					<div class="col col_4">этаж</div>
					<div class="col col_5">спален</div>
					<div class="col col_6">площадь</div>
					<div class="col col_7">отделка</div>
					<div class="col col_8">балкон</div>
					<div class="col col_9">вид во двор</div>
					<div class="col col_10">стоимость</div>
				</div>
			</div>
			<div class="b-flats-list-scroller">
				<div class="apart_chosen_list_t">
					<div class="apart_chosen_list_th_r invisible">
						<div class="col col_1 b-flats-list-scroller__td-pusher">квартира</div>
						<div class="col col_2 b-flats-list-scroller__td-pusher">корпус</div>
						<div class="col col_3 b-flats-list-scroller__td-pusher">секция</div>
						<div class="col col_4 b-flats-list-scroller__td-pusher">этаж</div>
						<div class="col col_5 b-flats-list-scroller__td-pusher">спален</div>
						<div class="col col_6 b-flats-list-scroller__td-pusher">площадь</div>
						<div class="col col_7 b-flats-list-scroller__td-pusher">отделка</div>
						<div class="col col_8 b-flats-list-scroller__td-pusher">балкон</div>
						<div class="col col_9 b-flats-list-scroller__td-pusher">вид во двор</div>
						<div class="col col_10 b-flats-list-scroller__td-pusher">стоимость</div>
					</div>
					{% for i in range(1,25) %}
						<a href="flat-single.html" class="apart_chosen_list_tb_r">
							<div class="col col_1">{{i}}</div>
							<div class="col col_2">18</div>
							<div class="col col_3">7</div>
							<div class="col col_4">4</div>
							<div class="col col_5">1</div>
							<div class="col col_6">42.4</div>
							<div class="col col_7"><span class="ok"></span></div>
							<div class="col col_8"><span class="ok"></span></div>
							<div class="col col_9"><span class="ok"></span></div>
							<div class="col col_10"><span>16&nbsp;500&nbsp;500</span>&nbsp;<span class="rouble">₽</span></div>
						</a>
					{% endfor %}
				</div>
			</div>
			
			<div class="apart_big_text">планировка</div>
		</div>
		</div>
		
	</div>
</div>
{% endblock %}