{% set pageType = "floor" %}
{% set title = "Этаж" %}
{% set isFullSize = true %}
{% set isPageWhite = false %}
{% set isHeaderBg = false %}
{% extends "layout.html" %}
{% block content %}
<script>
    window.sectionFlatsForFloorPage = [{
            "id": 164,
            "num": 1,
            "area": 48.5,
            "bedrooms": 0,
            "href": "./flat-single.html",
            "status": "sale",
        }, {
            "id": 166,
            "num": 3,
            "area": 91.3,
            "bedrooms": 3,
            "href": "./flat-single.html",
            "status": "sale",
        },
        {
            "id": 165,
            "num": 1,
            "area": 48.5,
            "bedrooms": 0,
            "href": "./flat-single.html",
            "status": "sale",
        }, {
            "id": 167,
            "num": 3,
            "area": 91.3,
            "bedrooms": 3,
            "href": "./flat-single.html",
            "status": "busy",
        }
        , {
            "id": 168,
            "num": 3,
            "area": 91.3,
            "bedrooms": 3,
            "href": "./flat-single.html",
            "status": "busy",
        }
         , {
            "id": 169,
            "num": 3,
            "area": 91.3,
            "bedrooms": 3,
            "href": "./flat-single.html",
            "status": "busy",
        }
    ];
</script>

<div class="container choice_flat">
	<div class="h1_full"><h1>Выберите квартиру</h1></div>
	<a href="#" class="btn_orange choice_param">
		<span class="btn_param"><span></span></span>
		Поиск по параметрам
	</a>

<div class="b-floor-plan section_plan">
    <img src="img/floor/19k_5s_3fl.svg" alt="" class="b-floor-plan__pusher">
    <svg class="b-floor-plan__cell" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1000px" height="1600px" viewBox="0 0 1000 1600" style="enable-background:new 0 0 1000 1600;" xml:space="preserve">
        <g id="_x31_9k_x5F_5s_x5F_3fl_x5F_1">
            <polygon style="fill:#7D4479;" points="283,712 283,666 269,666 269,755 237,755 237,622 269,622 269,645 283,645 283,538 319,538 
		319,453 683,453 683,532 501,532 501,616 451,616 451,712 	" />
        </g>

        <g id="_x31_9k_x5F_5s_x5F_3fl_x5F_2">
            <polygon style="fill:#4EB1EA;" points="507,692 507,538 717,538 717,623 731,623 731,617 763,617 763,696 731,696 731,644 717,644 
		717,692 	" />
        </g>

        <g id="_x31_9k_x5F_5s_x5F_3fl_x5F_3">
            <polygon style="fill:#EEA941;" points="507,797 507,698 717,698 717,706 731,706 731,702 763,702 763,784 731,784 731,727 717,727 
		717,797 	" />
        </g>

        <g id="_x31_9k_x5F_5s_x5F_3fl_x5F_4">
            <polygon style="fill:#EEA941;" points="507,803 507,902 717,902 717,894 731,894 731,898 763,898 763,816 731,816 731,873 717,873 
		717,803 	" />
        </g>

        <g id="_x31_9k_x5F_5s_x5F_3fl_x5F_5">
            <polygon style="fill:#4EB1EA;" points="507,908 507,1062 717,1062 717,977 731,977 731,983 763,983 763,904 731,904 731,956 
		717,956 717,908 	" />
        </g>

        <g id="_x31_9k_x5F_5s_x5F_3fl_x5F_6">
            <polygon style="fill:#7D4479;" points="283,888 283,934 269,934 269,845 237,845 237,978 269,978 269,955 283,955 283,1062 
		319,1062 319,1147 683,1147 683,1068 501,1068 501,984 451,984 451,888 	" />
        </g>

    </svg>
</div>
	<div class="view_court">ДВОР</div>
	<div class="view_street">Улица</div>

<ul class="b-flatcounter col-sm-2">
    <li class="b-flatcounter__leaf">
        <span class="b-flatcounter__title">Корпус</span>
        <span class="b-flatcounter__count">18</span>
        <a href="#" class="b-flatcounter__arrow b-flatcounter__arrow--prev"></a>
        <a href="#" class="b-flatcounter__arrow b-flatcounter__arrow--next"></a>
    </li>
    <li class="b-flatcounter__leaf">
        <span class="b-flatcounter__title">Секция</span>
        <span class="b-flatcounter__count">8</span>
        <a href="#" class="b-flatcounter__arrow b-flatcounter__arrow--prev"></a>
        <a href="#" class="b-flatcounter__arrow b-flatcounter__arrow--next"></a>
    </li>
    <li class="b-flatcounter__leaf">
        <span class="b-flatcounter__title">Этаж</span>
        <span class="b-flatcounter__count">1</span>
        <a href="#" class="b-flatcounter__arrow b-flatcounter__arrow--prev"></a>
        <a href="#" class="b-flatcounter__arrow b-flatcounter__arrow--next"></a>
    </li>
</ul>

	<ul class="flat_legend col-sm-2">
		<li class="leg_1">Студия</li>
		<li class="leg_2">1-я квартира</li>
		<li class="leg_3">2-я квартира</li>
		<li class="leg_4">3-я квартира</li>
		<li class="leg_5">Продано</li>
	</ul>
	<div class="flat_rose_wind"><Img src="img/icon_rose_floor.svg" alt=""></div>
</div>
<div class="empty_box"></div>
{% endblock %}