{% set pageType = "furnish" %}
{% set title = "Квартиры с отделкой" %}
{% set isFullSize = false %}
{% set isPageWhite = false %}
{% set isHeaderBg = true %}
{% extends "layout.html" %}

{% block content %}
<div class="bg_wave_1"></div>
<div class="bg_wave_2"></div>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Главная</a></li>
		<li class="active">Отделка</li>
	</ol>
	<div class="breadcrumb_320">Отделка</div>
	<div class="row decoration_0">
		<div class="col-sm-6">
			<h1>
				<small>готовая отдека квартиры — </small>
				Сэкономьте свои<br>деньги, силы и нервы 
			</h1>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-5 decoration_logo_partner">
			<a href="#" title=""><img src="img/logo_gala.png" alt=""></a>
			Выполнить отделку купленной Вами квартиры по&nbsp;эксклюзивному дизайн-проекту Вам поможет партнер проекта ЖК «Пироговская Ривьера» архитектурно-&nbsp;дизайнерское бюро «Galla Project».
		</div>
	</div>
</div>
<div class="row decoration_1">
	<div class="galery_1">
		<ul class="galery_list">
			{% for item in range(1,4) %}
			<li class="galery_item">
				<div class="wrap" data-ajax-popup-gallery="1">
					<div class="galery_img" style="background-image:url(img/trash_galery.jpg);"></div>
					<div class="info">
						<div class="name">Классический стиль</div>
						<div class="count">3 изображения</div>
					</div>
				</div>
			</li>
			{% endfor %}

		</ul>
		<a href="#" class="galery_str_l" title=""></a>
		<a href="#" class="galery_str_r" title=""></a>
	</div>
</div>
<div class="container">
	<div class="decoration_2">
		<h4>в Стоимость отделки<br>(от 10 950 руб./м&sup2; до 15 950 руб./м&sup2;) входит:</h4>
		<div class="row">
			<div class="col-sm-4">разработка дизайн-проекта на основе Ваших сформулированных пожеланий</div>
			<div class="col-sm-4">выбор колористического и&nbsp;стилистического решения интерьеров</div>
			<div class="col-sm-4">разумный с точки зрения цена-качество и бюджета подбор отделочных материалов, мебели и света</div>
			<div class="col-sm-4">работы по черновой и чистовой отделке (электропроводка, отделка потолка, стен и пола, установка сантехнического оборудования, входной и межкомнатной дверей)</div>
			<div class="col-sm-4">отделочные материалы в зависимости от выбранного варианта</div>
			<div class="col-sm-4">межкомнатные двери, подоконники</div>
			<div class="col-sm-4 note">Сантехника, мебель и оборудование оплачиваются дополнительно.</div>
		</div>
	</div>
</div>
<div class="empty_box"></div>
{% endblock %}