{% set pageType = "gallery" %}
{% set title = "Галлерея" %}
{% set isFullSize = true %}
{% set isPageWhite = false %}
{% set isHeaderBg = false %}
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="galery">
        <ol class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Галерея</li>
        </ol>
        <div class="breadcrumb_320">Галерея</div>
        <div class="galery_1">
            <ul class="galery_list">
                {% for item in range(1,4) %}
                <li class="galery_item">
                    <div class="wrap" data-ajax-popup-gallery="gallery-slides.json">
                        <div class="galery_img" style="background-image:url(img/trash_galery.jpg);"></div>
                        <div class="info">
                            <div class="name">жилой комплекс</div>
                            <div class="count">59 фото</div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <a href="#" class="galery_str_l" title=""></a>
            <a href="#" class="galery_str_r" title=""></a>
        </div>
    </div>
</div>
<div class="empty_box"></div>

{% endblock %}