{% set pageType = "genplan" %}
{% set title = "Застройщик" %}
{% set isPageWhite = true %}
{% set isHeaderBg = false %}
{% extends "layout.html" %}
{% block content %}
<style>
.b-logo__pic {
    transition: none!important;
}

.b-logo__pic--dark {
    opacity: 0;
}

.b-logo__pic--white {
    opacity: 1;
}

</style>

<div class="container">
    <div class="b-fitblock genplan" id="genplanBg">
        <div class="b-fitblock__inner">
            <svg width="660" height="220" style="visibility: hidden;position: absolute;">
                <defs>
                    <linearGradient id="linear-orange" x1="0%" y1="0%" x2="100%" y2="0%">
                        <stop offset="0%" stop-color="#f2b44c" />
                        <stop offset="100%" stop-color="#fd8a30" />
                    </linearGradient>
                    <linearGradient id="linear-blue" x1="0%" y1="0%" x2="100%" y2="0%">
                        <stop offset="0%" stop-color="#3086ad" />
                        <stop offset="100%" stop-color="#a4cfe0" />
                    </linearGradient>
                    <linearGradient id="linear-green" x1="0%" y1="0%" x2="100%" y2="0%">
                        <stop offset="0%" stop-color="#68834e" />
                        <stop offset="100%" stop-color="#a6c25e" />
                    </linearGradient>
                    <linearGradient id="linear-violet" x1="0%" y1="0%" x2="100%" y2="0%">
                        <stop offset="0%" stop-color="#3b2f71" />
                        <stop offset="100%" stop-color="#5e2c80" />
                    </linearGradient>
                </defs>
            </svg>

            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAACgCAMAAADUx0IOAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAD5JREFUeNrtwTEBAAAAwiD7p14KP2AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAXaCgAAFSuHP7AAAAAElFTkSuQmCC" style="background-image: url('/img/genplan.jpg');background-size: cover;" alt="" class="b-fitblock__pusher" width="2560" height="1600" />
            
            <div class="point point--color-orange point_house_8" data-percents-to-release="40" style="top: 36%;left: 66%;">
                <div class="wrap_point"><span class="numder_point">1</span><div class="genplan__circle" id="circles-13"></div></div>
            </div>
            
            <div class="point point--color-orange point_house_8" data-percents-to-release="65" style="top: 12%;left: 78%;">
                <div class="wrap_point"><span class="numder_point">1</span><div class="genplan__circle" id="circles-12"></div></div>
            </div>

            <div class="point point--color-blue point_house_8" data-percents-to-release="4" style="top: 28%;left: 8%;">
                <div class="wrap_point"><span class="numder_point">1</span><div class="genplan__circle" id="circles-1"></div></div>
            </div>
            <div class="point point--color-blue point_house_2" data-percents-to-release="22" style="top: 38%;left: 18%;">
                <div class="wrap_point"><span class="numder_point">2</span><div class="genplan__circle" id="circles-2"></div></div>
            </div>
            <div class="point point--color-blue point_house_3" data-percents-to-release="81" style="top: 18%;left: 38%;">
                <div class="wrap_point"><span class="numder_point">3</span><div class="genplan__circle" id="circles-3"></div></div>
            </div>
            <div class="point point--color-violet point_house_4" data-percents-to-release="100" style="top: 45%;left: 45%;">
                <div class="wrap_point"><span class="numder_point">4</span><div class="genplan__circle" id="circle-4"></div></div>
            </div>
            <div class="point point--color-violet point_house_5" data-percents-to-release="100" style="top: 45%;left: 95%;">
                <div class="wrap_point"><span class="numder_point">5</span><div class="genplan__circle" id="circle-5"></div></div>
            </div>
            <div class="point point--color-violet point_house_6" data-percents-to-release="83" style="top: 45%;left: 85%;">
                <div class="wrap_point"><span class="numder_point">6</span><div class="genplan__circle" id="circle-6"></div></div>
            </div>
            <div class="point point--color-green point_house_7" data-percents-to-release="93" style="top: 80%;left: 45%">
                <div class="wrap_point"><span class="numder_point">7</span><div class="genplan__circle" id="circle-7"></div></div>
            </div>
            <div class="point point--color-green point_house_8" data-percents-to-release="93" style="top: 80%;left: 55%">
                <div class="wrap_point"><span class="numder_point">8</span><div class="genplan__circle" id="circle-8"></div></div>
            </div>
            <div class="point point--color-green point_house_9" data-percents-to-release="43" style="top: 80%;left: 65%">
                <div class="wrap_point"><span class="numder_point">9</span><div class="genplan__circle" id="circle-9"></div></div>
            </div>
            <div class="point point--color-green point_house_10" data-percents-to-release="13" style="top: 80%;left: 75%">
                <div class="wrap_point"><span class="numder_point">10</span><div class="genplan__circle" id="circle-10"></div></div>
            </div>
            <div class="point point--color-green point_house_11" data-percents-to-release="93" style="top: 80%;left: 95%">
                <div class="wrap_point"><span class="numder_point">11</span><div class="genplan__circle" id="circle-11"></div></div>
            </div>

            <div class="point_ready point_ready--color-orange" style="left:30%; top:50%;" data-percents-to-release="45">
                <div class="wrap_point_ready"><a href="./house.html?house-1" class="numder_point_ready">18</a>
                <div class="genplan__circle" id="circle-big-1"></div>
                </div>
                <div class="point_info">
                   <table class="b-houseinfo">
    <tr class="b-houseinfo__row">
        <td colspan="2" class="b-houseinfo__cell">квартиры с отделкой</td>
    </tr>
    <tr class="b-houseinfo__row">
        <td class="b-houseinfo__cell b-houseinfo__cell--left">в продаже</td>
        <td class="b-houseinfo__cell b-houseinfo__cell--right">188</td>
    </tr>

</table>
                </div>
            </div>
            <div class="point_ready point_ready--color-green" style="left:60%; top:50%;" data-percents-to-release="55">
                <div class="wrap_point_ready"><a href="./house.html?house-2" class="numder_point_ready">18</a>
                <div class="genplan__circle" id="circle-big-2"></div>
                </div>
                <div class="point_info">
                    <table class="b-houseinfo">
                        
                        <tr class="b-houseinfo__row">
                            <td class="b-houseinfo__cell b-houseinfo__cell--left">в продаже</td>
                            <td class="b-houseinfo__cell b-houseinfo__cell--right">188</td>
                        </tr>
                       
                    </table>
                </div>
            </div>

            <div class="point_ready point_ready--color-violet" style="left:10%; top:50%;" data-percents-to-release="99">
                <div class="wrap_point_ready"><a href="./house.html?house-2" class="numder_point_ready">18</a>
                <div class="genplan__circle" id="circle-big-3"></div>
                </div>
                <div class="point_info">


<table class="b-houseinfo">
    <tr class="b-houseinfo__row">
        <td colspan="2" class="b-houseinfo__cell">квартиры с отделкой</td>
    </tr>
    <tr class="b-houseinfo__row">
        <td class="b-houseinfo__cell b-houseinfo__cell--left">в продаже</td>
        <td class="b-houseinfo__cell b-houseinfo__cell--right">188</td>
    </tr>
    <tr class="b-houseinfo__row">
        <td colspan="2" class="b-houseinfo__cell b-houseinfo__cell--status">сдан</td>
    </tr>
</table>

                </div>
            </div>


            <div class="point_ready point_ready--color-blue" style="left:20%; top:50%;" data-percents-to-release="99">
                <div class="wrap_point_ready"><a href="./house.html?house-2" class="numder_point_ready">18</a>
                <div class="genplan__circle" id="circle-big-4"></div>
                </div>
                <div class="point_info">
                   <table class="b-houseinfo">
                       
                        <tr class="b-houseinfo__row">
                            <td class="b-houseinfo__cell b-houseinfo__cell--left">в продаже</td>
                            <td class="b-houseinfo__cell b-houseinfo__cell--right">188</td>
                        </tr>
                        <tr class="b-houseinfo__row">
                            <td colspan="2" class="b-houseinfo__cell b-houseinfo__cell--status">сдан</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="point_ready point_ready--orange point_ready--sale-office">
                <div class="wrap_point_ready"><span class="numder_point_ready"><img src="/img/logo_42px.svg" alt="" class="point_ready__pic"></span></div>
                <div class="point_info">Оффис продаж </div>
            </div>            
        </div>
        <div class="progress">
            <div class="stage stage_1"></div>
            <div class="stage stage_2"></div>
            <div class="stage stage_3"></div>

            <div class="progress-bar progress-bar--orange progress-bar--current">
                <div class="progress-bar__fill" style="width:53%;"></div>
            </div>
            <div class="progress-bar progress-bar--blue">
                <div class="progress-bar__fill" style="width:73%;"></div>
                
            </div>
            <div class="progress-bar progress-bar--green">
                <div class="progress-bar__fill" style="width:83%;"></div>
                
            </div>
            {# <div class="progress-bar progress-bar--violet">
                <div class="progress-bar__fill" style="width:89%;"></div>
                
            </div> #}
            
        </div>
        <img src="/img/compass_doma.svg" alt="" class="genplan__compass">
    </div>
    <div class="h1_full"><h1>Выберите корпус</h1></div>
    
    <a href="#" class="btn_orange choice_param">
        <span class="btn_param"><span></span></span>
        Поиск по параметрам
    </a>

</div>
<div class="empty_box"></div>
{% endblock %}
