{% set pageType = "hypothec-military" %}
{% set title = "Военная ипотека" %}
{% set isFullSize = false %}
{% set isPageWhite = false %}
{% set isHeaderBg = true %}
{% extends "layout.html" %}
{% block content %}
<div class="bg_wave_2"></div>
<div class="container">
  <div class="beadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="#">Главная</a></li>
      <li class="active">Ипотека</li>
    </ol>
    <a href="#" class="btn_orange" data-location-modal="hypothecFormModal">Отправить заявку на ипотеку</a>
  </div>
  <div class="breadcrumb_320">Ипотека</div>
  <div class="v_ip lg">
    <div class="container big_name_page">
      <div class="wrap">военная</div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="h1">Военная ипотека</div>
        <p>Наши специалисты помогут вам разобраться в&nbsp;тонкостях оформления документов, ответят на&nbsp;вопросы.</p>
        <address>
          Подайте заявку, <a href="#" data-location-modal="hypothecFormModal">заполнив форму на&nbsp;сайте</a> или приезжайте в один из&nbsp;наших офисов продаж.
          <div class="row">
            <span class="addr">Центральный офис:<br><span class="bold">Москва, Чапаевский переулок, дом 3, Триумф Палас, офис № 8.</span></span>
            <span class="addr">Офис продаж на объекте:<br><span class="bold">Мытищинский район, пос.&nbsp;Пироговский.</span></span>
          </div>
        </address>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <div class="big_name_page">
          <div class="wrap">военная</div>
        </div>
        <div class="tarif">
          <div class="th_row">
            <div class="col col_5">Банк</div>
            <div class="col col_3">Программа<br>кредитования</div>
            <div class="col col_4">Срок<br>кредита</div>
            <div class="col col_2">Ставка<br>в&nbsp;год</div>
            <div class="col col_1">Максимальная<br>сумма</div>
          </div>
          <div class="td_row">
            <div class="td_wrap td_wrap--v2">
             <div class="col col_5"><img src="http://pirogovo-riviera.ru/upload/information_system_12/1/2/7/item_1277/small_information_items_1277.svg" alt="Сбербанк"></div>
             <div class="col col_3">Военная ипотека</div>
             <div class="col col_4">до 20 лет</div>
             <div class="col col_2">от 10,90%</div>
             <div class="col col_1">2 220 000 Р</div>
           </div>
           <div class="td_wrap td_wrap--v2">
            <div class="col col_5"><img src="http://pirogovo-riviera.ru/upload/information_system_12/1/5/2/item_1525/small_information_items_1525.svg" alt="Абсолют банк"></div>
            <div class="col col_3">Потреб. кредит <br> военнослужащим</div>
            <div class="col col_4">до 20 лет</div>
            <div class="col col_2">от 10,90</div>
            <div class="col col_1">2 220 000 Р</div>
          </div>
          <div class="td_wrap td_wrap--v2">
            <div class="col col_5"><img src="http://pirogovo-riviera.ru/upload/information_system_12/1/5/2/item_1524/small_information_items_1524.svg" alt="ВТБ24"></div>
            <div class="col col_3">Потреб. кредит <br> военнослужащим</div>
            <div class="col col_4">до 20 лет</div>
            <div class="col col_2">от 10,90</div>
            <div class="col col_1">2 220 000 Р</div>

          </div>
        </div>
      </div>
      <h4>Право на участие в НИС имеют представители всех видов и родов войск&nbsp;   РФ: </h4>
      <ul class="about_v_ip">
        <li>офицеры, получившие первичное звание после 2005 года;</li>
        <li>военные-контрактники, служившие в рядах ВС до и после принятия закона;</li>
        <li>восстановленные на военной службе прапорщики, мичманы и офицеры запаса, чей срок службы превысил 3 года с момента принятия закона;</li>
        <li>военнослужащие в звании старшины, солдата, матроса, возобновившие контракт после 2005 года.</li>
      </ul>
    </div>
  </div>
</div>
<div class="v_ip sm">
  <div class="container big_name_page">
    <div class="wrap">военная</div>
  </div>
  <div class="row">
    <div class="h1">Военная ипотека</div>
    <div class="tarif">
      <div class="th_row">
        <div class="col col_5">Банк</div>
        <div class="col col_4">Срок<br>кредита</div>
        <div class="col col_2">Ставка<br>в&nbsp;год</div>
      </div>
      <div class="td_row">
        <div class="col col_5">
          <img src="http://pirogovo-riviera.ru/upload/information_system_12/1/2/7/item_1277/small_information_items_1277.svg" alt="Сбербанк">
          <div class="hypothec-type">Военная ипотека</div>
        </div>
        <div class="col col_2">от 10,90%</div>
        <div class="col col_4">до 20 лет</div>

      </div>
      <div class="td_row">
        <div class="col col_5">
          <img src="http://pirogovo-riviera.ru/upload/information_system_12/1/5/2/item_1525/small_information_items_1525.svg" alt="Абсолют банк">
          <div class="hypothec-type">Потреб. кредит<br>военнослужащим</div>
        </div>
        <div class="col col_2">от 10,90</div>
        <div class="col col_4">до 20 лет</div>

      </div>
      <div class="td_row">
        <div class="col col_5">
          <img src="http://pirogovo-riviera.ru/upload/information_system_12/1/5/2/item_1524/small_information_items_1524.svg" alt="ВТБ24">
          <div class="hypothec-type">Потреб. кредит<br>военнослужащим</div>
        </div>
        <div class="col col_2">от 10,90</div>
        <div class="col col_4">до 20 лет</div>

      </div>
    </div>
    <h4>Право на участие в НИС имеют представители всех видов и родов войск&nbsp;   РФ: </h4>
    <ul class="about_v_ip">
      <li>офицеры, получившие первичное звание после 2005 года;</li>
      <li>военные-контрактники, служившие в рядах ВС до и после принятия закона;</li>
      <li>восстановленные на военной службе прапорщики, мичманы и офицеры запаса, чей срок службы превысил 3 года с момента принятия закона;</li>
      <li>военнослужащие в звании старшины, солдата, матроса, возобновившие контракт после 2005 года.</li>
    </ul>
    <p>Наши специалисты помогут вам разобраться в&nbsp;тонкостях оформления документов, ответят на&nbsp;вопросы.</p>
    <address>
      Подайте заявку, <a href="#" data-location-modal="hypothecFormModal">заполнив форму на&nbsp;сайте</a> или приезжайте в один из&nbsp;наших офисов продаж.
      <div class="row">
        <span class="addr">Центральный офис:<br><span class="bold">Москва, Чапаевский переулок, дом 3, Триумф Палас, офис № 8.</span></span>
        <span class="addr">Офис продаж на объекте:<br><span class="bold">Мытищинский район, пос.&nbsp;Пироговский.</span></span>
      </div>
    </address>
  </div>
</div>
</div>
<div class="bg_wave_3 news v_ip"></div>
<div class="container">
  <div class="v_ip_1">
    <div class="row">
      <div class="col-sm-3 col-md-6">
        <div class="b-composite-pic clearfix hidden-xs">
          <img class="b-composite-pic__img b-composite-pic__img--left b-composite-pic__img--sm-fullwidth" alt="" src="/img/tiles/millitary_ipoteka_1.jpg">
          <img class="b-composite-pic__img b-composite-pic__img--right b-composite-pic__img--hidden-sm" alt="" src="/img/tiles/millitary_ipoteka_2.jpg">
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-8 col-md-5">
        <h2>Военная ипотека выдается по&nbsp;упрощенной схеме</h2>

        <div class="b-composite-pic b-composite-pic--reversed clearfix visible-xs" style="margin: 0 -30px 28px;">
          <img class="b-composite-pic__img b-composite-pic__img--left" alt="" src="/img/tiles/millitary_ipoteka_1.jpg">
          <img class="b-composite-pic__img b-composite-pic__img--right" alt="" src="/img/tiles/millitary_ipoteka_2.jpg">
        </div>

        <p>«Военная ипотека» выдается по упрощенной схеме, всего по трем документам (анкета заявителя, паспорт, свидетельство НИС). Максимальная стоимость недвижимости определяется размером средств на накопительном счете, размером кредита и собственными средствами военнослужащего. Погашение ипотеки на протяжении всего срока будет осуществляться за счет государства.</p>
      </div>
    </div>
  </div>
</div>
<div class="empty_box"></div>
{% include "./includes/hypothec-form-modal.html" %}
{% endblock %}
