{% set pageType = "hypothec" %}
{% set title = "Ипотека" %}
{% set isFullSize = false %}
{% set isPageWhite = false %}

{% set isHeaderBg = true %}
{% extends "layout.html" %}

{% block content %}
<div class="bg_wave_2"></div>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Главная</a></li>
		<li class="active">Ипотека</li>
	</ol>
	<div class="breadcrumb_320">Ипотека</div>
	<div class="v_ip lg">
		<a href="#" class="btn_orange" data-location-modal="hypothecFormModal">Отправить заявку на ипотеку</a>
		<div class="row">
			<div class="col-md-4">
				<div class="h1">ипотека от&nbsp;ведущих банков</div>
				<p>Наши специалисты помогут вам разобраться в&nbsp;тонкостях оформления документов, ответят на&nbsp;вопросы.</p>
				<address>
					Подайте заявку, <a href="#" data-location-modal="hypothecFormModal">заполнив форму на&nbsp;сайте</a> или приезжайте в один из&nbsp;наших офисов продаж.
					<div class="row">
						<span class="addr">Центральный офис:<br><span class="bold">Москва, Чапаевский переулок, дом 3, Триумф Палас, офис № 8.</span></span>
						<span class="addr">Офис продаж на объекте:<br><span class="bold">Мытищинский район, пос.&nbsp;Пироговский.</span></span>
					</div>
				</address>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-7">
				<div class="big_name_page"><div class="wrap">Ипотека</div></div>
				<div class="tarif normal">
					<div class="th_row">
						<div class="col col_5">Банк</div>
						<div class="col col_2">Ставка в&nbsp;год</div>
						<div class="col col_3">Мин. первоначальный взнос</div>
						
					</div>
					<div class="td_row">
						<div class="td_wrap">
							<a href="#" title="" class="more"></a>
							<div class="col col_5"><img src="img/banks/sbrf.png" alt=""></div>
							<div class="col col_2">от 11,4%</div>
							<div class="col col_3">от 15%</div>							
							
						</div>
						<div class="td_wrap">
							<a href="#" title="" class="more"></a>
							<div class="col col_5"><img src="img/banks/vtb.png" alt=""></div>
							<div class="col col_2">от 11,9%</div>
							<div class="col col_3">от 20%</div>							
							
						</div>
						<div class="td_wrap">
							<a href="#" title="" class="more"></a>
							<div class="col col_5"><img src="img/banks/metalinvest.png" alt=""></div>
							<div class="col col_2">от 11,2%</div>
							<div class="col col_3"><span class="glow">от 0%</span></div>
							
						</div>
						<div class="td_wrap">
							<a href="#" title="" class="more"></a>
							<div class="col col_5"><img src="img/banks/globex.png" alt=""></div>
							<div class="col col_2">от 11,5%</div>
							<div class="col col_3">от 20%</div>
							
						</div>
						<div class="td_wrap">
							<a href="#" title="" class="more"></a>
							<div class="col col_5"><img src="img/banks/transKapital.png" alt=""></div>
							<div class="col col_2">от 11,9%</div>
							<div class="col col_3">от 20%</div>
							
						</div>
						<div class="td_wrap">
							<a href="#" title="" class="more"></a>
							<div class="col col_5"><img src="img/banks/otkritie.png" alt=""></div>
							<div class="col col_2">от 11,2%</div>
							<div class="col col_3">от 30%</div>
							
						</div>
						<div class="td_wrap td_wrap__hidden">
							<a href="#" title="" class="more"></a>
							<div class="col col_5"><img src="img/banks/otkritie.png" alt=""></div>
							<div class="col col_2">от 11,2%</div>
							<div class="col col_3">от 30%</div>
							
						</div>
						<div class="td_wrap td_wrap__hidden">
							<a href="#" title="" class="more"></a>
							<div class="col col_5"><img src="img/banks/otkritie.png" alt=""></div>
							<div class="col col_2">от 11,2%</div>
							<div class="col col_3">от 30%</div>
							
						</div>
					</div>
				</div>
				<div class="row"><a href="#" class="all_tarifs">все банки</a></div>
			</div>
		</div>
	</div>
	<div class="v_ip sm">
		<div class="container big_name_page"><div class="wrap">военная</div></div>
		<a href="#" data-location-modal="hypothecFormModal" class="btn_orange">Отправить заявку</a>
		<div class="row">
			<div class="h1">ипотека от&nbsp;ведущих банков</div>
			<div class="tarif normal">
				<div class="th_row">
					<div class="col col_5">банк</div>
					<div class="col col_2">ставка</div>
					<div class="col col_3">взнос</div>
					
				</div>
				<div class="td_row">
					<div class="td_wrap">
						<a href="#" title="" class="more"></a>
						<div class="col col_5"><img src="img/banks/sbrf.png" alt=""></div>
						<div class="col col_2">от <span class="bold">11,4%</span></div>
						<div class="col col_3">от <span class="bold">15%</span></div>
						
					</div>
					<div class="td_wrap">
						<a href="#" title="" class="more"></a>
						<div class="col col_5"><img src="img/banks/vtb.png" alt=""></div>
						<div class="col col_2">от <span class="bold">11,9%</span></div>
						<div class="col col_3">от <span class="bold">20%</span></div>
						
					</div>
					<div class="td_wrap">
						<a href="#" title="" class="more"></a>
						<div class="col col_5"><img src="img/banks/metalinvest.png" alt=""></div>
						<div class="col col_2">от <span class="bold">11,2%</span></div>
						<div class="col col_3"><span class="glow">от <span class="bold">0%</span></span></div>
						
					</div>
					<div class="td_wrap">
						<a href="#" title="" class="more"></a>
						<div class="col col_5"><img src="img/banks/globex.png" alt=""></div>
						<div class="col col_2">от <span class="bold">11,5%</span></div>
						<div class="col col_3">от <span class="bold">20%</span></div>
						
					</div>
					<div class="td_wrap">
						<a href="#" title="" class="more"></a>
						<div class="col col_5"><img src="img/banks/transKapital.png" alt=""></div>
						<div class="col col_2">от <span class="bold">11,9%</span></div>
						<div class="col col_3">от <span class="bold">20%</span></div>
						
					</div>
					<div class="td_wrap">
						<a href="#" title="" class="more"></a>
						<div class="col col_5"><img src="img/banks/otkritie.png" alt=""></div>
						<div class="col col_2">от <span class="bold">11,2%</span></div>
						<div class="col col_3">от <span class="bold">30%</span></div>
						
					</div>
					<div class="td_wrap td_wrap__hidden">
						<a href="#" title="" class="more"></a>
						<div class="col col_5"><img src="img/banks/otkritie.png" alt=""></div>
						<div class="col col_2">от <span class="bold">11,2%</span></div>
						<div class="col col_3">от <span class="bold">30%</span></div>
						
					</div>
					<div class="td_wrap td_wrap__hidden">
						<a href="#" title="" class="more"></a>
						<div class="col col_5"><img src="img/banks/otkritie.png" alt=""></div>
						<div class="col col_2">от <span class="bold">11,2%</span></div>
						<div class="col col_3">от <span class="bold">30%</span></div>
						
					</div>
				</div>
			</div>
			<div class="row"><a href="#" class="all_tarifs">все банки</a></div>
			<p>Наши специалисты помогут вам разобраться в&nbsp;тонкостях оформления документов, ответят на&nbsp;вопросы.</p>
			<address>
				Подайте заявку, <a href="#" data-location-modal="hypothecFormModal">заполнив форму на&nbsp;сайте</a> или приезжайте в один из&nbsp;наших офисов продаж.
				<div class="row">
					<span class="addr">Центральный офис:<br><span class="bold">Москва, Чапаевский переулок, дом 3, Триумф Палас, офис № 8.</span></span>
					<span class="addr">Офис продаж на объекте:<br><span class="bold">Мытищинский район, пос.&nbsp;Пироговский.</span></span>
				</div>
			</address>
		</div>
	</div>
</div>
<div class="bg_wave_3 news v_ip"></div>
<div class="container">
	<div class="v_ip_1">
		<div class="row">
			<div class="col-sm-3 col-md-6"><div class="v_ip_img lg"><img src="img/trash_news_ip.jpg" alt=""></div></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-8 col-md-5">
				<h2>Ипотека с&nbsp;использованием материнского капитала</h2>
				<div class="v_ip_img sm"><img src="img/trash_news_ip.jpg" alt=""></div>
				<p>Чтобы воспользоваться материнским капиталом, необходимо оформить ипотеку, после чего собрать стандартный пакет документов, подать их в Пенсионный фонд и ожидать (в среднем 41 день) перечисления средств в банк. После этого банк списывает полученные средства как частично досрочное погашение, и у клиента снижается либо срок кредита, либо ежемесячный платеж.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-sm-5">
				<h4>Если кредитный договор оформлен на&nbsp;отца ребенка</h4>
				<p>Владельцу квартиры необходимо представить в&nbsp;Пенсионный фонд заверенное нотариусом письменное обязательство, что жилье будет оформлено в собственность всех членов семьи, в том числе и детей, в течение 6 месяцев после снятия обременения с&nbsp;помещения.</p>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<h4>Если квартира приобретается не в&nbsp;ипотеку</h4>
				<p>Если квартира приобретается без использования ипотечного кредитования, то, согласно условиям программы, обналичить Сертификат на материнский капитал можно только при достижении вторым ребенком 3-х-летнего возраста.</p>
			</div>
		</div>
	</div>
</div>
<div class="empty_box"></div>


{% include "./includes/hypothec-form-modal.html" %}
{% endblock %}