{% set pageType = "homepage" %}
{% set title = "Главная страница" %}
{% set isFullSize = true %}
{% set isHeaderBg = false %}
{% extends "layout.html" %}
{% block content %}
<script>
window.animeDynData = {
    titles: [
        "Пироговское водохранилище", "Развитая инфраструктура", "Функциональные планировки", "Близость к&nbsp;Москве"

    ],
    texts: [
        "Шаговая доступность Пироговского водохранилища и леса. Благоприятная экология!", "Разнообразная социальная, спортивная и досуговая инфраструктура. Развитая районная инфраструктура.", "Многообразие и продуманность планировочных решений, востребованные метражи квартир.", "Всего в 12 км от МКАД по Осташковсому шоссе. До <br>м.&nbsp;Медведково 20-25 мин. общественным транспортом."

    ]
};
</script>

<div class="container">
        <div class="slider_main">
            <div class="slider_main__bg slider_main__bg--xs visible-xs">
                <div id="slider_main__bg-pic" class="slider_main__bg-pic"></div>
                <div class="slider_main__bg-mask"></div>
            </div>
            <div class="item" style="overflow: hidden;">
<svg xmlns="http://www.w3.org/2000/svg" style="position:absolute;top:50%;transform:translateY(-50%);width:100%;height:auto" class="img" viewBox="0 0 1280 800"><style>.state-tpl{visibility:hidden}</style>
    <pattern id="img1" patternUnits="userSpaceOnUse" width="2560" height="1600">
        <image xlink:href="/img/animeBg-1.jpg" x="0" y="0" width="100%" height="100%" />
    </pattern>
    <pattern id="img2" patternUnits="userSpaceOnUse" width="2560" height="1600">
        <image xlink:href="/img/animeBg-2.jpg" x="0" y="0" width="100%" height="100%" />
    </pattern>
    <pattern id="img3" patternUnits="userSpaceOnUse" width="2560" height="1600">
        <image xlink:href="/img/animeBg-3.jpg" x="0" y="0" width="100%" height="100%" />
    </pattern>
    <pattern id="img4" patternUnits="userSpaceOnUse" width="2560" height="1600">
        <image xlink:href="/img/animeBg-4.jpg" x="0" y="0" width="100%" height="100%" />
    </pattern>
    <path id="line1-step1" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1440 367c-152 0-187 40-320 40-131.5 0-146.7-40-320-40-165 0-194 40-320 40s-168-40-320-40-189.5 40-320 40-174.5-40-320-40-189 40-320 40-183-40-320-40-220 40-320 40-194-40-320-40-184 40-320 40-183-40-320-40-216.5 40-320 40-215-40-320-40-228 40-320 40-227.5-40-320-40"/><path id="line1-step2" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1520 362c-115 0-187 50-320 50-127 0-155-50-320-50s-194 50-320 50-168-50-320-50-189.5 50-320 50-174.5-50-320-50-189 50-320 50-183-50-320-50-220 50-320 50-194-50-320-50-184 50-320 50-183-50-320-50-216.5 50-320 50-215-50-320-50-228 50-320 50-227.5-50-320-50" class="state-tpl"/><path id="line1-step3" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1600 356c-115 0-187 61-320 61-127 0-155-61-320-61s-194 61-320 61-168-61-320-61-189.5 61-320 61-174.5-61-320-61-189 61-320 61-183-61-320-61-220 61-320 61-194-61-320-61-184 61-320 61-183-61-320-61-216.5 61-320 61-215-61-320-61-228 61-320 61-227.5-61-320-61" class="state-tpl"/><path id="line1-step4" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1680 346c-115 0-187 81-320 81-127 0-155-81-320-81s-194 81-320 81-168-81-320-81-189.5 81-320 81-174.5-81-320-81-189 81-320 81-183-81-320-81-220 81-320 81-194-81-320-81-184 81-320 81-183-81-320-81-216.5 81-320 81-215-81-320-81-228 81-320 81-227.5-81-320-81" class="state-tpl"/><path id="line1-step5" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1760 346c-115 0-187 81-320 81-127 0-155-81-320-81s-194 81-320 81-168-81-320-81-189.5 81-320 81-174.5-81-320-81-189 81-320 81-183-81-320-81-220 81-320 81-194-81-320-81-184 81-320 81-183-81-320-81-216.5 81-320 81-215-81-320-81-228 81-320 81-227.5-81-320-81" class="state-tpl"/><path id="line1-step6-iter1" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1760 346c-115 0-187 231-320 231-127 0-155-91-320-91-118.4 0-165.7 95.5-230.1 116.2 0 0-42.4 14.7-56.6-20a36.2 36.2 0 0 1 15.8-49.4c14.7-6.3 34-7 41.9 11.4 7.9 18.3-5.2 28.3-10.7 30.7-5.5 2.4-19.7 7.4-26.4-8.2-6.8-15.6 11.3-26.7 21.7-20.3-6.3-14.7-44.5-2.5-30.2 28.3 15.5 33.6 80 5.7 58.6-38.3-18.5-37.8-60.8-27.2-79.2-9.4a55 55 0 0 0-11.6 61.6c9.5 22 20.6 26.6 20.6 26.6A301.5 301.5 0 0 1 800 617c-126 0-168-211-320-211s-189.5 71-320 71-174.5-131-320-131-189 81-320 81-183-81-320-81-220 81-320 81-194-81-320-81-184 81-320 81-183-81-320-81-216.5 81-320 81-215-81-320-81-228 81-320 81-227.5-81-320-81" class="state-tpl"/><path id="line1-step6-iter2" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M-3360 346c92.5 0 228 81 320 81s215-81 320-81 216.5 81 320 81 183-81 320-81 184 81 320 81 194-81 320-81 220 81 320 81 183-81 320-81 189 81 320 81 174.5-81 320-81S29.5 477 160 477s168-71 320-71 194 151 320 151c12 0 23.8-.6 34.3-1.8l.1 1.5.1 28.8h-30v30h30v30h30v-30h30v-30h-30v-31l-19.5.4 44.9-12.7c64.4-20.7 111.7-56.2 230.1-56.2 165 0 193 91 320 91 133 0 205-231 320-231" class="state-tpl"/><path id="line1-step6-iter3" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M-3360 346c92.5 0 228 81 320 81s215-81 320-81 216.5 81 320 81 183-81 320-81 184 81 320 81 194-81 320-81 220 81 320 81 183-81 320-81 189 81 320 81 174.5-81 320-81S29.5 477 160 477s168-71 320-71 194 151 320 151c0 0 7.3.3 17.4-.1L795.6 600s12.4 5.3 36.2 6l-.2 44h-24v7h55v-7h-24l.5-44c10.6-.1 23.2-1.2 37.5-4 0 0-16.6-37-19-43 5.5-6.9 32.3-17 32.3-17 64.4-20.6 111.7-56.1 230.1-56.1 165 0 193 91 320 91 133 0 205-231 320-231" class="state-tpl"/><path id="line1-step6-iter4" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1760 346c-115 0-187 231-320 231-127 0-155-91-320-91-118.4 0-205.3 28.2-230.1 56.2-24.9 28-19.4 42.3-44.4 42.3-3 0-10-2-10-9s6-9 9-9 11 1 11 11-8 14-12 14-16-2-16-18 13-23 23.2-22.7c10.2.3 28.8 11.7 28.8 39.7s-37 76-37 76-36-47-37-76 18-33.8 18-33.8l-23.5.3c-126 0-168-151-320-151s-189.5 71-320 71-174.5-131-320-131-189 81-320 81-183-81-320-81-220 81-320 81-194-81-320-81-184 81-320 81-183-81-320-81-216.5 81-320 81-215-81-320-81-228 81-320 81-227.5-81-320-81" class="state-tpl"/><path id="line1-step7" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1760 346c-115 0-187 81-320 81-127 0-155-81-320-81s-194 81-320 81-168-81-320-81-189.5 81-320 81-174.5-81-320-81-189 81-320 81-183-81-320-81-220 81-320 81-194-81-320-81-184 81-320 81-183-81-320-81-216.5 81-320 81-215-81-320-81-228 81-320 81-227.5-81-320-81" class="state-tpl"/><path id="line1-step8" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1840 356c-115 0-187 61-320 61-127 0-155-61-320-61s-194 61-320 61-168-61-320-61-189.5 61-320 61-174.5-61-320-61-189 61-320 61-183-61-320-61-220 61-320 61-194-61-320-61-184 61-320 61-183-61-320-61-216.5 61-320 61-215-61-320-61-228 61-320 61-227.5-61-320-61" class="state-tpl"/><path id="line1-step9" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1920 361c-115 0-187 51-320 51-127 0-155-51-320-51s-194 51-320 51-168-51-320-51-189.5 51-320 51-174.5-51-320-51-189 51-320 51-183-51-320-51-220 51-320 51-194-51-320-51-184 51-320 51-183-51-320-51-216.5 51-320 51-215-51-320-51-228 51-320 51-227.5-51-320-51" class="state-tpl"/><path id="line1-step10" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M2000 366c-115 0-187 41-320 41-127 0-155-41-320-41s-194 41-320 41-168-41-320-41-189.5 41-320 41-174.5-41-320-41-189 41-320 41-183-41-320-41-220 41-320 41-194-41-320-41-184 41-320 41-183-41-320-41-216.5 41-320 41-215-41-320-41-228 41-320 41-227.5-41-320-41" class="state-tpl"/><path id="line1-step11" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M2080 367c-152 0-187 40-320 40-131.5 0-146.7-40-320-40-165 0-194 40-320 40s-168-40-320-40-189.5 40-320 40-174.5-40-320-40-189 40-320 40-183-40-320-40-220 40-320 40-194-40-320-40-184 40-320 40-183-40-320-40-216.5 40-320 40-215-40-320-40-228 40-320 40-227.5-40-320-40" class="state-tpl"/><path id="line2-step1" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1595.2 435.6c-114.8-8-189.4 26.9-322 17.6-130.2-9.1-152-50-316.5-62.2-164.2-12.1-191.8 26.7-322 17.6-130.2-9.1-164.8-51.7-316.4-62.3S126.9 373.1-3.7 364c-130.2-9-171.3-52-316.5-62.2s-191.3 26.7-322 17.6-179.7-52.7-316.4-62.3c-136.7-9.5-222.3 24.6-322 17.6-99.8-7-190.8-53.4-316.4-62.2-125.7-8.8-186.4 27-322 17.6-135.7-9.5-179.8-52.7-316.5-62.2-136.7-9.6-218.8 24.8-322 17.5-103.2-7.2-211.7-54.9-316.4-62.2-104.8-7.3-230.3 24-322 17.6-91.8-6.4-224.2-55.8-316.5-62.2"/><path id="line2-step2" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1675.2 430.6c-114.8-8-189.4 36.9-322 27.6-126.7-8.9-151.9-60.7-316.5-72.2s-196.3 36.4-322 27.6C589 404.8 550 351.9 398.3 341.3S206.4 378 76.3 369C-54 360-95 307-240.2 296.7s-191.3 36.7-322 27.6-179.7-62.7-316.4-72.3c-136.7-9.5-222.3 34.6-322 27.6-99.8-7-190.8-63.4-316.4-72.2-125.7-8.8-186.4 37-322 27.6-135.7-9.5-179.8-62.7-316.5-72.2-136.7-9.6-218.8 34.8-322 27.5-103.2-7.2-211.7-64.9-316.4-72.2-104.8-7.3-230.3 34-322 27.6-91.8-6.4-224.2-65.8-316.5-72.2" class="state-tpl"/><path id="line2-step3" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1755.2 425.6c-114.8-8-189.4 46.9-322 37.6-126.7-8.9-151.9-70.7-316.5-82.2s-196.3 46.4-322 37.6C669 409.8 630 346.9 478.3 336.3S286.4 383 156.3 374C26 365-15 302-160.2 291.7s-191.3 46.7-322 37.6-179.7-72.7-316.4-82.3c-136.7-9.5-222.3 44.6-322 37.6-99.8-7-190.8-73.4-316.4-82.2-125.7-8.8-186.4 47-322 37.6-135.7-9.5-179.8-72.7-316.5-82.2-136.7-9.6-218.8 44.8-322 37.5-103.2-7.2-211.7-74.9-316.4-82.2-104.8-7.3-230.3 44-322 37.6-91.8-6.4-224.2-75.8-316.5-82.2" class="state-tpl"/><path id="line2-step4" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1835.2 415.6c-114.8-8-189.4 66.9-322 57.6-126.7-8.9-151.9-90.7-316.5-102.2s-196.3 66.4-322 57.6C749 419.8 710 336.9 558.3 326.3S366.4 393 236.3 384C106 375 65 292-80.2 281.7s-191.3 66.7-322 57.6-179.7-92.7-316.4-102.3-222.3 64.6-322 57.6c-99.8-7-190.8-93.4-316.4-102.2-125.7-8.8-186.4 67-322 57.6-135.7-9.5-179.8-92.7-316.5-102.2-136.7-9.6-218.8 64.8-322 57.5-103.2-7.2-211.7-94.9-316.4-102.2-104.8-7.3-230.3 64-322 57.6-91.8-6.4-224.2-95.8-316.5-102.2" class="state-tpl"/><path id="line2-step5" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1915.2 415.6c-114.8-8-189.4 66.9-322 57.6-126.7-8.9-151.9-90.7-316.5-102.2s-196.3 66.4-322 57.6C829 419.8 790 336.9 638.3 326.3S446.4 393 316.3 384C186 375 145 292-.2 281.7s-191.3 66.7-322 57.6-179.7-92.7-316.4-102.3-222.3 64.6-322 57.6c-99.8-7-190.8-93.4-316.4-102.2-125.7-8.8-186.4 67-322 57.6-135.7-9.5-179.8-92.7-316.5-102.2-136.7-9.6-218.8 64.8-322 57.5-103.2-7.2-211.7-94.9-316.4-102.2-104.8-7.3-230.3 64-322 57.6-91.8-6.4-224.2-95.8-316.5-102.2" class="state-tpl"/><path id="line2-step6-iter1" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1915.2 415.6c-114.8-8-189.4 66.9-322 57.6-126.7-8.9-148.9-90.7-313.5-102.2s-199.3 36.4-325 27.6c-119.1-8.4-160.5-81-293.5-109l.1-.5c42.7-22.6 47.5-42.6 47.5-42.6l-98 9.2-7.3-114s85.9 38.4 92 81c3.3 22.9-166.7 28-166.7 28L591.5 143l6.4 114-87 6s5.3 18 44.5 33.5v.2C465.7 327 419 391 316.3 383.9 186 375 145 292-.2 281.7s-191.3 66.7-322 57.6-179.7-92.7-316.4-102.3-222.3 64.6-322 57.6c-99.8-7-190.8-93.4-316.4-102.2-125.7-8.8-186.4 67-322 57.6-135.7-9.5-179.8-92.7-316.5-102.2-136.7-9.6-218.7 64.8-322 57.5-103.2-7.2-211.7-94.9-316.4-102.2-104.8-7.3-230.3 64-322 57.6-91.8-6.4-224.2-95.8-316.5-102.2" class="state-tpl"/><path id="line2-step6-iter2" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M-3192.4 58.5c92.3 6.4 224.7 95.8 316.5 102.2 91.7 6.4 217.2-65 322-57.6 104.7 7.3 213.2 95 316.4 102.2 103.2 7.3 185.3-67.1 322-57.5 136.7 9.5 180.8 92.7 316.4 102.2 135.7 9.5 196.4-66.4 322-57.6 125.7 8.8 216.7 95.3 316.5 102.2 99.7 7 185.3-67.1 322-57.5s185.7 93 316.4 102.2 176.9-67.8 322-57.6 186.3 93.1 316.5 102.2c102.7 7.2 149.4-56.8 239.1-87.3 0 0 48.2-16 35.8-41.5.2 10.9-6.6 18-16.3 18.6a17.5 17.5 0 0 1-2.4-34.9s-28-78.2-31.4-84c-3.4-5.8-42.2-30.2-42.2-30.2l-22.9 1.6-.5-7 25-1.7 45.2 31 144.7-9.1-43.4 94.9a17.5 17.5 0 1 1-9.6.7s-43 2.4-42.3 4.2c7.4 37.3 66.1 50.3 66.1 50.3 133 28.1 174.4 100.7 293.5 109 125.7 8.9 160.4-39 325-27.5s186.8 93.3 313.4 102.2c132.7 9.3 207.3-65.6 322-57.6" class="state-tpl"/><path id="line2-step6-iter3" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M-3192.4 58.5c92.3 6.4 224.7 95.8 316.5 102.2 91.7 6.4 217.2-65 322-57.6 104.7 7.3 213.2 95 316.4 102.2 103.2 7.3 185.3-67.1 322-57.5 136.7 9.5 180.8 92.7 316.4 102.2 135.7 9.5 196.4-66.4 322-57.6 125.7 8.8 216.7 95.3 316.5 102.2 99.7 7 185.3-67.1 322-57.5s185.7 93 316.4 102.2 176.9-67.8 322-57.6 186.3 93.1 316.5 102.2c102.7 7.2 149.4-56.8 239.1-87.3l1.1-3.8L532 113l94-12.9.7 5.5-89.4 12.2.7 5.4 89.5-12.2 6.7 49.7 82.3-11.2.7 5.4-82.2 11.2.7 5.4 82.2-11.2 14.3 104.8-110.2 15-4.8-35.2s-42.4 8.7-33.5 45c31.4-9.8 77.5-.4 77.5-.4 133 28.2 174.4 100.7 293.5 109 125.7 8.9 160.4-39 325-27.5s186.8 93.4 313.4 102.2c132.7 9.3 207.3-65.6 322-57.6" class="state-tpl"/><path id="line2-step6-iter4" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M-3192.4 58.5c92.3 6.4 224.7 95.8 316.5 102.2 91.7 6.4 217.2-65 322-57.6 104.7 7.3 213.2 95 316.4 102.2 103.2 7.3 185.3-67.1 322-57.5 136.7 9.5 180.8 92.7 316.4 102.2 135.7 9.5 196.4-66.4 322-57.6 125.7 8.8 216.7 95.3 316.5 102.2 99.7 7 185.3-67.1 322-57.5s185.7 93 316.4 102.2 176.9-67.8 322-57.6S191.6 428 316.3 383.9 373 162 486.2 146.8c51.8-9.8 69.5 17.6 67 25.2 0 0-17.5.3-21.5 3.3s-25 39-25 39-21 0-26 15l3 36 12 10h9s6 18 27 15 22-20 22-20l84-7s10 18 29 15 20-19 20-19l5-2s7-7 7-13-1-20-3-26-31-13-45-12c0 0-17-33-51-39l-27.2 2.7 3.2 43.8 56-3.5c-10-21-32-30-32-30l-60 6-19 31 43.5-2.8 4.5 55.8c18.8 34.7 92.5 58.2 92.5 58.2s174.4 61.7 293.5 70c125.7 8.8 160.4-39 325-27.5s186.8 93.3 313.4 102.2c132.7 9.3 207.3-65.6 322-57.6" class="state-tpl"/><path id="line2-step7" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1915.2 415.6c-114.8-8-189.4 66.9-322 57.6-126.7-8.9-151.9-90.7-316.5-102.2s-196.3 66.4-322 57.6C829 419.8 790 336.9 638.3 326.3S446.4 393 316.3 384C186 375 145 292-.2 281.7s-191.3 66.7-322 57.6-179.7-92.7-316.4-102.3-222.3 64.6-322 57.6c-99.8-7-190.8-93.4-316.4-102.2-125.7-8.8-186.4 67-322 57.6-135.7-9.5-179.8-92.7-316.5-102.2-136.7-9.6-218.8 64.8-322 57.5-103.2-7.2-211.7-94.9-316.4-102.2-104.8-7.3-230.3 64-322 57.6-91.8-6.4-224.2-95.8-316.5-102.2" class="state-tpl"/><path id="line2-step8" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1995.2 425.6c-114.8-8-189.4 46.9-322 37.6-126.7-8.9-151.9-70.7-316.5-82.2s-196.3 46.4-322 37.6C909 409.8 870 346.9 718.3 336.3S526.4 383 396.3 374C266 365 225 302 79.8 291.7s-191.3 46.7-322 37.6-179.7-72.7-316.4-82.3c-136.7-9.5-222.3 44.6-322 37.6s-190.8-73.4-316.4-82.2c-125.7-8.8-186.4 47-322 37.6-135.7-9.5-179.8-72.7-316.5-82.2-136.7-9.6-218.8 44.8-322 37.5-103.2-7.2-211.7-74.9-316.4-82.2-104.8-7.3-230.3 44-322 37.6-91.8-6.4-224.2-75.8-316.5-82.2" class="state-tpl"/><path id="line2-step9" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M2075.2 430.6c-114.8-8-189.4 36.9-322 27.6-126.7-8.9-151.9-60.7-316.5-72.2s-196.3 36.4-322 27.6C989 404.8 950 351.9 798.3 341.3S606.4 378 476.3 369C346 360 305 307 159.8 296.7s-191.3 36.7-322 27.6-179.7-62.7-316.4-72.3c-136.7-9.5-222.3 34.6-322 27.6s-190.8-63.4-316.4-72.2c-125.7-8.8-186.4 37-322 27.6-135.7-9.5-179.8-62.7-316.5-72.2-136.7-9.6-218.8 34.8-322 27.5-103.2-7.2-211.7-64.9-316.4-72.2-104.8-7.3-230.3 34-322 27.6-91.8-6.4-224.2-65.8-316.5-72.2" class="state-tpl"/><path id="line2-step10" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M2155.2 435.6c-114.8-8-189.4 26.9-322 17.6-126.7-8.9-151.9-50.7-316.5-62.2s-196.3 26.3-322 17.6c-125.7-8.8-164.8-51.7-316.4-62.3S686.4 373 556.3 364C426 355 385 312 239.8 301.7s-191.3 26.7-322 17.6-179.7-52.7-316.4-62.3c-136.7-9.5-222.3 24.6-322 17.6s-190.8-53.4-316.4-62.2c-125.7-8.8-186.4 27-322 17.6-135.7-9.5-179.8-52.7-316.5-62.2-136.7-9.6-218.8 24.8-322 17.5-103.2-7.2-211.7-54.9-316.4-62.2-104.8-7.3-230.3 24-322 17.6-91.8-6.4-224.2-55.8-316.5-62.2" class="state-tpl"/><path id="line2-step11" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M2235.2 480.6c-114.8-8-189.4 26.9-322 17.6-126.7-8.9-151.9-50.7-316.5-62.2s-190.9 26.5-323.6 17.2c-130.1-9.1-151.8-50-316.4-62.2-164.2-12.1-191.8 26.7-322 17.6-130.2-9.1-164.8-51.7-316.4-62.3S126.9 373.1-3.7 364c-130.7-9.1-178.2-52.3-314.9-61.9-136.7-9.5-222.3 24.6-322 17.6s-190.8-53.4-316.4-62.2-186.4 27-322 17.6c-135.7-9.5-179.8-52.7-316.5-62.2-136.7-9.6-218.7 24.8-322 17.5-103.2-7.2-211.7-54.9-316.4-62.2-104.8-7.3-230.3 24-322 17.6-91.8-6.4-224.2-55.8-316.5-62.2" class="state-tpl"/><path id="line3-step1" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1280 217.5c-109.6 7.7-178.2 93.7-313.6 103.1-126.7 9-160.2-70-324.8-58.4s-188 94.3-313.6 103-173.3-69-324.9-58.4-183.4 94-313.6 103.1c-130.1 9.1-179.7-68.6-324.8-58.4s-183 94-313.6 103c-130.7 9.2-188.2-68-324.9-58.4s-213.8 96.1-313.5 103.1c-99.8 7-199.2-67.2-325-58.5S-2090 534.4-2225.7 544s-188.2-68-324.8-58.5-210.4 95.9-313.6 103.1c-103.3 7.2-220.1-65.8-324.9-58.5-104.7 7.4-221.8 96.7-313.6 103.2s-232.6-65-324.8-58.5"/><path id="line3-step2" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1360 227.5c-114.7 8-180.9 73.9-313.6 83.1-126.7 9-160.2-50-324.8-38.4s-188 74.3-313.6 83-173.3-49-324.9-38.4-183.4 74-313.6 83.1c-130.1 9.1-179.7-48.6-324.8-38.4s-183 74-313.6 83c-130.7 9.2-188.2-48-324.9-38.4s-213.8 76.1-313.5 83.1c-99.8 7-199.2-47.2-325-38.5s-177.8 73.7-313.5 83.2-188.2-48-324.8-38.5-210.4 75.9-313.6 83.1c-103.3 7.2-220.1-45.8-324.9-38.5-104.7 7.4-221.8 76.7-313.6 83.2s-232.6-45-324.8-38.5" class="state-tpl"/><path id="line3-step3" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1440 232.5c-114.7 8-180.9 63.9-313.6 73.1-126.7 9-160.2-40-324.8-28.4s-188 64.3-313.6 73-173.3-39-324.9-28.4-183.4 64-313.6 73.1c-130.1 9.1-179.7-38.6-324.8-28.4s-183 64-313.6 73c-130.7 9.2-188.2-38-324.9-28.4-136.6 9.6-213.8 66.1-313.5 73.1-99.8 7-199.2-37.2-324.9-28.5s-178 63.7-313.6 73.2-188.2-38-324.8-28.5-210.4 65.9-313.6 73.1c-103.3 7.2-220.1-35.8-324.9-28.5-104.7 7.4-221.8 66.7-313.6 73.2s-232.6-35-324.8-28.5" class="state-tpl"/><path id="line3-step4" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1520 237.5c-114.7 8-180.9 53.9-313.6 63.1-126.7 9-160.2-30-324.8-18.4s-188 54.3-313.6 63-173.3-29-324.9-18.4-183.4 54-313.6 63.1c-130.1 9.1-179.7-28.6-324.8-18.4s-183 54-313.6 63c-130.7 9.2-188.2-28-324.9-18.4-136.6 9.6-213.8 56.1-313.5 63.1-99.8 7-199.2-27.2-325-18.5s-177.8 53.7-313.5 63.2-188.2-28-324.8-18.5c-136.7 9.5-210.4 55.9-313.6 63.1-103.3 7.2-220.1-25.8-324.9-18.5-104.7 7.4-221.8 56.7-313.6 63.2s-232.6-25-324.8-18.5" class="state-tpl"/><path id="line3-step5" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1593 238.5c-114.7 8-170.9 49.8-303.6 59.1-126.7 8.9-170.3-26-334.9-14.5S776.7 333.5 651 342.3s-183.2-25.1-334.9-14.5-173.4 50-303.6 59.1-189.7-24.6-334.9-14.5-172.9 50-303.6 59.1-198.2-24-334.9-14.5-203.8 52.1-303.6 59.1-209.2-23.3-334.9-14.5-167.9 49.6-303.6 59.1-198.2-24-334.9-14.5c-136.7 9.6-200.3 51.9-303.6 59.1-103.2 7.2-230.1-21.8-334.9-14.5-104.7 7.3-211.8 52.7-303.6 59.1s-242.6-20.9-334.9-14.5" class="state-tpl"/><path id="line3-step6" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1671.7 221.5c-114.7 8-172.9 60.8-305.5 70.1-126.7 8.9-168.3-37-332.8-25.5-164.6 11.5-179.9 61.3-305.5 70.1s-181.3-36-332.9-25.4-175.4 61-305.5 70.1-187.7-35.6-332.8-25.5-174.9 61-305.5 70.1-196.2-35-332.8-25.5c-136.7 9.6-205.8 63.1-305.5 70.1s-207.2-34.3-332.8-25.5-169.9 60.6-305.5 70.1-215.2-31-351.8-21.5c-136.7 9.6-183.3 58.9-286.5 66.1-103.2 7.2-228.1-32.8-332.8-25.5s-213.8 63.7-305.5 70.1c-91.8 6.4-240.6-31.9-332.8-25.5" class="state-tpl"/><path id="line3-step7" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1772 200.5c-114.7 8-188.9 76.8-321.6 86.1-126.7 8.9-152.3-53-316.9-41.5C969 256.7 937.7 322.5 812 331.3s-165.2-52.1-316.9-41.5-191.4 77-321.6 86.1-171.7-51.6-316.8-41.4-190.9 77-321.6 86.1-180.2-51-316.9-41.5-221.8 79.1-321.6 86.1-191.2-50.3-316.9-41.5-185.9 76.6-321.6 86.1c-135.7 9.5-180.2-51-316.9-41.5-136.7 9.6-218.3 78.9-321.6 86.1-103.2 7.2-212.1-48.8-316.9-41.5-104.7 7.3-229.8 79.7-321.6 86.1s-224.6-47.9-316.9-41.5" class="state-tpl"/><path id="line3-step8" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1844 185.5c-114.7 8-179.9 86.8-312.6 96.1-126.7 8.9-161.3-63-325.9-51.5s-186.9 87.3-312.6 96.1-174.2-62.1-325.9-51.5-182.4 87-312.6 96.1-180.6-61.5-325.7-51.3-181.9 87-312.6 96.1-189.2-61-325.9-51.5-212.8 89.1-312.6 96.1-200.2-60.3-325.9-51.5-176.9 86.6-312.6 96.1c-135.7 9.5-189.2-61-325.9-51.5-136.7 9.6-209.3 88.9-312.6 96.1-103.2 7.2-221.1-58.8-325.9-51.5-104.7 7.3-220.8 89.7-312.6 96.1s-233.6-57.9-325.9-51.5" class="state-tpl"/><path id="line3-step9" fill="none" stroke="red" stroke-miterlimit="10" d="M1911.6 173.4c-114.7 8-180.9 93.8-313.6 103.1-126.7 8.9-158.3-69.4-322.9-58.5-98.6 6.5-175.6 95-314.6 103.1-112.5 8.4-160.5-72-325.6-58.7C479 275 456.1 357 323.3 365.5c-124.8 8-166-69.1-321.2-58.5-150.8 10.3-178.8 93-312.6 102.9-129.5 9.6-179.7-68.6-324.9-58.5s-182.9 94-313.6 103.1-188.2-68-324.9-58.5-213.8 96.1-313.6 103.1-199.2-67.3-324.9-58.5-177.9 93.6-313.6 103.1-188.2-68-324.9-58.5-210.3 95.9-313.6 103.1c-103.2 7.2-220.1-65.8-324.9-58.5" class="state-tpl"/><path id="line4-step1" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1448.3 465c-152 0-187-101-320-101-130.5 0-155 101-320 101S620 364 488.3 364c-131 0-168 101-320 101s-189.5-101-320-101-174.5 101-320 101-189-101-320-101-183 101-320 101-220-101-320-101-194 101-320 101-184-101-320-101-183 101-320 101-216.5-101-320-101-215 101-320 101-228-101-320-101-227.5 101-320 101"/><path id="line4-step2" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1528.3 455c-115 0-187-81-320-81-127 0-155 81-320 81s-194-81-320-81-168 81-320 81-189.5-81-320-81-174.5 81-320 81-189-81-320-81-183 81-320 81-220-81-320-81-194 81-320 81-184-81-320-81-183 81-320 81-216.5-81-320-81-215 81-320 81-228-81-320-81-227.5 81-320 81" class="state-tpl"/><path id="line4-step3" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1608.3 450c-115 0-187-71-320-71-127 0-155 71-320 71s-194-71-320-71-168 71-320 71-189.5-71-320-71-174.5 71-320 71-189-71-320-71-183 71-320 71-220-71-320-71-194 71-320 71-184-71-320-71-183 71-320 71-216.5-71-320-71-215 71-320 71-228-71-320-71-227.5 71-320 71" class="state-tpl"/><path id="line4-step4" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1688.3 445c-115 0-187-61-320-61-127 0-155 61-320 61s-194-61-320-61-168 61-320 61-189.5-61-320-61-174.5 61-320 61-189-61-320-61-183 61-320 61-220-61-320-61-194 61-320 61-184-61-320-61-183 61-320 61-216.5-61-320-61-215 61-320 61-228-61-320-61-227.5 61-320 61" class="state-tpl"/><path id="line4-step5" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1768.3 440c-115 0-187-51-320-51-127 0-155 51-320 51s-194-51-320-51-168 51-320 51-189.5-51-320-51-174.5 51-320 51-189-51-320-51-183 51-320 51-220-51-320-51-194 51-320 51-184-51-320-51-183 51-320 51-216.5-51-320-51-215 51-320 51-228-51-320-51-227.5 51-320 51" class="state-tpl"/><path id="line4-step6" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1848.3 440c-115 0-187-51-320-51-127 0-155 51-320 51s-194-51-320-51-168 51-320 51-189.5-51-320-51-174.5 51-320 51-189-51-320-51-183 51-320 51-220-51-320-51-194 51-320 51-184-51-320-51-183 51-320 51-216.5-51-320-51-215 51-320 51-228-51-320-51-227.5 51-320 51" class="state-tpl"/><path id="line4-step7" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M1928.3 440c-115 0-187-51-320-51-127 0-155 51-320 51s-194-51-320-51-168 51-320 51-189.5-51-320-51-174.5 51-320 51-189-51-320-51-183 51-320 51-220-51-320-51-194 51-320 51-184-51-320-51-183 51-320 51-216.5-51-320-51-215 51-320 51-228-51-320-51-227.5 51-320 51" class="state-tpl"/><path id="line4-step8" fill="none" stroke="#b3bbce" stroke-miterlimit="10" d="M2008.3 450c-115 0-187-71-320-71-127 0-155 71-320 71s-194-71-320-71-168 71-320 71-189.5-71-320-71-174.5 71-320 71-189-71-320-71-183 71-320 71-220-71-320-71-194 71-320 71-184-71-320-71-183 71-320 71-216.5-71-320-71-215 71-320 71-228-71-320-71-227.5 71-320 71" class="state-tpl"/><path id="line4-step9" fill="none" stroke="red" stroke-miterlimit="10" d="M2088.3 465c-115 0-187-101-320-101-127 0-155 101-320 101-153 0-187-101-320-101s-151.7 101-320 101-187-101-320-101c-130.5 0-165.7 101-320 101S-20 364-151.7 364c-131 0-174.4 101-320 101s-189.5-101-320-101c-127 0-187 101-320 101s-223-101-320-101-197 101-320 101-187.7-101-320-101-184.4 101-320 101-215.7-101-320-101-212.4 101-320 101" class="state-tpl"/><path id="leaf" fill="url(#img1)" d="M480.7 415.3s243.3 77.7 802.6 14c8.7 13.4-.3.7-.3.7s-92.8 18.8-420.3 24.4c-298-3.7-382-39-382-39z" visibility="hidden"/><path id="leaf-initial" stroke="#b3bbce" stroke-miterlimit="10" d="M480.7 415.3s243.3 77.7 802.6 14c8.7 13.4-.3.7-.3.7s-92.8 18.8-420.3 24.4c-298-3.7-382-39-382-39z" class="state-tpl"/><path id="leaf-final-iter1" stroke="#b3bbce" stroke-miterlimit="10" d="M480.7 415.3s258 235.4 802.6 134c8.7 13.4-.3-383.3-.3-383.3s-193.7-7.5-434.3 100.2-368 149.1-368 149.1z" class="state-tpl"/><path id="leaf-final-iter2" stroke="#b3bbce" stroke-miterlimit="10" d="M480.7 387.2s258-235.3 802.6-134c8.7-13.3-.3 383.4-.3 383.4s-193.7 7.5-434.3-100.3-368-149-368-149z" class="state-tpl"/><path id="leaf-final-iter3" stroke="#b3bbce" stroke-miterlimit="10" d="M508.3 421.4S731.4 690 1284.9 664.6c6.7 14.4 52.4-379.7 52.4-379.7s-190.8-34.1-444 39.5-385 97-385 97z" class="state-tpl"/><path id="leaf-final-iter4" stroke="#b3bbce" stroke-miterlimit="10" d="M508.2 424.2s227-265.4 780-232.2c6.9-14.3 47 380.5 47 380.5s-191.3 31.4-443.4-45.8-383.6-102.5-383.6-102.5z" class="state-tpl"/></svg>

                <div class="head" style="opacity: 0;" id="sliderHead">пироговское водохранилище</div>
                <div class="text">
                    <p id="sliderText" style="opacity: 0;">Шаговая доступность Пироговского водохранилища и&nbsp;леса. Благоприятная экология!</p> <a href="#" class="btn_more">СЛЕДУЮЩЕЕ</a> </div>
            </div>

    </div>
</div>
<div class="action_hot">
    <div class="slider" id="homepageActionsSlider">
        <a href="#" title="" class="str_t"></a>
        <a href="#" title="" class="str_b"></a>
        <div class="slider-inner">
            <div class="item">
                <div class="head">акция</div>
                <div class="text">5 квартир по очень выгодной цене</div>
            </div>
            <div class="item">
                <div class="head">акция</div>
                <div class="text">6 квартир по очень выгодной цене</div>
            </div>
            <div class="item">
                <div class="head">акция</div>
                <div class="text">7 квартир по очень выгодной цене</div>
            </div>
        </div>
    </div>
</div>
<div class="empty_box"></div>

 {% endblock %}
