{% set pageType = "infras-external" %}
{% set title = "Инфраструктура района" %}
{% set isFullSize = true %}
{% set isPageWhite = false %}
{% set isHeaderBg = false %}
{% extends "layout.html" %}

{% block content %}
<div class="container">
	<div class="location" id="ifrasExternalInner">
		
		<div class="h1_full"><h1>Инфраструктура района</h1></div>
		<div class="map" id="infrasMap">
			
		</div>
	</div>
</div>
<ul class="menuLocation infro infro_outer b-map-btns">
  <li class="b-map-btns__leaf" data-toggle="tooltip" title="Магазины">
    <a href="#" class="b-map-btns__link" data-icons-type="8">
      <img src="http://pr.blue-ant.ru/upload/information_system_7/0/0/8/group_8/small_information_groups_8.svg" alt="" />
      <img src="http://pr.blue-ant.ru/upload/information_system_7/0/0/8/group_8/information_groups_8.svg" class="active" alt="" />
    </a>
  </li>
  <li class="b-map-btns__leaf" data-toggle="tooltip" title="Спорт">
    <a href="#" class="b-map-btns__link" data-icons-type="9">
      <img src="http://pr.blue-ant.ru/upload/information_system_7/0/0/9/group_9/small_information_groups_9.svg" alt="" />
      <img src="http://pr.blue-ant.ru/upload/information_system_7/0/0/9/group_9/information_groups_9.svg" class="active" alt="" />
    </a>
  </li>
  <li class="b-map-btns__leaf" data-toggle="tooltip" title="Пляжи">
    <a href="#" class="b-map-btns__link" data-icons-type="10">
      <img src="http://pr.blue-ant.ru/upload/information_system_7/0/1/0/group_10/small_information_groups_10.svg" alt="" />
      <img src="http://pr.blue-ant.ru/upload/information_system_7/0/1/0/group_10/information_groups_10.svg" class="active" alt="" />
    </a>
  </li>
  <li class="b-map-btns__leaf" data-toggle="tooltip" title="Рестораны">
    <a href="#" class="b-map-btns__link" data-icons-type="11">
      <img src="http://pr.blue-ant.ru/upload/information_system_7/0/1/1/group_11/small_information_groups_11.svg" alt="" />
      <img src="http://pr.blue-ant.ru/upload/information_system_7/0/1/1/group_11/information_groups_11.svg" class="active" alt="" />
    </a>
  </li>
  <li class="b-map-btns__leaf" data-toggle="tooltip" title="Образование">
    <a href="#" class="b-map-btns__link" data-icons-type="12">
      <img src="http://pr.blue-ant.ru/upload/information_system_7/0/1/2/group_12/small_information_groups_12.svg" alt="" />
      <img src="http://pr.blue-ant.ru/upload/information_system_7/0/1/2/group_12/information_groups_12.svg" class="active" alt="" />
    </a>
  </li>
  <li class="b-map-btns__leaf" data-toggle="tooltip" title="Гольф">
    <a href="#" class="b-map-btns__link" data-icons-type="13">
      <img src="http://pr.blue-ant.ru/upload/information_system_7/0/1/3/group_13/small_information_groups_13.svg" alt="" />
      <img src="http://pr.blue-ant.ru/upload/information_system_7/0/1/3/group_13/information_groups_13.svg" class="active" alt="" />
    </a>
  </li>
  <li class="b-map-btns__leaf" data-toggle="tooltip" title="Яхт-клубы">
    <a href="#" class="b-map-btns__link" data-icons-type="14">
      <img src="http://pr.blue-ant.ru/upload/information_system_7/0/1/4/group_14/small_information_groups_14.svg" alt="" />
      <img src="http://pr.blue-ant.ru/upload/information_system_7/0/1/4/group_14/information_groups_14.svg" class="active" alt="" />
    </a>
  </li>
  <li class="b-map-btns__leaf" data-toggle="tooltip" title="Церковь">
    <a href="#" class="b-map-btns__link" data-icons-type="15">
      <img src="http://pr.blue-ant.ru/upload/information_system_7/0/1/5/group_15/small_information_groups_15.svg" alt="" />
      <img src="http://pr.blue-ant.ru/upload/information_system_7/0/1/5/group_15/information_groups_15.svg" class="active" alt="" />
    </a>
  </li>
  <li class="b-map-btns__leaf" data-toggle="tooltip" title="АЗС">
    <a href="#" class="b-map-btns__link" data-icons-type="16">
      <img src="http://pr.blue-ant.ru/upload/information_system_7/0/1/6/group_16/small_information_groups_16.svg" alt="" />
      <img src="http://pr.blue-ant.ru/upload/information_system_7/0/1/6/group_16/information_groups_16.svg" class="active" alt="" />
    </a>
  </li>
</ul>
<div class="empty_box"></div>
<script>
            window.ifrasObjs = [
            
        {
        "coords": {
            "lat": 55.921449, "lng": 37.665313
        },
        "title": "Азбука Вкуса",
        "type": 8,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/0/8/group_8/information_groups_property_65.svg"
    },
        {
        "coords": {
            "lat": 55.988289, "lng": 37.727692
        },
        "title": "АЗС «Нефть-Магистраль»",
        "type": 16,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/6/group_16/information_groups_property_78.svg"
    },
        {
        "coords": {
            "lat": 55.983985, "lng": 37.714724
        },
        "title": "База отдыха «Флагман»",
        "type": 11,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/1/group_11/information_groups_property_73.svg"
    },
        {
        "coords": {
            "lat": 55.974291, "lng": 37.668651
        },
        "title": "Гостинично-развлекательный комплекс «Новый берег»",
        "type": 14,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/4/group_14/information_groups_property_76.svg"
    },
        {
        "coords": {
            "lat": 55.941995, "lng": 37.658794
        },
        "title": "Детский сад",
        "type": 12,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/2/group_12/information_groups_property_74.svg"
    },
        {
        "coords": {
            "lat": 55.968659, "lng": 37.720674
        },
        "title": "Детский сад",
        "type": 12,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/2/group_12/information_groups_property_74.svg"
    },
        {
        "coords": {
            "lat": 55.98082, "lng": 37.749992
        },
        "title": "Детский сад",
        "type": 12,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/2/group_12/information_groups_property_74.svg"
    },
        {
        "coords": {
            "lat": 55.981525, "lng": 37.73929
        },
        "title": "Детский сад",
        "type": 12,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/2/group_12/information_groups_property_74.svg"
    },
        {
        "coords": {
            "lat": 55.960098, "lng": 37.660384
        },
        "title": "Кафе «Валентина»",
        "type": 11,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/1/group_11/information_groups_property_73.svg"
    },
        {
        "coords": {
            "lat": 55.973121, "lng": 37.715158
        },
        "title": "Кафе «Прибрежное»",
        "type": 11,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/1/group_11/information_groups_property_73.svg"
    },
        {
        "coords": {
            "lat": 55.989237, "lng": 37.674955
        },
        "title": "Курорт «Пирогова»",
        "type": 9,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/0/9/group_9/information_groups_property_71.svg"
    },
        {
        "coords": {
            "lat": 55.970071, "lng": 37.655238
        },
        "title": "Магазин",
        "type": 8,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/0/8/group_8/information_groups_property_65.svg"
    },
        {
        "coords": {
            "lat": 55.968372, "lng": 37.676884
        },
        "title": "Магазин",
        "type": 8,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/0/8/group_8/information_groups_property_65.svg"
    },
        {
        "coords": {
            "lat": 55.972692, "lng": 37.715377
        },
        "title": "Магазин",
        "type": 8,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/0/8/group_8/information_groups_property_65.svg"
    },
        {
        "coords": {
            "lat": 55.981217, "lng": 37.748876
        },
        "title": "Начальная школа №19 ",
        "type": 12,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/2/group_12/information_groups_property_74.svg"
    },
        {
        "coords": {
            "lat": 55.983167, "lng": 37.742744
        },
        "title": "Общеобразовательная школа №19",
        "type": 12,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/2/group_12/information_groups_property_74.svg"
    },
        {
        "coords": {
            "lat": 55.974621, "lng": 37.669632
        },
        "title": "Пляж",
        "type": 10,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/0/group_10/information_groups_property_72.svg"
    },
        {
        "coords": {
            "lat": 55.974137, "lng": 37.702332
        },
        "title": "Пляж",
        "type": 10,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/0/group_10/information_groups_property_72.svg"
    },
        {
        "coords": {
            "lat": 55.974518, "lng": 37.714791
        },
        "title": "Пляж",
        "type": 10,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/0/group_10/information_groups_property_72.svg"
    },
        {
        "coords": {
            "lat": 55.983253, "lng": 37.715419
        },
        "title": "Пляж",
        "type": 10,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/0/group_10/information_groups_property_72.svg"
    },
        {
        "coords": {
            "lat": 55.986634, "lng": 37.710259
        },
        "title": "Пляж",
        "type": 10,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/0/group_10/information_groups_property_72.svg"
    },
        {
        "coords": {
            "lat": 55.984679, "lng": 37.700925
        },
        "title": "Пляж",
        "type": 10,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/0/group_10/information_groups_property_72.svg"
    },
        {
        "coords": {
            "lat": 55.992102, "lng": 37.68987
        },
        "title": "Пляж",
        "type": 10,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/0/group_10/information_groups_property_72.svg"
    },
        {
        "coords": {
            "lat": 55.98673, "lng": 37.710313
        },
        "title": "Пляж «Дубрава»",
        "type": 11,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/1/group_11/information_groups_property_73.svg"
    },
        {
        "coords": {
            "lat": 55.988934, "lng": 37.67676
        },
        "title": "Поле для гольфа",
        "type": 13,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/3/group_13/information_groups_property_75.svg"
    },
        {
        "coords": {
            "lat": 55.980599, "lng": 37.743624
        },
        "title": "Прироговская Сельская Детская Школа искусств",
        "type": 12,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/2/group_12/information_groups_property_74.svg"
    },
        {
        "coords": {
            "lat": 55.980476, "lng": 37.726746
        },
        "title": "Ресторан «Арарат»",
        "type": 11,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/1/group_11/information_groups_property_73.svg"
    },
        {
        "coords": {
            "lat": 55.980909, "lng": 37.737338
        },
        "title": "Ресторан «Венеция»",
        "type": 11,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/1/group_11/information_groups_property_73.svg"
    },
        {
        "coords": {
            "lat": 55.99667, "lng": 37.725646
        },
        "title": "Ресторан «Зеленая роща»",
        "type": 11,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/1/group_11/information_groups_property_73.svg"
    },
        {
        "coords": {
            "lat": 55.986841, "lng": 37.67376
        },
        "title": "Ресторан «Кот Дазур»",
        "type": 11,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/1/group_11/information_groups_property_73.svg"
    },
        {
        "coords": {
            "lat": 55.989753, "lng": 37.727602
        },
        "title": "Ресторан «Прироговский дворик»",
        "type": 11,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/1/group_11/information_groups_property_73.svg"
    },
        {
        "coords": {
            "lat": 55.982084, "lng": 37.746375
        },
        "title": "Стадион «Труд»",
        "type": 9,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/0/9/group_9/information_groups_property_71.svg"
    },
        {
        "coords": {
            "lat": 55.97781, "lng": 37.744932
        },
        "title": "Супермаркет «Дикси»",
        "type": 8,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/0/8/group_8/information_groups_property_65.svg"
    },
        {
        "coords": {
            "lat": 55.978075, "lng": 37.743934
        },
        "title": "Супермаркет «Магнит»",
        "type": 8,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/0/8/group_8/information_groups_property_65.svg"
    },
        {
        "coords": {
            "lat": 55.979691, "lng": 37.743679
        },
        "title": "Супермаркет «Монетка»",
        "type": 8,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/0/8/group_8/information_groups_property_65.svg"
    },
        {
        "coords": {
            "lat": 55.978376, "lng": 37.746402
        },
        "title": "Супермаркет «Пятерочка»",
        "type": 8,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/0/8/group_8/information_groups_property_65.svg"
    },
        {
        "coords": {
            "lat": 55.972641, "lng": 37.740444
        },
        "title": "Теннисный клуб «Прироговский»",
        "type": 9,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/0/9/group_9/information_groups_property_71.svg"
    },
        {
        "coords": {
            "lat": 55.971672, "lng": 37.74394
        },
        "title": "ТЦ «Пироговский»",
        "type": 8,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/0/8/group_8/information_groups_property_65.svg"
    },
        {
        "coords": {
            "lat": 55.979715, "lng": 37.733586
        },
        "title": "Храм Преображения Господня",
        "type": 15,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/5/group_15/information_groups_property_77.svg"
    },
        {
        "coords": {
            "lat": 55.968033, "lng": 37.676942
        },
        "title": "Храм Троицы Живоначальной",
        "type": 15,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/5/group_15/information_groups_property_77.svg"
    },
        {
        "coords": {
            "lat": 55.947421, "lng": 37.647717
        },
        "title": "Школа №29",
        "type": 12,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/2/group_12/information_groups_property_74.svg"
    },
        {
        "coords": {
            "lat": 55.985715, "lng": 37.672983
        },
        "title": "Яхт-клуб",
        "type": 14,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/4/group_14/information_groups_property_76.svg"
    },
        {
        "coords": {
            "lat": 55.973923, "lng": 37.674632
        },
        "title": "Яхт-клуб «Болтино»",
        "type": 14,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/4/group_14/information_groups_property_76.svg"
    },
        {
        "coords": {
            "lat": 55.973481, "lng": 37.681129
        },
        "title": "Яхт-клуб «Галс»",
        "type": 14,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/4/group_14/information_groups_property_76.svg"
    },
        {
        "coords": {
            "lat": 55.97212, "lng": 37.661366
        },
        "title": "Яхт-клуб «Ореховая Бухта»",
        "type": 14,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/4/group_14/information_groups_property_76.svg"
    },
        {
        "coords": {
            "lat": 55.973843, "lng": 37.70745
        },
        "title": "Яхт-клуб «Фарватер»",
        "type": 14,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/4/group_14/information_groups_property_76.svg"
    },
        {
        "coords": {
            "lat": 55.974347, "lng": 37.711666
        },
        "title": "Яхт-клуб «Элит-Кроус»",
        "type": 14,
        "ico": "http://pr.blue-ant.ru/upload/information_system_7/0/1/4/group_14/information_groups_property_76.svg"
    }
            ];
        </script>


{% endblock %}