{% set pageType = "infras-internal" %}
{% set title = "Инфраструктура внутренняя" %}
{% set isFullSize = true %}
{% set isPageWhite = true %}
{% set isHeaderBg = false %}
{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="location">
    <div class="h1_full">
      <h1>Инфраструктура ЖК</h1>
    </div>
    <div class="b-infras-inter b-fitblock">
      <div class="b-infras-inter__inner b-fitblock__inner">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAACgCAMAAADUx0IOAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAD5JREFUeNrtwTEBAAAAwiD7p14KP2AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAXaCgAAFSuHP7AAAAAElFTkSuQmCC" class="b-infras-inter__pusher b-fitblock__pusher" style="background-image:url(/img/infra_gk/bg_infra_gk.jpg);" width="2560" height="1600">
        <a href="#" class="point" style="left:35%; top:27%;" data-pins-group="52" data-toggle="tooltip" title="Велодорожки">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/3/0/item_1303/information_items_1303.svg">
        </a>
        <a href="#" class="point" style="left:61%; top:62%;" data-pins-group="52" data-toggle="tooltip" title="Велодорожки">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/3/0/item_1305/information_items_1303.svg">
        </a>
        <a href="#" class="point" style="left:68%; top:45%;" data-pins-group="55" data-toggle="tooltip" title="Детская поликлиника">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/9/item_1293/information_items_1292.svg">
        </a>
        <a href="#" class="point" style="left:50%; top:26%;" data-pins-group="53" data-toggle="tooltip" title="Детские площадки">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/6/item_1266/information_items_1266.svg">
        </a>
        <a href="#" class="point" style="left:47%; top:32%;" data-pins-group="53" data-toggle="tooltip" title="Детские площадки">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/6/item_1267/information_items_1266.svg">
        </a>
        <a href="#" class="point" style="left:60%; top:40%;" data-pins-group="53" data-toggle="tooltip" title="Детские площадки">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/6/item_1268/information_items_1266.svg">
        </a>
        <a href="#" class="point" style="left:58%; top:46%;" data-pins-group="53" data-toggle="tooltip" title="Детские площадки">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/6/item_1269/information_items_1266.svg">
        </a>
        <a href="#" class="point" style="left:73%; top:47%;" data-pins-group="53" data-toggle="tooltip" title="Детские площадки">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/7/item_1270/information_items_1266.svg">
        </a>
        <a href="#" class="point" style="left:20%; top:49%;" data-pins-group="53" data-toggle="tooltip" title="Детские площадки">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/7/item_1271/information_items_1266.svg">
        </a>
        <a href="#" class="point" style="left:30%; top:34%;" data-pins-group="53" data-toggle="tooltip" title="Детские площадки">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/7/item_1272/information_items_1266.svg">
        </a>
        <a href="#" class="point" style="left:43%; top:40%;" data-pins-group="53" data-toggle="tooltip" title="Детский сад">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/6/item_1264/information_items_1264.svg">
        </a>
        <a href="#" class="point" style="left:75%; top:58%;" data-pins-group="53" data-toggle="tooltip" title="Детский сад">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/6/item_1265/information_items_1265.svg">
        </a>
        <a href="#" class="point" style="left:62%; top:30%;" data-pins-group="51" data-toggle="tooltip" title="КПП с охраной">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/5/item_1258/information_items_1258.svg">
        </a>
        <a href="#" class="point" style="left:43%; top:18%;" data-pins-group="51" data-toggle="tooltip" title="Паркинг">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/3/0/item_1306/information_items_1306.svg">
        </a>
        <a href="#" class="point" style="left:1%; top:40%;" data-pins-group="51" data-toggle="tooltip" title="Паркинг">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/3/0/item_1307/information_items_1306.svg">
        </a>
        <a href="#" class="point" style="left:2%; top:34%;" data-pins-group="51" data-toggle="tooltip" title="Паркинг">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/3/0/item_1308/information_items_1306.svg">
        </a>
        <a href="#" class="point" style="left:3%; top:26%;" data-pins-group="51" data-toggle="tooltip" title="Паркинг">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/3/0/item_1309/information_items_1306.svg">
        </a>
        <a href="#" class="point" style="left:78%; top:27%;" data-pins-group="54" data-toggle="tooltip" title="Пляж">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/3/0/item_1300/information_items_1300.svg">
        </a>
        <a href="#" class="point" style="left:76%; top:23%;" data-pins-group="54" data-toggle="tooltip" title="Пляж, волейбол">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/7/item_1274/information_items_1274.svg">
        </a>
        <a href="#" class="point" style="left:36%; top:38%;" data-pins-group="55" data-toggle="tooltip" title="Физкультурно-оздоровительный комплекс">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/9/item_1292/information_items_1292.svg">
        </a>
        <a href="#" class="point" style="left:87%; top:30%;" data-pins-group="54" data-toggle="tooltip" title="Пристань — серфинг, яхты, рыбалка">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/7/item_1273/information_items_1273.svg">
        </a>
        <a href="#" class="point" style="left:59%; top:31%;" data-pins-group="54" data-toggle="tooltip" title="Ресторан">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/9/item_1294/information_items_1294.svg">
        </a>
        <a href="#" class="point" style="left:49%; top:19%;" data-pins-group="54" data-toggle="tooltip" title="Ресторан">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/9/item_1295/information_items_1294.svg">
        </a>
        <a href="#" class="point" style="left:37%; top:53%;" data-pins-group="54" data-toggle="tooltip" title="Ресторан">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/9/item_1296/information_items_1294.svg">
        </a>
        <a href="#" class="point" style="left:47%; top:48%;" data-pins-group="51" data-toggle="tooltip" title="Система безопасности в подъездах (консьержи)">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/5/item_1257/information_items_1257.svg">
        </a>
        <a href="#" class="point" style="left:34%; top:55%;" data-pins-group="52" data-toggle="tooltip" title="Спортивные площадки">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/3/0/item_1302/information_items_1302.svg">
        </a>
        <a href="#" class="point" style="left:20%; top:72%;" data-pins-group="52" data-toggle="tooltip" title="Спортивные прогулки в лесу">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/3/0/item_1301/information_items_1301.svg">
        </a>
        <a href="#" class="point" style="left:58%; top:73%;" data-pins-group="52" data-toggle="tooltip" title="Стадион">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/9/1/item_1910/information_items_1910.svg">
        </a>
        <a href="#" class="point" style="left:8%; top:36%;" data-pins-group="54" data-toggle="tooltip" title="ТРЦ(кинотеатр, шопинг, рестораны, игровая и развлекательная зона)">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/9/item_1297/information_items_1297.svg">
        </a>
        <a href="#" class="point" style="left:90%; top:47%;" data-pins-group="52" data-toggle="tooltip" title="Оздоровительный комплекс">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/3/0/item_1304/information_items_1304.svg">
        </a>
        <a href="#" class="point" style="left:68%; top:70%;" data-pins-group="53" data-toggle="tooltip" title="Школа">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/6/item_1263/information_items_1263.svg">
        </a>
        <a href="#" class="point" style="left:45%; top:27%;" data-pins-group="54" data-toggle="tooltip" title="Шопинг">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/9/item_1298/information_items_1298.svg">
        </a>
        <a href="#" class="point" style="left:70%; top:41%;" data-pins-group="54" data-toggle="tooltip" title="Шопинг">
          <img src="http://pirogovo-riviera.ru/upload/information_system_9/1/2/9/item_1299/information_items_1298.svg">
        </a>
      </div>
    </div>
  </div>
</div>
<ul class="menuLocation infro">
  <li data-toggle="tooltip" title="tooltip">
    <a href="#" data-pins-toggle="51">
      <img src="img/infra_gk/circle_no_activ/1.svg">
      <img src="img/infra_gk/circle/1.svg" class="active">
    </a>
  </li>
  <li data-toggle="tooltip" title="tooltip">
    <a href="#" data-pins-toggle="52">
      <img src="img/infra_gk/circle_no_activ/2.svg">
      <img src="img/infra_gk/circle/2.svg" class="active">
    </a>
  </li>
  <li data-toggle="tooltip" title="tooltip">
    <a href="#" data-pins-toggle="53">
      <img src="img/infra_gk/circle_no_activ/3.svg">
      <img src="img/infra_gk/circle/3.svg" class="active">
    </a>
  </li>
  <li data-toggle="tooltip" title="tooltip">
    <a href="#" data-pins-toggle="54">
      <img src="img/infra_gk/circle_no_activ/4.svg">
      <img src="img/infra_gk/circle/4.svg" class="active">
    </a>
  </li>
  <li data-toggle="tooltip" title="tooltip">
    <a href="#" data-pins-toggle="55">
      <img src="img/infra_gk/circle_no_activ/5.svg">
      <img src="img/infra_gk/circle/5.svg" class="active">
    </a>
  </li>
</ul>
<div class="empty_box"></div>
{% endblock %}