{% set pageType = "404" %}
{% set title = "Главная страница" %}
{% set isFullSize = true %}
{% set isPageWhite = false %}
{% set isHeaderBg = false %}
{% extends "layout.html" %}

{% block content %}

{# <div class="b-actpoup" id="actpoup1">
    <div class="b-actpoup__inner">
        <div class="b-actpoup__head">ОСТАЛОСЬ <span class="b-actpoup__huge-text">32</span> ДНЯ
            <br><span class="b-actpoup__bold-text">ДО ВЫДАЧИ КЛЮЧЕЙ!!!!</span></div>
        <div class="b-actpoup__corner">
            <div class="b-actpoup__regular-corner-text">ПОДНИМАЕМ ЦЕНЫ
                <br> НА ВСЕ КВАРТИРЫ</div>
            <div class="b-actpoup__bold-corner-text">ЧЕРЕЗ 32 ДНЯ!!</div>
        </div>
        <button class="b-actpoup__close" data-dismiss="modal" onclick="$('#actpoup1').remove();">&nbsp;</button>
    </div>
</div> #}

<script>window.addEventListener("load", ()=>{$(document).on('mozbrowserdocumentfirstpaint', ()=>{console.error('666')})});</script>

{% endblock %}

