<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="css/vendor.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgm86O5ZpcIrBQuPZe-QcV5EVJPDuHejQ"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
</head>

<body class="{% if isFullSize %}full-size{% endif %} l-body--{{ pageType }}">
    <div class="b-preloader b-preloader--active" id='pagePreloader'>
        <div class="b-preloader__background">
            <div class="b-preloader__inner"></div>
        </div>
    </div>
    <a href="tel:74951544959" class="OurPhone">+7 (495) 154-49-59</a>
    {% include "includes/menu.html" %}
    <div id="bd" class="{% if isPageWhite %}white-page{% endif %}">
        <div id="hd" class="b-header">
            <div class="logo">
                <a href="/" title="" class="b-logo">
                    <img src="img/logo.svg" class="b-logo__pic b-logo__pic--dark{% if isPageWhite %} b-logo__pic--hidden{% endif %}" alt="">
                    <img src="img/logo_white.svg" class="b-logo__pic b-logo__pic--white{% if not isPageWhite %} b-logo__pic--hidden{% endif %}" alt="">
                </a>
            </div>
            <a href="#" class="favorit_link">
                <i class="favorit_link_count">2</i>
                <span>Избранное</span>
            </a>
            <ul class="menuHeader">
                <li>
                    <a href="settling.html">о проекте</a>
                    <ul class="menuHeader-sub">
                        <li class="menuHeader-sub__item">
                            <a href="" class="menuHeader-sub__link">О проекте</a>
                        </li>
                        <li class="menuHeader-sub__item">
                            <a href="" class="menuHeader-sub__link">Расположение</a>
                        </li>
                        <li class="menuHeader-sub__item">
                            <a href="" class="menuHeader-sub__link">Галерея</a>
                        </li>
                        <li class="menuHeader-sub__item">
                            <a href="" class="menuHeader-sub__link">Новости</a>
                        </li>
                        <li class="menuHeader-sub__item">
                            <a href="" class="menuHeader-sub__link">Динамика строительства</a>
                        </li>
                        <li class="menuHeader-sub__item">
                            <a href="" class="menuHeader-sub__link">Документы</a>
                        </li>
                        <li class="menuHeader-sub__item">
                            <a href="" class="menuHeader-sub__link">Наши награды</a>
                        </li>
                    </ul>
                </li>
                <li><a href="choice.html">Выбрать квартиру</a></li>
                <li>
                    <a href="choice.html">Как купить</a>
                    <ul class="menuHeader-sub">
                        <li class="menuHeader-sub__item">
                            <a href="" class="menuHeader-sub__link">Рассрочка</a>
                        </li>
                        <li class="menuHeader-sub__item">
                            <a href="" class="menuHeader-sub__link">Ипотека</a>
                        </li>
                        <li class="menuHeader-sub__item">
                            <a href="" class="menuHeader-sub__link">Военная ипотека</a>
                        </li>
                        <li class="menuHeader-sub__item">
                            <a href="" class="menuHeader-sub__link">Материнский капитал</a>
                        </li>
                        <li class="menuHeader-sub__item">
                            <a href="" class="menuHeader-sub__link">Субсидии</a>
                        </li>
                    </ul>
                </li>
                <li class="header-phone-link"><a href="tel:+74951333999">+7 495 1-333-999</a></li>
            </ul>
            <a href="#" class="menu_btn">меню</a>

        </div>

        <div id="hd_bg" class="b-header-bg{% if not isHeaderBg %} b-header-bg--hidden{% endif %}"></div>

        <main id="mainView"> <div class="b-page-content" data-page-vars='{"isFullSize":{% if isFullSize %}1{% else %}0{% endif %},"isPageWhite":{% if isPageWhite %}1{% else %}0{% endif %},"isHeaderBg":{% if isHeaderBg %}1{% else %}0{% endif %},"title":"{{title}}","pageType":"{{pageType}}"}'>{% block content %}{% endblock %}</div> </main>
    </div>
    <div id="ft" class="b-footer">
    {% include "includes/footer-content.html" %}
    </div>

    <div class="b-location-modal popUP_location" id="callMeBackLocationModal">
        <div class="b-location-modal__backdrop"></div>
        <div class="send_letterIpotek lg b-location-modal__inner">

            <div class="wrap">
            <div class="h1">Здравствуйте!</div>
            <div class="note_1">Введите ваши контактные данные, наш менеджер свяжется с Вами в ближайшее время и ответит на интересующие вас вопросы, в удобное для вас время.</div>
            <form id="callMeForm" action="/" method="post">
                <div class="row">
                    <input type="text" name="name" placeholder="Имя *" required>
                </div>
                <div class="row">
                    <input type="tel" name="phone" placeholder="Телефон *" required>

                </div>
                <!--
                <div class="row">
                    <input type="email" name="email" placeholder="E-mail">
                </div>
                <div class="row">
                    <select class="easydropdown">
                        <option>с 14:30&nbsp;&nbsp;-&nbsp;&nbsp;до 15:00</option>
                        <option>с 15:00&nbsp;&nbsp;-&nbsp;&nbsp;до 15:30</option>
                        <option>с 16:00&nbsp;&nbsp;-&nbsp;&nbsp;до 16:30</option>
                        <option>с 17:00&nbsp;&nbsp;-&nbsp;&nbsp;до 17:30</option>
                    </select>
                </div>
                -->
                <div class="row captcha">
                    <img src="img/trash_captcha.gif" alt="" class="pull-right">
                    <input type="text" name="captcha" placeholder="Код с картинки *" class="pull-left">
                </div>

                <div class="note_important"><sup>*</sup> поля, обязательные для заполнения</div>
                <div class="row">
                    {% include "./includes/blocks/b-custom-checkbox.html" %}
                </div>
                <div class="row thanks">
                    <input type="submit" class="btn_orange" value="Спасибо">
                </div>
            </form>
        </div>
        {# <div class="wrap b-form-success">
        <div class="row thanks">
            <div class="h1"><div class="text-center">${response.success}</div></div>
            <span class="btn_orange">Спасибо</span>
        </div>
        </div> #}
        </div>
    </div>

    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
    {% block page_bottom %}{% endblock %}
</body>

</html>
