{% set pageType = "location" %}
{% set title = "Расположение" %}
{% set isFullSize = true %}
{% set isPageWhite = false %}
{% set isHeaderBg = false %}
{% extends "layout.html" %}

{% block content %}
<style>
    .googft-info-window td { background-color: yellow } 
</style>
<div class="container">
    <div class="location">
        <div class="h1_full">
            <h1>Расположение</h1></div> 
        <div id="locationMap" class="map"></div>
    </div>
</div>
<ul class="menuLocation">
    <li class="item_1">
        <a href="#" data-toggle="tooltip" data-location-modal="descriptionLocationModal" title="Расположение"><img src="img/location/1_info.svg" alt=""></a>
    </li>
    <li class="item_2">
        <a href="#" data-toggle="tooltip" data-location-modal="newRoadsLocationModal" title="Новые дороги, развязки"><img src="img/location/2_info.svg" alt=""></a>
    </li>
    <li class="item_3">
        <a href="#" data-toggle="tooltip" data-location-modal="howToGetToLocationModal" title="Kак проехать"><img src="img/location/3_info.svg" alt=""></a>
    </li>
    <li class="item_4">
        <a href="#" data-toggle="tooltip" title="Проложить маршрут" id="showCarRouteOnMapBtn"><img src="img/location/4_info.svg" alt=""></a>
    </li>
</ul>
<div class="b-location-modal popUP_location" id="howToGetToLocationModal">
    <div class="b-location-modal__backdrop"></div>
    <div class="b-location-modal__inner location_text">
        <ul class="nav nav-tabs">
            <li class="item_1">
                <a data-toggle="tab" href="#panel1"><img src="img/location/popup_icon_car.svg" alt=""></a>
            </li>
            <li class="item_2 active">
                <a data-toggle="tab" href="#panel2"><img src="img/location/popup_icon_bus.svg" alt=""></a>
            </li>
            <li class="item_3">
                <a data-toggle="tab" href="#panel3"><img src="img/location/popup_icon_tax.svg" alt=""></a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="panel1" class="tab-pane fade">
                <h4>Личный транспорт</h4>
                <p>От автостанции «Мытищи» автобус №23, 26 до остановки «Микрорайон Пирогово». Время в пути не более 10 минут.</p>
            </div>
            <div id="panel2" class="tab-pane fade in active">
                <h4>Общественный транспорт</h4>
                <p>От станции метро Медведково автобусами №438 до остановки «Округ Пирогово», либо автобус(маршрутка) № 314 до остановки «Микрорайон Пирогово» (От ресторана «Арарат» надо будет пройти вперед 800м). Время в пути не более 20 минут.</p>
                <p>От автостанции «Мытищи» автобус №23, 26 до остановки «Микрорайон Пирогово». Время в пути не более 10 минут.</p>
            </div>

            <div id="panel3" class="tab-pane fade">
                <h4>TAXI</h4>
                <p>Ежедневно в&nbsp;любое удобное для Вас время с&nbsp;10:00 до&nbsp;19:00 наш фирменный транспорт доставит вас от&nbsp;м. Медведково до&nbsp;офиса продаж на&nbsp;объекте.</p>
                <p>Для этого необходимо <a href="#" class="send_letter" data-location-modal="contactsPageFormModal">оставить заявку</a> или позвонить в&nbsp;офис продаж за&nbsp;сутки до&nbsp;планируемой поездки.</p>
                <p>Номер телефона: <span class="call_phone_3">+7&nbsp;495&nbsp;1-333-999</span></p>
                <img src="/img/pr-car.jpg" alt="" class="img-responsive">
            </div>


        </div>
    </div>
    </div>
    <div class="b-location-modal popUP_location" id="descriptionLocationModal">
    <div class="b-location-modal__backdrop"></div>
    <div class="b-location-modal__inner location_text">
        <h4>Расположение</h4>
        <p>ЖК «Пироговская Ривьера» расположен в Мытищинском районе на берегу Пироговского водохранилища в окружении леса всего в 12 км от МКАД по Осташковсому шоссе. До м. Медведково 20-25 мин. общественным транспортом, 10 мин до ж/д Мытищи, откуда на экспрессе можно доехать за 20 мин. до центра Москвы (м. Комсомольская)</p>
    </div>
    </div>
    <div class="b-location-modal popUP_location" id="newRoadsLocationModal">
    <div class="b-location-modal__backdrop"></div>
    <ul class="b-location-modal__inner location_news">
        <li>
            <p>Начата реализация проекта легкого метро до ст. Пушкино и Мытищи.</p>
        </li>
        <li>
            <p>Ведется глобальная реконструкция Ярославского шоссе.</p>
        </li>
        <li>
            <p>Реализуется проект расширения Дмитровского шоссе.</p>
        </li>
        <li>
            <p>Планируется расширение Осташковского шоссе и строительство объездной дороги вокруг д. Пирогово.</p>
        </li>
    </ul>
</div>
<div class="empty_box"></div>

<div class="popUpbgGrad b-location-modal" id="contactsPageFormModal">
    <div class="b-location-modal__backdrop"></div>
    <div class="send_letterIpotek lg b-location-modal__inner">
        <div class="wrap">
            <div class="h1">Оставить заявку</div>
            <div class="note_1">Наш фирменный транспорт доставит вас от
м. Медведково до офиса продаж на объекте.</div>
            <form action="" id="contactsPageForm">
                <div class="row">
                    <input type="text" name="name" placeholder="Имя *" required>
                </div>
                <div class="row">
                    <input type="text" name="phone" placeholder="Телефон *" required>
                </div>
                <div class="row">
                    <input type="text" name="" placeholder="E-mail">
                </div>
                <div class="row">
                    <select class="easydropdown">
                        <option>с 10:30&nbsp;&nbsp;-&nbsp;&nbsp;до 11:00</option>
                        <option>с 11:30&nbsp;&nbsp;-&nbsp;&nbsp;до 12:00</option>
                        <option>с 12:30&nbsp;&nbsp;-&nbsp;&nbsp;до 13:00</option>
                        <option>с 13:30&nbsp;&nbsp;-&nbsp;&nbsp;до 14:00</option>
                        <option>с 14:30&nbsp;&nbsp;-&nbsp;&nbsp;до 15:00</option>
                        <option>с 15:00&nbsp;&nbsp;-&nbsp;&nbsp;до 15:30</option>
                        <option>с 16:00&nbsp;&nbsp;-&nbsp;&nbsp;до 16:30</option>
                        <option>с 17:00&nbsp;&nbsp;-&nbsp;&nbsp;до 17:30</option>
                    </select>
                </div>
                <div class="row captcha">
                    <img src="img/trash_captcha.gif" alt="" class="pull-right">
                    <input type="text" name="captcha" placeholder="Код с картинки *" class="pull-left">
                </div>
                <div class="note_important"><sup>*</sup> поля, обязательные для заполнения</div>
                <!--<div class="row">
                    <input type="submit" name="" value="Отправить" class="btn_orange">
                    <span class="btn_orange">Отправить</span>
                </div>-->
                <div class="row thanks">
                    <input type="submit" name="" value="Отправить" class="btn_orange">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}