{% set pageType = "news" %}
{% set title = "Новости" %}
{% set isFullSize = false %}
{% set isPageWhite = false %}
{% set isHeaderBg = true %}
{% extends "layout.html" %}

{% block content %}
<div class="bg_wave_2"></div>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Главная</a></li>
		<li class="active">Новости</li>
	</ol>
	<div class="breadcrumb_320">Новости</div>
</div>
<div class="news_page listing">
	<div class="container">
		<div class="row">
			<div class="choose_year dropdown" id="yearsDropdownList">
				<a href="#yearsDropdownList" class="active" data-toggle="dropdown" >2016</a>
				<ul class="dropdown-menu">
					<li><a href="#">2016</a></li>
					<li><a href="#">2015</a></li>
					<li><a href="#">2014</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="item">
				<div class="col-xs-1">
					<div class="news_date">
						<span class="day">25</span>
						<span class="month">11</span>
						<span class="year">2016</span>
					</div>
				</div>
				<div class="col-xs-10 col-sm-4">
					<div class="h1"><a href="#">Новые условия ипотеки в ЖК «Пироговская Ривьера»</a></div>
					<p>Новый микрорайон располагается в уникальном природном уголке Подмосковья на берегу Пироговского водохранилища в окружении лесного массива. Эта территория отличается благоприятной экологической обстановкой, которая останется неизменной.</p>
				</div>
			</div>
			<div class="col-sm-1"></div>
			<div class="item">
				<div class="col-xs-1">
					<div class="news_date">
						<span class="day">25</span>
						<span class="month">11</span>
						<span class="year">2016</span>
					</div>
				</div>
				<div class="col-xs-10 col-sm-4">
					<div class="h1"><a href="#">Завершается программа льготной ипотеки</a></div>
					<p>Дорогие клиенты! 31 декабря 2016 года завершится программа государственного субсидирования ипотечных ставок при покупке жилья в новостройках.</p>
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
	<div class="bg_wave_3 news"></div>
	<div class="container">
		<div class="row">
			<div class="item">
				<div class="col-xs-1">
				<div class="news_date">
					<span class="day">25</span>
					<span class="month">11</span>
					<span class="year">2016</span>
				</div>
			</div>
			<div class="col-xs-10 col-sm-4">
				<div class="h1"><a href="#">Новые условия ипотеки в ЖК «Пироговская Ривьера»</a></div>
				<p>Новый микрорайон располагается в уникальном природном уголке Подмосковья на берегу Пироговского водохранилища в окружении лесного массива. Эта территория отличается благоприятной экологической обстановкой, которая останется неизменной. Согласно генеральному плану п. Пирогово Мытищинского района, здесь не предполагается строительство каких-либо промышленных предприятий.</p>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-xs-12 col-sm-6">
				<div class="b-composite-pic clearfix hidden-xs">
					<img class="b-composite-pic__img b-composite-pic__img--left" alt="" src="https://placeholdit.imgix.net/~text?txtsize=45&txt=480%C3%97480&w=480&h=480">
					<img class="b-composite-pic__img b-composite-pic__img--right" alt="" src="https://placeholdit.imgix.net/~text?txtsize=45&txt=480%C3%97480&w=480&h=480">
				</div>
			
			</div>
		</div>
	</div>
	<div class="container">
		<div class="col-sm-1"></div>
		<ul class="pagination">
			<li><a href="#">&larr;</a></li>
			<li><a href="#">1</a></li>
			<li class="active"><span>2</span></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&rarr;</a></li>
		</ul>
	</div>
</div>
<div class="empty_box"></div>
{% endblock %}