{% set pageType = "plans" %}
{% set title = "Рассрочка" %}
{% set isFullSize = false %}
{% set isPageWhite = false %}
{% set isHeaderBg = true %}
{% extends "layout.html" %}

{% block content %}<div class="bg_wave_1">
</div>
<div class="bg_wave_2"></div>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li class="active">Рассрочка</li>
    </ol>
    <div class="breadcrumb_320">Рассрочка</div>
    <div class="container big_name_page">
        <div class="wrap">Рассрочка</div>
    </div>
    <div class="installment">
        <div class="row row_0">

      <div id="plansCarousel" class="row">
        <div class="col-sm-12 col-md-4" style="" tabindex="0">
          <div class="item" style="opacity: 1;">
            <h4 class="rate_head">Базовые условия</h4>
            <div class="rate">14%<sup>**</sup></div>
            <div class="rate_info">При первоначальном взносе <span class="glow">20%</span></div>
            <div class="rate_note">
              <p>—&nbsp;Первоначальный взнос от&nbsp;полной стоимости&nbsp;— от&nbsp;20% и&nbsp;более;
                <br>—&nbsp;Процентная ставка&nbsp;— 14% на&nbsp;остаток суммы кредита;
                <br>— Период предоставления рассрочки&nbsp;— до&nbsp;10 лет.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4" style="" tabindex="-1">
            <div class="item" style="opacity: 1;">
              <h4 class="rate_head">Бай бек 2 года</h4>
              <div class="rate">14% <sup>**</sup></div>
              <div class="rate_info">При первоначальном взносе <span class="glow">40%</span></div>
              <div class="rate_note">
                <p>—&nbsp;Первоначальный взнос от&nbsp;полной стоимости квартиры&nbsp;— от&nbsp;40% и&nbsp;более;
                  <br>—&nbsp;Процентная ставка&nbsp;— 14% на&nbsp;остаток суммы кредита;
                  <br>—&nbsp;После оплаты первого взноса клиенту предоставляется отсрочка по&nbsp;платежам на&nbsp;период до&nbsp;24&nbsp;месяцев;
                  <br>—&nbsp;По&nbsp;завершении «Кредитных каникул» сумму выплат, накопленную за&nbsp;период рассрочки необходимо внести единовременным платежом. Затем выплаты производятся равными (аннуитетными) платежами.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4" style="" tabindex="-1">
              <div class="item" style="opacity: 1;">
                <h4 class="rate_head">Рассрочка на 6 месяцев</h4>
                <div class="rate">0%&nbsp;<sup>***</sup></div>
                <div class="rate_info">При первоначальном взносе <span class="glow">50%</span></div>
                <div class="rate_note">
                  <p>—&nbsp;Первоначальный взнос от&nbsp;полной стоимости&nbsp;— от&nbsp;50% и&nbsp;более;
                    <br> —&nbsp;Процентная ставка&nbsp;— 0%&nbsp;на&nbsp;остаток суммы кредита;
                    <br> —&nbsp;Период предоставления рассрочки&nbsp;— 6&nbsp;месяцев.
                    <br> Схема:
                    <br> 1-й платеж&nbsp;— 50%&nbsp;— в&nbsp;течение 5&nbsp;рабочих дней от&nbsp;даты регистрации ДДУ;
                    <br> 2-й платеж&nbsp;— 25%&nbsp;— через 3&nbsp;месяца от&nbsp;даты ДДУ;
                    <br> 3-й платеж&nbsp;— 25%&nbsp;— через 6&nbsp;месяцев от&nbsp;даты ДДУ.</p>
                  </div>
                </div>
              </div>
            </div>

            <a href="#" class="str_l"></a>
            <a href="#" class="str_r"></a>
          </div>

          <div class="row row_1 text-align_center">
            <a href="#" class="btn_orange">Оставить заявку</a>
          </div>

          <div class="row row_1">
            <div class="col-sm-6">
              <div class="note"><sup>&nbsp;&nbsp;&nbsp;*</sup>Рассрочка от застройщика</div>
              <div class="note"><sup>*&nbsp;*</sup>Рассрочка предоставляется эксклюзивным партнером проекта <a href="#">ООО «Лидер Инвест Групп»</a> по двум документам (паспорт, анкета). Государственная гарантия каждой сделки. Досрочное погашение рассрочки без штрафов и комиссий. <a href="#">Подробнее</a></div>
            </div>
            <div class="col-sm-6">
              <p>Подробнее об условиях приобретения квартиры в рассрочку вы можете узнать в центральном офисе продаж: <span class="bold">Москва, Чапаевский пер., д. 3, офис 8</span></p>
              <p>или по телефону:
                <br><span class="bold">+7 495 1-333-999</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="empty_box"></div>

        {% endblock %}
