{% set pageType = "bank" %}
{% set title = "Банк" %}
{% set isFullSize = false %}
{% set isPageWhite = false %}

{% set isHeaderBg = true %}
{% extends "layout.html" %}

{% block content %}
<div class="bg_wave_2"></div>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="#">Ипотека</a></li>
        <li class="active">Сбербанк</li>
    </ol>
    <div class="breadcrumb_320">Ипотека</div>
</div>
<div class="container">
  <div class="row">
    <div class="item col-md-6 newsItem-settle">

      <div class="col-md-11 col-xs-10 col-sm-6">
        <div class="h1"><a href="#">Выдача <br/>ключей</a></div>
        <p>Новый микрорайон располагается в уникальном природном уголке Подмосковья на берегу Пироговского водохранилища в окружении лесного массива. Эта территория отличается благоприятной экологической обстановкой, которая останется неизменной.</p>
      </div>
    </div>
    <div class="item col-md-6 newsItem-settle">

      <div class="col-md-11 col-xs-10 col-sm-6">
        <div class="h1"><a href="#">Кладовые <br/>помещения</a></div>
        <p>Дорогие клиенты! 31 декабря 2016 года завершится программа государственного субсидирования ипотечных ставок при покупке жилья в новостройках.</p>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>

<div class="container Settle">
  <div class="row">
    <a href="#" class="Settle_cardWrapper col-md-3 col-sm-6 col-xs-12">
      <div class="Settle_card">
        <hr/>
        <h4>Шаблон заявки на предпоказ квартир</h4>
        <div class="Settle_sizeWrapper">
          <span class="Settle_size">547 КБ</span>
          <span><img src="/img/adobe.svg"></span>
        </div>
      </div>
    </a>
    <a href="#" class="Settle_cardWrapper col-md-3 col-sm-6 col-xs-12">
      <div class="Settle_card">  
        <hr/>
        <h4>Шаблон заявки на предпоказ квартир</h4>
        <div class="Settle_sizeWrapper">
          <span class="Settle_size">547 КБ</span>
          <span><img src="/img/adobe.svg"></span>
        </div>
      </div>
    </a>
    <a href="#" class="Settle_cardWrapper col-md-3 col-sm-6 col-xs-12">
      <div class="Settle_card">
        <hr/>
        <h4>Шаблон заявки на предпоказ квартир</h4>
        <div class="Settle_sizeWrapper">
          <span class="Settle_size">547 КБ</span>
          <span><img src="/img/adobe.svg"></span>
        </div>
      </div>
    </a>
    <a href="#" class="Settle_cardWrapper col-md-3 col-sm-6 col-xs-12">
      <div class="Settle_card">
        <hr/>
        <h4>Шаблон заявки на предпоказ квартир</h4>
        <div class="Settle_sizeWrapper">
          <span class="Settle_size">547 КБ</span>
          <span><img src="/img/adobe.svg"></span>
        </div>
      </div>
    </a>
    <a href="#" class="Settle_cardWrapper col-md-3 col-sm-6 col-xs-12">
      <div class="Settle_card">
        <hr/>
        <h4>Шаблон заявки на предпоказ квартир</h4>
        <div class="Settle_sizeWrapper">
          <span class="Settle_size">547 КБ</span>
          <span><img src="/img/adobe.svg"></span>
        </div>
      </div>
    </a>
    <a href="#" class="Settle_cardWrapper col-md-3 col-sm-6 col-xs-12">
      <div class="Settle_card">  
        <hr/>
        <h4>Шаблон заявки на предпоказ квартир</h4>
        <div class="Settle_sizeWrapper">
          <span class="Settle_size">547 КБ</span>
          <span><img src="/img/adobe.svg"></span>
        </div>
      </div>
    </a>
    <a href="#" class="Settle_cardWrapper col-md-3 col-sm-6 col-xs-12">
      <div class="Settle_card">
        <hr/>
        <h4>Шаблон заявки на предпоказ квартир</h4>
        <div class="Settle_sizeWrapper">
          <span class="Settle_size">547 КБ</span>
          <span><img src="/img/adobe.svg"></span>
        </div>
      </div>
    </a>
    <a href="#" class="Settle_cardWrapper col-md-3 col-sm-6 col-xs-12">
      <div class="Settle_card">
        <hr/>
        <h4>Шаблон заявки на предпоказ квартир</h4>
        <div class="Settle_sizeWrapper">
          <span class="Settle_size">547 КБ</span>
          <span><img src="/img/adobe.svg"></span>
        </div>
      </div>
    </a>

  </div>
</div>

<div class="empty_box"></div>
{% endblock %}