{% set pageType = "settling" %}
{% set title = "Заселение" %}
{% set isFullSize = false %}
{% set isPageWhite = false %}
{% set isHeaderBg = true %}
{% extends "layout.html" %}
{% block content %}
<div class="bg_wave_2"></div>
<div class="container">
  <ol class="breadcrumb">
    <li>
      <a href="/">Главная</a>
    </li>
    <li class="active">Заселение</li>
  </ol>
  <div class="breadcrumb_320">Заселение</div>
  <div class="container big_name_page">
    <div class="wrap">Заселение</div>
  </div>
  <div class="settlement">

    <h1>Показ квартир</h1>
    <p><a href="#contactsModal" data-toggle="modal" class="btn_orange">Контакты</a></p>
    <div class="row">
      <div class="col-md-5">
        <p>Уважаемые покупатели, мы начинаем предварительный показ квартир в корпусах 17,18,19.</p>
        <p>Он будет организован в период с <span class="glow">20.07.2017</span> по <span class="glow">25.07.2017</span>.
          <br>В рабочие часы с <span class="glow">10:00 ч</span> по <span class="glow">18:00 ч</span>.</p>
          <p>Чтобы каждый покупатель смог спокойно посмотреть свою квартиру, показ осуществляется<span class="bold"> строго по записи</span> и&nbsp;в&nbsp;указанное выше время.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <p>Запись на показ осуществляется: по телефону
            <br><span class="glow">+7 495 241 96 08</span> или на e-mail <a href="mailto:support@pirogovo-riviera.ru" class="glow">support@pirogovo-riviera.ru</a></p>
            <p>В день показа при себе необходимо иметь:
              <br><span class="bold">Паспорт, Договор БТИ</span></p>
              <p>Прием покупателей для показа квартир:
                <br><span class="bold">МО, городской округ Мытищи , дер.&nbsp;Пирогово, ул.&nbsp;Центральная, д.1</span></p>
              </div>
            </div>
            <div class="docs_list clearfix">
              <div class="row">
                <div class="item"><a href="/upload/information_system_18/1/6/2/item_1624/information_items_property_4884.pdf" class="doc" target="_blank"><span class="name">Документ один</span><span class="format">1606&nbsp;КБ
                 <img src="/img/icon_pdf.svg" alt=""></span><span class="btn_orange">Скачать 1606&nbsp;КБ</span></a></div>
                 <div class="item"><a href="/upload/information_system_18/1/6/2/item_1629/information_items_property_4884.pdf" class="doc" target="_blank"><span class="name">Документ один [Копия от 14.07.2017 18:00:43]</span><span class="format">1606&nbsp;КБ
                   <img src="/img/icon_pdf.svg" alt=""></span><span class="btn_orange">Скачать 1606&nbsp;КБ</span></a></div>
                   <div class="item"><a href="/upload/information_system_18/1/6/3/item_1630/information_items_property_4884.pdf" class="doc" target="_blank"><span class="name">Документ один [Копия от 14.07.2017 18:00:44]</span><span class="format">1606&nbsp;КБ
                     <img src="/img/icon_pdf.svg" alt=""></span><span class="btn_orange">Скачать 1606&nbsp;КБ</span></a></div>
                     <div class="item"><a href="/upload/information_system_18/1/6/3/item_1631/information_items_property_4884.pdf" class="doc" target="_blank"><span class="name">Документ один [Копия от 14.07.2017 18:00:46]</span><span class="format">1606&nbsp;КБ
                       <img src="/img/icon_pdf.svg" alt=""></span><span class="btn_orange">Скачать 1606&nbsp;КБ</span></a></div>
                       <div class="item"><a href="/upload/information_system_18/1/6/3/item_1632/information_items_property_4884.pdf" class="doc" target="_blank"><span class="name">Документ один [Копия от 14.07.2017 18:00:47]</span><span class="format">1606&nbsp;КБ
                         <img src="/img/icon_pdf.svg" alt=""></span><span class="btn_orange">Скачать 1606&nbsp;КБ</span></a></div>
                         <div class="clearfix"></div>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="empty_box"></div>
                 <div class="modal fade" id="contactsModal">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="settlement_contacts">
                        <div class="text">
                          <h5>Прием покупателей для показа квартир</h5>
                          <p>При использовании навигатора введите в поиск ЖК «Пироговская Ривьера» обязательно поставьте кавычки в названии» и выберете один из двух офисов, отображенных на карте.</p>
                          <dl class="dl-horizontal">
                            <dt>Адрес</dt>
                            <dd>МО, городской округ Мытищи , дер. Пирогово, ул. Центральная, д.1</dd>
                            <dt>Телефон</dt>
                            <dd>+7 495 241-92-28</dd>
                            <dt>Почта</dt>
                            <dd><a href="mailto:support@pirogovo-riviera.ru">support@pirogovo-riviera.ru</a></dd>
                            <dt>GPS</dt>
                            <dd>Широта: 55°47'54.8"N (55.798549)
                              <br>Долгота: 37°31'14.7"E (37.520746)</dd>
                            </dl>
                          </div>
                          <div class="map"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endblock %}
