{% set pageType = "sitemap" %}
{% set title = "Карта сайта" %}
{% set isPageWhite = false %}
{% set isFullSize = false %}
{% set isHeaderBg = true %}
{% extends "layout.html" %}
{% block content %}
<div class="bg_wave_1"></div>
<div class="bg_wave_2"></div>

<div class="container">
	<ol class="breadcrumb">
		<li>
			<a href="/">Главная</a>
		</li>
		<li class="active">{{ title }}</li>
	</ol>
	<div class="breadcrumb_320">{{ title }}</div>
<div class="row hidden-xs">
	<div class="col-sm-7">
		<h1>{{ title }}</h1>
	</div>
</div>

<nav class="SiteMap">
    <div class="SiteMap_group">
        <h5 class="SiteMap_groupHead">О проекте</h5>
        <ul class="SiteMap_list">
            <li class="SiteMap_item">
                <a href="/about.html" class="SiteMap_link">О проекте</a>
            </li>
            <li class="SiteMap_item">
                <a href="/location.html" class="SiteMap_link">Расположение</a>
            </li>
            <li class="SiteMap_item">
                <a href="/gallery.html" class="SiteMap_link">Галерея</a>
            </li>
            <li class="SiteMap_item">
                <a href="/news.html" class="SiteMap_link">Новости</a>
            </li>
            <li class="SiteMap_item">
                <a href="/diary.html" class="SiteMap_link">Динамика строительства</a>
            </li>
            <li class="SiteMap_item">
                <a href="/docs.html" class="SiteMap_link">Документы</a>
            </li>
            <li class="SiteMap_item">
                <a href="/404.html" class="SiteMap_link">Наши награды</a>
            </li>
        </ul>
    </div>
    <div class="SiteMap_group">
        <h5 class="SiteMap_groupHead"><a href="/actions.html" class="SiteMap_headLink">Акции</a></h5>
    </div>
    <div class="SiteMap_group">
        <h5 class="SiteMap_groupHead">Инфраструктура</h5>
        <ul class="SiteMap_list">
            <li class="SiteMap_item">
                <a href="/infras-external.html" class="SiteMap_link">Инфраструктура района</a>
            </li>
            <li class="SiteMap_item">
                <a href="/infras-internal.html" class="SiteMap_link">Инфраструктура ЖК</a>
            </li>
        </ul>
    </div>
    <div class="SiteMap_group">
        <h5 class="SiteMap_groupHead">Как купить</h5>
        <ul class="SiteMap_list">
            <li class="SiteMap_item">
                <a href="/plans.html" class="SiteMap_link">Рассрочка</a>
            </li>
            <li class="SiteMap_item">
                <a href="/hypothec.html" class="SiteMap_link">Ипотека</a>
            </li>
            <li class="SiteMap_item">
                <a href="/hypothec-military.html" class="SiteMap_link">Военная ипотека</a>
            </li>
            <li class="SiteMap_item">
                <a href="/404.html" class="SiteMap_link">Материнский капитал</a>
            </li>
            <li class="SiteMap_item">
                <a href="/subsidies.html" class="SiteMap_link">Субсидии</a>
            </li>
        </ul>
    </div>
    <div class="SiteMap_group">
        <h5 class="SiteMap_groupHead"> Квартиры</h5>
        <ul class="SiteMap_list">
            <li class="SiteMap_item">
                <a href="/flats.html" class="SiteMap_link">Подбор на генплане</a>
            </li>
            <li class="SiteMap_item">
                <a href="/flats.html" class="SiteMap_link">Подбор по параметрам</a>
            </li>
        </ul>
    </div>
    <div class="SiteMap_group">
        <h5 class="SiteMap_groupHead"><a href="/furnish.html" class="SiteMap_headLink">Отделка</a></h5>
    </div>
    <div class="SiteMap_group">
        <h5 class="SiteMap_groupHead"><a href="/contacts.html" class="SiteMap_headLink">Контакты</a></h5>
    </div>
</nav>
</div>
<div class="empty_box"></div>
{% endblock %}