{% set pageType = "subsidies" %}
{% set title = "Субсидии" %}
{% set isFullSize = false %}
{% set isPageWhite = false %}
{% set isHeaderBg = true %}
{% extends "layout.html" %}
{% block content %}
<div class="bg_wave_2"></div>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li class="active">Ипотека</li>
    </ol>
    <div class="breadcrumb_320">Ипотека</div>
    <div class="subsidies">
        <div class="row">
            <div class="col-sm-9">
                <h2 class="subsidies_title">Приобретение квартир в рамках программы Правительства г. Москвы о&nbsp;предоставлении субсидии на приобретение недвижимости.</h2>

                <div class="subsidies-block">
                    <h3 class="subsidies_subtitle">Кто имеет право на жилищную субсидию:</h3>

                    <p>На получение жилищной субсидии на приобретение или строительства жилых помещений, могут претендовать граждане, признанные в установленном порядке, нуждающимися в улучшении жилищных условий либо нуждающимися в содействии города Москвы в приобретении жилых помещений, и вставшие на очередь по улучшению жилищных условий до 1 марта 2005 года.</p>

                    <p>Основные нормативные документы, регулирующие вопрос предоставления и использования субсидий:</p>

                    <ul class="subsidies-list">
                        <li class="blue-markers">Закон города Москвы № 29 от 14.06.2006 года «Об обеспечении права жителей города Москвы на жилые помещения»</li>
                        <li class="blue-markers">Постановление Правительства Москвы от 26.10.2004 года. № 729 –ПП «О предоставлении жителям города Москвы субсидии на строительство или приобретения жилища»</li>
                    </ul>

                    <p>Относитесь ли Вы в категории граждан, кому могут быть предоставлены субсидии? Подробный список категорий граждан, имеющих возможность на их получение, Вы можете получить на сайте Департамента жилищной политики и жилищного фонда города Москвы <br> <a target="_blank" href="http://housing.mos.ru/">http://housing.mos.ru/</a> </p>
                </div>

                <div class="subsidies-block">
                    <h3 class="subsidies_subtitle">4 простых шагов в приобретении квартиры по субсидиям</h3>

                    <ul class="subsidies-list">
                        <li class="blue-markers">Получить консультацию у специалиста компании</li>
                        <li class="blue-markers">Оформить свидетельство о предоставлении субсидии в Департаменте городского имущества города Москвы по месту регистрации</li>
                        <li class="blue-markers">Открыть именной блокированный целевой счет (ИБЦС) в Банке и заключить договор на реализацию субсидии с ГБУ «Центр имущественных платежей и жилищного страхования» (ГБУ ЦИПЖС)</li>
                        <li class="blue-markers">Оформить договор на приобретение жилья с возможностью использования личных средств и/или ипотечного кредита.</li>
                    </ul>
                </div>

                <div class="subsidies-block">
                    <h3 class="subsidies_subtitle">Размер субсидии</h3>

                    <p>Многодетным семьям, состоящим на учете нуждающихся в улучшении жилищных условий, либо нуждающихся в содействии города Москвы в приобретении жилых помещений и имеющим трех и более несовершеннолетних детей, по их желанию может быть предоставлена субсидия в размере нормативной стоимости жилого помещения.</p>

                    <p>При расчете субсидии учитываются следующие условия:</p>

                    <ul class="subsidies-list">
                        <li class="blue-markers">Возможность предоставления субсидии в дополнение к занимаемой площади</li>
                        <li class="blue-markers">Излишки жилой площади, имеющиеся у членов семьи очередника <br> (в том числе в собственности)</li>                        
                    </ul>
                </div>

                <div class="subsidies-block">
                    <p class="area-room-title">Норма предоставления площади жилого помещения, используемая при расчете субсидии:</p>
                    <ul class="subsidies-list">
                        <li class="blue-text-markers"><span>36 м<sup>2</sup></span>Для одиноко проживающего или единственного гражданина, состоящего на жилищном учете</li>
                        <li class="blue-text-markers"><span>18 м<sup>2</sup></span>На одного гражданина</li>
                        <li class="blue-text-markers"><span>50 м<sup>2</sup></span>На семью из двух граждан</li>
                        <li class="blue-text-markers"><span>70 м<sup>2</sup></span>На семью из трех граждан</li>
                        <li class="blue-text-markers"><span>85 м<sup>2</sup></span>На семью из четырех граждан</li>
                        <li class="blue-text-markers"><span>x18 м<sup>2</sup></span>На каждого в семье из пяти и более граждан</li>
                    </ul>
                </div>

                <div class="subsidies-block">
                   <h3 class="subsidies_subtitle">Пример расчета</h3>

                    <div class="example-calculation">
                        <span>ОДИНОКО ПРОЖИВАЮЩИЙ ГРАЖДАНИН</span>
                        <p>36 кв.м х стоимость 1 кв. метра по субсидии х 60%* = конечный размер субсидии</p>
                    </div>
                    <div class="example-calculation">
                        <span>СЕМЬЯ ИЗ ДВУХ ГРАЖДАН</span>
                        <p>50 кв.м х стоимость 1 кв. метра по субсидии х 67%* = конечный размер субсидии</p>
                    </div>
                    <div class="example-calculation">
                        <span>СЕМЬЯ ИЗ ТРЕХ ГРАЖДАН</span>
                        <p>70 кв.м х стоимость 1 кв. метра по субсидии х 65%* = конечный размер субсидии</p>
                    </div>
                    <div class="example-calculation">
                        <span>СЕМЬЯ ИЗ ЧЕТЫРЕХ ГРАЖДАН</span>
                        <p>85 кв.м х стоимость 1 кв. метра по субсидии х 64%* = конечный размер субсидии</p>
                    </div>
                    <div class="example-calculation">
                        <span>СЕМЬЯ ИЗ ПЯТИ ИЛИ БОЛЕЕ ГРАЖДАН</span>
                        <p>N х 18 кв.м х стоимость 1 кв. метра по субсидии х 70%* = конечный размер субсидии</p>
                    </div>

                    <p>Стоимость 1 кв. метра по субсидии на жилье ежеквартально устанавливается Правительством Москвы. Величина указанного процента регулируется Приложением 3 к Закону города Москвы от 14.06.2006 N 29 "Об обеспечении права жителей города Москвы на жилые помещения" (в ред. Законов г. Москвы от 24.01.2007 N 2, от 18.06.2008 N 24)</p>
                </div>


                <div class="subsidies-block">
                    <h3 class="subsidies_subtitle">Ограничения</h3>
                    <p>Очередник получивший свидетельство «Субсидии для приобретения или строительства жилого помещения», не может приобрести квартиру меньшей площади нормы предоставления жилого помещения по социальному найму.</p>                    
                </div>

                <div class="subsidies-block">
                    <h3 class="subsidies_subtitle">Субсидия и ипотека</h3>
                    <p>Если не хватает средств субсидии на покупку квартиры, можно добавить ипотечные средства банков партнеров: «Сбербанка» и «Возрождение».</p>
                </div>
            </div>
        </div>
    </div>
    
</div>


<div class="empty_box"></div>
{% include "./includes/hypothec-form-modal.html" %}
{% endblock %}
