{% set pageType = "test" %}
{% set title = "Инфраструктура внутренняя" %}
{% set isFullSize = true %}
{% set isPageWhite = true %}
{% set isHeaderBg = false %}
{% extends "layout.html" %} 
{% block content %}
<div class="container">
    <div class="location">
        <div class="h1_full">
            <h1>Инфраструктура ЖК</h1></div>
        <div class="b-infras-inter b-fitblock">
            <div class="b-infras-inter__inner b-fitblock__inner">
                <img src="img/infra_gk/bg_infra_gk.jpg" alt="" class="b-infras-inter__pusher b-fitblock__pusher" style="" width="2560" height="1600">    
                <a href="#" class="point" style="left:20%; top:20%;" data-toggle="tooltip" title="tooltip"><img src="img/infra_gk/map_point/1_1.svg" alt=""></a>
                <a href="#" class="point" style="left:25%; top:25%;" data-toggle="tooltip" title="tooltip"><img src="img/infra_gk/map_point/1_2.svg" alt=""></a>
                <a href="#" class="point" style="left:30%; top:30%;" data-toggle="tooltip" title="tooltip"><img src="img/infra_gk/map_point/1_3.svg" alt=""></a>
                <a href="#" class="point" style="left:35%; top:35%;" data-toggle="tooltip" title="tooltip"><img src="img/infra_gk/map_point/2_1.svg" alt=""></a>
                <a href="#" class="point" style="left:40%; top:40%;" data-toggle="tooltip" title="tooltip"><img src="img/infra_gk/map_point/2_2.svg" alt=""></a>
                <a href="#" class="point" style="left:45%; top:45%;" data-toggle="tooltip" title="tooltip"><img src="img/infra_gk/map_point/2_3.svg" alt=""></a>
                <a href="#" class="point" style="left:50%; top:50%;" data-toggle="tooltip" title="tooltip"><img src="img/infra_gk/map_point/2_4.svg" alt=""></a>
                <a href="#" class="point" style="left:55%; top:55%;" data-toggle="tooltip" title="tooltip"><img src="img/infra_gk/map_point/2_5.svg" alt=""></a>
                <a href="#" class="point" style="left:60%; top:60%;" data-toggle="tooltip" title="tooltip"><img src="img/infra_gk/map_point/3_1.svg" alt=""></a>
                <a href="#" class="point" style="left:20%; top:30%;" data-toggle="tooltip" title="tooltip"><img src="img/infra_gk/map_point/3_2.svg" alt=""></a>
                <a href="#" class="point" style="left:25%; top:35%;" data-toggle="tooltip" title="tooltip"><img src="img/infra_gk/map_point/4_1.svg" alt=""></a>
                <a href="#" class="point" style="left:30%; top:40%;" data-toggle="tooltip" title="tooltip"><img src="img/infra_gk/map_point/4_2.svg" alt=""></a>
                <a href="#" class="point" style="left:35%; top:45%;" data-toggle="tooltip" title="tooltip"><img src="img/infra_gk/map_point/4_3.svg" alt=""></a>
                <a href="#" class="point" style="left:40%; top:50%;" data-toggle="tooltip" title="tooltip"><img src="img/infra_gk/map_point/4_4.svg" alt=""></a>
                <a href="#" class="point" style="left:45%; top:55%;" data-toggle="tooltip" title="tooltip"><img src="img/infra_gk/map_point/4_5.svg" alt=""></a>
                <a href="#" class="point" style="left:50%; top:60%;" data-toggle="tooltip" title="tooltip"><img src="img/infra_gk/map_point/5_1.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>
<ul class="menuLocation infro">
    <li>
        <a href="#">
            <img src="img/infra_gk/circle_no_activ/1.svg" alt="">
            <img src="img/infra_gk/circle/1.svg" class="active" alt="">
        </a>
    </li>
    <li class="sel">
        <a href="#">
            <img src="img/infra_gk/circle_no_activ/2.svg" alt="">
            <img src="img/infra_gk/circle/2.svg" class="active" alt="">
        </a>
    </li>
    <li>
        <a href="#">
            <img src="img/infra_gk/circle_no_activ/3.svg" alt="">
            <img src="img/infra_gk/circle/3.svg" class="active" alt="">
        </a>
    </li>
    <li>
        <a href="#">
            <img src="img/infra_gk/circle_no_activ/4.svg" alt="">
            <img src="img/infra_gk/circle/4.svg" class="active" alt="">
        </a>
    </li>
    <li>
        <a href="#">
            <img src="img/infra_gk/circle_no_activ/5.svg" alt="">
            <img src="img/infra_gk/circle/5.svg" class="active" alt="">
        </a>
    </li>
</ul>
<div class="empty_box"></div>
{% endblock %}
{% block page_bottom %}
<script src="/js/test.js"></script>
{% endblock %}
