{% set pageType = "tours" %}
{% set title = "Виртуальный тур" %}
{% set isFullSize = true %}
{% set isPageWhite = true %}
{% set isHeaderBg = false %}
{% extends "layout.html" %}

{% block content %}
<div class="VT">
	<div class="h1_full"><h1>Виртуальный тур</h1></div>
	<a href="#" title="" class="point" style="left:45%; top:15%;"></a>
</div>

<div class="empty_box"></div>
{% endblock %}