{% set pageType = "tour-single" %}
{% set title = "Виртуальный тур" %}
{% set isFullSize = true %}
{% set isPageWhite = true %}
{% set isHeaderBg = false %}
{% extends "layout.html" %}

{% block content %}
<div class="VT">
	<div class="h1_full"><h1>Виртуальный тур</h1></div>
	<div class="view"><img src="img/trash_view.jpg" alt="" style="width:100%; height:100%;"></div>
	<!--<a href="#" title="" class="switch night"></a>-->
	<a href="#" title="" class="switch day"></a>
	<a href="#" title="" class=" btn_orange">Выбрать ракурс</a>
</div>
<div class="popUP_choice_view" style="display:none;">
	<div class="wrap">
		<div class="name">Выберите другой ракурс</div>
		<div class="plan">
			<a href="#" style="left:40%; top:10%;"></a>
			<a href="#" style="left:48%; top:20%;"></a>
			<a href="#" style="left:48%; top:30%;"></a>
		</div>
	</div>
</div>
<div class="empty_box"></div>
{% endblock %}