@font-face {
	font-family: "AvenirNextCyr";
	src: url("../fonts/AvenirNextCyr.eot");
	src: url("../fonts/AvenirNextCyr.eot") format("embedded-opentype"), url("../fonts/AvenirNextCyr.woff") format("woff"),
		url("../fonts/AvenirNextCyr.ttf") format("truetype"), url("../fonts/AvenirNextCyr.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AvenirNextCyr";
	src: url("../fonts/AvenirNextCyrMedium.eot");
	src: url("../fonts/AvenirNextCyrMedium.eot") format("embedded-opentype"),
		url("../fonts/AvenirNextCyrMedium.woff") format("woff"), url("../fonts/AvenirNextCyrMedium.ttf") format("truetype"),
		url("../fonts/AvenirNextCyrMedium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "AvenirNextCyr";
	src: url("../fonts/AvenirNextCyrDemi.eot");
	src: url("../fonts/AvenirNextCyrDemi.eot") format("embedded-opentype"),
		url("../fonts/AvenirNextCyrDemi.woff") format("woff"), url("../fonts/AvenirNextCyrDemi.ttf") format("truetype"),
		url("../fonts/AvenirNextCyrDemi.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "AvenirNextCyr";
	src: url("../fonts/AvenirNextCyrBold.eot");
	src: url("../fonts/AvenirNextCyrBold.eot") format("embedded-opentype"),
		url("../fonts/AvenirNextCyrBold.woff") format("woff"), url("../fonts/AvenirNextCyrBold.ttf") format("truetype"),
		url("../fonts/AvenirNextCyrBold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "AvenirNextCyr";
	src: url("../fonts/AvenirNextCyrItalic.eot");
	src: url("../fonts/AvenirNextCyrItalic.eot") format("embedded-opentype"),
		url("../fonts/AvenirNextCyrItalic.woff") format("woff"), url("../fonts/AvenirNextCyrItalic.ttf") format("truetype"),
		url("../fonts/AvenirNextCyrItalic.svg") format("svg");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "rivera dynamic icons";
	src: url("../fonts/rivera-dynamic-icons.eot");
	src: url("../fonts/rivera-dynamic-icons.eot?#iefix") format("embedded-opentype"),
		url("../fonts/rivera-dynamic-icons.woff") format("woff"),
		url("../fonts/rivera-dynamic-icons.ttf") format("truetype"),
		url("../fonts/rivera-dynamic-icons.svg#rivera-dynamic-icons") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class*="icon-"]:before {
	display: inline-block;
	font-family: "rivera dynamic icons";
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-logo_rg:before {
	display: inline-block;
	height: 27px;
	width: 58px;
	background-image: url(/img/sdi-logo-dark.svg);
	background-size: contain;
	background-position: 100% 0;
	content: "";
	background-repeat: no-repeat;
}

.b-footer__icons--white .icon-logo_rg:before,
.b-footer--left .icon-logo_rg:before {
	background-image: url("/img/sdi-logo-light.svg");
}

.icon-logo_blue-ant:before {
	content: "\0042";
}
.icon-vk:before {
	content: "\0043";
}
.icon-menu_white:before {
	content: "\0044";
}
.icon-phoneTop_white:before {
	content: "\0046";
}
.icon-inst:before {
	content: "\004b";
}
.icon-fb:before {
	content: "\004d";
}
