.scrollbar-pusher {
	height: 10px;
	background: red;
	overflow-y: scroll;
}

@-moz-document url-prefix() {
	.scrollbar-pusher {
		display: none !important;
	}
}

.l-va {
	display: table;
	&--full-height {
		height: 100%;
	}
	&__inner {
		display: table-cell;
		vertical-align: middle;
	}
}

.l-body {
	&--genplan,
	&--location,
	&--infras-external,
	&--infras-internal,
	&--contacts,
	&--house {
		& .h1_full {
			position: fixed;
			white-space: nowrap;
			left: 0;
			z-index: 2;
		}
	}

	&--infras-internal,
	&--infras-external {
		& .h1_full > h1 {
			@media (--smHor) {
				top: 116px;
			}

			@media (--xs) {
				top: 76px;
			}
		}
	}

	&--gallery,
	&--diary,
	&--homepage,
	&--floor {
		& .b-header-bg {
			&--hidden {
				@media (max-height: 821px) {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
