.white-page {
	color: #fff;
	& a {
		color: #fff;
	}
	& a:hover {
		color: #fff;
	}
	& h1 {
		color: #fff;
	}
	& #bd {
		padding: 0;
	}
	& .container {
		position: absolute;
		left: 0;
		top: 0;
		width: 100% !important;
		height: 100%;
		max-width: 100%;
	}
	/*.container { position:relative; left:0; top:0; width:100% !important; min-height:100vh; max-width:100%;}*/
	& .breadcrumb_320 {
		position: absolute;
		left: 30px;
		top: 78px;
	}
	/*     html {
    min-height: 0;
} */
	& .menu_btn {
		background-image: url(../img/icon_menu_white.svg);
	}
	& .menuFooter .st0 {
		fill: #ffffff;
	}
	& .aboutRg_bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../img/bg_rg.jpg) center no-repeat;
		background-size: cover;
	}
	& .aboutRg {
		overflow: hidden;
	}
	/*.aboutRg .container { position:absolute; left:50%; top:auto; bottom:111px; height:auto; -webkit-transform:translateX(-50%); transform:translateX(-50%);}*/
	& .aboutRg .container {
		position: absolute;
		left: 0;
		top: auto;
		bottom: 111px;
		width: 100%;
		height: auto;
	}
	& .aboutRg h1 + .col-md-5 p {
		margin-left: 30px;
	}
	& .aboutRg p {
		margin: 0 0 25px;
	}
	& .logo_rg {
		text-align: center;
		margin-bottom: 78px;
	}
	& .gotoRG {
		position: absolute;
		right: 2px;
		top: 242px;
		height: 35px;
		padding: 0 13px 0 38px;
		border: 2px solid #68aae1;
		border-radius: 17px;
		font-weight: 600;
		font-size: 12px;
		line-height: 31px;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		color: #fff;
		background: url(../img/icon_rg_cursor.svg) 16px center no-repeat;
		z-index: 1;
	}
	& .VT {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../img/bg_virt.jpg) center no-repeat;
		background-size: cover;
	}
	& .VT .point {
		position: absolute;
		background: url(../img/icon_pointVT.svg) center no-repeat;
		background-size: contain;
		width: 74px;
		height: 61px;
		z-index: 2;
	}
	& .VT .view {
		width: 100%;
		height: 100%;
	}
	& .VT .switch {
		position: absolute;
		right: 60px;
		top: 140px;
		background: url(../img/icon_day_night.png) left top no-repeat;
		width: 47px;
		height: 25px;
	}
	& .VT .switch:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		background: url(../img/icon_day_night.png) left bottom no-repeat;
		width: 47px;
		height: 25px;
		opacity: 0;
	}
	& .VT .switch.night:before {
		opacity: 1;
	}
	& .VT .btn_orange {
		position: absolute;
		left: 50%;
		bottom: 140px;
		width: 250px;
		height: 53px;
		line-height: 53px;
		border-radius: 26px;
		padding: 0;
		text-align: center;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	& .VT .btn_orange:hover {
		box-shadow: 25px 25px 55px rgba(248, 168, 68, 0.21);
	}
	& .popUP_choice_view {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		font-size: 14px;
		line-height: 20px;
		color: #929292;
		z-index: 100;
	}
	& .popUP_choice_view:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #000;
		background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
		background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
		filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#000', GradientType=1);
		opacity: 0.5;
	}
	& .popUP_choice_view .wrap {
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 456px;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		background: #fff;
		border-radius: 8px 8px 0 0;
	}
	& .popUP_choice_view .name {
		height: 77px;
		line-height: 77px;
		text-align: center;
		font-weight: 600;
		font-size: 18px;
		color: #000;
	}
	& .popUP_choice_view .plan {
		height: 422px;
		background: url(../img/trash_map_1.jpg) center no-repeat;
		background-size: cover;
		position: relative;
	}
	& .popUP_choice_view .plan a {
		position: absolute;
		width: 17px;
		height: 17px;
	}
	& .popUP_choice_view .plan a:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		opacity: 0.7;
		border-radius: 8px;
	}
	& .popUP_choice_view .plan a:after {
		content: "";
		position: absolute;
		left: 5px;
		top: 5px;
		width: 7px;
		height: 7px;
		border-radius: 3px;
		background: #3a98c1;
	}
	& .genplan .point {
		position: absolute;
		text-align: center;
		font-size: 11px;
		font-weight: 500;
		color: #000;
		z-index: 1;
	}
	& .genplan .point:after {
		content: "";
		position: absolute;
		left: 9px;
		bottom: -14px;
		border: 8px solid transparent;
		border-top: 8px solid #fff;
	}
	& .genplan .wrap_point {
		width: 34px;
		height: 34px;
		padding: 5px;
		border-radius: 50%;
		position: relative;
		z-index: 1;
		&--blue {
			background: linear-gradient(90deg, #a4cfe0, #3086ad);
		}
		&--violet {
			background: linear-gradient(90deg, #5e2c80, #3b2f71);
		}
	}
	& .genplan .numder_point {
		display: block;
		width: 24px;
		height: 24px;
		padding-right: 1px;
		background: #fff;
		border-radius: 50%;
		line-height: 24px;
		position: relative;
		z-index: 1;
	}
	& .genplan .point_ready {
		position: absolute;
		font-size: 16px;
		font-weight: 500;
		color: #000;
		letter-spacing: -0.1em;
		z-index: 1;
		cursor: pointer;
		&--sale-office {
			top: 78%;
			left: 30%;
			margin-left: -32px;
			margin-top: -35px;
			@media (--xs) {
				margin-top: -28px;
				margin-left: -24px;
			}
			& > .point_info {
				min-height: auto;
				padding: 18px 38px 18px 94px;
				white-space: nowrap;
				top: -16px;
				bottom: -16px;
				line-height: 60px;
			}
			& > .wrap_point_ready {
				background: linear-gradient(135deg, #fd8a30 0%, #f2b44c 100%);
				cursor: help;
				width: 64px;
				height: 64px;
				@media (--xs) {
					width: 48px;
					height: 48px;
				}
				& > .numder_point_ready {
					width: 50px;
					height: 50px;
					line-height: 45px;
					@media (--xs) {
						width: 38px;
						height: 38px;
						line-height: 35px;
					}
				}
			}
		}
		&__pic {
			display: inline-block;
			width: 66%;
		}
	}
	& .genplan .point_ready:after {
		content: "";
		position: absolute;
		left: 50%;
		margin-left: -14px;
		bottom: -23px;
		border: 14px solid transparent;
		border-top: 14px solid #fff;
	}
	& .genplan .wrap_point_ready {
		width: 50px;
		height: 50px;
		padding: 7px;
		border-radius: 50%;
		position: relative;
		z-index: 1;
	}
	& .genplan .numder_point_ready {
		display: block;
		width: 36px;
		height: 36px;
		padding-right: 3px;
		background: #fff;
		border-radius: 50%;
		line-height: 36px;
		text-align: center;
		color: #000;
		position: relative;
		z-index: 1;
	}
	& .genplan .point_info {
		position: absolute;
		left: -16px;
		top: -21px;
		min-height: 92px;
		padding: 24px 25px 25px 86px;
		font-weight: normal;
		font-size: 12px;
		line-height: 1;
		color: #929292;
		letter-spacing: normal;
		white-space: nowrap;
		background: #fff;
		border-radius: 8px;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		pointer-events: none;
	}
	& .genplan .point_info .status {
		position: absolute;
		left: 29px;
		top: 84px;
		color: #74b61f;
	}
	& .genplan .wrap_point_ready:hover {
		z-index: 2;
	}
	& .genplan .wrap_point_ready:hover ~ .point_info {
		opacity: 1;
		visibility: visible;
	}
	& .genplan .point_info .in_sale {
		margin-top: 18px;
		position: relative;
	}
	& .genplan .point_info .in_reserv {
		margin-top: 18px;
		position: relative;
	}
	& .genplan .point_info .count {
		position: absolute;
		right: 0;
		bottom: -1px;
		font-size: 18px;
		color: #f1be4e;
	}
	& .genplan .in_reserv .count {
		color: #fe8626;
	}
	& .genplan .progress {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 6px;
		margin: 0;
		overflow: visible;
		background-color: #fff;
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	& .genplan .progress-bar {
		height: 6px;
		position: absolute;
		width: 33.333333%;
		background: #fff;
		&__fill {
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			&:after {
				filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1));
				content: "";
				position: absolute;
				right: -12px;
				top: -27px;
				width: 41px;
				height: 27px;
				display: none;
			}
		}
		&--orange {
			left: 0;
			& > .progress-bar__fill {
				background: linear-gradient(135deg, #fd8a30 0%, #f2b44c 100%);
				&:after {
					background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAbCAYAAADh0qZQAAACM0lEQVRYhcVXy3WrMBClBJfgElKCO7BLkGe8TzoIHSQl0EHeDg0b0oHdgb2U8ELugLcQssRHSBBI5py7AX3u/EdJEhBJkAqOZQiS8BA6azWRBEpwvAmC7yFIgoskrCXh+Q9JYi0J0rE1guNNEtYqZ9s5dwh+3M/Z95RIkp+SsBYc3mLOVDnbCo6vTZjUU/bOJlkV7CXW5SpnW0OsDVCqZJvVSOp1OjZDLpeEWXPmpSqAqZxtdWxjLQmzVUkKDm/abfjpW+Na0VXG/V4V7GU1kuYiweE6clbms5gkSBsly9VIJkmSGLcNWUOVbCMJ1NB/wY97wY97Y817ftoFL9NWgXeNeJJVASxoKYLvnnJNCXOTSBJ+eV1fEXx0M09wuOrvhvgw7F5QrZhzrDhkJUe5zr0DrjfaLgNrfSepbj4vOBneQk8po+1aqApgPpL3/LQLWtO3aEE8fAStkZ7Z7yJbk2R2z087g1CR112r5cmst2dpkrov95NriKxD8CEJUm979GXYSvgyRFTJNroEjZCzC+H6PITjP53py6KTwedJA4UNWLjMnQljpZmYHr2kGBNdaLV2XYJ67vvZQCoJD91z3dCKsqZJmG67as99cW2xT9A2hy5R8z2qT/tIOoNsvFt6JG3d6/bhSSQtGVADlxyCWTciTc9Ou08D1wDROWCmkB+9MyaIfdvAJXqTW8grgo9Z03FATBJKwvMkV7vyy8V8dNgYlXt+2ulC/qxji6IJq35PDsh/kM1+LxShVWAAAAAASUVORK5CYII=)
						center no-repeat;
				}
			}
		}
		&--blue {
			left: 33.333333%;
			& > .progress-bar__fill {
				background: linear-gradient(135deg, #3086ad 0%, #a4cfe0 100%);
				&:after {
					background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAbCAYAAADh0qZQAAACIElEQVRYhcVX0XXDIAzsCBnBI3gEb5CMkA3aDeoN2g1AXiDdIB4APTKBLxukG7gfBke1TcCO3fKefkCI0wkJ8fISGcQotcE5JsrgELO12dCMG3FzJUYdkAsxWm1g/w0kMVpilI91misxWmWRLTrDYr9knwCQAhKfxGgrxluKTWWRkcGrNjg7+8l7F4NUFnlqyJVF5oFJ0YybsthtBtLpXVJCTgba2bxUjKMDXROjJQO9KciK8eZ0P0M6kkXpzGA+3wykP0gzELTlWZxgjBiluzLnzUA63TrEhrLYdeVsvE4We7LYCzaL6GGOlXcnySArxjHGFDHq8VpXwmQSaYNTMPSa8TGReXDz74/E73WZmgmnJYsjlnrnhudOhV54u4aUAoRLquYaikKf4QMZOeW93UoqxjEEUlkUUTZDSmuJNs13CGDP5r2G3kXe79VBGmhlUQjJHgFUFvmvSHb7s6HSqiDduzxKrimwHqA2zTcxyuDzGMqwbUKPkweiLHauBIXBeUXNgKD6i7pMX1tqAdTOaijko7+0J0wdyiJ3YU1vKDq6+5qUDdayZxtSZXAY2pVXK4lNkTD1COD9HpVLAJJ4HIZAxXzxDMh8slbNASnq3qipmAmy66oZt9GawSGadY9t74hRDr8GkoDkHPBdyFP/jBlD/G0uyZtkIdeMj0XdcfyMjCz22sDOCrUcf1nMXdSOS70tyOCrr2OrS3OdfJMj4wfKxQwhLob1GgAAAABJRU5ErkJggg==)
						center no-repeat;
				}
			}
		}
		&--green {
			left: 66.6666666%;
			& > .progress-bar__fill {
				background: linear-gradient(135deg, #68834e 0%, #a6c25e 100%);
				&:after {
					background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAbCAYAAADh0qZQAAACQUlEQVRYhcVX3ZHiMAxOCZRACZRAB/DMRJp0cNvBpoPdDmAGCx53O7BkCoAOoINsB7mH2MEkMU6y5E4zeklk+/OnXydJREgwVww6pgeTrmN7TSaKsSCGGwlwlyqGCwmWxHj+byBJsCTB/KkNw40Ey6PO5qPOMLgas+6+QR+Qgp8kWCoDb332POpsToJ/FIO2+/deOx6k3iz6utwCLJuqGIutzmaTgUySJHGxGXO5EtxVoOBCBrIKNDAJlkpwNy1IA2/W9jNk47PoX+aBXb1ZTAayPojxGrKpWexgjARzy7CeDGRlW7mti42tzmaKsej6TwZXZHDl2Nyf0mX0MMvKu9X+IA1kMaZIgFv/bAnzk4gYvoKuVwIfrexjvNrv78/UrVWMhR9zPotdLLnLtTO+w/X3275Ea/brpGK4Bb3gQqWhrUvVMTOVGshCIPendBllM2T0MmX8CQGsSbLZ/wDSj+9Xg1SCu/0pXTqNFXnSm4XvSSW4a615OciqL7eSqwtsDZDxhwTzYHsMZdg0rocvB2Srs5ktQWFwd0O83jeCb6oy/cXqZTDjedBA4Tf9sTNhXyG9WVi39h8otjqbuds1AR51Nv/tQHow6bq5rx9avdi8J8xju2rMffkYgOQ1hxZQCRTrISDrQXaIWxryUPeaQ8UQkA6MYiya/w4mXUez7onYUMqbTwOfgN454KaQX70zBoh72yiGS+9FfiFXAh+jpuOIuCQkxvMgV/vyT4u54NNh46lUjMK3q2MTdJpbZ0+OyF9cUfzvvps6OgAAAABJRU5ErkJggg==)
						center no-repeat;
				}
			}
		}
		/* &--violet {
            left: 75%;
            & > .progress-bar__fill {
                background: linear-gradient(135deg, #3b2f71 0%, #5e2c80 100%);
                &:after {
                    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAbCAYAAADh0qZQAAACOUlEQVRYhcVXzZHyMAxNCZRACZRAB1ACHXw5yAy3TQfZGSS45oyUyXYAHUAH0EHoIN8hMXF+HCeB7GpGl9iOn5/8JNnzHEbAAYKcXX7Yytr1r8kMQVIEeZDiS5sjyI2UZKT4+mcgSUlGwEHXnPwQkh13yXzMHgi8GrPuZX1AkpJvUpIhsN/nn8ddMicl/xDknEeh/9o3QJ4WfUNeAMzqjiBp6CezyUB6nufpu+kKOYJEBagbqXiTg+ZL8S2aGCT7BSvftjkmi+ZhquyeFpOBNDa62+YYLEaNfYCDYuw8Gch8bh62NjZCP5khSNo2jsArBF5pNvfAS+dmx10yJ4i/COKvYSDjjYspUnypj+kUZoqIlCTW0CNw2KK+OwKHL+AW12sRJDXvnMliG0v6cC2Kb4a+PO0H3GBfiwpBHvYo6KtS9cahyjszlccbG8g98NLJpm3S55yfNoAGSVELyGgykAgS7YGX2l1JntRpYUYSQaLGmglAntvE1Qa2BMhPAg6s5dGmsIk80UAK5T86wemJpOT++gnwDwEHH/eKgvk6qKEwi/7YnrCv5R0TPxui6LKCxYxUs4M57pL5uw3pYSvr+n/Nq9WLzVIw1XJV6Ux6lsW6mcWhCdSSrIeALBvZ8X1eNe9V6/AgkBoMgqT1scNW1k7VdVjoJ7P8tVl9GpgE9NaA7kLeemcMMP22QZBb70VmIs87mRHdscO0CEnxdVCoTfvlZJ51NRudtgdeEvCPzmOfdgR5tNZkh/0H1rLheJ/5zlAAAAAASUVORK5CYII=) center no-repeat;
                }
            }
        } */
		&--current > .progress-bar__fill:after {
			display: block;
		}
	}
	& .genplan .stage {
		position: absolute;
		bottom: 6px;
		width: 2px;
		height: 30px;
		background: #fff;
		font-size: 10px;
		color: #fff;
		margin-left: -2px;
	}
	& .genplan .stage:before {
		position: absolute;
		left: 0;
		top: 1px;
		width: 22px;
		height: 17px;
		line-height: 18px;
		text-align: center;
		letter-spacing: 0.02em;
	}
	& .genplan .stage.stage_1 {
		left: 11px;
	}
	& .genplan .stage.stage_1:before {
		content: "I";
		background: #f8ae4b;
	}
	& .genplan .stage.stage_2 {
		left: 33.333333%;
	}
	& .genplan .stage.stage_2:before {
		content: "II";
		background: #6fadc8;
	}
	& .genplan .stage.stage_3 {
		left: 66.666666%;
	}
	& .genplan .stage.stage_3:before {
		content: "III";
		background: #83a95f;
	}
	/*& .genplan .stage.stage_4 {
        left: 75%;
    }*/
	& .genplan .stage.stage_4:before {
		content: "IV";
		background: #5a2b7e;
	}

	@media screen and (max-width: 1023px) {
		& .aboutRg .container {
			position: relative;
			left: 0;
			bottom: auto;
			padding-top: 40px;
			padding-bottom: 20px;
		}
		& .aboutRg h1 + .col-md-5 p {
			margin-left: 0;
		}
		& .gotoRG {
			top: 235px;
		}
		& .VT .switch {
			right: 40px;
		}
	}
	@media screen and (max-width: 767px) {
		& #bd {
			padding: 0 !important;
		}
		& .menuHeader li:last-child {
			background-image: url(../img/icon_phoneTop_white.svg) !important;
		}
		& .menuFooter .st0 {
			fill: #000000;
		}
		& .aboutRg .container {
			padding-bottom: 35px;
		}
		& .logo_rg {
			margin-bottom: 53px;
		}
		& .gotoRG {
			top: 208px;
			width: 27px;
			height: 27px;
			padding: 0;
			border-radius: 13px;
			background-position: center;
			background-size: 9px;
			text-indent: -9999px;
		}
		& .VT .point {
			width: 43px;
			height: 37px;
		}
		& .VT .switch {
			right: 30px;
			top: 95px;
		}
		& .VT .btn_orange {
			bottom: 80px;
			height: 53px;
			line-height: 53px;
			border-radius: 26px;
			font-size: 16px;
		}
		& .popUP_choice_view .wrap {
			bottom: 50px;
			width: 306px;
		}
		& .popUP_choice_view .name {
			height: 52px;
			line-height: 52px;
			font-size: 13px;
		}
		& .popUP_choice_view .plan {
			height: 288px;
		}
		& .popUP_choice_view .plan a {
			width: 13px;
			height: 13px;
		}
		& .popUP_choice_view .plan a:before {
			border-radius: 6px;
		}
		& .popUP_choice_view .plan a:after {
			left: 4px;
			top: 4px;
			width: 5px;
			height: 5px;
			border-radius: 2px;
		}
		& .genplan {
			height: calc(100% - 50px);
		}
		& .genplan .progress {
			display: none;
		}
		& .genplan .point {
			font-size: 8px;
		}
		& .genplan .point:after {
			left: 7px;
			bottom: -9px;
			border: 5px solid transparent;
			border-top: 5px solid #fff;
		}
		& .genplan .wrap_point {
			width: 24px;
			height: 24px;
			padding: 3px;
			border-radius: 12px;
		}
		& .genplan .numder_point {
			width: 18px;
			height: 18px;
			border-radius: 9px;
			line-height: 18px;
		}
		& .genplan .point_ready {
			font-size: 12px;
		}
		& .genplan .point_ready:after {
			bottom: -14px;
			border: 8px solid transparent;
			margin-left: -8px;
			border-top: 8px solid #fff;
		}
		& .genplan .wrap_point_ready {
			width: 38px;
			height: 38px;
			padding: 5px;
		}
		& .genplan .numder_point_ready {
			width: 28px;
			height: 28px;
			padding-right: 2px;
			line-height: 30px;
		}
	}
}

.genplan .point,
.genplan .point_ready {
	&:hover {
		z-index: 100;
	}
}

/*---START: temporal rules*/
/*.genplan .wrap_point,
.genplan .wrap_point_ready{
    background: linear-gradient(135deg,#fd8a30,#f2b44c);    
}*/
/*---END: temporal rules*/
