/* PREFIXED CSS */
.dropdown, .dropdown div, .dropdown li, .dropdown div::after { -webkit-transition:all 150ms ease-in-out; -moz-transition:all 150ms ease-in-out; -ms-transition:all 150ms ease-in-out; transition:all 150ms ease-in-out;}
.dropdown .selected::after, .dropdown.scrollable div::after { -webkit-pointer-events:none; -moz-pointer-events:none; -ms-pointer-events:none; pointer-events:none;}

/* WRAPPER */
.dropdown { width:100%; height:36px; line-height:34px; position:relative; cursor:pointer; margin-bottom:26px; -webkit-user-select:none; -moz-user-select:none; user-select:none;}
.dropdown.open { z-index:2;}

/* CARAT */
.dropdown .carat { position:absolute; right:0; top:0; width:13px; height:34px; background:url(../img/icon_select.svg) center no-repeat;}
	.dropdown.open .carat { transform:rotate(180deg);}
.dropdown.disabled .carat {}

/* OLD SELECT (HIDDEN) */
.dropdown .old { position:absolute; left:0; top:0; height:0; width:0; overflow:hidden;}
.dropdown select { position:absolute; left:0px; top:0px;}
.dropdown.touch .old { width:100%; height:100%;}
.dropdown.touch select { width:100%; height:100%; opacity:0;}

/* SELECTED FEEDBACK ITEM */ 
.dropdown .selected, .dropdown li { display:block; height:36px; line-height:34px; background:#fff; border-bottom:2px solid #e5e5e5; color:#0e0e0e; overflow:hidden; white-space:nowrap; text-align:left;}

/* DROP DOWN WRAPPER */
.dropdown div { position:absolute; left:0; right:0; top:100%; overflow:hidden; opacity:0;}

/* Height is adjusted by JS on open */
.dropdown.open div { opacity:1; z-index:2;}

/* FADE OVERLAY FOR SCROLLING LISTS */
.dropdown.scrollable div::after { content:''; position:absolute; left:0; right:0; bottom:0; height:50px;}
.dropdown.scrollable.bottom div::after { opacity:0;}

/* DROP DOWN LIST */
.dropdown ul { position:absolute; left:0; top:0; height:100%; width:100%; list-style:none; overflow:hidden;}
.dropdown.scrollable.open ul { overflow-y:auto;}

/* .focus class is also added on hover */
.dropdown li:hover { color:#d99b47;}