/*html { min-height:1150px;}
@media screen and (max-width:1920px) {
	html { min-height:950px;}
}
@media screen and (max-width:1600px) {
	html { min-height:790px;}
}*/

html {
    min-height: 0;
}

#hd {
    height: 1px;
    border-bottom: none;
    background: none;
    z-index: 4;
}

#hd .favorit_link {
    position: absolute;
    right: 735px;
    top: 55px;
    font-size: 14px;
    line-height: 15px;
    font-weight: 500;
}

#hd .favorit_link span {
    display: inline-block;
    position: relative;
    background: #fff;
    padding-right: 2px;
}


#bd {
    padding: 0;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100%;
    max-width: 100% !important;
    padding: 0 !important;
}


/*.container { position:relative; left:0; top:0; width:100% !important; min-height:100vh; max-width:100% !important; padding:0 !important;}*/

.breadcrumb_320 {
    position: absolute;
    left: 30px;
    top: 78px;
}

#ft.filtr_page {
    display: none;
}

.slider_main {
    width: 100%;
    height: 100%;
    color: #323232;
}

.slider_main .item {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider_main .img {
    display: block;
    width: 100%;
    height: 100%;
}

.slider_main .head {
    position: absolute;
    left: 60px;
    top: 50%;
    margin-top: -102px;
    font-size: 40px;
    line-height: 52px;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    max-width: 405px;
}

.slider_main .text {
    position: absolute;
    left: 60px;
    top: 50%;
    margin-top: 10px;
    max-width: 490px;
}

.slider_main .text p {
    margin-bottom: 25px;
}

.action_hot {
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../img/bg_action_main.png) left bottom no-repeat #fff;
    width: 544px;
    height: 115px;
    padding: 0 0 0 60px;
    z-index: 4;
}

.action_hot .slider {
    position: relative;
    padding-left: 55px;
    height: 55px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #323232;
    text-transform: uppercase;
    overflow: hidden;
}

.action_hot .str_t {
    position: absolute;
    left: 0;
    top: 1px;
    background: url(../img/icon_akciya_arrow_top.svg) center no-repeat;
    width: 15px;
    height: 9px;
}

.action_hot .str_b {
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../img/icon_akciya_arrow_bottom.svg) center no-repeat;
    width: 15px;
    height: 9px;
}

.action_hot .head {
    display: inline-block;
    ;
    position: relative;
    top: -4px;
    padding: 0 52px 11px 0;
    margin-bottom: 7px;
    font-size: 12px;
    color: #a9b2c7;
    border-bottom: 2px solid #6194ba
}

.action_hot .text {
    font-size: 20px;
    font-weight: 600;
}

.location {
    width: 100%;
    height: 100%;
}

.location .map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.location .zoom {
    position: absolute;
    right: 60px;
    top: 50%;
    width: 34px;
    height: 63px;
    padding: 3px 3px 0;
    margin-top: -30px;
    background: url(../img/icon_zoom.png) center no-repeat;
    font-size: 0;
    line-height: 0;
    z-index: 2;
}

.location .zoom a {
    display: inline-block;
    width: 28px;
    height: 26px;
    margin-bottom: 2px;
}

.location .point {
    position: absolute;
    font-size: 0;
    line-height: 0;
    z-index: 2;
}

.location .tooltip.in {
    opacity: 1;
    filter: alpha(opacity=1);
}

.location .tooltip-inner {
    padding: 16px 22px 17px;
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #000;
    text-align: center;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 14px 40px rgba(19, 19, 19, 0.2);
    margin: 0 0 -18px -3px;
    text-align: left;
}

.location .tooltip-arrow {
    display: none;
}

.location .glow {
    display: block;
    color: #929292;
    font-weight: normal;
}

.menuLocation {
    position: absolute;
    left: 0;
    bottom: 65px;
    width: 100%;
    font-size: 0;
    line-height: 0;
    text-align: center;
    z-index: 3;
}

.menuLocation li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    border-radius: 26px;
}

.menuLocation .item_1 {
    box-shadow: 0 7px 40px rgba(140, 165, 82, 0.35);
}

.menuLocation .item_2 {
    box-shadow: 0 7px 40px rgba(114, 79, 140, 0.35);
}

.menuLocation .item_3 {
    box-shadow: 0 7px 40px rgba(227, 179, 78, 0.35);
}

.menuLocation .item_4 {
    box-shadow: 0 7px 40px rgba(97, 164, 218, 0.35);
}

.menuLocation a {
    display: block;
}

.menuLocation .tooltip.in {
    opacity: 1;
    filter: alpha(opacity=1);
}

.menuLocation .tooltip-inner {
    max-width: 200px;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    text-align: center;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 14px 40px rgba(19, 19, 19, 0.2);
    margin-bottom: -20px;
}

.menuLocation .tooltip-arrow {
    display: none;
}

.menuLocation.infro li {
    width: 53px;
    height: 53px;
    margin-top: 10px;
    border-radius: 0;
    box-shadow: none;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.menuLocation.infro img {
    display: block;
    margin: -16px 0 0 -38px;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.menuLocation.infro .active {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.menuLocation.infro li:hover,
.menuLocation.infro .sel {
    overflow: visible;
    z-index: 1;
}

.menuLocation.infro li:hover img,
.menuLocation.infro .sel img {
    opacity: 0;
}

.menuLocation.infro li:hover .active,
.menuLocation.infro .sel .active {
    opacity: 1;
}

.menuLocation.contacts li {
    font-size: 16px;
    line-height: 53px;
}

.menuLocation.contacts li a {
    padding: 0;
    width: 250px;
}

.popUP_location {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #929292;
    z-index: 100;
}

.popUP_location:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#000', GradientType=1);
    opacity: 0.5;
}

.popUP_location h4 {
    font-size: 18px;
    line-height: 1.2;
    text-transform: none;
    margin-bottom: 23px;
}

.popUP_location p {
    margin-bottom: 20px;
}

.popUP_location .location_text {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 480px;
    padding: 56px 60px 30px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #fff;
    border-radius: 8px 8px 0 0;
}

.popUP_location .nav>li>a {
    padding: 0;
}

.popUP_location .nav-tabs {
    border: none;
    text-align: center;
    font-size: 0;
    line-height: 0;
}

.popUP_location .nav-tabs>li {
    float: none;
    display: inline-block;
    margin: 0 0 49px;
}

.popUP_location .nav-tabs>.item_2 {
    margin: 0 64px;
}

.popUP_location .nav-tabs>li>a:hover {
    background: none;
}

.popUP_location .nav-tabs>li>a {
    display: block;
    margin: 0;
    border-radius: 0;
    border: none !important;
    background-position: center;
    background-repeat: no-repeat;
}

.popUP_location .nav-tabs>li>a:hover {
    background: none;
}

.popUP_location .nav-tabs>.active>a,
.popUP_location .nav-tabs>li>a:hover img {
    opacity: 0;
}

.popUP_location .nav-tabs>.item_1.active,
.popUP_location .nav-tabs>.item_1>:hover {
    background-image: url(../img/location/popup_icon_car_activ.svg);
}

.popUP_location .nav-tabs>.item_2.active,
.popUP_location .nav-tabs>.item_2>:hover {
    background-image: url(../img/location/popup_icon_bus_activ.svg);
}

.popUP_location .nav-tabs>.item_3.active,
.popUP_location .nav-tabs>.item_3>:hover {
    background-image: url(../img/location/popup_icon_tax_activ.svg);
}

.popUP_location .location_news {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 480px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.popUP_location .location_news li {
    padding: 29px 60px 6px;
    background: #fff;
    border-radius: 8px;
    margin-top: 8px;
}

.popUP_location .location_news li:first-child {
    margin-top: 0;
}

.popUP_location .location_news li:last-child {
    border-radius: 8px 8px 0 0;
}

.location_text .dl-horizontal {
    padding-top: 15px;
}

.location_text dt {
    width: 100px;
    margin: 0;
    padding: 0;
    line-height: 20px;
}

.location_text dd {
    margin: 0 0 20px 100px;
    color: #323232;
    padding: 0;
    line-height: 20px;
}

.location_text .dl-horizontal dd:before {
    background: none;
}

.location_text .send_letter {
    font-weight: 600;
    color: #f19b2b;
}

.galery {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: url(../img/bg_gallery.png) center no-repeat;
    background-size: cover;
}

.galery .breadcrumb {
    position: absolute;
    left: 60px;
    top: 122px;
}

.galery .galery_1 {
    top: 27%;
}

.choice_gp_link {
    display: block;
    width: 50%;
    height: 100%;
    padding-right: 72px;
    position: relative;
    text-align: right;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #fff !important;
}

.choice_gp_link:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
}

.choice_gp_link .text {
    display: block;
    position: relative;
    top: calc(50% - 34px);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 58px;
    z-index: 1;
}

.choice_gp_link .btn_point {
    position: absolute;
    right: 0;
    top: 0;
}

.choice_gp_link:hover .btn_point span {
    top: 9px;
}

.choice_param_link {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    background: url(../img/bg_gallery_320.png) center no-repeat #fff;
    background-size: cover;
    padding-left: 72px;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.choice_param_link .text {
    display: block;
    position: relative;
    top: calc(50% - 34px);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 58px;
    z-index: 1;
}

.choice_param_link .btn_param {
    position: absolute;
    left: 0;
    top: 0;
}

.choice_param_link:hover .btn_param span:before {
    top: 18px;
}

.choice_param_link:hover .btn_param span:after {
    top: 12px;
}

.flat_rose_wind {
    position: absolute;
    right: 60px;
    bottom: 115px;
}

.flat_legend {
    position: absolute;
    right: 60px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
}

.flat_legend li {
    position: relative;
    border-top: 1px solid #ededed;
    height: 44px;
    line-height: 43px;
    font-size: 14px;
    color: #000;
}

.flat_legend li:first-child {
    border: none;
}

.flat_legend li:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
}

.flat_legend .leg_1:after {
    background: #e4a256;
}

.flat_legend .leg_2:after {
    background: #6fadc8;
}

.flat_legend .leg_3:after {
    background: #a6c25e;
}

.flat_legend .leg_4:after {
    background: #664f7c;
}

.flat_legend .leg_5:after {
    background: #d2d2d2;
}

.flat_count {
    position: absolute;
    left: 60px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
}

.flat_count li {
    position: relative;
    border-top: 1px solid #ededed;
    height: 47px;
    line-height: 46px;
    font-size: 16px;
    color: #000;
}

.flat_count li:first-child {
    border: none;
}

.flat_count .count {
    position: absolute;
    right: 0;
    top: 0;
    color: #d99b47;
    font-weight: 500;
    line-height: 47px;
}

.flat_legend_info {
    position: absolute;
    right: 60px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
}

.flat_legend_info li {
    position: relative;
    border-top: 1px solid #ededed;
    height: 44px;
    line-height: 43px;
    font-size: 14px;
    color: #000;
}

.flat_legend_info li:first-child {
    border: none;
}

.flat_legend_info .count {
    position: absolute;
    right: 0;
    top: 0;
    color: #d99b47;
    font-weight: 500;
    font-size: 16px;
    line-height: 47px;
}

.flat_legend_info .count.ok {
    top: 11px;
    width: 18px;
    height: 14px;
    background: url(../img/icon_check_mark_orange.svg) center no-repeat;
}

.section_plan {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 100%;
    text-align: center;
}

.section_plan img {
    height: 100%;
}

.section_plan .info_section {
    position: absolute;
    width: 198px;
    padding: 18px 20px;
    font-size: 12px;
    color: #929292;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 19px 40px rgba(19, 19, 19, 0.2);
    z-index: 1;
}

.section_plan .info_section_number {
    float: left;
    color: #000;
    font-weight: 500;
    margin-bottom: 2px;
}

.section_plan .info_section_class {
    float: right;
    color: #000;
    font-weight: 500;
    margin-bottom: 2px;
}

.section_plan .info_section_label {
    float: left;
    padding-top: 2px;
}

.section_plan .info_section_square {
    float: right;
    color: #f8ae4b;
    font-weight: 500;
}

.section_plan .info_section_square .big {
    font-size: 18px;
}

.view_court,
.view_street {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    width: calc(33.33% + 40px);
    font-size: 11.5vw;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.05;
}

.view_court {
    right: auto;
    left: 0;
}

.view_flat {
    overflow: hidden;
}

.view_flat .btn_param {
    position: absolute;
    right: 40px;
    top: 135px;
    width: 39px;
    height: 39px;
    border-radius: 19px;
    display: none;
}

.view_flat .btn_param span:before {
    left: 13px;
    top: 15px;
}

.view_flat .btn_param span:after {
    left: 21px;
    top: 20px;
}

.view_flat .btn_param:hover span:before {
    top: 21px;
}

.view_flat .btn_param:hover span:after {
    top: 15px;
}

.btn_print_plan {
    position: absolute;
    right: 60px;
    top: 135px;
    padding: 0 0 0 55px;
    font-size: 14px;
    line-height: 17px;
    color: #bdbdbd;
    width: 136px;
    text-decoration: underline;
}

.btn_print_plan:before {
    content: '';
    position: absolute;
    left: 0;
    top: -4px;
    width: 63px;
    height: 67px;
    background: url(../img/icon_pdf_orange.svg) left top no-repeat;
}

.flat_on_floor {
    position: absolute;
    left: 40px;
    bottom: 95px;
}

.flat_on_floor_info {
    position: absolute;
    width: 198px;
    padding: 25px;
    font-size: 0;
    line-height: 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 19px 40px rgba(19, 19, 19, 0.2);
    z-index: 1;
}

.flat_plan {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 37%;
    z-index: 1;
}

.flat_plan:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 137%;
    height: 137%;
    background: url(../img/trash_flat_plan_4_shadow.png) left top no-repeat;
    background-size: contain;
}

.flat_plan img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
}

.view_flat .row {
    position: static;
}

.flat_plan .info_section {
    position: absolute;
    width: 198px;
    padding: 18px 20px;
    font-size: 12px;
    color: #929292;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 19px 40px rgba(19, 19, 19, 0.2);
    z-index: 1;
}

.flat_plan .info_section_number {
    color: #000;
    font-weight: 500;
    margin-bottom: 2px;
}

.flat_plan .info_section_label {
    float: left;
    padding-top: 2px;
}

.flat_plan .info_section_square {
    float: right;
    color: #f8ae4b;
    font-weight: 500;
}

.flat_plan .info_section_square .big {
    font-size: 18px;
}

.btn_orange.best_offers {
    position: absolute;
    left: 50%;
    bottom: 115px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.parame_choice {
    position: relative;
    top: 116px;
    min-height: calc(100vh - 116px);
    /* max-width:1280px !important;*/
    margin: 0 auto;
}

.parame_choice:before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 116px;
    border-bottom: 1px solid #f4f4f4;
    background: #fff;
    z-index: 2;
}

.btn_param.filtr_page {
    position: fixed;
    right: 30px;
    bottom: 90px;
    z-index: 3;
    display: none;
}

.filtr {
    float: left;
    width: 290px;
    padding: 27px 46px 27px;
    font-size: 14px;
    line-height: 1;
    color: #000;
    position: relative;
}

.filtr:after {
    content: '';
    position: absolute;
    left: 290px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #f4f4f4;
}

.filtr .label {
    margin-bottom: 7px;
}

.filtr .row {
    padding-bottom: 26px;
}

.filtr .slide {
    width: 100%;
    height: 2px;
    margin: 34px 10px 56px 0;
    background: url(../img/bg_slide.png) left top repeat-x;
    position: relative;
}

.filtr .slide .label {
    position: absolute;
    left: 0;
    top: -32px;
    margin: 0;
}

.filtr .ui-slider-handle {
    position: absolute;
    top: -10px;
    height: 22px;
    width: 22px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    margin-left: -11px;
}

.filtr .ui-slider-handle:before {
    content: '';
    position: absolute;
    left: 6px;
    top: 6px;
    height: 8px;
    width: 8px;
    background: #d99b47;
    border-radius: 4px;
}

.filtr .ui-slider-range {
    background: #fbbf3c;
    height: 2px;
    position: absolute;
    top: 0;
}

.filtr .slide .min,
.filtr .slide .max {
    position: absolute;
    bottom: -30px;
    font-size: 11px;
    line-height: 1;
    width: 66px;
    margin-left: -33px;
    text-align: center;
    white-space: nowrap;
}

.filtr .label {
    display: block;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
    color: #000;
    padding: 0;
    border-radius: 0;
}

.filtr .build input {
    width: 100px;
    height: 40px;
    border: 1px solid #e7e7e7;
    border-radius: 20px;
    background: #fff;
    padding: 0 13px;
    color: #000;
    font-size: 11px;
    line-height: 38px;
}

.filtr .btn-primary {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 12px;
    border-color: #e7e7e7;
    border-radius: 20px;
    background: #fff;
    padding: 0;
    color: #000;
    font-size: 11px;
    line-height: 38px;
}

.filtr .btn:active,
.filtr .btn.active {
    box-shadow: none;
    border-color: #d99b47;
    background: #d99b47;
    color: #fff;
}

.filtr .label+.btn-primary {
    margin: 0;
}

.filtr .more .btn-primary {
    float: none;
    display: block;
    width: auto;
    height: 22px;
    margin: 0 0 6px;
    border-color: transparent;
    border-radius: 0;
    background: none;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    position: relative;
    color: #000 !important;
}

.filtr .more .btn-primary:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #e7e7e7;
    border-radius: 11px;
    background: #fff;
}

.filtr .btn:active:before,
.filtr .btn.active:before {
    border-color: #d99b47;
    background: url(../img/icon_check_mark_white_little.svg) center no-repeat #d99b47;
}

.filtr input[type=submit] {
    width: 100%;
    height: 50px;
    background: #d99b47;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 50px;
    text-align: center;
}

.filtr_btn_submit {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 256px;
    height: 50px;
    background: #d99b47;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    z-index: 100;
    display: none;
}

.filtr_result {
    float: left;
    width: calc(100% - 290px);
    min-height: 700px;
    height: 100%;
    z-index: 1;
}

.empty_result {
    position: relative;
    top: 240px;
    /* -webkit-transform:translateY(-50%); transform:translateY(-50%);*/
    padding-bottom: 30px;
    font-weight: 600;
    font-size: 64px;
    line-height: 1;
    color: #c9c9c9;
    text-transform: uppercase;
    text-align: center;
}

.empty_result:before {
    content: 'измените праметры фильтра ;)';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    font-size: 20px;
}

.filtr_result {
    margin-top: -1px;
}

.filtr_result_item {
    padding: 33.33% 0 0;
    border: 1px solid #f4f4f4;
    position: relative;
}

.filtr_result_item .inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    font-size: 14px;
    line-height: 1;
    color: #000;
    overflow: hidden;
}

.filtr_result_item .number {
    margin-bottom: 15px;
}

.filtr_result_item .img img {
    width: 100%;
}

.filtr_result_item .info {
    position: absolute;
    right: -5%;
    bottom: -8%;
    font-weight: 700;
    font-size: 11vw;
    color: #000;
    opacity: 0.05;
    -webkit-transition: bottom 0.3s ease;
    transition: bottom 0.3s ease;
}

.filtr_result .filtr_flat_square {
    display: none;
}

.filtr_result_item .info_filtr {
    position: absolute;
    left: 0;
    bottom: -66px;
    width: 100%;
    height: 66px;
    box-shadow: inset 0 5px 20px rgba(0, 0, 0, 0.3);
    background: #e5b84f;
    background: -moz-linear-gradient(-45deg, #dea34d 0%, #e5b84f 100%);
    background: -webkit-linear-gradient(-45deg, #dea34d 0%, #e5b84f 100%);
    background: linear-gradient(135deg, #dea34d 0%, #e5b84f 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#dea34d', endColorstr='#e5b84f', GradientType=1);
    -webkit-transition: bottom 0.3s ease;
    transition: bottom 0.3s ease;
}

.filtr_result_item .info_filtr .item {
    float: left;
    width: 25%;
    height: 66px;
    padding-top: 16px;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    text-align: center;
}

.filtr_result_item .info_filtr .small {
    position: absolute;
    left: 0;
    bottom: 16px;
    width: 100%;
    font-weight: normal;
}

.filtr_result_item .info_filtr .yes {
    display: inline-block;
    width: 18px;
    height: 15px;
    background: url(../img/icon_check_mark_white.svg) center -1px no-repeat;
}

.filtr_result_item .info_filtr .no {
    display: inline-block;
    width: 18px;
    height: 15px;
    background: url(../img/icon_check_mark_no_acrive.svg) center -1px no-repeat;
}

.filtr_result_item .btn_close {
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 1;
}

.filtr_result_item .tooltip.in {
    opacity: 1;
    filter: alpha(opacity=1);
}

.filtr_result_item .tooltip-inner {
    padding: 13px 22px 14px;
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #000;
    text-align: center;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 14px 40px rgba(19, 19, 19, 0.2);
    /* margin:0 0 0 -90px;*/
    text-align: left;
    white-space: nowrap;
}

.filtr_result_item .tooltip-arrow {
    display: none;
}


/*.wrap_result_item { width:100%;}*/

.filtr_result_item:hover .info_filtr {
    bottom: 0;
}

.filtr_result_item:hover .info {
    bottom: calc(-8% + 66px);
}

.filter_values {
    background: #f4f4f4;
    padding: 15px 30px 12px;
    font-size: 0;
    line-height: 0;
    display: none;
}

.filter_values li {
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    position: relative;
    padding-right: 10px;
}

.filter_values li:after {
    content: '/';
    position: absolute;
    right: 3px;
    top: 1px;
    color: #9a9a9a;
}

.filter_values li:last-child {
    padding: 0;
}

.filter_values li:last-child:after {
    display: none;
}

.favorite_list {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 60px;
    z-index: 100;
}

.favorite_list:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#000', GradientType=1);
    opacity: 0.5;
}

.favorite_list_inner {
    position: absolute;
    left: 50%;
    bottom: 0;
    padding: 58px 0 0;
    background: #fff;
    border-radius: 8px 8px 0 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.favorite_list_inner h2 {
    font-size: 18px;
    line-height: 1;
    text-transform: none;
    color: #000;
    margin: 0 0 40px 60px;
}

.favorite_list_item_t {
    display: table;
}

.favorite_list_item_tr {
    display: table-row;
}

.favorite_item.empty {
    width: 40px;
}

.favorite_item {
    width: 310px;
    display: table-cell;
    vertical-align: top;
    text-align: center;
    position: relative;
}

.favorite_item:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: #f4f4f4;
}

.favorite_item.empty:after,
.favorite_item.empty+.favorite_item:after {
    display: none;
}

.favorite_item_img {
    height: 214px;
}

.favorite_item_img img {
    max-width: 270px;
    max-height: 200px;
}

.favorite_item_name {
    font-weight: 600;
    font-size: 20px;
    color: #d99b47;
    height: 50px;
    line-height: 50px;
}

.favorite_item_row {
    height: 50px;
    line-height: 50px;
    min-width: 40px;
}

.favorite_item_row:nth-child(odd) {
    background: #fbfbfb;
    border-bottom: 1px solid #f5f5f5;
}

.favorite_item .btn_close {
    position: absolute;
    right: 20px;
    top: -3px;
    z-index: 1;
}

.favorite_item .tooltip.in {
    opacity: 1;
    filter: alpha(opacity=1);
}

.favorite_item .tooltip-inner {
    padding: 13px 22px 14px;
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #000;
    text-align: center;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 14px 40px rgba(19, 19, 19, 0.2);
    /* margin:0 0 0 -90px;*/
    text-align: left;
    white-space: nowrap;
}

.favorite_item .tooltip-arrow {
    display: none;
}

.apart_chosen_wrap {
    overflow: hidden;
}

.apart_chosen {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 230px 0;
    margin: 0 60px;
    color: #000;
}

.apart_chosen_img {
    padding: 0 30px 0 0;
}

.apart_chosen_img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 137%;
    height: 137%;
    background: url(../img/trash_flat_plan_4_shadow.png) left top no-repeat;
    background-size: contain;
}

.apart_chosen_img-shadow

.apart_chosen_img img {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
}

.apart_chosen_list {
    float: left;
    width: 540px;
    margin-left: 40px;
    padding-top: 10px;
    position: relative;
}

.apart_chosen_list h5 {
    margin: 0 0 12px 15px;
}

.apart_chosen_list_t {
    display: table;
    margin: 0 0 0 15px;
    position: relative;
    z-index: 1;
}

.apart_chosen_list_th_r,
.apart_chosen_list_tb_r {
    display: table-row;
}

.apart_chosen_list_t .col {
    display: table-cell;
    vertical-align: middle;
    height: 48px;
    font-size: 16px;
    line-height: 1;
    color: #000;
    padding: 0 7px;
    text-align: center;
    white-space: nowrap;
    position: relative;
}

.apart_chosen_list_th_r .col {
    vertical-align: top;
    padding-top: 15px;
    font-size: 12px;
    color: #929292 !important;
}

.apart_chosen_list_th_r+.apart_chosen_list_tb_r .col {
    background: none;
}

.apart_chosen_list_tb_r .col {
    background: url(../img/bg_tr.png) left top repeat-x;
}

.apart_chosen_list_t .col_1 {
    padding-left: 0px;
    color: #d99b47;
}

.apart_chosen_list_tb_r .col_1:before {
    content: '';
    position: absolute;
    left: -15px;
    top: 0;
    width: 16px;
    height: 48px;
    background: #e5b84f;
    border-radius: 8px 0 0 8px;
    display: none;
}

.apart_chosen_list_t .col_9 {
    padding-right: 0;
    border-radius: 0 8px 8px 0;
}

.apart_chosen_list_tb_r .col_9:before {
    content: '';
    position: absolute;
    left: -1px;
    top: 0;
    width: 4px;
    height: 48px;
    background: #e5b84f;
    display: none;
}

.apart_chosen_list_t .ok {
    display: inline-block;
    width: 18px;
    height: 14px;
    background: url(../img/icon_check_mark_orange.svg) center no-repeat;
}

.apart_chosen_list_tb_r:hover .col {
    background: #e5b84f;
    color: #fff;
    border: none;
}

.apart_chosen_list_tb_r:hover+.apart_chosen_list_tb_r .col {
    background: none;
}

.apart_chosen_list_tb_r:hover .col_1:before,
.apart_chosen_list_tb_r:hover .col_9:before {
    display: block;
}

.apart_chosen_list_tb_r:hover .ok {
    background-image: url(../img/icon_check_mark_white.svg);
}

.apart_big_text {
    position: absolute;
    left: -27%;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    opacity: 0.05;
    font-weight: 700;
    font-size: 10vw;
    line-height: 1;
    text-transform: uppercase;
}

@media screen and (max-width:1279px) {
    .menuLocation.infro_outer {
        bottom: 130px;
    }
    .choice_gp_link {
        font-size: 30px;
        line-height: 42px;
    }
    .choice_param_link {
        font-size: 30px;
        line-height: 42px;
    }
    .apart_chosen_img {
        padding: 0;
    }
    .apart_chosen_list {
        width: 50%;
        margin-left: 0;
        padding-left: 0;
    }
    .apart_chosen_list_t {
        width: 100%;
    }
    .apart_chosen_list_t .col {
        padding: 0 2px;
    }
}

@media screen and (max-width:1072px) {
    #hd .favorit_link {
        right: 380px;
        color: #d99b47;
    }
    #hd .favorit_link_count {
        border-color: #e5e5e5;
        color: #000;
    }
}

@media screen and (max-width:1023px) {
    /*#hd .favorit_link { right:380px; color:#d99b47;}
		#hd .favorit_link_count { border-color:#e5e5e5; color:#000;}*/
    .slider_main .head {
        left: 40px;
        top: 257px;
        margin-top: 0;
        font-size: 30px;
        line-height: 42px;
        max-width: 310px;
    }
    .slider_main .text {
        left: 40px;
        top: 352px;
        margin-top: 0;
        max-width: 490px;
    }
    .action_hot {
        width: 505px;
        background-position: right bottom;
        padding: 0 40px;
    }
    .action_hot .head {
        margin-bottom: 12px;
    }
    .action_hot .text {
        font-size: 14px;
    }
    .location .zoom {
        right: 40px;
    }
    .menuLocation {
        bottom: 130px;
    }
    .popUP_location .location_text {
        width: 440px;
        padding: 46px 40px 20px;
    }
    .popUP_location .nav-tabs>li {
        margin: 0 0 40px;
    }
    .popUP_location .location_news {
        width: 440px;
    }
    .popUP_location .location_news li {
        padding: 29px 40px 6px;
    }
    .galery .breadcrumb {
        left: 40px;
        top: 95px;
    }
    .choice_gp_link {
        font-size: 22px;
        line-height: 32px;
    }
    .choice_gp_link .text {
        padding-top: 50px;
    }
    .choice_param_link {
        font-size: 22px;
        line-height: 32px;
    }
    .choice_param_link .text {
        padding-top: 50px;
    }
    .container.choice_flat h1 {
        max-width: 170px;
    }
    .flat_rose_wind,
    .flat_legend {
        right: 40px;
    }
    .flat_count {
        left: 40px;
    }
    .section_plan img {
        max-width: 768px;
    }
    .container.choice_flat .btn_orange.choice_param {
        right: 40px;
        top: 135px;
        width: 39px;
        padding: 0;
        text-indent: -9999px;
    }
    .container.choice_flat .btn_param {
        left: 3px;
        top: 3px;
    }
    .view_court,
    .view_street {
        display: none;
    }
    /*.view_court { transform:translate(20%, 100%) rotate(-90deg); transform-origin:0 0;}
		.view_street { transform:translate(40%, 100%) rotate(-90deg); transform-origin:0 0; overflow:visible;}*/
    .filtr {
        width: 270px;
        padding: 27px 37px 27px 40px;
    }
    .filtr:after {
        left: 270px;
    }
    .filtr .btn-primary {
        margin-left: 11px;
    }
    .filtr_result {
        width: calc(100% - 270px);
    }
    .filtr_result_item {
        padding: 50% 0 0;
    }
    .filtr_result_item .inner {
        padding: 30px 20px;
    }
    .filtr_result_item .btn_close {
        right: 20px;
    }
    .apart_chosen {
        padding: 220px 40px 140px;
    }
    .apart_chosen_img {
        margin-bottom: 70px;
        padding: 0;
    }
    .view_flat {
        position: relative;
        padding-top: 220px !important;
        overflow: hidden;
    }
    .view_flat:before {
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 116px;
        background: #fff;
        z-index: 3;
    }
    .flat_plan {
        position: relative;
        left: 50%;
        top: 0%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        width: 66%;
        margin-bottom: 45px;
    }
    .view_flat .row {
        position: relative;
        margin-bottom: 140px;
    }
    .view_flat .flat_count {
        position: relative;
        left: 0;
        top: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        padding-left: 40px;
    }
    .view_flat .flat_count li {
        font-size: 14px;
        height: 44px;
        line-height: 44px;
    }
    .flat_legend_info {
        position: relative;
        right: 0;
        top: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        padding-right: 40px;
    }
    .flat_legend_info .count {
        font-size: 14px;
    }
    .flat_plan .info_section .row {
        margin: 0;
    }
    .flat_on_floor {
        left: 20px;
        bottom: 30px;
    }
    .btn_orange.best_offers {
        bottom: 50px;
        padding: 0 35px;
    }
    .view_flat .flat_rose_wind {
        right: 40px;
        bottom: 50px;
    }
    .btn_print_plan {
        display: none;
    }
    .view_flat .btn_param {
        display: block;
    }
    .apart_chosen_wrap {
        position: relative;
    }
    .apart_chosen_wrap:before {
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 121px;
        background: #fff;
        z-index: 3;
    }
    .apart_chosen {
        top: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        padding: 220px 60px 140px;
        margin: 0;
    }
    .apart_chosen_img {
        margin-bottom: 70px;
    }
    .apart_chosen_list {
        float: none;
        width: 100%;
    }
    .apart_chosen_list h5 {
        margin: 0 0 12px;
    }
    .apart_chosen_list_t {
        display: table;
        margin: 0;
    }
    .apart_big_text {
        left: -16%;
        width: 150%;
        font-size: 23vw;
        line-height: 1;
        text-transform: uppercase;
    }
}

@media screen and (max-width:767px) {
    #bd {
        padding: 0;
    }
    #hd .favorit_link {
        right: 140px;
        top: 29px;
        font-size: 0;
        color: #d99b47;
    }
    #hd .favorit_link span {
        background: url(../img/icon_favorite.png) center no-repeat;
        width: 23px;
        height: 23px;
    }
    #hd .favorit_link_count {
        border-color: #e5e5e5;
        font-size: 10px;
    }
    #ft.filtr_page {
        display: block;
    }
    /*.popUpBg:before { opacity:0.5;}*/
    .slider_main {
        height: calc(100% - 100px);
    }
    .slider_main .head {
        left: 30px;
        top: 110px;
        font-size: 20px;
        line-height: 32px;
        max-width: 260px;
    }
    .slider_main .text {
        left: 30px;
        top: 185px;
        margin-top: 0;
        padding-right: 30px;
    }
    .action_hot {
        bottom: 50px;
        width: 100%;
        height: 50px;
        background-image: none;
        padding: 0;
    }
    .action_hot .slider {
        height: 50px;
        line-height: 50px;
        padding: 0 45px;
        text-align: center;
    }
    .action_hot .head {
        display: none;
    }
    .action_hot .text {
        font-size: 10px;
    }
    .action_hot .str_t {
        top: 0;
        background-image: url(../img/icon_akciya_arrow_left.svg);
        width: 45px;
        height: 50px;
    }
    .action_hot .str_b {
        left: auto;
        right: 0;
        background-image: url(../img/icon_akciya_arrow_right.svg);
        width: 45px;
        height: 50px;
    }
    .location .zoom {
        display: none;
    }
    .location .point img {
        width: 61px;
    }
    .popUP_location h4 {
        margin-bottom: 22px;
    }
    .menuLocation {
        bottom: 80px;
    }
    .menuLocation.infro {
        bottom: 75px;
    }
    .menuLocation.infro li {
        width: 40px;
        height: 40px;
        margin: 0 7px;
    }
    .menuLocation.infro img {
        width: 96px;
        height: 96px;
        margin: -12px 0 0 -28px;
    }
    .menuLocation.infro_outer {
        /* width:219px; margin-left:-110px;*/
        display: none;
    }
    .menuLocation.contacts li {}
    .menuLocation.contacts li a {
        padding: 0;
        width: 53px;
        height: 53px;
        border-radius: 26px;
        text-indent: -9999px;
    }
    .menuLocation.contacts .btn_orange {
        background: url(../img/contact/icon_yellow.svg) center no-repeat;
    }
    .menuLocation.contacts .btn_blue {
        background: url(../img/contact/icon_blue.svg) center no-repeat;
    }
    .popUP_location p {
        margin-bottom: 20px;
    }
    .popUP_location .location_text {
        bottom: 49px;
        width: 310px;
        padding: 36px 25px 14px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background: #fff;
        border-radius: 8px 8px 0 0;
    }
    .popUP_location .nav-tabs>li {
        margin: 0 0 31px;
    }
    .popUP_location .nav-tabs>.item_2 {
        margin: 0 25px 31px;
    }
    .popUP_location .location_news {
        bottom: 49px;
        width: 305px;
    }
    .popUP_location .location_news li {
        padding: 29px 25px 6px;
    }
    .location_text.contacts {
        padding-top: 23px;
    }
    .location_text .dl-horizontal {
        padding: 0;
    }
    .location_text dt {
        float: left;
        width: 62px;
        font-size: 12px;
    }
    .location_text dd {
        margin: 0 0 20px 62px;
    }
    .location_text .hide_text {
        display: none;
    }
    .galery {
        background-image: url(../img/bg_gallery_320.png);
    }
    .galery .breadcrumb {
        left: 30px;
        top: 78px;
    }
    .choice_gp_link {
        width: 100%;
        height: calc(50% - 25px);
        padding: 0 30px;
        text-align: left;
    }
    .choice_gp_link .text {
        padding-top: 50px;
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    .choice_gp_link .btn_point {
        right: auto;
        left: 0;
    }
    .choice_param_link {
        left: 0;
        top: calc(50% - 25px);
        width: 100%;
        height: calc(50% - 25px);
        padding: 0 30px;
    }
    .choice_param_link .text {
        padding-top: 50px;
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
    }
    #hd.for_choice_flat .menu_btn {
        background-image: url(../img/icon_menu_white.svg);
    }
    #hd.for_choice_flat .menuHeader li:last-child {
        background-image: url(../img/icon_phoneTop_white.svg) !important;
    }
    .container.choice_flat {
        display: none;
    }
    .parame_choice {
        top: 0;
        height: 100%;
    }
    .parame_choice:before {
        height: 81px;
    }
    .btn_param.filtr_page {
        display: block;
    }
    .filtr {
        float: none;
        position: fixed;
        right: 0;
        top: 0;
        width: 256px;
        padding: 27px 30px 0;
        background: #fff;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        z-index: 100;
    }
    .filtr:after {
        display: none;
    }
    .filtr.open {
        opacity: 1;
        visibility: visible;
    }
    .filtr_btn_submit {
        display: block;
    }
    .filtr_result {
        width: 100%;
        min-height: 0;
        margin-bottom: 50px
    }
    .filtr_result_item {
        padding: 0;
        margin-bottom: -1px;
    }
    .filtr_result_item .inner {
        position: relative;
    }
    .filtr_result_item .number {
        margin-left: 10px;
    }
    .filtr_result_item .info {
        right: -6%;
        bottom: -8%;
        font-size: 35vw;
    }
    .filtr_result_item:hover .info {
        bottom: -8%;
    }
    .filtr_result .info_filtr {
        display: none;
    }
    .filtr_result .filtr_flat_square {
        display: block;
        margin: 15px 0 0 10px;
    }
    .filter_values {
        display: block;
    }
    .empty_result {
        top: 100px;
        padding-bottom: 24px;
        font-size: 14px;
    }
    .empty_result:before {
        font-weight: normal;
        font-size: 14px;
        text-transform: lowercase;
    }
    .apart_chosen_wrap .h1_full h1 {
        padding-right: 30px;
        top: 17px;
        line-height: 22px;
    }
    .apart_chosen_wrap:before {
        height: 78px;
    }
    .apart_chosen {
        padding: 80px 30px 70px;
    }
    .apart_chosen_img {
        margin-bottom: 30px;
        padding: 0;
    }
    .apart_chosen_list h5 {
        margin: 0 0 32px;
    }
    .apart_chosen_list_t .col {
        height: 34px;
        font-size: 10px;
        padding: 0 4px;
    }
    .apart_chosen_list_th_r .col {
        padding: 0 0 5px;
        height: auto;
        font-size: 7px;
    }
    .apart_chosen_list_tb_r .col_1:before {
        left: -30px;
        width: 30px;
        height: 34px;
        border-radius: 0;
    }
    .apart_chosen_list_t .col_9 {
        border-radius: 0;
        border-radius: 0;
    }
    .apart_chosen_list_tb_r .col_9:before {
        left: auto;
        right: -30px;
        width: 30px;
        height: 34px;
    }
    .apart_chosen_list_t .ok {
        width: 9px;
        height: 7px;
        background-size: contain;
    }
    .apart_chosen_list_tb_r:hover .col_9:before {
        display: block;
    }
    .view_flat {
        display: none;
    }
}
