@media screen and (min-width:1900px) {
	.galery_list { -webkit-transform:translateX(-505px); transform:translateX(-505px);}
		.galery_list .galery_item { width:1010px;}
		.galery_list img { width:1010px; max-height:none;}
		.galery_str_l { left:50%; margin-left:-580px;}
		.galery_str_r { right:50%; margin-right:-580px;}
	.decoration_1 .galery_list { -webkit-transform:translateX(-505px); transform:translateX(-505px);}
		.decoration_1 .galery_list .galery_item { width:1010px;}
		.decoration_1 .galery_list img { width:1010px; max-height:none;}
}

@media screen and (max-width:1899px) {
	.menu { font-size:14px;}
		.menu .name, .menu .item>a { font-size:20px;}
}

@media screen and (max-width:1279px) {
	h1, .h1 { font-size:30px; line-height:42px; max-width:530px; margin-bottom:20px;}
		h1 small, .h1 small { font-size:20px;}
		.h1_full h1 { max-width:none;}
	h2, .h2 { font-size:30px; line-height:42px; margin-bottom:20px; max-width:410px;}
	
	.menu .item_2 { left:19.4%;}
		.menu .item_3 { left:34.8%;}
		.menu .item_4 { left:61.4%;}
		.menu .item_5 { left:81.5%;}
		.menu .item_6 { left:81.5%; bottom:163px; height:auto;}
		.menu .item_7 { left:81.5%; bottom:119px; height:auto;}
	
	.row.about_1 { margin-top:73px;}
	.row.about_2 { padding-top:87px; background-position:calc(50% + 175px) center; margin-bottom:-5px;}
	.row.about_4 { background-size:cover; height:535px; padding-top:125px; margin-bottom:75px;}
		.row.about_4 h4 { margin-bottom:57px;}
		.row.about_4 div[class|="col"] { font-size:14px; line-height:20px;}
	.row.about_5 h4 { margin-left:30px;}
	
	.news_date { padding:7px 0 0 2px;}
		.news_date span { font-size:30px; margin-bottom:13px;}
		.news_date .year { font-size:14px;}
	.news_page h1 a { background-position:left 32px;}
	.news_page.listing .pagination { margin-left:-50px;}
	
	.pagination>li>a, .pagination>li>span { font-size:30px;}
	
	.docs_list .item { width:33.33%;}
	
	 .big_name_page .wrap { font-size:11.6vw;}
	 
	 .installment .item { height:250px;}
		.installment .rate_info { width:195px;}
		.installment .rate_note { position:absolute; left:auto; right:30px; bottom:auto; top:45px; width:120px;}
	
	.v_ip { margin:-10px 0 0;}
		.v_ip .btn_orange { top:-90px;}
		.v_ip h1 { margin-bottom:30px;}
		.v_ip address { margin:45px 0 0;}
	.v_ip .tarif { margin:-10px 0 70px -20px;}
		.v_ip .tarif .col_1 { width:25%; padding-left:20px;}
		.v_ip .tarif .col_2 { width:13%;}
		.v_ip .tarif .col_3 { width:24%;}
		.v_ip .tarif .col_4 { width:17%;}
		.v_ip .tarif .col_5 { width:21%; padding-right:20px;}
		.v_ip .tarif img { max-width:90px;}
	.v_ip_1 { margin:40px 0 80px;}
	
	.about_bank .tarif { margin-left:-20px;}
		.about_bank .tarif .col_1 { padding-left:20px;}
		.about_bank .tarif .col_3 { padding-right:20px;}
}

@media screen and (max-width:1072px) {
	.menuHeader { right:198px;}
		.menuHeader li { display:none;}
		.menuHeader li:last-child { display:block;}
}

@media screen and (max-width:1023px) {
	html { min-height:240px;}
	#hd .logo { left:40px;}
	#ft { padding-right:40px; padding-left:40px;}
	.container { padding-right:40px; padding-left:40px;}
	.menu_btn { right:40px;}
	/*.menuHeader { right:198px;}
		.menuHeader li { display:none;}
		.menuHeader li:last-child { display:block;}*/
	.menuFooter { right:40px;}
	.menu .wrap { width:calc(100% - 80px); height:calc(100% - 105px); margin:45px 0 0 40px;}
		.menu .item_2 { left:38.5%;}
		.menu .item_3 { left:38.5%; bottom:226px; height:auto;}
		.menu .item_4 { left:38.5%; bottom:55px; height:auto;}
		.menu .item_5 { left:75.7%;}
		.menu .item_6 { left:75.7%; bottom:163px;}
		.menu .item_7 { left:75.7%; bottom:119px;}
	.breadcrumb { margin-bottom:31px;}
	.bg_wave_1 { top:116px;}
	
	h1, .h1 { font-size:20px; line-height:32px; max-width:365px;}
		h1 small, .h1 small { font-size:14px;}
		.h1_full h1 { left:40px;}
	h2, .h2 { font-size:20px; line-height:32px; margin-bottom:20px; max-width:350px;}
	h4, .h4 { font-size:14px; line-height:20px;}
	
	.popUpBg .close { right:13px; top:8px;}
	
	.row p { margin-left:0;}
	.row .dl-horizontal { margin:0;}
	
	.btn_orange.choice_param { right:40px;}

	/*.about_1 .col-md-3 { width:auto;}
	.about_1 .col-sm-6 { width:50%;}*/
	.row.about_1 { margin:50px 0 40px;}
		.row.about_1 div[class|="col"] { padding-right:20px;}
	.row.about_2 { height:620px; padding-top:8px; background-position:center top; background-size:1350px 557px;}
		.row.about_2 .col-sm-7 { width:50%;}
	.row.about_4 { background-position:center -10px; padding-top:85px;}
	.row.about_4 div[class|="col"] { margin-bottom:45px;}
		.row.about_4 img { margin-bottom:14px;}
	.row.about_5 h4 { margin-left:0;}
		.row.about_5 .col-sm-1 { width:16.666666666666664%;}
		.row.about_5 i { font-size:14px; line-height:20px;}
	.row.about_6 { margin-bottom:140px;}
		.row.about_6 dl { margin-bottom:-1px;}
	
	.galery_bigImg { padding:30px 40px;}
		.galery_bigImg .galery_str_l { left:15px;}
		.galery_bigImg .galery_str_r { right:15px;}
	.galery .choose_year { right:40px; top:124px;}
	.galery_str_l { margin-left:-41px;}
	.galery_str_r { margin-right:-41px;}
	.galery_list .info { padding:0 40px;}
	
	.news_date span { font-size:20px; margin-bottom:12px;}
		.news_date .year { font-size:8px;}
	.news_page h1 a { background-position:left 21px;}
	.news_page .choose_year { top:-65px;}
	.news_page.listing .pagination { margin-left:0/*-40px*/;}
	
	.pagination { margin-top:50px;}
		.pagination>li>a, .pagination>li>span { font-size:20px;}
	
	.docs_list .item { width:50%;}
	
	.action_list .name { height:auto; padding-bottom:54px;}
	.action_list .img img { width:100%;}
	.action_page h1 { margin-bottom:20px;}
	
	.decoration_1 .galery_1 { margin-bottom:100px;}
	.decoration_logo_partner { padding-top:35px;}
	
	.installment .item { height:370px;}
		.installment .rate_info { width:auto;}
		.installment .rate_note { position:absolute; left:40px; right:auto; bottom:37px; top:auto; width:auto;}
		.installment p { margin:0 0 20px 50px;}
	
	.v_ip { margin:10px 0 0;}
		.v_ip h1 { margin-bottom:20px;}
		.v_ip .big_name_page .wrap { right:-1.5%; -webkit-transform:translateY(-38%); transform:translateY(-38%); font-size:18.6vw;}
		.v_ip address { margin:0 0 60px;}
		.v_ip .addr { float:left; width:41.66%; margin-top:25px; position:relative;}
			.v_ip .addr+.addr { left:16.66%;}
		.v_ip h4 { font-size:17px; line-height:30px; max-width:83%; margin-bottom:22px;}
		.v_ip_1 h4 { font-size:17px; line-height:30px; margin-bottom:15px;}
		.v_ip .tarif { margin:-10px -20px 70px;}
		.v_ip .tarif .col { font-size:14px;}
			.v_ip .tarif .col_1 { width:21%;}
			.v_ip .tarif .col_2 { width:13%;}
			.v_ip .tarif .col_3 { width:21%;}
			.v_ip .tarif .col_4 { width:21%;}
			.v_ip .tarif .col_5 { width:23%;}
		.v_ip .all_tarifs { font-size:17px; line-height:1.3;}
	.v_ip_1 { margin:-40px 0 40px;}
		.v_ip_1 .v_ip_img { overflow:hidden; position:relative; margin-top:-18%;}
			.v_ip_1 .v_ip_img img { width:201%;}
	
	.about_bank .btn_orange { top:-90px;}
		.about_bank h4 { margin-bottom:15px;}
		.about_bank .tarif { margin:0 -20px 55px;}
			.about_bank .tarif .col { font-size:14px;}
}

@media screen and (max-width:767px) {
	html, body { font-size:14px; line-height:20px;}
	#bd { padding-top:78px;}
		#bd .empty_box { height:50px;}
	#hd { height:78px; border:none;}
		#hd .logo { left:30px; top:23px;}
			#hd .logo img { width:103px;}
	#ft { height:50px; margin-top:-50px; padding-right:30px; padding-left:30px; border-top:1px solid #ccc; background:#fff;}
		#ft .copy { display:none;}
	.container { padding-right:30px; padding-left:30px;}
	.menu_btn { right:30px; top:30px; padding-left:34px; text-indent:-9999px;}
	.menuHeader { right:92px; top:30px;}
		.menuHeader li:last-child { display:block; background:url(../img/icon_phoneTop.svg) center no-repeat; width:20px; height:20px; text-indent:-9999px;}
	.menuFooter { right:30px; top:12px; width:calc(100% - 60px); text-align:center;}
		.menuFooter li { float:none; display:inline-block; margin:0 10px;}
		.menuFooter li:first-child { float:left; padding-right:0; margin:0 10px 0 0; border-right:none;}
		.menuFooter li:last-child { float:right; padding-left:0; margin:0 0 0 10px; border-left:none;}
	.menu { background:none;}
	.menu:before { content:''; position:absolute; left:0; top:0; width:100%; height:100%; background:#000; opacity:0.5;}
		.menu .wrap { width:auto; height:100%; padding:28px 30px 0; margin:0 0 0 25%; background:#fff;}
		.menu .close { left:-33%; right:auto; top:30px; width:17px; height:17px; margin-left:14%; background-image:url(../img/icon_close.svg);}
		.menu .item { position:static; left:auto; bottom:auto; height:auto;}
			.menu .item ul { display:none; margin:0;}
			.menu .item li { margin:0;}
			.menu .item>a, .menu .item a  { display:block; height:47px; line-height:47px; border-top:1px solid #f4f5f6; font-size:12px; font-weight:normal; color:#353d53;}
				.menu .item_1>a { border-top:none;}
				.menu .item_1>a, .menu .item_3>a, .menu .item_4>a, .menu .item_5>a { background:url(../img/icon_menu_arrow_right.svg) right center no-repeat;}
		.menu .menuFooter { display:none;}
		.menu .item.active ul { display:block; position:absolute; left:30px; top:73px; width:calc(100% - 60px); height:calc(100% - 73px); background:#fff; z-index:2;}
		.menu .back { display:block;}
		.menu a:hover { color:#000;}
		.menu .item>a:hover:before { display:none;}
	
	h1, .h1 { line-height:26px; max-width:260px; margin-bottom:15px;}
		h1 small, .h1 small { line-height:20px; margin-bottom:21px;}
		.h1_full h1 { left:30px; top:99px; font-size:16px;}
	h2, .h2 { line-height:26px; margin-bottom:16px; max-width:260px;}
	h4, .h4 { font-size:14px; line-height:20px;}
	.row p { margin:0 0 5px;}

	/*.breadcrumb { margin:11px 0 10px;}
		.breadcrumb li { display:none;}
			.breadcrumb li:last-child { display:block; font-size:16px; font-weight:600; padding:0;}
			.breadcrumb>li+li:before { display:none;}*/
	.breadcrumb { display:none;}
	.breadcrumb_320 { display:block;}
	.bg_wave_1, .bg_wave_2 { display:none;}
	
	.btn_more { padding:0; text-indent:-9999px; width:35px; background-image:url(../img/icon_circle_button_arrow.svg); background-position:center;}
		.btn_more:before { display:none;}
		.btn_more:hover, .btn_more:focus { background-image:url(../img/icon_circle_button_arrow.svg);}
	.btn_orange { height:34px; padding:0 25px; font-size:12px; line-height:34px; border-radius:17px;}
		/*.btn_orange:hover { color:#fff; box-shadow:0 25px 55px #ffedd8;}*/
	.btn_orange.video { top:-52px; padding:0 35px 0 15px;}
		.btn_orange.video:before { right:5px; margin-top:-12px; width:25px; height:25px; background-size:25px;}
		
	.btn_orange.choice_param { display:none;}
	
	.popUpBg .close { right:8px;}
	.popUpBg .video_about { width:100%;}
	
	.page_404 { width:387px; height:177px; margin:-89px 0 0 -194px; background-size:387px auto;}
		
	/*.about_1 .col-sm-6 { width:auto;}*/
	.row.about_1 { margin:1px 0 24px;}
		.row.about_1 div[class|="col"] { padding-right:20px; margin-bottom:17px;}
	.row.about_2 { height:420px; margin-bottom:25px; padding-top:0; background-position:center 170px; background-size:768px 317px;}
		.row.about_2 .pull-right { float:none !important;}
		.row.about_2 .h1 { max-width:none;}
	.row.about_3 { margin-bottom:3px;}
		.row.about_3 div[class|="col"] { margin-bottom:10px;}
	.row.about_4 { height:auto; padding:67px 0 10px; margin:20px 0 30px; background-image:url(../img/about/about_2_320.png); background-size:auto; background-position:center top;}
	.row.about_4:before { content:''; position:absolute; left:0; bottom:0; width:100%; height:260px; background:url(../img/about/about_2_320.png) center bottom no-repeat;}
		.row.about_4 h4 { font-size:17px; line-height:26px; margin-bottom:42px;}
		.row.about_4 div[class|="col"] { display:block; font-size:17px; line-height:26px; padding:0; margin-bottom:55px;}
		.row.about_4 img { margin-bottom:24px;}
	.row.about_5 { margin-bottom:20px;}
		.row.about_5 h4 { margin-top:14px;}
		.row.about_5 img { margin:0 -30px; max-width:calc(100% + 60px); width:calc(100% + 60px);}
	.row.about_6 { margin:0 0 30px;}
		.row.about_6 dl { font-size:12px; margin-bottom:-2px;}
		.row.about_6 dt { float:left; overflow:hidden; clear:left;}
		.row.about_6 dd { padding-left:10px;}
		.row.about_6 .view_pc { display:none;}
		.row.about_6 .view_m { display:block;}
	
	.galery_bigImg { padding:30px;}
		.galery_bigImg .galery_str_l { left:10px;}
		.galery_bigImg .galery_str_r { right:10px;}
	.galery .choose_year { right:30px; top:89px;}
	.galery_1 { top:145px;}
		.galery_str_l { left:10px; margin-left:0;}
		.galery_str_r { right:10px; margin-right:0;}
	.galery_list { -webkit-transform:translateX(calc(-50% + 40px)); transform:translateX(calc(-50% + 40px));}
		.galery_list .info { height:87px; line-height:87px; padding:0 16px;}
		.galery_list .galery_item { width:calc(100% - 80px); margin-right:40px;}
		.galery_list .name { font-size:14px;}
		.galery_list .count { font-size:11px;}	
	
	.news_date { padding:7px 0 0; padding-right:10px;}
		.news_date .day, .news_date .month { margin-bottom:9px; padding-bottom:3px;}
		.news_date .year { margin-top:-1px;}
	.news_social { position:absolute; right:0; top:-55px;}
		.news_social a { display:inline-block; margin:0 0 0 9px; background-size:contain;}
			.news_social img { width:35px; height:35px;}
	.news_page { margin:0 0 20px;}
		.news_page .col-xs-1 { float:left; width:35px;}
			.news_page .col-xs-10 { float:none; width:auto; margin-left:35px;}
		.news_page h1 { line-height:32px; margin-bottom:20px; min-height:79px;}
			.news_page h1 span { border-bottom:2px solid #68aae2;}
		.news_page h1 a { background-position:left 22px;}
		.news_page .media>.pull-left { float:none; width:100%; margin-right:0;}
			.news_page .media-object { width:100%; margin-bottom:24px;}
			.news_page .media-body { overflow:visible;}
				.news_page .media-body p { margin:0 0 20px;}
	
	.news_page.listing .bg_wave_3 { display:none;}
	.news_page.listing .item { margin-bottom:12px;}
	.news_page.listing .item:after{content:".";display:block;height:0px;font-size:0;clear:both;visibility:hidden;}
		.news_page.listing img { display:none;}
	.news_page .choose_year { top:-55px;}
	
	.big_name_page { position:absolute; right:0; top:0; width:1px !important; height:100%; transform:; font-size:4hw; background:yellow; display:none;}
		.big_name_page .wrap { right:0; top:0; transform:rotate(-90deg) translate(0, 0); transform-origin:100% 100%; width:100%; height:100px; text-align:center; background:red; opacity:1; font-size:inherit;}
	
	.docs_list { margin-top:-12px;}
		.docs_list .item { float:none; width:100%; padding:15px 0; margin:0 auto;}
		.docs_list .doc, .docs_list .format { padding-left:30px; padding-right:30px;}
		.docs_list dl { left:30px; width:calc(100% - 60px);}
		.docs_list dt { float:left;}
	
	.pagination { width:100%; margin:20px 0; text-align:center;}
	
	.action_list { margin:0;}
		.action_list .col-md-6 { padding:0; margin-bottom:30px;}
		.action_list .img { height:175px;}
			.action_list .img img { min-height:175px;}
		.action_list .name { padding:23px 30px; font-size:20px; line-height:24px;}
		.action_list_old { display:none;}
	.action_page { margin:0 0 20px;}
		.action_page .media>.pull-left { float:none; width:100%; margin-right:0;}
		.action_page .media-object { width:100%; margin-bottom:24px;}
		.action_page .media-body { overflow:visible;}
			.action_page .media-body p { margin:0 0 20px;}
	
	.decoration_0 { margin-bottom:20px;}
		.decoration_0 h1 { margin-bottom:70px;}
		.decoration_0 h1 small { margin-bottom:11px;}
	.decoration_1 .galery_1 { top:0; margin-bottom:60px;}
		.decoration_1 .galery_list { -webkit-transform:translateX(calc(-50% + 40px)); transform:translateX(calc(-50% + 40px));}
		.decoration_1 .galery_str_l { left:10px; margin-left:0;}
		.decoration_1 .galery_str_r { right:10px; margin-right:0;}
	.decoration_2 { margin-bottom:5px;}
		.decoration_2 h4 { margin-bottom:20px;}
		.decoration_2 div[class|="col"] { padding:0 0 0 30px; margin-bottom:15px;}
		.decoration_2 .note { position:relative; font-style:italic; padding:0 !important;}
	.decoration_logo_partner { padding-top:15px;}
		.decoration_logo_partner img { width:130px; top:-48px;}
	
	.installment { margin:0;}
		.installment .row_0 { display:none;}
		.installment .row_320 { display:block;}
			.installment .str_l, .installment .str_r { display:block;}
		.installment .row_1 { margin:40px 0 20px;}
			.installment .item { padding-left:30px; padding-right:30px; margin:0;}
			.installment .note { margin-left:30px;}
			.installment p { margin-bottom:20px; letter-spacing:-0.008em;}
	
	.v_ip.lg { display:none;}
	.v_ip.sm { display:block;}
	.v_ip .btn_orange { top:-55px; height:34px; padding:0 20px; font-size:12px; line-height:34px;}
	.v_ip h4 { line-height:26px; max-width:100%; margin-bottom:15px;}
	.v_ip_1 h4 { line-height:20px; margin-top:30px;}
	.v_ip address { margin:20px 0 37px;}
	.v_ip .addr { float:none; width:auto; margin-top:10px;}
		.v_ip .addr+.addr { left:0;}
	.v_ip .tarif { margin:-5px 0 23px; padding-bottom:57px;}
		.v_ip .tarif .col { width:25%; padding:0; text-align:center; font-size:12px; color:#000;}
		.v_ip .th_row .col { color:#3b3e41; padding:0 0 7px;}
		.v_ip .td_row { background:none; border-radius:0; box-shadow:none; border-top:1px solid #ebedf0; border-bottom:1px solid #ebedf0;}
			.v_ip .td_row .col { padding-top:16px; padding-bottom:16px;}
			.v_ip .tarif .col_2 { text-align:left;}
			.v_ip .tarif .td_row .col_5 { font-size:0; line-height:0;}
		.v_ip .tarif .col_1 { position:absolute; left:0; bottom:0; width:100%; text-align:center; padding-bottom:19px; font-size:17px; line-height:1;}
		.v_ip .tarif .col_1:after { content:'Максимальная  сумма'; position:absolute; left:0; bottom:0; width:100%; font-size:12px;}
		.v_ip .tarif img { display:inline-block; max-width:56px;}
		.v_ip .tarif .td_wrap { margin:0;}
	.v_ip .tarif.normal { margin:-5px 0 13px; padding-bottom:0;}
		.v_ip .all_tarifs { right:0; font-size:14px; margin-bottom:15px;}
	.about_v_ip { margin-bottom:37px;}
		.about_v_ip li { padding-left:22px; margin-bottom:6px;}
		.about_v_ip li:before { top:8px;}
	.bg_wave_3.v_ip { display:none;}
	.v_ip_1 { margin:0 0 20px;}
		.v_ip_1 h2 {/* font-size:17px;*/ max-width:none; margin-bottom:15px;}
		.v_ip_1 .v_ip_img { margin:0 -30px 22px;}
			.v_ip_1 .v_ip_img.lg { display:none;}
			.v_ip_1 .v_ip_img.sm { display:block;}
				.v_ip_1 .v_ip_img img { width:100%;}
	.v_ip_1 .row+.row { margin-top:5px;}
	
	.call_me_form { display:block;}
		.call_me_form .btn_orange { height:53px; line-height:53px; border-radius:26px; font-size:16px;}
	
	.send_letterIpotek, .send_letterIpotek .wrap:after { background:none;}
		.send_letterIpotek .wrap { width:310px; padding:30px 24px 30px;}
		.send_letterIpotek .note { display:none;}
		.send_letterIpotek .captcha input, .send_letterIpotek .captcha input ~ label { width:145px;}
		.send_letterIpotek input[type=submit] { margin:0 auto;}
		.send_letterIpotek .btn_orange { width:200px; height:53px; line-height:53px; border-radius:26px; font-size:16px;}
	
	.about_bank { margin:0;}
	.about_bank [class~="lg"] { display:none;}
	.about_bank [class~="sm"] { display:block;}
		.about_bank .logo_bank { margin-bottom:25px;}
		.about_bank .btn_orange { top:-55px; height:34px; padding:0 20px; font-size:12px; line-height:34px;}
		.about_bank .col-md-5 { margin-top:30px;}
		.about_bank .tarif { margin:0 0 35px;}
		.about_bank .td_row { background:none; border-radius:0; box-shadow:none; border-top:1px solid #ebedf0; border-bottom:1px solid #ebedf0;}
			.about_bank .td_row .col { padding-top:16px; padding-bottom:16px;}
		.about_bank .tarif .col { display:inline-block; font-size:12px; text-align:center;}
			.about_bank .tarif .col_1 { width:33%; padding-left:0; text-align:left;}
			.about_bank .tarif .col_2 { width:33%;}
			.about_bank .tarif .col_3 { width:33%; padding-right:0;}
		.about_bank .th_row { font-size:0; line-height:0;}
			.about_bank .th_row .col { padding-top:0; padding-bottom:7px;}
}

/*@media screen and (max-width:530px) {
	.docs_list .item { float:none; width:100%; padding:15px 0; margin:0 auto;}
}*/

@media screen and (max-width:387px) {
	.page_404 { width:100%; left:0; margin-left:0;}
}

/*@media screen and (max-width:450px) {
	.news_page .media>.pull-left { float:none; width:100%; margin-right:0;}
		.news_page .media-object { width:100%; margin-bottom:24px;}
		.news_page .media-body { overflow:visible;}
			.news_page .media-body p { margin:0 0 20px;}
}*/