@font-face {
    font-family: 'AvenirNextCyr';
    src: url('../fonts/AvenirNextCyr.eot');
    src: url('../fonts/AvenirNextCyr.eot') format('embedded-opentype'), url('../fonts/AvenirNextCyr.woff') format('woff'), url('../fonts/AvenirNextCyr.ttf') format('truetype'), url('../fonts/AvenirNextCyr.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextCyr';
    src: url('../fonts/AvenirNextCyrMedium.eot');
    src: url('../fonts/AvenirNextCyrMedium.eot') format('embedded-opentype'), url('../fonts/AvenirNextCyrMedium.woff') format('woff'), url('../fonts/AvenirNextCyrMedium.ttf') format('truetype'), url('../fonts/AvenirNextCyrMedium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextCyr';
    src: url('../fonts/AvenirNextCyrDemi.eot');
    src: url('../fonts/AvenirNextCyrDemi.eot') format('embedded-opentype'), url('../fonts/AvenirNextCyrDemi.woff') format('woff'), url('../fonts/AvenirNextCyrDemi.ttf') format('truetype'), url('../fonts/AvenirNextCyrDemi.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextCyr';
    src: url('../fonts/AvenirNextCyrBold.eot');
    src: url('../fonts/AvenirNextCyrBold.eot') format('embedded-opentype'), url('../fonts/AvenirNextCyrBold.woff') format('woff'), url('../fonts/AvenirNextCyrBold.ttf') format('truetype'), url('../fonts/AvenirNextCyrBold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextCyr';
    src: url('../fonts/AvenirNextCyrItalic.eot');
    src: url('../fonts/AvenirNextCyrItalic.eot') format('embedded-opentype'), url('../fonts/AvenirNextCyrItalic.woff') format('woff'), url('../fonts/AvenirNextCyrItalic.ttf') format('truetype'), url('../fonts/AvenirNextCyrItalic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

a,
a:hover {
    color: #323232;
    text-decoration: none;
}

ul li {
    list-style: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
ul,
ol {
    margin: 0;
    padding: 0;
}

input,
textarea {
    outline: none;
}

b {
    font-weight: 600;
}

html,
body {
    height: 100%;
    background: #fff;
    font: 17px/26px 'AvenirNextCyr';
    color: #424242;
}

html {
    min-width: 320px;
    min-height: 800px;
}

body {
    min-height: 100%;
}

#bd {
    min-height: 100%;
    position: relative;
    padding-top: 121px;
}

#bd .empty_box {
    height: 80px;
    clear: both;
}


/*#hd { height:121px; border-bottom:1px solid #f1f4f5; text-transform:uppercase; position:relative; z-index:1;}*/

#hd {
    height: 121px;
    background: #fff;
    border-bottom: 1px solid #f1f4f5;
    text-transform: uppercase;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
}

#hd .logo {
    position: absolute;
    left: 60px;
    top: 27px;
}

#hd .favorit_link_count {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 25px;
    height: 25px;
    border: 1px solid #e3b457;
    border-radius: 12px;
    font-style: normal;
    font-size: 10px;
    line-height: 23px;
    text-align: center;
}

#ft {
    height: 80px;
    margin: -80px auto 0;
    padding-right: 60px;
    padding-left: 60px;
    font-size: 15px;
    line-height: 1;
    color: #bdbdbd;
    position: relative;
    z-index: 2;
}

.logo_ba {
    display: block;
    position: relative;
}

.logo_ba:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/logo_blue-ant_hover.svg) center no-repeat;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.logo_ba img {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.logo_ba:hover:before {
    opacity: 1;
}

.logo_ba:hover img {
    opacity: 0;
}

.container {
    padding-right: 60px;
    padding-left: 60px;
    width: auto !important;
    max-width: 1280px;
    min-width: 320px;
}

.menu_btn {
    position: absolute;
    right: 60px;
    top: 52px;
    height: 20px;
    padding-left: 48px;
    background: url(../img/icon_menu.svg) left top no-repeat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.menuHeader {
    position: absolute;
    right: 222px;
    top: 52px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.menuHeader li {
    float: left;
    margin-left: 40px;
}

.menuFooter {
    position: absolute;
    right: 60px;
    top: 2px;
    font-size: 0;
    line-height: 0;
}

.menuFooter li {
    float: left;
    margin-left: 20px;
}

.menuFooter li:first-child {
    padding-right: 20px;
    border-right: 1px solid #eaeaea;
}

.menuFooter li:last-child {
    padding-left: 20px;
    margin-left: 25px;
    border-left: 1px solid #eaeaea;
}

h1,
.h1 {
    font: 600 40px/52px 'AvenirNextCyr';
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #323232;
    margin-bottom: 30px;
    position: relative;
}

h1 small,
.h1 small {
    display: block;
    font-weight: 600;
    font-size: 50%;
    line-height: 2.2;
    color: #323232;
    margin-bottom: 5px;
}

.h1_full h1 {
    position: absolute;
    left: 60px;
    top: 143px;
    font-size: 20px;
    line-height: 1;
    text-transform: none;
    letter-spacing: 0;
    z-index: 2;
}

h2,
.h2 {
    font: 600 40px/52px 'AvenirNextCyr';
    text-transform: uppercase;
    color: #323232;
    margin-bottom: 30px;
}

h4,
.h4 {
    font: 600 20px/32px 'AvenirNextCyr';
    text-transform: uppercase;
    color: #323232;
}

h5,
.h5 {
    font-weight: 600;
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 25px;
}

.breadcrumb {
    padding: 0;
    margin: 29px 0 44px;
    list-style: none;
    background: none;
    border-radius: 0;
    font-size: 0;
    line-height: 0;
}

.breadcrumb li {
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    margin-bottom: 20px;
    position: relative;
    padding-left: 24px;
}

.breadcrumb li:first-child {
    border-left: 2px solid #68aae2;
    padding-left: 19px;
}

.breadcrumb>li+li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    background: url(../img/icon_breadcrumb_arrow.svg) center no-repeat;
    width: 24px;
    height: 100%;
}

.breadcrumb a {
    color: #bdbdbd;
}

.breadcrumb>.active {
    color: #323232;
}

.breadcrumb_320 {
    font-size: 16px;
    font-weight: 600;
    color: #323232;
    line-height: 35px;
    margin: 11px 0 20px;
    display: none;
}

.pagination {
    margin: 75px 0 120px;
}

.pagination>li>a,
.pagination>li>span {
    padding: 0;
    margin: 0 11px;
    font-weight: 600;
    font-size: 40px;
    line-height: .85;
    background: none !important;
    border: none;
    border-bottom: 2px solid #68aae2;
    color: #323232;
}

.pagination>li>span {
    border-color: transparent !important;
    color: #c9cdd6 !important;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-color: transparent;
    color: #68aae2;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: transparent;
    margin-right: 0;
    color: #68aae2;
}

.row {
    margin: 0;
    position: relative;
}

.row div[class|="col"] {
    padding-right: 0;
    padding-left: 0;
}

.row p {
    margin: 0 20px 25px 30px;
}

.row p+h4,
.row p+.h4 {
    margin-top: 40px;
}

.bg_wave_1 {
    position: absolute;
    left: 0;
    top: 336px;
    width: 100%;
    height: 559px;
    background: url(../img/bg_wave_1.png) center no-repeat;
}

.bg_wave_2 {
    position: absolute;
    left: 0;
    bottom: 52px;
    width: 100%;
    height: 250px;
    background: url(../img/bg_wave_2.png) center no-repeat;
}

.bg_wave_3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 185px;
    background: url(../img/bg_wave_3.png) center no-repeat;
}

.bg_wave_3.news {
    position: relative;
    margin: -20px 0 20px;
}

.row .dl-horizontal {
    margin-left: 30px;
    background: url(../img/about/bg_dotted.png) left top repeat-x;
}

.dl-horizontal dt {
    width: 49%;
    padding: 8px 20px 0 0;
    text-align: left;
    text-overflow: initial;
    white-space: normal;
    font-weight: normal;
    line-height: 26px;
}

.dl-horizontal dd {
    font-weight: 600;
    margin-left: 49%;
    padding: 8px 0;
    line-height: 26px;
    position: relative;
}

.dl-horizontal dd:before {
    content: '';
    position: absolute;
    left: -96%;
    bottom: 0;
    width: 196%;
    height: 1px;
    background: url(../img/about/bg_dotted.png) left bottom repeat-x;
}

.dl-horizontal dd:after {
    content: ".";
    display: block;
    height: 0px;
    font-size: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
}

.btn_orange {
    display: inline-block;
    height: 53px;
    padding: 0 65px;
    font-size: 16px;
    line-height: 53px;
    color: #fff;
    border-radius: 26px;
    background: #ef9f4e;
    background: -moz-linear-gradient(-45deg, #ef9f4e 0%, #f3b94f 100%);
    background: -webkit-linear-gradient(-45deg, #ef9f4e 0%, #f3b94f 100%);
    background: linear-gradient(135deg, #ef9f4e 0%, #f3b94f 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffaa47', endColorstr='#f3b94f', GradientType=1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
}

.btn_orange:hover {
    color: #fff;
    box-shadow: 0 22px 40px rgba(229, 184, 79, 0.58);
}

.btn_orange.video {
    position: absolute;
    right: 0;
    top: -7px;
    padding: 0 75px 0 35px;
}

.btn_orange.video:before {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    background: url(../img/icon_play.png) center no-repeat;
}

.btn_blue {
    display: inline-block;
    height: 53px;
    padding: 0 65px;
    font-size: 16px;
    line-height: 53px;
    color: #fff;
    border-radius: 26px;
    background: #69abe2;
    background: -moz-linear-gradient(-45deg, #4b8ec3 0%, #69abe2 100%);
    background: -webkit-linear-gradient(-45deg, #4b8ec3 0%, #69abe2 100%);
    background: linear-gradient(135deg, #4b8ec3 0%, #69abe2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4b8ec3', endColorstr='#69abe2', GradientType=1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
}

.btn_blue:hover {
    color: #fff;
    box-shadow: 0 22px 40px rgba(102, 168, 223, 0.58);
}

.btn_param {
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    box-shadow: 0 4px 10px rgba(112, 88, 32, 0.25);
    background: #ffaa47;
    background: -moz-linear-gradient(-45deg, #ffaa47 0%, #ffbb4d 100%);
    background: -webkit-linear-gradient(-45deg, #ffaa47 0%, #ffbb4d 100%);
    background: linear-gradient(135deg, #ffaa47 0%, #ffbb4d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffaa47', endColorstr='#ffbb4d', GradientType=1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
}

.btn_param:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 9px;
    height: 17px;
    margin: -8px 0 0 -5px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.btn_param span:before,
.btn_param span:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border: 1px solid #fff;
    border-radius: 2px;
    background: #ffaa46;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn_param span:before {
    left: 10px;
    top: 12px;
}

.btn_param span:after {
    left: 18px;
    top: 17px;
}

.btn_param:hover span:before {
    top: 18px;
}

.btn_param:hover span:after {
    top: 12px;
}

.btn_orange.choice_param {
    position: absolute;
    right: 60px;
    top: 135px;
    width: 198px;
    height: 39px;
    line-height: 39px;
    padding: 0 0 0 50px;
    font-size: 12px;
}

.btn_orange.choice_param .btn_param {
    position: absolute;
    left: 9px;
    top: 2px;
    background: none !important;
    box-shadow: none;
}

.btn_orange.choice_param:hover .btn_param span:before {
    top: 18px;
}

.btn_orange.choice_param:hover .btn_param span:after {
    top: 12px;
}

.btn_point {
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    box-shadow: 0 4px 10px rgba(165, 194, 95, 0.25);
    background: #789d3e;
    background: -moz-linear-gradient(-45deg, #789d3e 0%, #a1c963 100%);
    background: -webkit-linear-gradient(-45deg, #789d3e 0%, #a1c963 100%);
    background: linear-gradient(135deg, #789d3e 0%, #a1c963 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#789d3e', endColorstr='#a1c963', GradientType=1);
    position: relative;
}

.btn_point:before {
    content: '';
    position: absolute;
    left: 16px;
    top: 18px;
    width: 2px;
    height: 7px;
    background: #fff;
    opacity: 0.7;
}

.btn_point:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 21px;
    width: 14px;
    height: 8px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.btn_point span {
    position: absolute;
    left: 10px;
    top: 5px;
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    border-radius: 7px;
    background: #81a747;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn_point span:before {
    content: '';
    position: absolute;
    left: 3px;
    top: 3px;
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 7px;
}

.btn_point:hover span {
    top: 9px;
}

.btn_close {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    position: relative;
}

.btn_close:before {
    content: '';
    position: absolute;
    left: 11px;
    top: 7px;
    width: 1px;
    height: 9px;
    background: #eb9c48;
    box-shadow: 0 0 2px #fdebd3;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn_close:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 11px;
    width: 9px;
    height: 1px;
    background: #eb9c48;
    box-shadow: 0 0 2px #fdebd3;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn_close.active,
.btn_close:hover {
    background: #eb9c48;
    border-color: #eb9c48;
}

.btn_close:hover:before {
    background: #fff;
    box-shadow: 0 0 2px #fff;
}

.btn_close:hover:after {
    background: #fff;
    box-shadow: 0 0 2px #fff;
}

.btn_close.active:before,
.btn_close:active:before {
    background: #fff;
    box-shadow: 0 0 2px #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn_close.active:after,
.btn_close:active:after {
    background: #fff;
    box-shadow: 0 0 2px #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn_more {
    display: inline-block;
    height: 35px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 32px;
    border: 2px solid #bdc9dc;
    border-radius: 17px;
    position: relative;
    background-image: url(../img/icon_button_arrow_hover.svg);
    background-position: calc(100% - 15px) center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn_more:hover {
    background-image: url(../img/icon_button_arrow.svg);
}

.btn_more:focus {
    background-image: url(../img/icon_button_arrow_focus.svg);
    border-color: #3aaee3;
}

.btn_more:before {
    content: '';
    position: absolute;
    left: 58%;
    top: -2px;
    width: 33%;
    height: 2px;
    background: #3aaee3;
}

.btn_more:after {
    content: '';
    position: absolute;
    right: -2px;
    top: -2px;
    width: 17px;
    height: 35px;
    border: 2px solid #3aaee3;
    border-left: none;
    border-radius: 0 17px 17px 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn_more:hover:after {
    opacity: 1;
}

.popUpBg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.popUpBg:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
}

.popUpBg .close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 17px;
    height: 17px;
    background: url(../img/icon_close.svg) center no-repeat;
    opacity: 1 !important;
    z-index: 1;
}

.popUpBg .video_about {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    max-width: 1160px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.popUpbgGrad {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.popUpbgGrad:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#000', GradientType=1);
    opacity: 0.5;
}

.scrollbar {
    position: absolute;
}

.scrollbar.verticale {
    right: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background: #ebebeb;
}

.scrollbar.horizontal {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #ebebeb;
}

.scrollbar_drag {
    position: relative;
    width: 100%;
    height: 100%;
    background: #d99b47;
    border-radius: 1px;
}

.menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bg_menu.png) center no-repeat #fff;
    background-size: cover;
    font-size: 21px;
    line-height: 1;
    letter-spacing: 0.02em;
    z-index: 100;
}

.menu .wrap {
    width: calc(100% - 120px);
    height: calc(100% - 105px);
    padding-top: 5px;
    margin: 45px 0 0 60px;
    position: relative;
    /* background:red;*/
}

.menu a {
    color: #000;
}

.menu a:hover {
    color: #f9a442;
}

.menu .name {
    margin-bottom: 25px;
}

.menu .name,
.menu .item>a {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    color: #000;
    position: relative;
}

.menu .close {
    position: absolute;
    right: 0;
    top: 5px;
    width: 17px;
    height: 17px;
    background: url(../img/icon_close_1.svg) center no-repeat;
    opacity: 1 !important;
    z-index: 1;
}

.menu .menuFooter {
    position: absolute;
    right: 0;
    bottom: -3px;
    top: auto;
}

.menu .menuFooter li:first-child {
    padding-right: 0;
    border-right: none;
}

.menu .menuFooter li:last-child {
    padding-left: 0;
    margin-left: 20px;
    border-left: none;
}

.menu .item {
    position: absolute;
    bottom: 0;
    height: 385px;
}

.menu .item>a:hover:before {
    content: '';
    position: absolute;
    left: -1px;
    top: -5px;
    width: 20px;
    height: 2px;
    background: #eea941;
}

.menu .item_1 {
    left: 0;
}

.menu .item_2 {
    left: 15.1%;
}

.menu .item_3 {
    left: 27.1%;
}

.menu .item_4 {
    left: 47.8%;
}

.menu .item_5 {
    left: 63.5%;
}

.menu .item_6 {
    left: 78.4%;
}

.menu .item_7 {
    left: 92.2%;
}

.menu ul {
    margin-top: 29px;
}

.menu li {
    margin-top: 18px;
}

.menu li:nth-child(2) a {
    border: none !important;
}

.menu .back {
    display: none;
}

.menu .back a {
    display: block;
    height: 47px;
    background: url(../img/icon_menu_arrow_left.svg) left center no-repeat;
    border: none !important;
}

.page_404 {
    position: absolute;
    width: 521px;
    height: 238px;
    left: 50%;
    top: 50%;
    margin: -119px 0 0 -260px;
    background: url(../img/bg_404.png) center no-repeat;
    font-size: 14px;
    line-height: 20px;
    color: #bdbdbd;
    text-align: center;
    z-index: 1;
}

.page_404>div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.page_404 .big {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.row.about_1 {
    margin: 103px 0 10px;
}

.row.about_1 div[class|="col"] {
    padding: 0 30px;
    margin-bottom: 35px;
}

.row.about_1 div[class|="col"]:before {
    content: '';
    position: absolute;
    left: 0;
    top: 14px;
    width: 15px;
    height: 2px;
    background: #68a9df;
}

.row.about_2 {
    background: url(../img/about/about_1.jpg) center top no-repeat;
    height: 1035px;
    padding-top: 160px;
    margin-bottom: 25px;
}

.row.about_3 {
    margin-bottom: 43px;
}

.row.about_4 {
    background: url(../img/about/about_2.png) center top no-repeat;
    height: 625px;
    padding-top: 185px;
    margin-bottom: 55px;
    color: #fff;
    text-align: center;
}

.row.about_4 h4 {
    color: #fff;
    margin-bottom: 47px;
}

.row.about_4 div[class|="col"] {
    padding: 0 20px;
    float: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 -2px;
}

.row.about_4 img {
    margin-bottom: 24px;
}

.row.about_4 p {
    margin: 0;
}

.row.about_5 {
    margin-bottom: 43px;
}

.row.about_5 h4 {
    margin-bottom: 10px;
}

.row.about_5 p {
    margin-right: 0;
}

.row.about_5 .col-sm-1+.col-sm-5 p {
    margin-left: 0;
}

.row.about_6 {
    margin-bottom: 43px;
}

.row.about_6 dl {
    margin-bottom: 140px;
}

.row.about_6 .col-sm-1+.col-md-5 dl {
    margin-left: 0;
}

.row.about_6 .view_m {
    display: none;
}

.galery_1 {
    position: relative;
}

.galery_str_l {
    position: absolute;
    left: 21%;
    top: 50%;
    margin: -8px 0 0 -61px;
    background: url(../img/icon_galery_arrow_left.svg) center no-repeat;
    width: 9px;
    height: 15px;
}

.galery_str_l:hover {
    background-image: url(../img/icon_galery_arrow_left_hover.svg);
}

.galery_str_r {
    position: absolute;
    right: 21%;
    top: 50%;
    margin: -8px -61px 0 0;
    background: url(../img/icon_galery_arrow_right.svg) center no-repeat;
    width: 9px;
    height: 15px;
}

.galery_str_r:hover {
    background-image: url(../img/icon_galery_arrow_right_hover.svg);
}

.galery_list {
    position: relative;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-29%);
    transform: translateX(-29%);
    width: 100%;
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
}

.galery_list .galery_item {
    display: inline-block;
    width: 58%;
    margin-right: 25px;
    background: #fff;
    border-bottom: 2px solid rgba(89, 152, 193, 0.2);
    border-radius: 8px 8px 3px 3px;
    position: relative;
    overflow: hidden;
}

.galery_list .galery_item.active {
    box-shadow: 0 38px 50px rgba(70, 87, 115, 0.2);
}

.galery_list .wrap {
    opacity: 0.2;
}

.galery_list .galery_item.active {
    border-bottom: 2px solid rgba(89, 152, 193, 1);
}

.galery_list .galery_item.active .wrap {
    opacity: 1;
}

.galery_list img {
    display: block;
    width: 100%;
    max-height: 675px;
    min-height: 375px;
}

.galery_list .info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 104px;
    line-height: 104px;
    padding: 0 60px;
    background: #fff;
    border-radius: 0 0 3px 3px;
    color: #000;
}

.galery_list .name {
    float: left;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.galery_list .count {
    float: right;
    font-size: 14px;
    color: #bdbdbd;
}

.galery_bigImg {
    width: 100%;
    height: 100%;
    padding: 30px 80px;
    position: relative;
}

.galery_bigImg .img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    position: relative;
}

.galery_bigImg .galery_str_l {
    left: 35px;
    margin: -8px 0 0;
    background-image: url(../img/icon_galery_arrow_left_white.svg);
}

.galery_bigImg .galery_str_l:hover {
    background-image: url(../img/icon_galery_arrow_left_hover.svg);
}

.galery_bigImg .galery_str_r {
    right: 35px;
    margin: -8px 0 0;
    background-image: url(../img/icon_galery_arrow_right_white.svg);
}

.galery_bigImg .galery_str_r:hover {
    background-image: url(../img/icon_galery_arrow_right_hover.svg);
}

.galery_bigImg .info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 17px 10px 15px;
    background: #fff;
    border-bottom: 2px solid #6195bd;
    border-radius: 0 0 2px 2px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.galery_bigImg .info_1 {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    font-size: 12px;
    text-align: center;
    color: #737272;
}

.galery_bigImg .info_1_inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.galery_bigImg .info_1_date,
.galery_bigImg .info_1_name {
    display: inline-block;
    margin: 0 4px;
    white-space: nowrap;
}

.galery .choose_year {
    position: absolute;
    right: 60px;
    top: 152px;
}

.galery_bigImg.dinamic {
    padding-top: 50px;
    padding-bottom: 50px;
}

.choose_year {
    width: 76px;
    height: 34px;
    line-height: 32px;
    background: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 17px;
    font-weight: 600;
    font-size: 14px;
    z-index: 2;
}

.choose_year .active {
    display: block;
    padding-left: 15px;
    background: url(../img/icon_arrow_news.svg) 56px center no-repeat;
    background-size: 6px 11px;
}

.choose_year ul {
    position: absolute;
    left: -1px;
    top: -35px;
    width: 76px;
    border: 1px solid #bdbdbd;
    border-radius: 17px;
    background: #fff;
    display: none;
}

.choose_year li {
    padding-left: 20px;
    height: 34px;
    line-height: 32px;
}

.choose_year a:hover {
    color: #68a8de;
}

.news_date {
    display: inline-block;
    text-align: center;
    color: #c9cdd6;
    padding: 8px 0 0;
    margin-bottom: 26px;
}

.news_date span {
    display: block;
    font-weight: 600;
    font-size: 40px;
    line-height: 0.9;
    border-bottom: 2px solid #dbdfe7;
    margin-bottom: 14px;
}

.news_date .year {
    font-size: 16px;
    border: none;
    padding-top: 2px;
    margin: 0;
}

.news_social {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
}

.news_social a {
    display: block;
    margin-bottom: 20px;
    font-size: 0;
    line-height: 0;
    background-position: center;
    background-repeat: no-repeat;
}

.news_social a:hover img {
    opacity: 0;
}

.news_social .item_1:hover {
    background-image: url(../img/news_page/fb_hover.svg);
}

.news_social .item_2:hover {
    background-image: url(../img/news_page/vk_hover.svg);
}

.news_social .item_3:hover {
    background-image: url(../img/news_page/tw_hover.svg);
}

.news_page {
    margin: -20px 0 20px;
}

.news_page h1 {
    max-width: none;
}

.news_page h1 a {
    position: relative;
    background: url(../img/bg_dot_blue.png) left 43px repeat-x;
}

.news_page p {
    margin: 0 0 25px;
}

.news_page .media>.pull-left {
    width: 30%;
    margin-right: 5%;
}

.news_page .media-object {
    width: 100%;
}

.news_page .choose_year {
    position: absolute;
    right: 0;
    top: -72px;
}

.news_page.listing .row+.row:before {
    content: '';
    position: absolute;
    left: 1px;
    top: 0;
    width: 100%;
    height: 185px;
    background: url(../img/bg_wave_3.png) center top no-repeat;
    margin-top: 1px;
}

.news_page.listing .pagination {
    margin-left: -60px;
}

.big_name_page {
    max-width: 1280px;
    height: 1px;
    position: relative;
    padding: 0;
    /* background:yellow;*/
}

.big_name_page .wrap {
    position: absolute;
    right: -4%;
    top: 50%;
    -webkit-transform: translateY(-83%);
    transform: translateY(-83%);
    width: 87.5%;
    height: ;
    text-align: right;
    font-weight: 700;
    line-height: 1;
    font-size: 149px;
    text-transform: uppercase;
    color: #000;
    opacity: 0.05;
    /* background:red;*/
}

.docs_list {
    position: relative;
    margin: -18px -10px 0;
}

.docs_list .item {
    float: left;
    width: 25%;
    padding: 10px;
}

.docs_list .doc {
    display: block;
    height: 256px;
    padding: 25px 40px 0;
    background: #fff;
    border-radius: 8px 8px 2px 2px;
    box-shadow: 0 16px 40px rgba(70, 87, 115, 0.25);
    border-bottom: 2px solid #69abe2;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
    text-transform: uppercase;
    position: relative;
}

.docs_list .doc:hover {
    border-color: #e1ae4e;
    /* box-shadow:none;*/
}

.docs_list .name {
    display: block;
    font-weight: 600;
    letter-spacing: 0.02em;
    max-height: 80px;
    overflow: hidden;
}

.docs_list dl {
    position: absolute;
    left: 40px;
    bottom: 57px;
    width: calc(100% - 80px);
    padding: 7px 0;
    font-size: 10px;
    text-transform: none;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.docs_list dt {
    width: 65px;
    padding: 1px 10px 0 0;
}

.docs_list dd {
    margin-left: 65px;
    padding: 1px 0;
    text-align: right;
    font-weight: normal;
}

.docs_list dd:before {
    display: none;
}

.docs_list .format {
    display: block;
    position: absolute;
    left: 0;
    bottom: 17px;
    width: 100%;
    padding: 0 40px;
    height: 20px;
    line-height: 20px;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.docs_list .format img {
    float: right;
}

.docs_list .btn_orange {
    position: absolute;
    left: 50%;
    bottom: 7px;
    width: 150px;
    height: 39px;
    margin-left: -75px;
    line-height: 39px;
    padding: 0;
    text-align: center;
    font-size: 14px;
    text-transform: none;
    box-shadow: none !important;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}

.docs_list .doc:hover .format {
    opacity: 0;
}

.docs_list .doc:hover .btn_orange {
    opacity: 1;
}

.action_list {
    position: relative;
    margin: -18px 0 90px;
}

.action_list:after {
    content: ".";
    display: block;
    height: 0px;
    font-size: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
}

.action_list .col-md-6 {
    padding: 10px;
}

.action_list .item {
    display: block;
    background: #fff;
    border-radius: 8px 8px 3px 3px;
    box-shadow: 0 16px 40px rgba(70, 87, 115, 0.25);
    position: relative;
    overflow: hidden;
}

.action_list .img {
    display: block;
    height: 280px;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.action_list .name {
    display: block;
    height: 210px;
    padding: 54px 60px 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.action_list_old {
    margin-bottom: 75px;
}

.action_list_old:after {
    content: ".";
    display: block;
    height: 0px;
    font-size: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
}

.action_list_old h4 {
    text-align: center;
    margin-bottom: 40px;
}

.action_list_old .col-lg-3 {
    padding: 10px;
}

.action_list_old .item {
    height: 280px;
    padding: 50px 40px 80px;
    color: #ced2d5;
    background: #fff;
    border: 2px solid #dee1e5;
    border-radius: 8px;
    position: relative;
}

.action_list_old .name {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.action_list_old .date_end {
    position: absolute;
    left: 40px;
    bottom: 33px;
}

.action_page {
    margin: -20px 0 20px;
}

.action_page h1 {
    max-width: none;
    margin-bottom: 48px;
}

.action_page h1 a {
    position: relative;
    background: url(../img/bg_dot_blue.png) left 43px repeat-x;
}

.action_page p {
    margin: 0 0 25px;
}

.action_page .media>.pull-left {
    width: 27.3%;
    margin-right: 5.2%;
}

.action_page .media-object {
    width: 100%;
}

.decoration_0 {
    margin: -10px 0 50px;
}

.decoration_1 {
    position: relative;
    overflow: hidden;
}

.decoration_1 .galery_1 {
    margin: 0 0 148px;
}

.decoration_1 .galery_list {
    -webkit-transform: translateX(-26.5%);
    transform: translateX(-26.5%);
}

.decoration_1 .galery_item {
    width: 53%;
}

.decoration_1 .galery_str_l {
    left: 22%;
    margin-left: -40px;
}

.decoration_1 .galery_str_r {
    right: 22%;
    margin-right: -40px;
}

.decoration_1 .galery_list .info {
    padding: 0 50px;
}

.decoration_2 {
    margin: 0 0 80px;
    position: relative;
    z-index: 1;
}

.decoration_2 h4 {
    text-align: center;
    margin-bottom: 50px;
}

.decoration_2 div[class|="col"] {
    padding: 0 20px 0 30px;
    margin-bottom: 35px;
}

.decoration_2 div[class|="col"]:before {
    content: '';
    position: absolute;
    left: 0;
    top: 14px;
    width: 15px;
    height: 2px;
    background: #68a9df;
}

.decoration_2 .note {
    position: absolute;
    right: 0;
    bottom: 0;
    font-style: italic;
}

.decoration_2 .note:before {
    display: none;
}

.decoration_logo_partner {
    padding-top: 45px;
}

.decoration_logo_partner img {
    position: absolute;
    right: 0;
    top: -54px;
}

.installment {
    margin-top: -10px;
    font-size: 14px;
    line-height: 20px;
}

.installment .row_1 {
    margin: 48px 0 80px;
}

.installment .row_320 {
    display: none;
}

.installment .item {
    height: 370px;
    margin: 0 10px 20px;
    padding: 40px 40px 0;
    background: #fff;
    box-shadow: 0 29px 40px rgba(24, 29, 38, 0.2);
    border-radius: 8px;
    position: relative;
}

.installment .rate {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 80px;
    line-height: 1;
    color: #69abe2;
    position: relative;
}

.installment .rate sup {
    position: absolute;
    right: -7px;
    top: 20px;
    font-size: 20px;
    color: #c9cdd6;
}

.installment .rate_info {
    border-top: 2px solid #ececec;
    padding-top: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #323232;
}

.installment .rate_info .glow {
    color: #69abe2;
}

.installment .rate_note {
    position: absolute;
    left: 40px;
    bottom: 37px;
}

.installment .note {
    max-width: 460px;
    margin: 0 0 20px 50px;
    position: relative;
}

.installment .note sup {
    position: absolute;
    left: -23px;
    top: 11px;
    font-weight: 600;
    color: #c9cdd6;
}

.installment .note a {
    color: #dea24d;
    text-decoration: underline;
}

.installment p {
    margin: 0 0 20px 50px;
}

.installment .str_l {
    position: absolute;
    left: 0;
    top: 50%;
    margin: -8px 0 0 -20px;
    background: url(../img/icon_galery_arrow_left.svg) center no-repeat;
    width: 9px;
    height: 15px;
    display: none;
}

.installment .str_l:hover {
    background-image: url(../img/icon_galery_arrow_left_hover.svg);
}

.installment .str_r {
    position: absolute;
    right: 0;
    top: 50%;
    margin: -8px -20px 0 0;
    background: url(../img/icon_galery_arrow_right.svg) center no-repeat;
    width: 9px;
    height: 15px;
    display: none;
}

.installment .str_r:hover {
    background-image: url(../img/icon_galery_arrow_right_hover.svg);
}

.v_ip.sm {
    display: none;
}

.v_ip {
    margin: -20px 0 40px;
    position: relative;
}

.v_ip .container.big_name_page {
    display: none;
}

.v_ip .big_name_page .wrap {
    right: 0;
    -webkit-transform: translateY(-24%);
    transform: translateY(-24%);
    width: 103%;
}

.v_ip a {
    color: #dea24d;
    text-decoration: underline;
}

.v_ip .btn_orange {
    position: absolute;
    right: 0;
    top: -80px;
    height: 40px;
    padding: 0 25px;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
}

.v_ip address {
    margin: 35px 0 0;
}

.v_ip .addr {
    display: block;
    margin-top: 15px;
}

.v_ip p {
    margin-bottom: 0;
}

.v_ip p,
.v_ip_1 p {
    margin-left: 0;
}

.v_ip .tarif {
    margin: 0 0 70px -40px;
    position: relative;
    z-index: 1;
}

.v_ip .td_row {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 21px 40px rgba(70, 87, 115, 0.25);
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
}

.v_ip .td_row .col {
    padding-top: 22px;
    padding-bottom: 22px;
}

.v_ip .tarif .col {
    display: inline-block;
    font-size: 17px;
    line-height: 26px;
    vertical-align: middle;
    padding-right: 15px;
}

.v_ip .tarif .col_1 {
    width: 24%;
    padding-left: 40px;
}

.v_ip .tarif .col_2 {
    width: 17%;
}

.v_ip .tarif .col_3 {
    width: 20%;
}

.v_ip .tarif .col_4 {
    width: 15%;
}

.v_ip .tarif .col_5 {
    width: 24%;
    padding-right: 40px;
}

.v_ip .th_row {
    font-size: 0;
    line-height: 0;
}

.v_ip .th_row .col {
    font-size: 14px;
    line-height: 17px;
    padding-top: 10px;
    padding-bottom: 7px;
}

.v_ip .tarif img {
    display: block;
    width: 100%;
    max-width: 144px;
}

.v_ip .tarif .glow {
    color: #68aae2;
}

.v_ip .tarif .td_wrap {
    margin: 0 20px;
    position: relative;
}

.v_ip .tarif .td_wrap:hover {
    background: #fdf9f1;
}

.v_ip .tarif .td_wrap+.td_wrap {
    border-top: 1px solid #ebedf0;
}

.v_ip .tarif.normal {
    margin-bottom: 35px;
}

.v_ip .tarif.normal .th_row {
    margin: 0 20px;
}

.v_ip .tarif.normal .th_row .col {
    padding-top: 17px;
    padding-bottom: 17px;
}

.v_ip .tarif.normal .col_2 {
    width: 27%;
    padding-left: 20px;
}

.v_ip .tarif.normal .col_3 {
    width: 27%;
}

.v_ip .tarif.normal .col_4 {
    width: 21%;
}

.v_ip .tarif.normal .col_5 {
    width: 25%;
}

.v_ip .tarif .more {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.v_ip .tarif .more:before {
    content: 'Подробнее';
    position: absolute;
    left: 20px;
    top: 17px;
    width: 123px;
    height: 39px;
    border-radius: 19px;
    font-size: 14px;
    line-height: 39px;
    text-align: center;
    color: #fff;
    background: #ef9f4e;
    background: -moz-linear-gradient(-45deg, #ef9f4e 0%, #f3b94f 100%);
    background: -webkit-linear-gradient(-45deg, #ef9f4e 0%, #f3b94f 100%);
    background: linear-gradient(135deg, #ef9f4e 0%, #f3b94f 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffaa47', endColorstr='#f3b94f', GradientType=1);
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.v_ip .tarif .more:hover:before {
    opacity: 1;
}

.v_ip .all_tarifs {
    float: right;
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
    position: relative;
    right: 11%;
    color: #323232;
    background: url(../img/bg_dash_blue.png) left bottom repeat-x;
    text-decoration: none;
}

.v_ip h4 {
    margin: 0 15px 15px 0;
}

.about_v_ip {}

.about_v_ip li {
    padding-left: 25px;
    position: relative;
}

.about_v_ip li:before {
    content: '';
    position: absolute;
    left: 2px;
    top: 11px;
    width: 7px;
    height: 7px;
    border-radius: 3px;
    background: #68aae2;
}

.v_ip_1 {
    margin: 40px 0 100px;
    position: relative;
}

.v_ip_1 .row+.row {
    margin-top: 30px;
}

.v_ip_1 .v_ip_img.sm {
    display: none;
}

.v_ip_1 .v_ip_img img {
    display: block;
    width: 100%;
}

.send_letterIpotek {
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 600px;
    margin-left: -300px;
    background: url(../img/bg_letter.png) center bottom no-repeat;
    font-size: 14px;
    line-height: 20px;
    color: #929292;
    text-align: center;
}

.send_letterIpotek .scrollbar.verticale {
    top: 10px;
    right: 72px;
    height: calc(100% - 10px);
}

.send_letterIpotek .wrap {
    width: 455px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px 8px 0 0;
    padding: 55px 60px 42px;
}

.send_letterIpotek .wrap:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../img/bg_letter_1.png) center top no-repeat;
    width: 596px;
    height: 111px;
}

.send_letterIpotek .h1 {
    font-size: 17px;
    font-weight: 500;
    line-height: 1;
    text-transform: none;
    letter-spacing: 0;
    color: #000;
    text-align: left;
    margin-bottom: 26px;
}

.send_letterIpotek .note {
    text-align: left;
    margin-bottom: 28px;
}

.send_letterIpotek .note_1 {
    text-align: left;
    margin-bottom: 28px;
}

.send_letterIpotek .note_important {
    font-size: 12px;
    padding: 8px 0;
}

.send_letterIpotek input[type=text] {
    background-color: rgba(255, 253, 253, 0);
    border: none;
    border-bottom: 2px solid #e5e5e5;
    width: 100%;
    height: 36px;
    line-height: 34px;
    color: #0e0e0e;
    margin-bottom: 26px;
    position: relative;
    z-index: 1;
}

.send_letterIpotek input[type=text] ~ label {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    width: 100%;
    height: 36px;
    line-height: 34px;
    font-weight: normal;
    color: #fff;
    text-align: left;
}

.send_letterIpotek input:focus ~ label {
    display: none;
}

.send_letterIpotek sup {
    color: #e4b64f;
    font-size: 14px;
    top: 0;
}

.send_letterIpotek .good {
    background-image: url(../img/icon_check_mark.svg);
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
}

.send_letterIpotek .error {
    border-color: #d07b7b !important;
}

.send_letterIpotek .captcha input,
.send_letterIpotek .captcha input ~ label {
    width: 205px;
}

.send_letterIpotek input[type=submit] {
    margin-top: 21px;
    width: 198px;
    padding: 0;
    border: none;
    position: relative;
    z-index: 1;
}

.send_letterIpotek input[type=submit] ~ span {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -99px;
    width: 198px;
    padding: 0;
}

.send_letterIpotek input[type=submit]:hover {
    box-shadow: none;
}

.send_letterIpotek input[type=submit]:hover ~ span {
    box-shadow: 0 22px 40px rgba(229, 184, 79, 0.58);
}

.send_letterIpotek .thanks .btn_orange {
    margin-top: 21px;
    background: #9fba5b;
    background: -moz-linear-gradient(-45deg, #88a357 0%, #9fba5b 100%);
    background: -webkit-linear-gradient(-45deg, #88a357 0%, #9fba5b 100%);
    background: linear-gradient(135deg, #88a357 0%, #9fba5b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#88a357', endColorstr='#9fba5b', GradientType=1);
    cursor: default;
    box-shadow: 0 16px 28px rgba(161, 188, 91, 0.22);
}

.call_me_time {
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    width: 100%;
    height: 36px;
    line-height: 34px;
    color: #929292;
    margin-bottom: 26px;
    text-align: right;
}

.call_me_time .labe {
    float: left;
}

.send_letterIpotek .call_me_time input {
    border: none;
    width: 47px;
    height: 34px;
    font-weight: 500;
    color: #000;
    background: url(../img/icon_set_time.png) right center no-repeat;
}

.container.genplan {
    background: url(../img/genplan.jpg) center no-repeat;
    background-size: cover;
}

.about_bank {
    margin: 0 0 40px;
    padding-top: 10px;
    position: relative;
}

.about_bank .btn_orange {
    position: absolute;
    right: 0;
    top: -100px;
    height: 40px;
    padding: 0 25px;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
}

.about_bank .logo_bank {
    margin-bottom: 48px;
}

.about_bank h4 {
    margin-bottom: 30px;
}

.about_bank p {
    margin-left: 0;
}

.about_bank .tarif {
    margin: 0 0 55px -40px;
    position: relative;
    z-index: 1;
}

.about_bank .td_row {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 21px 40px rgba(70, 87, 115, 0.25);
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
}

.about_bank .td_row .col {
    padding-top: 22px;
    padding-bottom: 22px;
}

.about_bank .tarif .col {
    display: inline-block;
    font-size: 17px;
    line-height: 26px;
    vertical-align: middle;
    padding-right: 15px;
}

.about_bank .tarif .col_1 {
    width: 45%;
    padding-left: 40px;
}

.about_bank .tarif .col_2 {
    width: 30%;
}

.about_bank .tarif .col_3 {
    width: 25%;
    padding-right: 40px;
}

.about_bank .th_row {
    font-size: 0;
    line-height: 0;
}

.about_bank .th_row .col {
    font-size: 14px;
    line-height: 17px;
    padding-top: 10px;
    padding-bottom: 17px;
}

.about_bank [class~="sm"] {
    display: none;
}
