#hd { position:relative; height:1px; border-bottom:none; background:none; z-index:2;}
#bd { padding:0;}
.container { position:absolute; left:0; top:0; width:100% !important; height:100%; max-width:100%;}
/*.container { position:relative; left:0; top:0; width:100% !important; min-height:100vh; max-width:100%;}*/
.breadcrumb_320 { position:absolute; left:30px; top:78px;}

html { min-height:0;}
html, body { color:#fff;}
a { color:#fff;}
a:hover { color:#fff;}
h1 { color:#fff;}
.menu_btn { background-image:url(../img/icon_menu_white.svg);}
.menuFooter .st0 { fill:#FFFFFF;}

.aboutRg_bg  { position:absolute; left:0; top:0; width:100%; height:100%; background:url(../img/bg_rg.jpg) center no-repeat; background-size:cover;}
.aboutRg { overflow:hidden;}
	/*.aboutRg .container { position:absolute; left:50%; top:auto; bottom:111px; height:auto; -webkit-transform:translateX(-50%); transform:translateX(-50%);}*/
	.aboutRg .container { position:absolute; left:0; top:auto; bottom:111px; width:100%; height:auto;}
	.aboutRg h1+.col-md-5 p { margin-left:30px;}
	.aboutRg p { margin:0 0 25px;}
	.logo_rg { text-align:center; margin-bottom:78px;}
	.gotoRG { position:absolute; right:2px; top:242px; height:35px; padding:0 13px 0 38px; border:2px solid #68aae1; border-radius:17px; font-weight:600; font-size:12px; line-height:31px; letter-spacing:0.07em; text-transform:uppercase; color:#fff; background:url(../img/icon_rg_cursor.svg) 16px center no-repeat; z-index:1;}

.VT { position:absolute; left:0; top:0; width:100%; height:100%; background:url(../img/bg_virt.jpg) center no-repeat; background-size:cover;}
	.VT .point { position:absolute; background:url(../img/icon_pointVT.svg) center no-repeat; background-size:contain; width:74px; height:61px; z-index:2;}
	.VT .view { width:100%; height:100%;}
	.VT .switch { position:absolute; right:60px; top:140px; background:url(../img/icon_day_night.png) left top no-repeat; width:47px; height:25px;}
	.VT .switch:before { content:''; position:absolute; left:0; top:0; background:url(../img/icon_day_night.png) left bottom no-repeat; width:47px; height:25px; opacity:0;}
		.VT .switch.night:before { opacity:1;}
	.VT .btn_orange { position:absolute; left:50%; bottom:140px; width:250px; height:53px; line-height:53px; border-radius:26px; padding:0; text-align:center; -webkit-transform:translateX(-50%); transform:translateX(-50%);}
		.VT .btn_orange:hover { box-shadow:25px 25px 55px rgba(248,168,68,0.21);}
.popUP_choice_view { position:absolute; left:0; top:0; width:100%; height:100%; z-index:2; font-size:14px; line-height:20px; color:#929292; z-index:100;}
.popUP_choice_view:before { content:''; position:absolute; left:0; top:0; width:100%; height:100%; background:#000; background:-moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, #000 100%); background:-webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, #000 100%); background:linear-gradient(180deg, rgba(255,255,255,0) 0%, #000 100%);  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#000', GradientType=1 ); opacity:0.5;}
	.popUP_choice_view .wrap { position:absolute; left:50%; bottom:0; width:456px; -webkit-transform:translateX(-50%); transform:translateX(-50%); background:#fff; border-radius:8px 8px 0 0;}
	.popUP_choice_view .name { height:77px; line-height:77px; text-align:center; font-weight:600; font-size:18px; color:#000;}
	.popUP_choice_view .plan { height:422px; background:url(../img/trash_map_1.jpg) center no-repeat; background-size:cover; position:relative;}
	.popUP_choice_view .plan a { position:absolute; width:17px; height:17px;}
		.popUP_choice_view .plan a:before { content:''; position:absolute; left:0; top:0; width:100%; height:100%; background:#fff; opacity:0.7; border-radius:8px;}
		.popUP_choice_view .plan a:after { content:''; position:absolute; left:5px; top:5px; width:7px; height:7px; border-radius:3px; background:#3a98c1;}

.container.genplan .point { position:absolute; text-align:center; font-size:11px; font-weight:500; color:#000; z-index:1;}
.container.genplan .point:after { content:''; position:absolute; left:9px; bottom:-14px; border:8px solid transparent; border-top:8px solid #fff;}
	.container.genplan .wrap_point { width:34px; height:34px; padding:5px; background:#cdcdcd; border-radius:17px; position:relative; z-index:1;}
	.container.genplan .numder_point { display:block; width:24px; height:24px; padding-right:1px; background:#fff; border-radius:12px; line-height:24px;}
.point_house_1 { left:95%; top:27%;}
.point_house_2 { left:89%; top:34%;}
.point_house_3 { left:76%; top:28%;}
.point_house_4 { left:72%; top:38%;}
.point_house_5 { left:60%; top:32%;}
.point_house_6 { left:55%; top:36%;}
.point_house_7 { left:46.5%; top:33%;}
.point_house_8 { left:69%; top:57%;}

.container.genplan .point_ready { position:absolute; font-size:16px; font-weight:500; color:#000; letter-spacing:-0.1em; z-index:1; cursor:pointer;}
.container.genplan .point_ready:after { content:''; position:absolute; left:11px; bottom:-23px; border:14px solid transparent; border-top:14px solid #fff;}
	.container.genplan .wrap_point_ready { width:50px; height:50px; padding:7px; border-radius:25px; position:relative; z-index:1; background:#f2b44c; background:-moz-linear-gradient(-45deg, #fd8a30 0%, #f2b44c 100%); background:-webkit-linear-gradient(-45deg, #fd8a30 0%, #f2b44c 100%); background:linear-gradient(135deg, #fd8a30 0%, #f2b44c 100%);  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd8a30', endColorstr='#f2b44c', GradientType=1 );}
	.container.genplan .numder_point_ready { display:block; width:36px; height:36px; padding-right:3px; background:#fff; border-radius:18px; line-height:36px; text-align:center;}
.container.genplan .point_info { position:absolute; left:-16px; top:-21px; min-height:124px; padding:24px 25px 25px 86px; font-weight:normal; font-size:12px; line-height:1; color:#929292; letter-spacing:normal; white-space:nowrap; background:#fff; border-radius:8px; opacity:0; visibility:hidden; -webkit-transition:all 0.3s ease; transition:all 0.3s ease;}
	.container.genplan .point_info .status { position:absolute; left:29px; top:84px; color:#74b61f;}
		.container.genplan .wrap_point_ready:hover { z-index:2;}
		.container.genplan .wrap_point_ready:hover~.point_info { opacity:1; visibility:visible;}
	.container.genplan .point_info .in_sale { margin-top:18px; position:relative;}
	.container.genplan .point_info .in_reserv { margin-top:18px; position:relative;}
	.container.genplan .point_info .count { position:absolute; right:0; bottom:-1px; font-size:18px; color:#f1be4e;}
		.container.genplan .in_reserv .count { color:#fe8626;}
.container.genplan .progress { position:absolute; left:0; bottom:0; width:100%; height:6px; margin:0; overflow:visible; background-color:#fff; border-radius:0; -webkit-box-shadow:none; box-shadow:none;}
	.container.genplan .progress-bar { height:6px; background:#f2b44c; background:-moz-linear-gradient(-45deg, #fd8a30 0%, #f2b44c 100%); background:-webkit-linear-gradient(-45deg, #fd8a30 0%, #f2b44c 100%); background:linear-gradient(135deg, #fd8a30 0%, #f2b44c 100%);  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd8a30', endColorstr='#f2b44c', GradientType=1 ); position:relative;}
		.container.genplan .progress-bar:after { content:''; position:absolute; right:-12px; top:-27px; background:url(../img/icon_excavator.svg) center no-repeat; width:41px; height:27px;}
	.container.genplan .stage { position:absolute; bottom:6px; width:2px; height:30px; background:#fff; font-size:10px; color:#fff;}
	.container.genplan .stage:before { position:absolute; left:0; top:1px; width:22px; height:17px; line-height:18px; text-align:center; letter-spacing:0.02em;}
		.container.genplan .stage.stage_1 { left:11px;}
			.container.genplan .stage.stage_1:before { content:'I'; background:#f8ae4b;}
		.container.genplan .stage.stage_2 { left:25%;}
			.container.genplan .stage.stage_2:before { content:'II'; background:#6fadc8;}
		.container.genplan .stage.stage_3 { left:50%;}
			.container.genplan .stage.stage_3:before { content:'III'; background:#83a95f;}
		.container.genplan .stage.stage_4 { left:75%;}
			.container.genplan .stage.stage_4:before { content:'IV'; background:#5a2b7e;}

.container.choice_floor { background:url(../img/trash_floor.jpg) center no-repeat; background-size:cover;}
.floor_info { position:absolute; width:165px; background:#fff; border-radius:8px; padding:25px 20px 8px; font-size:12px; line-height:1; color:#929292; z-index:2;}
	.floor_info .floor_number { display:inline-block; width:50%; margin-right:-4px; margin-bottom:18px; font-weight:600; color:#000; vertical-align:top;}
	.floor_info .section_number { display:inline-block; width:50%; font-weight:600; color:#000; text-align:right; vertical-align:top;}
	.floor_info .flat_type { position:relative; margin-bottom:18px;}
		.floor_info .count { position:absolute; right:0; bottom:-1px; font-size:18px; font-weight:500;}
			.floor_info .type_1 .count { color:#f8ae4b;}
			.floor_info .type_2 .count { color:#6fadc8;}
			.floor_info .type_3 .count { color:#83a95f;}
			.floor_info .type_4 .count { color:#5a2b7e;}

@media screen and (min-width:1900px) {
	
}

@media screen and (max-width:1023px) {
	.aboutRg .container { position:relative; left:0; bottom:auto; padding-top:40px; padding-bottom:20px;}
		.aboutRg h1+.col-md-5 p { margin-left:0;}
		.gotoRG { top:235px;}
	
	.VT .switch { right:40px;}
}

@media screen and (max-width:767px) {	
	#bd { padding:0 !important;}
	.menuHeader li:last-child { background-image:url(../img/icon_phoneTop_white.svg) !important;}
	.menuFooter .st0 { fill:#000000;}
	
	.aboutRg .container { padding-bottom:35px;}
		.logo_rg { margin-bottom:53px;}
		.gotoRG { top:208px; width:27px; height:27px; padding:0; border-radius:13px; background-position:center; background-size:9px; text-indent:-9999px;}
	
	.VT .point { width:43px; height:37px;}
	.VT .switch { right:30px; top:95px;}
	.VT .btn_orange { bottom:80px; height:53px; line-height:53px; border-radius:26px; font-size:16px;}
	.popUP_choice_view .wrap { bottom:50px; width:306px;}
		.popUP_choice_view .name { height:52px; line-height:52px; font-size:13px;}
		.popUP_choice_view .plan { height:288px;}
		.popUP_choice_view .plan a { width:13px; height:13px;}
			.popUP_choice_view .plan a:before { border-radius:6px;}
		.popUP_choice_view .plan a:after { left:4px; top:4px; width:5px; height:5px; border-radius:2px;}
	
	.container.genplan { height:calc(100% - 50px);}
		.container.genplan .progress { display:none;}
	.container.genplan .point { font-size:8px;}
	.container.genplan .point:after { left:7px; bottom:-9px; border:5px solid transparent; border-top:5px solid #fff;}
		.container.genplan .wrap_point { width:24px; height:24px; padding:3px; border-radius:12px;}
		.container.genplan .numder_point { width:18px; height:18px; border-radius:9px; line-height:18px;}
		.container.genplan .point_ready { font-size:12px;}
		.container.genplan .point_ready:after { bottom:-14px; border:8px solid transparent; border-top:8px solid #fff;}
			.container.genplan .wrap_point_ready { width:38px; height:38px; padding:5px; border-radius:19px;}
			.container.genplan .numder_point_ready { width:28px; height:28px; padding-right:2px; border-radius:14px; line-height:30px;}

}