html {
	min-height: 1150px;
}

@media screen and (max-width: 1920px) {
	html {
		min-height: 950px;
	}
}

@media screen and (max-width: 1600px) {
	html {
		min-height: 790px;
	}
}

.apart_chosen_wrap:before,
.view_flat:before {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 116px;
	background: #fff;
	z-index: 3;
}

@media screen and (max-width: 767px) {
	.apart_chosen_wrap:before,
	.view_flat:before {
		height: 78px;
	}
}
