/*=require includes/img_preload.css */

/*=require includes/vars.css */

/*=require includes/fonts.css */

*,
*:focus {
	outline: none !important;
}

a,
a:hover {
	color: #323232;
	text-decoration: none;
}

p a {
	&,
	&:hover,
	&:focus,
	&:active {
		color: #dea24d;
		text-decoration: underline;
	}
}

ul li {
	list-style: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
ul,
ol {
	margin: 0;
	padding: 0;
}

input,
textarea {
	outline: none;
}

b {
	font-weight: 600;
}

html,
body {
	height: 100%;
	background: #fff;
	font: 17px/26px "AvenirNextCyr", sans-serif;
	color: #424242;
}

html {
	min-width: 320px;
	min-height: 820px;
}

body {
	overflow-y: scroll;
	min-height: 100%;
}



.bold {
	font-weight: 600;
}

.strong {
	font-weight: 700;
}

.em {
	font-style: italic;
}

#bd {
	min-height: 100%;
	position: relative;
	padding-top: 121px;
}

#bd .empty_box {
	height: 80px;
	clear: both;
}

#hd_bg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 121px;
	background: #fff;
	border-bottom: 1px solid #f1f4f5;
	z-index: 3;
}

.b-footer {
	height: 80px;
	margin: -80px auto 0;
	padding-right: 60px;
	padding-left: 60px;
	font-size: 14px;
	line-height: 1;
	position: relative;
	z-index: 2;
	@media (--sm) {
		height: 44px;
		margin: -44px auto 0;
		font-size: 13px;
	}
}

.container {
	padding-right: 60px;
	padding-left: 60px;
	width: auto !important;
	max-width: 1280px;
	min-width: 320px;
}

.menu_btn {
	position: absolute;
	right: 60px;
	top: 40px;
	height: 40px;
	padding-left: 48px;
	background: url(../img/icon_menu.svg) left 10px no-repeat;
	font-size: 14px;
	line-height: 40px;
	font-weight: 500;
}

.menuHeader {
	position: absolute;
	right: 222px;
	top: 40px;
	font-size: 14px;
	line-height: 40px;
	font-weight: 500;
	@media (--md) {
		right: 178px;
		font-size: 12px;
	}
}

.menuHeader li {
	float: left;
	margin-left: 40px;
	@media (--md) {
		margin-left: 28px;
	}
}

.menuFooter {
	position: absolute;
	right: 60px;
	top: 2px;
	font-size: 16px;
	line-height: 0;
	vertical-align: middle;
}

.menuFooter .icon-logo_rg {
	font-size: 21px;
}

.menuFooter .icon-logo_blue-ant {
	font-size: 34px;
	position: relative;
	top: -9px;
	&:hover {
		color: #389cce;
	}

	@media (--xs) {
		font-size: 28px;
		position: relative;
		top: -4px;
	}
}

.menuFooter li {
	float: left;
	margin-left: 20px;
	height: 22px;
	overflow: visible;
	line-height: 22px;
}

.b-footer .menuFooter li:nth-child(2) {
	@media (--smPlus) {
		padding-right: 20px;
		border-right: 1px solid #eaeaea !important;
	}
}

#mainMenu .menuFooter li:first-child {
	display: block;
}

.menuFooter li:last-child {
	padding-left: 20px;
	margin-left: 25px;
	border-left: 1px solid #eaeaea;
}

h1,
.h1 {
	font: 600 40px/52px "AvenirNextCyr";
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #323232;
	margin-bottom: 30px;
	position: relative;
}

h1 small,
.h1 small {
	display: block;
	font-weight: 600;
	font-size: 50%;
	line-height: 2.2;
	color: #323232;
	margin-bottom: 5px;
}

.h1_full h1 {
	position: absolute;
	left: 60px;
	top: 143px;
	font-size: 20px;
	line-height: 1;
	text-transform: none;
	letter-spacing: 0;
	z-index: 2;
}

h2,
.h2 {
	font: 600 40px/52px "AvenirNextCyr";
	text-transform: uppercase;
	color: #323232;
	margin-bottom: 30px;
}

h4,
.h4 {
	font: 600 20px/32px "AvenirNextCyr";
	text-transform: uppercase;
	color: #323232;
}

h5,
.h5 {
	font-weight: 600;
	font-size: inherit;
	line-height: inherit;
	margin-bottom: 25px;
}

.breadcrumb {
	padding: 0 0 0px 19px;
	margin: 29px 0 64px;
	list-style: none;
	background: none;
	border-radius: 0;
	font-size: 0;
	line-height: 0;
	border-left: 2px solid #68aae2;
}

.breadcrumb > li {
	font-size: 14px;
	line-height: 1.5;
	position: relative;
	margin-left: 24px;
	display: inline;
}

.breadcrumb > li:first-child {
	margin-left: 0;
}

.breadcrumb > li + li:before {
	content: "";
	position: absolute;
	left: -24px;
	top: 0;
	padding: 0;
	background: url(../img/icon_breadcrumb_arrow.svg) center no-repeat;
	width: 24px;
	height: 100%;
}

.breadcrumb a {
	color: #bdbdbd;
}

.breadcrumb > .active {
	color: #323232;
}

.breadcrumb_320 {
	font-size: 16px;
	font-weight: 600;
	color: #323232;
	line-height: 35px;
	margin: 11px 0 20px;
	display: none;
}

.pagination {
	margin: 75px 0 120px;
}

.pagination > li > a,
.pagination > li > span {
	padding: 0;
	margin: 0 11px;
	font-weight: 600;
	font-size: 40px;
	line-height: 0.85;
	background: none !important;
	border: none;
	border-bottom: 2px solid #68aae2;
	color: #323232;
}

.pagination > li > span {
	border-color: transparent !important;
	color: #c9cdd6 !important;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-color: transparent;
	color: #68aae2;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-color: transparent;
	margin-right: 0;
	color: #68aae2;
}

.row {
	margin: 0;
	position: relative;
}

.row div[class|="col"] {
	padding-right: 0;
	padding-left: 0;
	&.slick-slide {
		@media (--xs) {
			padding-right: 30px;
			padding-left: 30px;
			padding-bottom: 50px;
		}
	}
}

.row p {
	margin: 0 20px 25px 30px;
}

.bg_wave_1,
.bg_wave_2,
.bg_wave_3 {
	pointer-events: none;
	&.allways-visible {
		display: block !important;
	}
}

.bg_wave_1 {
	position: absolute;
	left: 0;
	top: 336px;
	width: 100%;
	height: 559px;
	background: url(../img/bg_wave_1.png) center no-repeat;
}

.bg_wave_2 {
	position: absolute;
	left: 0;
	bottom: 52px;
	width: 100%;
	height: 250px;
	background: url(../img/bg_wave_2.png) center no-repeat;
}

.bg_wave_3 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 185px;
	background: url(../img/bg_wave_3.png) center no-repeat;
}

.bg_wave_3.news {
	position: relative;
	margin: -20px 0 20px;
}

.row .dl-horizontal {
	margin-left: 30px;
	background: url(../img/about/bg_dotted.png) left top repeat-x;
}

.dl-horizontal dt {
	width: 49%;
	padding: 8px 20px 0 0;
	text-align: left;
	text-overflow: initial;
	white-space: normal;
	font-weight: normal;
	line-height: 26px;
}

.dl-horizontal dd {
	font-weight: 600;
	margin-left: 49%;
	padding: 8px 0;
	line-height: 26px;
	position: relative;
}

.dl-horizontal dd:before {
	content: "";
	position: absolute;
	left: -96%;
	bottom: 0;
	width: 196%;
	height: 1px;
	background: url(../img/about/bg_dotted.png) left bottom repeat-x;
}

.dl-horizontal dd:after {
	content: ".";
	display: block;
	height: 0px;
	font-size: 0;
	clear: both;
	visibility: hidden;
	margin: 0;
}

.btn_orange {
	display: inline-block;
	text-decoration: none !important;
	height: 53px;
	padding: 0 65px;
	font-size: 16px;
	line-height: 53px;
	color: #fff !important;
	border-radius: 26px;
	background: #ef9f4e;
	background: -moz-linear-gradient(-45deg, #ef9f4e 0%, #f3b94f 100%);
	background: -webkit-linear-gradient(-45deg, #ef9f4e 0%, #f3b94f 100%);
	background: linear-gradient(135deg, #ef9f4e 0%, #f3b94f 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffaa47', endColorstr='#f3b94f', GradientType=1);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: relative;
}

.btn_orange:hover {
	color: #fff !important;
	box-shadow: 0 22px 40px rgba(229, 184, 79, 0.58) !important;
}

.btn_orange.video {
	position: relative;
	margin-bottom: 20px;
	padding: 0 65px 0 40px;
	min-width: 275px;
	text-align: center;
}

.btn_orange.video:first-of-type {
	padding: 0 75px 0 35px;
	box-shadow: 0 5px 60px -5px rgba(242, 173, 69, 0.8);
}

.btn_orange.video:last-of-type {
	padding: 0 66px 0 35px;
	box-shadow: 0 5px 60px -5px rgba(242, 173, 69, 0.8);
}

.l-body--about {
	& .b-page-content {
		& .bg_wave_2 + .container {
			& .breadcrumb_320 + .row {
				@media (--xsHor) {
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					& .btn_orange {
						flex-basis: 46%;
						top: 11px !important;
					}
					& h1 {
						max-width: 90%;
					}
				}
				& .col-sm-7 {
					@media (--xs) {
						margin-top: 45px;
					}
				}
			}
		}
	}
}

.btn_orange.video {
	@media (--xs) {
		display: block;
		position: relative !important;
		height: 43px;
		border-radius: 50px;
		line-height: 43px;
		padding: 0 66px 0 60px !important;
		text-align: center;
		font-size: 14px;
		&:before {
			right: 5px !important;
			margin-top: -17px !important;
			width: 35px !important;
			height: 35px !important;
			background-size: cover !important;
		}
	}
	@media (--xsHor) {
		display: inline-block;
		top: -6px !important;
	}
}

.btn_orange.video:before {
	content: "";
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -20px;
	width: 40px;
	height: 40px;
	background: url(../img/icon_play.png) center no-repeat;
}

.btn_blue {
	display: inline-block;
	height: 53px;
	padding: 0 65px;
	font-size: 16px;
	line-height: 53px;
	color: #fff;
	border-radius: 26px;
	background: #69abe2;
	background: -moz-linear-gradient(-45deg, #4b8ec3 0%, #69abe2 100%);
	background: -webkit-linear-gradient(-45deg, #4b8ec3 0%, #69abe2 100%);
	background: linear-gradient(135deg, #4b8ec3 0%, #69abe2 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4b8ec3', endColorstr='#69abe2', GradientType=1);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: relative;
}

.btn_blue:hover {
	color: #fff;
	box-shadow: 0 22px 40px rgba(102, 168, 223, 0.58);
}

.btn_param {
	display: block;
	width: 34px;
	height: 34px;
	border-radius: 17px;
	box-shadow: 0 4px 10px rgba(112, 88, 32, 0.25);
	background: #ffaa47;
	background: -moz-linear-gradient(-45deg, #ffaa47 0%, #ffbb4d 100%);
	background: -webkit-linear-gradient(-45deg, #ffaa47 0%, #ffbb4d 100%);
	background: linear-gradient(135deg, #ffaa47 0%, #ffbb4d 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffaa47', endColorstr='#ffbb4d', GradientType=1);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: relative;
}

.btn_param:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 9px;
	height: 17px;
	margin: -8px 0 0 -5px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

.btn_param span:before,
.btn_param span:after {
	content: "";
	position: absolute;
	width: 5px;
	height: 5px;
	border: 1px solid #fff;
	border-radius: 2px;
	background: #ffaa46;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn_param span:before {
	left: 10px;
	top: 12px;
}

.btn_param span:after {
	left: 18px;
	top: 17px;
}

.btn_param:hover span:before {
	top: 18px;
}

.btn_param:hover span:after {
	top: 12px;
}

.btn_orange.choice_param {
	position: absolute;
	right: 60px;
	top: 135px;
	width: 198px;
	height: 39px;
	line-height: 39px;
	padding: 0 0 0 50px;
	font-size: 12px;
	z-index: 1;
}

.btn_orange.choice_param .btn_param {
	position: absolute;
	left: 9px;
	top: 2px;
	background: none !important;
	box-shadow: none;
}

.btn_orange.choice_param:hover .btn_param span:before {
	top: 18px;
}

.btn_orange.choice_param:hover .btn_param span:after {
	top: 12px;
}

.btn_point {
	display: block;
	width: 34px;
	height: 34px;
	border-radius: 17px;
	box-shadow: 0 4px 10px rgba(165, 194, 95, 0.25);
	background: #789d3e;
	background: -moz-linear-gradient(-45deg, #789d3e 0%, #a1c963 100%);
	background: -webkit-linear-gradient(-45deg, #789d3e 0%, #a1c963 100%);
	background: linear-gradient(135deg, #789d3e 0%, #a1c963 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#789d3e', endColorstr='#a1c963', GradientType=1);
	position: relative;
}

.btn_point:before {
	content: "";
	position: absolute;
	left: 16px;
	top: 18px;
	width: 2px;
	height: 7px;
	background: #fff;
	opacity: 0.7;
}

.btn_point:after {
	content: "";
	position: absolute;
	left: 10px;
	top: 21px;
	width: 14px;
	height: 8px;
	border: 1px solid #fff;
	border-radius: 5px;
}

.btn_point span {
	position: absolute;
	left: 10px;
	top: 5px;
	width: 14px;
	height: 14px;
	border: 1px solid #fff;
	border-radius: 7px;
	background: #81a747;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn_point span:before {
	content: "";
	position: absolute;
	left: 3px;
	top: 3px;
	width: 6px;
	height: 6px;
	border: 1px solid #fff;
	border-radius: 7px;
}

.btn_point:hover span {
	top: 9px;
}

.btn_close {
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 12px;
	border: 1px solid #e5e5e5;
	position: relative;
}

.btn_close:before {
	content: "";
	position: absolute;
	left: 11px;
	top: 7px;
	width: 1px;
	height: 9px;
	background: #eb9c48;
	box-shadow: 0 0 2px #fdebd3;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn_close:after {
	content: "";
	position: absolute;
	left: 7px;
	top: 11px;
	width: 9px;
	height: 1px;
	background: #eb9c48;
	box-shadow: 0 0 2px #fdebd3;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

@media (--mdPlus) {
	.btn_close.active,
	.btn_close:hover {
		background: #eb9c48;
		border-color: #eb9c48;
	}

	.btn_close:hover:before {
		background: #fff;
		box-shadow: 0 0 2px #fff;
	}

	.btn_close:hover:after {
		background: #fff;
		box-shadow: 0 0 2px #fff;
	}
}

.btn_close.active {
	background: #eb9c48;
	border-color: #eb9c48;
}

.btn_close.active:before {
	background: #fff;
	box-shadow: 0 0 2px #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.btn_close.active:after {
	background: #fff;
	box-shadow: 0 0 2px #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.btn_more {
	display: inline-block;
	height: 35px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 600;
	padding: 0 32px;
	border: 2px solid #bdc9dc;
	border-radius: 17px;
	position: relative;
	background-image: url(../img/icon_button_arrow_hover.svg);
	background-position: calc(100% - 15px) center;
	background-repeat: no-repeat;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn_more:hover {
	background-image: url(../img/icon_button_arrow.svg);
}

.btn_more:focus {
	background-image: url(../img/icon_button_arrow_focus.svg);
	border-color: #3aaee3;
}

.btn_more:before {
	content: "";
	position: absolute;
	left: 58%;
	top: -2px;
	width: 33%;
	height: 2px;
	background: #3aaee3;
}

.btn_more:after {
	content: "";
	position: absolute;
	right: -2px;
	top: -2px;
	width: 17px;
	height: 35px;
	border: 2px solid #3aaee3;
	border-left: none;
	border-radius: 0 17px 17px 0;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn_more:hover:after {
	opacity: 1;
}

.popUpbgGrad {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.popUpbgGrad:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
	background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#000', GradientType=1);
	opacity: 0.5;
}

.scrollbar {
	position: absolute;
}

.scrollbar.verticale {
	right: 0;
	top: 0;
	width: 3px;
	height: 100%;
	background: #ebebeb;
}

.scrollbar.horizontal {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background: #ebebeb;
}

.scrollbar_drag {
	position: relative;
	width: 100%;
	height: 100%;
	background: #d99b47;
	border-radius: 1px;
}

.menu {
	position: fixed;
	-webkit-backface-visibility: hidden;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	-webkit-backface-visibility: hidden;
	background: url(../img/bg_menu.png) center no-repeat #fff;
	background-size: cover;
	font-size: 21px;
	line-height: 1;
	letter-spacing: 0.02em;
	overflow: hidden;
	z-index: 200;
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s ease;
	@media (--xs) {
		opacity: 1;
	}
	&__name {
		@media (--xs) {
			padding-left: 30px;
		}
	}
	&__backdrop {
		display: none;
		@media (--xs) {
			display: block;
			z-index: -100;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #000;
			opacity: 0.5;
		}
	}
	& > .wrap {
		width: calc(100% - 120px);
		height: calc(100% - 105px);
		padding-top: 5px;
		margin: 45px 0 0 60px;
		position: relative;
		transition: all 0.4s ease;
		@media (--xs) {
			transform: translateX(120%);
		}
		&.wrap--active {
			@media (--xs) {
				transform: translateX(0%);
			}
		}
		&.wrap--moving {
			pointer-events: none;
		}
	}
	&__inner {
		@media (--xs) {
			overflow-y: auto;
			overflow-x: hidden;
			height: 100%;
			padding-right: 16px;
		}
		& > .item {
			@media (--xs) {
				overflow: hidden;
				padding-left: 30px;
			}
		}
	}
	& li {
		margin-top: 18px;
		@media (--smPlus) {
			overflow: hidden;
		}
	}
	&__item-link {
		@media (--smPlus) {
			display: inline-block;
			position: relative;
			&--unclickable {
				pointer-events: none;
			}
		}
	}
	&__subitem-link {
		@media (--smPlus) {
			display: inline-block;
			position: relative;
		}
	}
	&--active {
		visibility: visible;
		opacity: 1;
	}
}

.menu a {
	color: #000;
}

.menu a:hover {
	color: #f9a442;
}

.menu .name {
	margin-bottom: 25px;
	@media (--smPlus) and (max-height: 574px) {
		display: none !important;
	}
}

.menu .name,
.menu .item > a {
	display: inline-block;
	font-size: 30px;
	font-weight: 600;
	color: #000;
	position: relative;
}

.menu .close {
	position: absolute;
	right: 0;
	top: 5px;
	width: 17px;
	height: 17px;
	background: url(../img/icon_close_1.svg) center no-repeat;
	opacity: 1 !important;
	z-index: 1;
}

.menu .menuFooter {
	position: absolute;
	right: 0;
	bottom: -3px;
	top: auto;
}

.menu .menuFooter li:first-child {
	padding-right: 0;
	border-right: none;
}

.menu .menuFooter li:last-child {
	padding-left: 0;
	margin-left: 20px;
	border-left: none;
}

.menu .item {
	position: absolute;
	bottom: 0;
	height: 385px;
}

.menu .item > a:hover:before {
	content: "";
	position: absolute;
	left: -1px;
	top: -5px;
	width: 20px;
	height: 2px;
	background: #eea941;
}

.menu .item_1 {
	left: 0;
}

.menu .item_2 {
	left: 15.1%;
}

.menu .item_3 {
	left: 27.1%;
}

.menu .item_4 {
	left: 47.8%;
}

.menu .item_5 {
	left: 63.5%;
}

.menu .item_6 {
	left: 78.4%;
}

.menu .item_8 {
	@media (--smPlus) {
		display: none;
	}
}

.menu .item_7 {
	left: 92.2%;
}

.menu .item_8 {
	@media (--smPlus) {
		display: none;
	}
}

.menu ul {
	margin-top: 29px;
}

.menu li:nth-child(2) a {
	border: none !important;
}

.menu .back {
	display: none;
}

.menu .back a {
	display: block;
	height: 47px;
	background: url(../img/icon_menu_arrow_left.svg) left center no-repeat;
	border: none !important;
}

.page_404 {
	position: absolute;
	width: 521px;
	height: 238px;
	left: 50%;
	top: 50%;
	margin: -119px 0 0 -260px;
	background: url(../img/bg_404.png) center no-repeat;
	font-size: 14px;
	line-height: 20px;
	color: #bdbdbd;
	text-align: center;
	z-index: 1;
}

.page_404 > div {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.page_404 .big {
	display: block;
	margin-bottom: 10px;
	font-weight: 600;
	text-transform: uppercase;
}

.row.about_1 {
	margin: 103px 0 10px;
}

.row.about_1 div[class|="col"] {
	padding: 0 30px;
	margin-bottom: 35px;
}

.row.about_1 div[class|="col"]:before {
	content: "";
	position: absolute;
	left: 0;
	top: 14px;
	width: 15px;
	height: 2px;
	background: #68a9df;
}

.row.about_2 {
	background: url(../img/about/about_1.jpg) center top no-repeat;
	height: 1035px;
	padding-top: 160px;
	margin-bottom: 25px;
}

.row.about_3 {
	margin-bottom: 43px;
}

.row.about_4 {
	background: url(../img/about/about_2.png) center top no-repeat;
	height: 625px;
	padding-top: 185px;
	margin-bottom: 55px;
	color: #fff;
	text-align: center;
}

.row.about_4 h4 {
	color: #fff;
	margin-bottom: 47px;
}

.row.about_4 div[class|="col"] {
	padding: 0 20px;
	float: none;
	display: inline-block;
	vertical-align: top;
	margin: 0 -2px;
}

.row.about_4 img {
	margin-bottom: 24px;
}

.row.about_4 p {
	margin: 0;
}

.row.about_5 {
	margin-bottom: 43px;
}

.row.about_5 h4 {
	margin-bottom: 10px;
}

.row.about_5 p {
	margin-right: 0;
}

.row.about_5 .col-sm-1 + .col-sm-5 p {
	margin-left: 0;
}

.row.about_6 {
	margin-bottom: 43px;
}

.row.about_6 dl {
	margin-bottom: 140px;
}

.row.about_6 .col-sm-1 + .col-md-5 dl {
	margin-left: 0;
}

.row.about_6 .view_m {
	display: none;
}

.galery_1 {
	position: relative;
}

.galery_str_l,
.galery_str_r {
	transition: opacity 0.4s;
	&.slick-disabled {
		opacity: 0.2;
		pointer-events: none;
	}
}

.galery_str_l {
	position: absolute;
	left: 21%;
	top: 50%;
	margin: -28px 0 0 -61px;
	background: url(../img/icon_galery_arrow_left.svg) center no-repeat;
	width: 9px;
	height: 15px;
}

.galery_str_l:hover {
	background-image: url(../img/icon_galery_arrow_left_hover.svg);
}

.galery_str_r {
	position: absolute;
	right: 21%;
	top: 50%;
	margin: -28px -61px 0 0;
	background: url(../img/icon_galery_arrow_right.svg) center no-repeat;
	width: 9px;
	height: 15px;
}

.galery_str_r:hover {
	background-image: url(../img/icon_galery_arrow_right_hover.svg);
}

.galery_list {
	position: relative;
	top: 0;
	width: 100%;
	white-space: nowrap;
	font-size: 0;
	line-height: 0;
}

.galery_list .galery_item {
	display: inline-block;
	width: 58vw;
	margin-right: 25px;
	background: #fff;
	border-bottom: 2px solid rgba(89, 152, 193, 0.2);
	border-radius: 8px 8px 3px 3px;
	position: relative;
	overflow: hidden;
	transition: all 0.4s;
	margin-bottom: 48px;
}

.galery_list .galery_item.slick-current {
	box-shadow: 0 17px 30px rgba(70, 87, 115, 0.2);
}

.galery_list .wrap {
	opacity: 0.2;
	transition: all 0.4s;
	cursor: grab;
	overflow: hidden;
	&:active {
		cursor: ew-resize;
	}
}

.galery_list .slick-current > .wrap {
	cursor: pointer;
}

.galery_list .galery_item.slick-current {
	border-bottom: 2px solid rgba(89, 152, 193, 1);
}

.galery_list .galery_item.slick-current .wrap {
	opacity: 1;
}

.galery_img {
	margin-bottom: 100px;
	background-size: cover;
	background-position: center bottom;
	@media (--xs) {
		margin-bottom: 48px;
		height: calc(100vh - 300px);
	}

	@media (--sm) {
		height: calc(100vh - 420px);
	}

	@media (--md) {
		height: calc(100vh - 470px);
		min-height: 378px;
	}

	@media (--lg) {
		height: calc(100vh - 460px);
		min-height: 378px;
	}
}

.galery_list .info {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 104px;
	line-height: 104px;
	padding: 0 60px;
	background: #fff;
	border-radius: 0 0 3px 3px;
	color: #000;
}

.galery_list .name {
	float: left;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	@media (--sm) {
		font-size: 18px;
	}
}

.galery_list .count {
	float: right;
	font-size: 14px;
	color: #bdbdbd;
}

.galery_bigImg {
	width: 100%;
	height: 100%;
	padding: 30px 80px;
	position: relative;
}

.galery_bigImg .galery_str_l {
	left: 35px;
	margin: -8px 0 0;
	background-image: url(../img/icon_galery_arrow_left_white.svg);
}

.galery_bigImg .galery_str_l:hover {
	background-image: url(../img/icon_galery_arrow_left_hover.svg);
}

.galery_bigImg .galery_str_r {
	right: 35px;
	margin: -8px 0 0;
	background-image: url(../img/icon_galery_arrow_right_white.svg);
}

.galery_bigImg .galery_str_r:hover {
	background-image: url(../img/icon_galery_arrow_right_hover.svg);
}

.choose_year {
	width: 76px;
	height: 34px;
	line-height: 32px;
	background: #fff;
	border: 1px solid #bdbdbd;
	border-radius: 17px;
	font-weight: 600;
	font-size: 14px;
	z-index: 2;
}

.choose_year .active {
	display: block;
	padding-left: 15px;
	background: url(../img/icon_arrow_news.svg) 56px center no-repeat;
	background-size: 6px 11px;
}

.galery .choose_year {
	position: absolute;
	right: 60px;
	top: 152px;
}

.choose_year ul {
	position: absolute;
	left: -1px;
	top: -3px;
	width: 76px;
	border: 1px solid #bdbdbd;
	border-radius: 17px;
	background: #fff;
	display: none;
	min-width: auto;
}

.choose_year li {
	padding-left: 20px;
	height: 34px;
	line-height: 32px;
}

.choose_year a:hover {
	color: #68a8de;
}

.news_date {
	display: inline-block;
	text-align: center;
	color: #c9cdd6;
	padding: 8px 0 0;
	margin-bottom: 26px;
}

.news_date span {
	display: block;
	font-weight: 600;
	font-size: 40px;
	line-height: 0.9;
	border-bottom: 2px solid #dbdfe7;
	margin-bottom: 14px;
}

.news_date .year {
	font-size: 16px;
	border: none;
	padding-top: 2px;
	margin: 0;
}

.news_social {
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 1;
}

.news_social > a {
	display: block;
	margin-bottom: 20px;
	font-size: 0;
	line-height: 0;
	filter: grayscale(1);
	transition: all 0.2s;
	opacity: 0.4;
}

.news_social > a:hover {
	filter: grayscale(0);
	opacity: 0.9;
}

/* .news_social .item_1:hover {
  background-image: url(../img/news_page/fb_hover.svg);
}

.news_social .item_2:hover {
  background-image: url(../img/news_page/vk_hover.svg);
}

.news_social .item_3:hover {
  background-image: url(../img/news_page/tw_hover.svg);
}
*/

.news_page {
	margin: -20px 0 20px;
}


.news_page h1,
.news_page .h1 {
	max-width: none;
}

.news_page h1 a,
.news_page .h1 a {
	position: relative;
	background: url(../img/bg_dot_blue.png) left 43px repeat-x;
}

.news_page p {
	margin: 0 0 25px;
}

.news_page .media > .pull-left {
	width: 30%;
	margin-right: 5%;
}

.news_page .media-object {
	width: 100%;
}

.news_page .choose_year {
	position: absolute;
	right: 0;
	top: -72px;
}

.news_page.listing .row + .row:before {
	content: "";
	position: absolute;
	left: 1px;
	top: 0;
	width: 100%;
	height: 185px;
	background: url(../img/bg_wave_3.png) center top no-repeat;
	margin-top: 1px;
}

.news_page.listing .pagination {
	margin-left: -60px;
}

.big_name_page {
	max-width: 1280px;
	height: 1px;
	position: relative;
	padding: 0;
	pointer-events: none;
	user-select: none;
}

.big_name_page > .wrap {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-83%);
	transform: translateY(-83%);
	width: 87.5%;
	height: ;
	text-align: right;
	font-weight: 700;
	line-height: 1;
	font-size: 149px;
	text-transform: uppercase;
	color: #000;
	opacity: 0.05;
	@media (--mdPlus) {
		right: -4%;
	}
	/* background:red;*/
}

.docs_list {
	position: relative;
	margin: -18px -10px 0;
}

.docs_list .item {
	float: left;
	width: 25%;
	padding: 10px;
}

.docs_list .doc {
	display: block;
	height: 256px;
	padding: 25px 40px 0;
	background: #fff;
	border-radius: 8px 8px 2px 2px;
	box-shadow: 0 16px 40px rgba(70, 87, 115, 0.25);
	border-bottom: 2px solid #69abe2;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-size: 14px;
	line-height: 20px;
	color: #323232;
	text-transform: uppercase;
	position: relative;
}

.docs_list .doc:hover {
	border-color: #e1ae4e;
	/* box-shadow:none;*/
}

.docs_list .name {
	display: block;
	font-weight: 600;
	letter-spacing: 0.02em;
	max-height: 80px;
	overflow: hidden;
}

.docs_list dl {
	position: absolute;
	left: 40px;
	bottom: 57px;
	width: calc(100% - 80px);
	padding: 7px 0;
	font-size: 10px;
	text-transform: none;
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}

.docs_list dt {
	width: 65px;
	padding: 1px 10px 0 0;
}

.docs_list dd {
	margin-left: 65px;
	padding: 1px 0;
	text-align: right;
	font-weight: normal;
}

.docs_list dd:before {
	display: none;
}

.docs_list .format {
	display: block;
	position: absolute;
	left: 0;
	bottom: 17px;
	width: 100%;
	padding: 0 40px;
	height: 20px;
	line-height: 20px;
	opacity: 1;
	-webkit-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}

.docs_list .format img {
	float: right;
}

.docs_list .btn_orange {
	position: absolute;
	left: 50%;
	bottom: 7px;
	width: 150px;
	height: 39px;
	margin-left: -75px;
	line-height: 39px;
	padding: 0;
	text-align: center;
	font-size: 14px;
	text-transform: none;
	box-shadow: none !important;
	opacity: 0;
	-webkit-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
}

.docs_list .doc:hover .format {
	opacity: 0;
}

.docs_list .doc:hover .btn_orange {
	opacity: 1;
}

.action_list {
	position: relative;
	margin: -18px 0 90px;
}

.action_list:after {
	content: ".";
	display: block;
	height: 0px;
	font-size: 0;
	clear: both;
	visibility: hidden;
	margin: 0;
}

.action_list .col-md-6 {
	padding: 10px;
}

.action_list .item {
	display: block;
	background: #fff;
	border-radius: 8px 8px 3px 3px;
	box-shadow: 0 16px 40px rgba(70, 87, 115, 0.25);
	position: relative;
	overflow: hidden;
}

.action_list .img {
	display: block;
	height: 280px;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}

.action_list .name {
	display: block;
	height: 210px;
	padding: 28px 60px 16px;
	font-weight: 500;
	font-size: 35px;
	line-height: 44px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}

.action_list_old {
	margin-bottom: 75px;
}

.action_list_old:after {
	content: ".";
	display: block;
	height: 0px;
	font-size: 0;
	clear: both;
	visibility: hidden;
	margin: 0;
}

.action_list_old h4 {
	text-align: center;
	margin-bottom: 40px;
}

.action_list_old .col-lg-3 {
	padding: 10px;
}

.action_list_old .item {
	height: 280px;
	padding: 50px 40px 80px;
	color: #ced2d5;
	background: #fff;
	border: 2px solid #dee1e5;
	border-radius: 8px;
	position: relative;
}

.action_list_old .name {
	font-weight: 500;
	font-size: 20px;
	line-height: 32px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}

.action_list_old .date_end {
	position: absolute;
	left: 40px;
	bottom: 33px;
}

.action_page {
	margin: -20px 0 20px;
}

.action_page h1 {
	max-width: none;
	margin-bottom: 48px;
}

.action_page h1 a {
	position: relative;
	background: url(../img/bg_dot_blue.png) left 43px repeat-x;
}

.action_page p {
	margin: 0 0 25px;
}

.action_page .media > .pull-left {
	width: 27.3%;
	margin-right: 5.2%;
}

.action_page .media-object {
	width: 100%;
}

.decoration_0 {
	margin: -10px 0 50px;
}

.decoration_1 {
	position: relative;
	overflow: hidden;
}

.decoration_1 .galery_1 {
	margin: 0 0 148px;
}

.decoration_1 .galery_item {
	@media (--smPlus) {
		width: 53vw;
	}
	width: 53%;
}

.decoration_1 .galery_str_l {
	left: 22%;
	margin-left: -40px;
}

.decoration_1 .galery_str_r {
	right: 22%;
	margin-right: -40px;
}

.decoration_1 .galery_list .info {
	padding: 0 50px;
	@media (--sm) {
		padding: 0 7%;
	}
	@media (--xs) {
		padding: 16px 14px 6px;
		line-height: 1.4;
		text-align: center;
	}
}

.decoration_2 {
	margin: 0 0 80px;
	position: relative;
	z-index: 1;
}

.decoration_2 h4 {
	text-align: center;
	margin-bottom: 50px;
}

.decoration_2 div[class|="col"] {
	padding: 0 20px 0 30px;
	margin-bottom: 35px;
}

.decoration_2 div[class|="col"]:before {
	content: "";
	position: absolute;
	left: 0;
	top: 14px;
	width: 15px;
	height: 2px;
	background: #68a9df;
}

.decoration_2 .note {
	position: absolute;
	right: 0;
	bottom: 0;
	font-style: italic;
}

.decoration_2 .note:before {
	display: none;
}

.decoration_logo_partner {
	padding-top: 45px;
}

.decoration_logo_partner img {
	position: absolute;
	right: 0;
	top: -54px;
}

.installment {
	margin-top: -10px;
	font-size: 14px;
	line-height: 20px;
}

.installment .row_1 {
	margin: 48px 0 80px;
}

.installment .row_320 {
	display: none;
}

.installment .item {
	opacity: 0;
	margin: 0 10px 20px;
	padding: 40px 36px 30px 40px;
	background: #fff;
	box-shadow: 0 29px 40px rgba(24, 29, 38, 0.2);
	border-radius: 8px;
	position: relative;
}

.installment .rate {
	display: inline-block;
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 80px;
	line-height: 1;
	color: #69abe2;
	position: relative;
	@media (--sm) {
		font-size: 70px;
	}
}

.installment .rate sup {
	position: absolute;
	right: -7px;
	top: 20px;
	font-size: 20px;
	color: #c9cdd6;
}

.installment .rate_info {
	border-top: 2px solid #ececec;
	padding-top: 22px;
	font-weight: 600;
	text-transform: uppercase;
	color: #323232;
	margin-bottom: 14px;
}

.rate_head {
	border-bottom: 2px solid #ececec;
	padding-bottom: 19px;
	margin-bottom: 19px;
	@media (--xs) {
		font-size: 17px;
	}
	@media (--sm) {
		font-size: 17px;
	}
	@media (--md) {
		font-size: 17px;
	}
}

.installment .rate_info .glow {
	color: #69abe2;
}

.installment .rate_note {
}

.installment .note {
	max-width: 460px;
	margin: 0 0 20px 50px;
	position: relative;
}

.installment .note sup {
	position: absolute;
	left: -23px;
	top: 11px;
	font-weight: 600;
	color: #c9cdd6;
}

.installment .note a {
	color: #dea24d;
	text-decoration: underline;
}

.installment p {
	margin: 0 0 20px 50px;
}

.installment .str_l {
	position: absolute;
	left: 0;
	top: 50%;
	margin: -22px 0 0 10px;
	background: url(../img/icon_galery_arrow_left.svg) center no-repeat;
	width: 9px;
	height: 15px;
	display: none;
}

.installment .str_l:hover {
	background-image: url(../img/icon_galery_arrow_left_hover.svg);
}

.installment .str_r {
	position: absolute;
	right: 0;
	top: 50%;
	margin: -22px 10px 0 0;
	background: url(../img/icon_galery_arrow_right.svg) center no-repeat;
	width: 9px;
	height: 15px;
	display: none;
}

.installment .str_r:hover {
	background-image: url(../img/icon_galery_arrow_right_hover.svg);
}

.v_ip.sm {
	display: none;
}

.v_ip {
	margin: -20px 0 40px;
	position: relative;
}

.v_ip .container.big_name_page {
	display: none;
}

.v_ip .big_name_page .wrap {
	right: 0;
	-webkit-transform: translateY(-24%);
	transform: translateY(-24%);
	width: 103%;
}

.v_ip a {
	color: #dea24d;
	text-decoration: underline;
}

.v_ip .btn_orange {
	position: absolute;
	right: 0;
	top: -80px;
	height: 40px;
	padding: 0 25px;
	font-size: 14px;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
}

.v_ip address {
	margin: 35px 0 0;
}

.v_ip .addr {
	display: block;
	margin-top: 15px;
}

.v_ip p {
	margin-bottom: 0;
}

.v_ip p,
.v_ip_1 p {
	margin-left: 0;
}

.v_ip .tarif {
	margin: 0 0 70px -40px;
	position: relative;
	z-index: 1;
}

.v_ip .td_row {
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 21px 40px rgba(70, 87, 115, 0.25);
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
}

.v_ip .td_row .col {
	padding-top: 22px;
	padding-bottom: 22px;
}

.v_ip .tarif .col {
	display: inline-block;
	font-size: 16px;
	line-height: 26px;
	vertical-align: middle;
	padding-right: 15px;
}

.v_ip .tarif .col_1 {
	width: 16%;
	/*padding-left: 40px;*/
}

.v_ip .tarif .col_2 {
	width: 17%;
}

.v_ip .tarif .col_3 {
	width: 28%;
	padding-left: 15px;
}

.v_ip .tarif .col_4 {
	width: 15%;
}

.v_ip .tarif .col_5 {
	width: 24%;
	/*padding-right: 40px;*/
	padding-left: 40px;
}

.v_ip .th_row {
	font-size: 0;
	line-height: 0;
}

.v_ip .th_row .col {
	line-height: 17px;
	padding-top: 10px;
	padding-bottom: 7px;
	@media (--sm) {
		font-size: 12px;
	}

	@media (--md) {
		font-size: 13px;
	}
}

.v_ip .tarif img {
	display: block;
	width: 100%;
	max-width: 144px;
}

.v_ip .tarif .glow {
	color: #68aae2;
}

.v_ip .tarif .td_wrap {
	margin: 0 20px;
	position: relative;

	&--v2 {
		margin: 0;
	}
}

.td_wrap__hidden {
	display: none;
}

/*.v_ip .tarif .td_wrap:hover {
  background: #fdf9f1;
  }*/

.v_ip .tarif .td_wrap + .td_wrap {
	border-top: 1px solid #ebedf0;
}

.v_ip .tarif.normal {
	margin-bottom: 35px;
}

.v_ip .tarif.normal .th_row {
	@media (--smPlus) {
		margin: 0 20px;
	}
}

.v_ip .tarif.normal .th_row .col {
	padding-top: 17px;
	padding-bottom: 17px;
}

.v_ip .tarif.normal .col_2 {
	width: 27%;
	padding-left: 20px;
	@media (--xs) {
		width: 33.3%;
		text-align: center;
	}
}

.v_ip .tarif.normal .col_3 {
	width: 27%;
	@media (--xs) {
		width: 33.3%;
	}
}

.v_ip .tarif.normal .col_4 {
	width: 21%;
}

.v_ip .tarif.normal .col_5 {
	width: 46%;
	@media (--xs) {
		width: 33.3%;
	}
}

.v_ip .tarif .more {
	/* position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; */
	display: none;
}

.v_ip .tarif .more:before {
	content: "Подробнее";
	position: absolute;
	left: 20px;
	top: 17px;
	width: 123px;
	height: 39px;
	border-radius: 19px;
	font-size: 14px;
	line-height: 39px;
	text-align: center;
	color: #fff;
	background: #ef9f4e;
	background: -moz-linear-gradient(-45deg, #ef9f4e 0%, #f3b94f 100%);
	background: -webkit-linear-gradient(-45deg, #ef9f4e 0%, #f3b94f 100%);
	background: linear-gradient(135deg, #ef9f4e 0%, #f3b94f 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffaa47', endColorstr='#f3b94f', GradientType=1);
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	opacity: 0;
}

.v_ip .tarif .more:hover:before {
	opacity: 1;
}

.v_ip .all_tarifs {
	float: right;
	display: block;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	margin-bottom: 5px;
	position: relative;
	right: 11%;
	color: #323232;
	background: url(../img/bg_dash_blue.png) left bottom repeat-x;
	text-decoration: none;
}

.v_ip h4 {
	margin: 0 15px 15px 0;
}

.about_v_ip {
}

.about_v_ip li {
	padding-left: 25px;
	position: relative;
}

.about_v_ip li:before {
	content: "";
	position: absolute;
	left: 2px;
	top: 11px;
	width: 7px;
	height: 7px;
	border-radius: 3px;
	background: #68aae2;
}

.v_ip_1 {
	margin: 40px 0 100px;
	position: relative;
}

.v_ip_1 .row + .row {
	margin-top: 30px;
}

.v_ip_1 .v_ip_img.sm {
	display: none;
}

.v_ip_1 .v_ip_img img {
	display: block;
	width: 100%;
}

.send_letterIpotek {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 600px;
	margin-left: -300px;
	background: url(../img/bg_letter.png) center bottom no-repeat;
	font-size: 14px;
	line-height: 20px;
	color: #929292;
	text-align: center;
	@media (--xs) {
		width: 310px;
		margin-left: -155px;
	}
}

.send_letterIpotek .scrollbar.verticale {
	top: 10px;
	right: 72px;
	height: calc(100% - 10px);
}

.send_letterIpotek .wrap {
	width: 455px;
	margin: 0 auto;
	background: #fff;
	border-radius: 8px 8px 0 0;
	padding: 55px 60px 42px;
	@media (--xs) {
		width: 100%;
	}
}

.send_letterIpotek .h1 {
	font-size: 17px;
	font-weight: 500;
	line-height: 1;
	text-transform: none;
	letter-spacing: 0;
	color: #000;
	text-align: left;
	margin-bottom: 26px;
}

.send_letterIpotek .note {
	text-align: left;
	margin-bottom: 28px;
}

.send_letterIpotek .note_1 {
	text-align: left;
	margin-bottom: 28px;
}

.send_letterIpotek .note_important {
	font-size: 12px;
	padding: 8px 0;
}

.send_letterIpotek input[type="text"],
.send_letterIpotek input[type="tel"],
.send_letterIpotek input[type="email"] {
	background-color: rgba(255, 253, 253, 0);
	border: none;
	border-bottom: 2px solid #e5e5e5;
	width: 100%;
	height: 36px;
	line-height: 34px;
	color: #0e0e0e;
	margin-bottom: 26px;
	position: relative;
	z-index: 1;
}

.send_letterIpotek input[type="text"] ~ label {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff;

	border: none;
	border-bottom: 2px solid #e5e5e5;
	width: 100%;
	height: 36px;
	line-height: 34px;
	font-weight: normal;
	color: #fff;
	text-align: left;
}

label.error {
	display: none !important;
}

.send_letterIpotek .valid {
	background-image: url(../img/icon_check_mark.svg);
	background-position: calc(100% - 10px) center;
	background-repeat: no-repeat;
}

.send_letterIpotek .error {
	border-color: #d07b7b !important;
}

.send_letterIpotek .captcha input,
.send_letterIpotek .captcha input ~ label {
	width: 205px;
}

.send_letterIpotek input[type="submit"] {
	margin-top: 21px;
	width: 198px;
	padding: 0;
	border: none;
	position: relative;
	z-index: 1;
}

.send_letterIpotek input[type="submit"] ~ span {
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -99px;
	width: 198px;
	padding: 0;
}

.send_letterIpotek input[type="submit"]:hover {
	box-shadow: none;
}

.send_letterIpotek input[type="submit"]:hover ~ span {
	box-shadow: 0 22px 40px rgba(229, 184, 79, 0.58);
}

.send_letterIpotek .thanks .btn_orange {
	margin-top: 21px;
	background: #9fba5b;
	background: -moz-linear-gradient(-45deg, #88a357 0%, #9fba5b 100%);
	background: -webkit-linear-gradient(-45deg, #88a357 0%, #9fba5b 100%);
	background: linear-gradient(135deg, #88a357 0%, #9fba5b 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#88a357', endColorstr='#9fba5b', GradientType=1);
	box-shadow: 0 16px 28px rgba(161, 188, 91, 0.22);
}

.call_me_time {
	background-color: #fff;
	border: none;
	border-bottom: 2px solid #e5e5e5;
	width: 100%;
	height: 36px;
	line-height: 34px;
	color: #929292;
	margin-bottom: 26px;
	text-align: right;
}

.call_me_time .labe {
	float: left;
}

.send_letterIpotek .call_me_time input {
	border: none;
	width: 47px;
	height: 34px;
	font-weight: 500;
	color: #000;
	background: url(../img/icon_set_time.png) right center no-repeat;
}

.about_bank {
	margin: 0 0 40px;
	padding-top: 10px;
	position: relative;
}

.about_bank .btn_orange {
	position: absolute;
	right: 0;
	top: -100px;
	height: 40px;
	padding: 0 25px;
	font-size: 14px;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
}

.about_bank .logo_bank {
	margin-bottom: 48px;
}

.about_bank h4 {
	margin-bottom: 30px;
}

.about_bank p {
	margin-left: 0;
}

.about_bank .tarif {
	margin: 0 0 55px -40px;
	position: relative;
	z-index: 1;
}

.about_bank .td_row {
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 21px 40px rgba(70, 87, 115, 0.25);
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
}

.about_bank .td_row .col {
	padding-top: 22px;
	padding-bottom: 22px;
}

.about_bank .tarif .col {
	display: inline-block;
	font-size: 17px;
	line-height: 26px;
	vertical-align: middle;
	padding-right: 15px;
}

.about_bank .tarif .col_1 {
	width: 45%;
	padding-left: 40px;
}

.about_bank .tarif .col_2 {
	width: 30%;
}

.about_bank .tarif .col_3 {
	width: 25%;
	padding-right: 40px;
}

.about_bank .th_row {
	font-size: 0;
	line-height: 0;
}

.about_bank .th_row .col {
	font-size: 14px;
	line-height: 17px;
	padding-top: 10px;
	padding-bottom: 17px;
}

.about_bank [class~="sm"] {
	display: none;
}

@media screen and (min-width: 1900px) {
	.galery_list .galery_item {
		width: 1010px;
	}
	.galery_img {
		width: 1010px;
		max-height: none;
	}
	.galery_str_l {
		left: 50%;
		margin-left: -580px;
	}
	.galery_str_r {
		right: 50%;
		margin-right: -580px;
	}
	.decoration_1 .galery_list .galery_item {
		width: 1010px;
	}
	.decoration_1 .galery_img {
		width: 1010px;
		max-height: none;
	}
}

@media screen and (max-width: 1899px) {
	.menu {
		font-size: 14px;
	}
	.menu .name,
	.menu .item > a {
		font-size: 20px;
	}
}

@media screen and (max-width: 1279px) {
	h1,
	.h1 {
		font-size: 30px;
		line-height: 42px;
		max-width: 530px;
		margin-bottom: 20px;
	}
	h1 small,
	.h1 small {
		font-size: 20px;
	}
	.h1_full h1 {
		max-width: none;
	}
	h2,
	.h2 {
		font-size: 30px;
		line-height: 42px;
		margin-bottom: 20px;
		max-width: 410px;
	}
	.menu .item_2 {
		left: 19.4%;
	}
	.menu .item_3 {
		left: 34.8%;
	}
	.menu .item_4 {
		left: 61.4%;
	}
	.menu .item_5 {
		left: 81.5%;
	}
	.menu .item_6 {
		left: 81.5%;
		bottom: 163px;
		height: auto;
	}
	.menu .item_7 {
		left: 81.5%;
		bottom: 119px;
		height: auto;
	}
	.row.about_1 {
		margin-top: 73px;
	}
	.row.about_2 {
		padding-top: 87px;
		background-position: calc(50% + 175px) center;
		margin-bottom: -5px;
	}
	.row.about_4 {
		background-size: cover;
		height: 535px;
		padding-top: 125px;
		margin-bottom: 75px;
	}
	.row.about_4 h4 {
		margin-bottom: 57px;
	}
	.row.about_4 div[class|="col"] {
		font-size: 14px;
		line-height: 20px;
	}
	.row.about_5 h4 {
		margin-left: 30px;
	}
	.news_date {
		padding: 7px 0 0 2px;
	}
	.news_date span {
		font-size: 30px;
		margin-bottom: 13px;
	}
	.news_date .year {
		font-size: 14px;
	}
	.news_page h1 a {
		background-position: left 32px;
	}
	.news_page.listing .pagination {
		margin-left: -50px;
	}
	.pagination > li > a,
	.pagination > li > span {
		font-size: 30px;
	}
	.docs_list .item {
		width: 33.33%;
	}
	.big_name_page .wrap {
		font-size: 10.6vw;
	}
	.v_ip {
		margin: -10px 0 0;
	}
	.v_ip .btn_orange {
		top: -90px;
	}
	.v_ip h1 {
		margin-bottom: 30px;
	}
	.v_ip address {
		margin: 45px 0 0;
	}
	.v_ip .tarif {
		margin: -10px 0 70px -20px;
	}
	.v_ip .tarif .col_1 {
		width: 21%;
		padding-left: 20px;
	}
	.v_ip .tarif .col_2 {
		width: 16%;
	}
	.v_ip .tarif .col_3 {
		width: 25%;
	}
	.v_ip .tarif .col_4 {
		width: 17%;
	}
	.v_ip .tarif .col_5 {
		width: 21%;
		padding-right: 20px;
	}
	.v_ip .tarif img {
		max-width: 90px;
	}
	.v_ip_1 {
		margin: 40px 0 80px;
	}
	.about_bank .tarif {
		margin-left: -20px;
	}
	.about_bank .tarif .col_1 {
		padding-left: 20px;
	}
	.about_bank .tarif .col_3 {
		padding-right: 20px;
	}
}

@media screen and (max-width: 1072px) {
	.menuHeader {
		right: 198px;
	}
	.menuHeader li {
		display: none;
	}
	.menuHeader li:last-child {
		display: block;
	}
}

@media screen and (max-width: 1023px) {
	html {
		min-height: 240px;
	}
	.b-footer {
		padding-right: 40px;
		padding-left: 40px;
	}
	.container {
		padding-right: 40px;
		padding-left: 40px;
	}
	.menu_btn {
		right: 40px;
	}
	/*.menuHeader { right:198px;}
      .menuHeader li { display:none;}
      .menuHeader li:last-child { display:block;}*/
	.menuFooter {
		right: 40px;
	}
	.menu .wrap {
		width: calc(100% - 80px);
		height: calc(100% - 105px);
		margin: 45px 0 0 40px;
	}
	.menu .item_2 {
		left: 38.5%;
	}
	.menu .item_3 {
		left: 38.5%;
		bottom: 226px;
		height: auto;
	}
	.menu .item_4 {
		left: 38.5%;
		bottom: 55px;
		height: auto;
	}
	.menu .item_5 {
		left: 75.7%;
	}
	.menu .item_6 {
		left: 75.7%;
		bottom: 163px;
	}
	.menu .item_7 {
		left: 75.7%;
		bottom: 119px;
	}
	.breadcrumb {
		margin-bottom: 31px;
	}
	.bg_wave_1 {
		top: 116px;
	}
	h1,
	.h1 {
		font-size: 20px;
		line-height: 32px;
		max-width: 365px;
	}
	h1 small,
	.h1 small {
		font-size: 14px;
		letter-spacing: -0.01em;
	}
	.h1_full h1 {
		left: 40px;
	}
	h2,
	.h2 {
		font-size: 20px;
		line-height: 32px;
		margin-bottom: 20px;
		max-width: 350px;
	}
	h4,
	.h4 {
		font-size: 14px;
		line-height: 20px;
	}
	.row p {
		margin-left: 0;
	}
	.row .dl-horizontal {
		margin: 0;
	}
	.btn_orange.choice_param {
		right: 40px;
	}
	/*.about_1 .col-md-3 { width:auto;}
  .about_1 .col-sm-6 { width:50%;}*/
	.row.about_1 {
		margin: 50px 0 40px;
	}
	.row.about_1 div[class|="col"] {
		padding-right: 20px;
	}
	.row.about_2 {
		height: 620px;
		padding-top: 8px;
		background-position: center top;
		background-size: 1350px 557px;
	}
	.row.about_2 .col-sm-7 {
		width: 50%;
	}
	.row.about_4 {
		background-position: center -10px;
		padding-top: 85px;
	}
	.row.about_4 div[class|="col"] {
		margin-bottom: 45px;
	}
	.row.about_4 img {
		margin-bottom: 14px;
	}
	.row.about_5 h4 {
		margin-left: 0;
	}
	.row.about_5 .col-sm-1 {
		width: 16.666666666666664%;
	}
	.row.about_5 i {
		font-size: 14px;
		line-height: 20px;
	}
	.row.about_6 {
		margin-bottom: 140px;
	}
	.row.about_6 dl {
		margin-bottom: -1px;
	}
	.galery_bigImg {
		padding: 30px 40px;
	}
	.galery_bigImg .galery_str_l {
		left: 15px;
	}
	.galery_bigImg .galery_str_r {
		right: 15px;
	}
	.galery .choose_year {
		right: 40px;
		top: 124px;
	}
	.galery_str_l {
		margin-left: -41px;
	}
	.galery_str_r {
		margin-right: -41px;
	}
	.galery_list .info {
		padding: 0 40px;
	}
	.news_date span {
		font-size: 20px;
		margin-bottom: 12px;
	}
	.news_date .year {
		font-size: 8px;
	}
	.news_page h1 a {
		background-position: left 21px;
	}
	.news_page .choose_year {
		top: -65px;
	}
	.news_page.listing .pagination {
		margin-left: 0 /*-40px*/;
	}
	.pagination {
		margin-top: 50px;
	}
	.pagination > li > a,
	.pagination > li > span {
		font-size: 20px;
	}
	.docs_list .item {
		width: 50%;
	}
	.action_list .name {
		height: auto;
		padding-bottom: 54px;
	}
	.action_list .img img {
		width: 100%;
	}
	.action_page h1 {
		margin-bottom: 20px;
	}
	.decoration_1 .galery_1 {
		margin-bottom: 100px;
	}
	.decoration_logo_partner {
		padding-top: 35px;
	}
	.installment .rate_info {
		width: auto;
	}
	.installment p {
		margin: 0 0 20px 50px;
	}
	.v_ip {
		margin: 10px 0 0;
	}
	.v_ip h1 {
		margin-bottom: 20px;
	}
	.v_ip .big_name_page .wrap {
		right: -1.5%;
		-webkit-transform: translateY(-38%);
		transform: translateY(-38%);
		font-size: 18.6vw;
	}
	.v_ip address {
		margin: 0 0 60px;
	}
	.v_ip .addr {
		float: left;
		width: 41.66%;
		margin-top: 25px;
		position: relative;
	}
	.v_ip .addr + .addr {
		left: 16.66%;
	}
	.v_ip h4 {
		font-size: 17px;
		line-height: 30px;
		max-width: 83%;
		margin-bottom: 22px;
	}
	.v_ip_1 h4 {
		font-size: 17px;
		line-height: 30px;
		margin-bottom: 15px;
	}
	.v_ip .tarif {
		margin: -10px -20px 70px;
	}
	.v_ip .tarif .col {
		font-size: 14px;
	}
	.v_ip .tarif .col_1 {
		width: 21%;
	}
	.v_ip .tarif .col_2 {
		width: 13%;
	}
	.v_ip .tarif .col_3 {
		width: 21%;
	}
	.v_ip .tarif .col_4 {
		width: 21%;
	}
	.v_ip .tarif .col_5 {
		width: 23%;
	}
	.v_ip .all_tarifs {
		font-size: 17px;
		line-height: 1.3;
	}
	.v_ip_1 {
		margin: -40px 0 40px;
	}
	.v_ip_1 .v_ip_img {
		overflow: hidden;
		position: relative;
		margin-top: -18%;
		z-index: -1;
	}
	.v_ip_1 .v_ip_img img {
		width: 201%;
	}
	.about_bank .btn_orange {
		top: -90px;
	}
	.about_bank h4 {
		margin-bottom: 15px;
	}
	.about_bank .tarif {
		margin: 0 -20px 55px;
	}
	.about_bank .tarif .col {
		font-size: 14px;
	}
}

@media screen and (max-width: 767px) {
	html,
	body {
		font-size: 14px;
		line-height: 20px;
	}
	#bd {
		padding-top: 78px;
	}
	#bd .empty_box {
		height: 50px;
	}
	.b-header {
		height: 78px;
		border: none;
	}
	#hd_bg {
		height: 78px;
		border: none;
	}
	.b-header .logo img {
		width: 103px;
	}
	.b-footer {
		height: 50px;
		margin-top: -50px;
		padding-right: 30px;
		padding-left: 30px;
		border-top: 1px solid #ccc;
		background: #fff;
	}
	.b-footer .copy {
		display: none;
	}
	.container {
		padding-right: 30px;
		padding-left: 30px;
	}
	.menu_btn {
		right: 30px;
		top: 30px;
		padding-left: 34px;
		text-indent: -9999px;
	}
	.menuHeader {
		right: 92px;
		top: 30px;
	}
	.menuHeader li:last-child {
		display: block;
		background: url(../img/icon_phoneTop.svg) center no-repeat;
		width: 20px;
		height: 20px;
		text-indent: -9999px;
	}
	.menuFooter {
		right: 30px;
		top: 12px;
		width: calc(100% - 60px);
		text-align: center;
	}
	.menuFooter li {
		float: none;
		display: inline-block;
		margin: 0 0 0 10px;
	}
	.menuFooter li:first-child {
		float: left;
		padding-right: 0;
		margin: 0 10px 0 0;
	}

	.menuFooter li:nth-child(2) {
		float: left;
	}
	.menuFooter li:last-child {
		float: right;
		padding-left: 0;
		margin: 0 0 0 10px;
		border-left: none;
	}
	.menu {
		background: none;
	}
	.menu .wrap {
		width: auto;
		height: 100%;
		padding: 28px 14px 0 0;
		margin: 0 0 0 25%;
		background: #fff;
	}
	.menu .close {
		left: -33%;
		right: auto;
		top: 30px;
		width: 17px;
		height: 17px;
		margin-left: 14%;
		background-image: url(../img/icon_close.svg);
	}
	.menu .item {
		position: static;
		left: auto;
		bottom: auto;
		height: auto;
	}
	.menu .item ul {
		display: none;
		margin: 0;
		overflow-y: auto;
		overflow-x: hidden;
	}
	.menu .item li {
		margin: 0;
	}
	.menu .item > a,
	.menu .item a {
		display: block;
		height: 47px;
		line-height: 47px;
		border-top: 1px solid #f4f5f6;
		font-size: 12px;
		font-weight: normal;
		color: #353d53;
	}
	.menu .item_1 > a {
		border-top: none;
	}
	.menu .item_1 > a,
	.menu .item_3 > a,
	.menu .item_4 > a,
	.menu .item_5 > a {
		background: url(../img/icon_menu_arrow_right.svg) right center no-repeat;
	}
	.menu .menuFooter {
		display: none;
	}
	.menu .item.active ul {
		display: block;
		position: absolute;
		left: 30px;
		top: 73px;
		width: calc(100% - 44px);
		height: calc(100% - 73px);
		background: #fff;
		z-index: 2;
	}
	.menu .back {
		display: block;
	}
	.menu a:hover {
		color: #000;
	}
	.menu .item > a:hover:before {
		display: none;
	}
	h1,
	.h1 {
		line-height: 26px;
		max-width: 260px;
		margin-bottom: 15px;
	}
	h1 small,
	.h1 small {
		line-height: 20px;
		margin-bottom: 21px;
	}
	.h1_full h1 {
		left: 30px;
		top: 99px;
		font-size: 16px;
	}
	h2,
	.h2 {
		line-height: 26px;
		margin-bottom: 16px;
		max-width: 260px;
	}
	h4,
	.h4 {
		font-size: 14px;
		line-height: 20px;
	}
	.row p {
		margin: 0 0 5px;
	}

	.breadcrumb {
		display: none;
	}
	.breadcrumb_320 {
		display: block;
	}
	.bg_wave_1,
	.bg_wave_2 {
		display: none;
	}
	.btn_more {
		padding: 0;
		text-indent: -9999px;
		width: 35px;
		background-image: url(../img/icon_circle_button_arrow.svg);
		background-position: center;
	}
	.btn_more:before {
		display: none;
	}
	.btn_more:hover,
	.btn_more:focus {
		background-image: url(../img/icon_circle_button_arrow.svg);
	}
	.btn_orange {
		height: 34px;
		padding: 0 25px;
		font-size: 12px;
		line-height: 34px;
		border-radius: 17px;
	}
	/*.btn_orange:hover { color:#fff; box-shadow:0 25px 55px #ffedd8;}*/
	.btn_orange.video {
		padding: 0 35px 0 15px;
	}
	.btn_orange.video:before {
		right: 5px;
		margin-top: -12px;
		width: 25px;
		height: 25px;
		background-size: 25px;
	}
	.btn_orange.choice_param {
		display: none;
	}
	.page_404 {
		width: 387px;
		height: 177px;
		margin: -89px 0 0 -194px;
		background-size: 387px auto;
	}
	/*.about_1 .col-sm-6 { width:auto;}*/
	.row.about_1 {
		margin: 1px 0 24px;
	}
	.row.about_1 div[class|="col"] {
		padding-right: 20px;
		margin-bottom: 17px;
	}
	.row.about_2 {
		height: 420px;
		margin-bottom: 25px;
		padding-top: 0;
		background-position: center 170px;
		background-size: 768px 317px;
	}
	.row.about_2 .pull-right {
		float: none !important;
	}
	.row.about_2 .h1 {
		max-width: none;
	}
	.row.about_3 {
		margin-bottom: 3px;
	}
	.row.about_3 div[class|="col"] {
		margin-bottom: 10px;
	}
	.row.about_4 {
		height: auto;
		padding: 67px 0 10px;
		margin: 20px 0 30px;
		background-image: url(../img/about/about_2_320.png);
		background-size: auto;
		background-position: center top;
	}
	.row.about_4:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 260px;
		background: url(../img/about/about_2_320.png) center bottom no-repeat;
	}
	.row.about_4 h4 {
		font-size: 17px;
		line-height: 26px;
		margin-bottom: 42px;
	}
	.row.about_4 div[class|="col"] {
		display: block;
		font-size: 17px;
		line-height: 26px;
		padding: 0;
		margin-bottom: 55px;
	}
	.row.about_4 img {
		margin-bottom: 24px;
	}
	.row.about_5 {
		margin-bottom: 20px;
	}
	.row.about_5 h4 {
		margin-top: 14px;
	}
	.row.about_5 img {
		margin: 0 -30px;
		max-width: calc(100% + 60px);
		width: calc(100% + 60px);
	}
	.row.about_6 {
		margin: 0 0 30px;
	}
	.row.about_6 dl {
		font-size: 12px;
		margin-bottom: -2px;
	}
	.row.about_6 dt {
		float: left;
		overflow: hidden;
		clear: left;
	}
	.row.about_6 dd {
		padding-left: 10px;
	}
	.row.about_6 .view_pc {
		display: none;
	}
	.row.about_6 .view_m {
		display: block;
	}
	.galery_bigImg {
		padding: 30px;
	}
	.galery_bigImg .galery_str_l {
		left: 10px;
	}
	.galery_bigImg .galery_str_r {
		right: 10px;
	}
	.galery .choose_year {
		right: 30px;
		top: 89px;
	}
	.galery_1 {
		top: 145px;
	}
	.galery_str_l {
		left: 10px;
		margin-left: 0;
	}
	.galery_str_r {
		right: 10px;
		margin-right: 0;
	}
	.galery_list .info {
		height: 47px;
		line-height: 47px;
		padding: 0 16px;
	}
	.galery_list .galery_item {
		width: calc(100vw - 80px);
		margin-right: 40px;
	}
	.galery_list .name {
		font-size: 14px;
		float: none;
		white-space: nowrap;
		width: 100%;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}
	.galery_list .count {
		font-size: 11px;
		float: none;
		padding-top: 8px;
	}
	.news_date {
		padding: 7px 0 0;
		padding-right: 10px;
	}
	.news_date .day,
	.news_date .month {
		margin-bottom: 9px;
		padding-bottom: 3px;
	}
	.news_date .year {
		margin-top: -1px;
	}
	.news_social {
		position: absolute;
		right: 0;
		top: -55px;
	}
	.news_social a {
		display: inline-block;
		margin: 0 0 0 9px;
		background-size: contain;
	}
	.news_social img {
		width: 35px;
		height: 35px;
	}
	.news_page {
		margin: 0 0 20px;
	}
	.news_page .col-xs-1 {
		float: left;
		width: 35px;
	}
	.news_page .col-xs-10 {
		float: none;
		width: auto;
		margin-left: 35px;
	}
	.news_page h1 {
		line-height: 32px;
		margin-bottom: 20px;
		min-height: 79px;
	}
	.news_page h1 span {
		border-bottom: 2px solid #68aae2;
	}
	.news_page h1 a {
		background-position: left 22px;
	}
	.news_page .media > .pull-left {
		float: none;
		width: 100%;
		margin-right: 0;
	}
	.news_page .media-object {
		width: 100%;
		margin-bottom: 24px;
	}
	.news_page .media-body {
		overflow: visible;
	}
	.news_page .media-body p {
		margin: 0 0 20px;
	}
	.news_page.listing .bg_wave_3 {
		display: none;
	}
	.news_page.listing .item {
		margin-bottom: 12px;
	}
	.news_page.listing .item:after {
		content: ".";
		display: block;
		height: 0px;
		font-size: 0;
		clear: both;
		visibility: hidden;
	}
	.news_page .choose_year {
		top: -55px;
	}
	.big_name_page {
		position: absolute;
		right: 0;
		top: 0;
		width: 1px !important;
		height: 100%;
		transform: ;
		font-size: 4hw;
		overflow: hidden;
	}
	.big_name_page > .wrap {
		right: 0;
		top: 48px;
		transform: rotate(-90deg) translate(0, 0);
		transform-origin: 100% 100%;
		text-align: center;
		opacity: 1;
		width: auto;
		height: auto;
		color: #f3f3f3;
	}
	.docs_list {
		margin-top: -12px;
	}
	.docs_list .item {
		float: none;
		width: 100%;
		padding: 15px 0;
		margin: 0 auto;
	}
	.docs_list .doc,
	.docs_list .format {
		padding-left: 30px;
		padding-right: 30px;
	}
	.docs_list dl {
		left: 30px;
		width: calc(100% - 60px);
	}
	.docs_list dt {
		float: left;
	}
	.pagination {
		width: 100%;
		margin: 20px 0;
		text-align: center;
	}
	.action_list {
		margin: 0;
	}
	.action_list .col-md-6 {
		padding: 0;
		margin-bottom: 30px;
	}
	.action_list .img {
		height: 175px;
	}
	.action_list .img img {
		min-height: 175px;
	}
	.action_list .name {
		padding: 23px 30px;
		font-size: 20px;
		line-height: 24px;
	}
	.action_list_old {
		display: none;
	}
	.action_page {
		margin: 0 0 20px;
	}
	.action_page .media > .pull-left {
		float: none;
		width: 100%;
		margin-right: 0;
	}
	.action_page .media-object {
		width: 100%;
		margin-bottom: 24px;
	}
	.action_page .media-body {
		overflow: visible;
	}
	.action_page .media-body p {
		margin: 0 0 20px;
	}
	.decoration_0 {
		margin-bottom: 20px;
	}
	.decoration_0 h1 {
		margin-bottom: 70px;
	}
	.decoration_0 h1 small {
		margin-bottom: 11px;
	}
	.decoration_1 .galery_1 {
		top: 0;
		margin-bottom: 0px;
	}
	.decoration_1 .galery_str_l {
		left: 10px;
		margin-left: 0;
	}
	.decoration_1 .galery_str_r {
		right: 10px;
		margin-right: 0;
	}
	.decoration_2 {
		margin-bottom: 5px;
	}
	.decoration_2 h4 {
		margin-bottom: 20px;
	}
	.decoration_2 div[class|="col"] {
		padding: 0 0 0 30px;
		margin-bottom: 15px;
	}
	.decoration_2 .note {
		position: relative;
		font-style: italic;
		padding: 0 !important;
	}
	.decoration_logo_partner {
		padding-top: 15px;
	}
	.decoration_logo_partner img {
		width: 130px;
		top: -48px;
	}
	.installment {
		margin: 0;
	}
	.installment .row_0 {
		margin-left: -30px;
		margin-right: -30px;
	}
	.installment .str_l,
	.installment .str_r {
		display: block;
	}
	.installment .row_1 {
		margin: 40px 0 20px;
	}
	.installment .item {
		padding-left: 30px;
		padding-right: 30px;
		margin: 0;
	}
	.installment .note {
		margin-left: 30px;
	}
	.installment p {
		margin-bottom: 20px;
		letter-spacing: -0.008em;
	}
	.v_ip.lg {
		display: none;
	}
	.v_ip.sm {
		display: block;
	}
	.v_ip .btn_orange {
		top: -55px;
		height: 34px;
		padding: 0 20px;
		font-size: 12px;
		line-height: 34px;
	}
	.v_ip h4 {
		line-height: 26px;
		max-width: 100%;
		margin-bottom: 15px;
	}
	.v_ip_1 h4 {
		line-height: 20px;
		margin-top: 30px;
	}
	.v_ip address {
		margin: 20px 0 37px;
	}
	.v_ip .addr {
		float: none;
		width: auto;
		margin-top: 10px;
	}
	.v_ip .addr + .addr {
		left: 0;
	}
	.v_ip .tarif {
		margin: -5px 0 23px;
		padding-bottom: 57px;
	}
	.v_ip .tarif .col {
		width: 25%;
		padding: 0;
		text-align: left;
		font-size: 12px;
		color: #000;
		vertical-align: bottom;
	}
	.v_ip .th_row .col {
		color: #3b3e41;
		padding: 0 0 7px;
	}
	.v_ip .td_row {
		background: none;
		border-radius: 0;
		box-shadow: none;
		border-top: 1px solid #ebedf0;
		border-bottom: 1px solid #ebedf0;
		margin-top: -1px;
	}
	.v_ip .td_row .col {
		padding-top: 16px;
		padding-bottom: 16px;
	}
	.v_ip .tarif .col_2 {
		text-align: left;
	}
	.v_ip .tarif .td_row .col_5 {
		font-size: 0;
		line-height: 0;
	}
	.v_ip .tarif .col_1 {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		text-align: center;
		padding-bottom: 19px;
		font-size: 16px;
		line-height: 1;
	}
	.v_ip .tarif .col_1:after {
		content: "Максимальная  сумма";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		font-size: 12px;
	}
	.v_ip .tarif img {
		display: inline-block;
		max-width: 56px;
	}
	.v_ip .tarif .td_wrap {
		margin: 0;
	}
	.v_ip .tarif.normal {
		margin: -5px 0 13px;
		padding-bottom: 0;
	}
	.v_ip .all_tarifs {
		right: 0;
		font-size: 14px;
		margin-bottom: 15px;
	}
	.about_v_ip {
		margin-bottom: 37px;
	}
	.about_v_ip li {
		padding-left: 22px;
		margin-bottom: 6px;
	}
	.about_v_ip li:before {
		top: 8px;
	}
	.bg_wave_3.v_ip {
		display: none;
	}
	.v_ip_1 {
		margin: 0 0 20px;
	}
	.v_ip_1 h2 {
		/* font-size:17px;*/
		max-width: none;
		margin-bottom: 15px;
	}
	.v_ip_1 .v_ip_img {
		margin: 0 -30px 22px;
	}
	.v_ip_1 .v_ip_img.lg {
		display: none;
	}
	.v_ip_1 .v_ip_img.sm {
		display: block;
	}
	.v_ip_1 .v_ip_img img {
		width: 100%;
	}
	.v_ip_1 .row + .row {
		margin-top: 5px;
	}
	.call_me_form {
		display: block;
	}
	.call_me_form .btn_orange {
		height: 53px;
		line-height: 53px;
		border-radius: 26px;
		font-size: 16px;
	}
	.send_letterIpotek,
	.send_letterIpotek .wrap:after {
		background: none;
	}
	.send_letterIpotek .wrap {
		width: 310px;
		padding: 30px 24px 30px;
	}
	.send_letterIpotek .note {
		display: none;
	}
	.send_letterIpotek .captcha input,
	.send_letterIpotek .captcha input ~ label {
		width: 145px;
	}
	.send_letterIpotek input[type="submit"] {
		margin: 0 auto;
	}
	.send_letterIpotek .btn_orange {
		width: 200px;
		height: 53px;
		line-height: 53px;
		border-radius: 26px;
		font-size: 16px;
	}
	.about_bank {
		margin: 0;
	}
	.about_bank [class~="lg"] {
		display: none;
	}
	.about_bank [class~="sm"] {
		display: block;
	}
	.about_bank .logo_bank {
		margin-bottom: 25px;
	}
	.about_bank .btn_orange {
		top: -55px;
		height: 34px;
		padding: 0 20px;
		font-size: 12px;
		line-height: 34px;
	}
	.about_bank .col-md-5 {
		margin-top: 30px;
	}
	.about_bank .tarif {
		margin: 0 0 35px;
	}
	.about_bank .td_row {
		background: none;
		border-radius: 0;
		box-shadow: none;
		border-top: 1px solid #ebedf0;
		border-bottom: 1px solid #ebedf0;
	}
	.about_bank .td_row .col {
		padding-top: 16px;
		padding-bottom: 16px;
	}
	.about_bank .tarif .col {
		display: inline-block;
		font-size: 12px;
		text-align: center;
	}
	.about_bank .tarif .col_1 {
		width: 33%;
		padding-left: 0;
		text-align: left;
	}
	.about_bank .tarif .col_2 {
		width: 33%;
	}
	.about_bank .tarif .col_3 {
		width: 33%;
		padding-right: 0;
	}
	.about_bank .th_row {
		font-size: 0;
		line-height: 0;
	}
	.about_bank .th_row .col {
		padding-top: 0;
		padding-bottom: 7px;
	}

	.v_ip .tarif .col_5 {
		width: 50%;
	}
}

@media screen and (max-width: 387px) {
	.page_404 {
		width: 100%;
		left: 0;
		margin-left: 0;
	}
}

.pagination > li > a,
.pagination > li > span {
	@media (--xs) {
		font-size: 15px;
		margin: 0 5px;
	}
}

.header-phone-link {
	@media (--xs) {
		position: relative;
	}
	& > a {
		@media (--xs) {
			position: absolute;
			width: 100%;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}
}

.desktop .header-phone-link,
.television .header-phone-link,
.tablet .header-phone-link {
	pointer-events: none;
}

.rate_note > p,
.rate_note > ul,
.rate_note > ol {
	margin: 0;
	padding: 0;
}

/*add 14072017*/

#contactsModal {
	padding: 38px !important;
}

.settlement {
	font-size: 16px;
	position: relative;
}

.settlement .big_name_page .wrap {
	-webkit-transform: translateY(-23%);
	transform: translateY(-23%);
}

.settlement .btn_orange {
	position: absolute;
	right: 0;
	top: -107px;
}

.settlement .row p {
	margin-left: 0;
}

.settlement .glow {
	color: #dea24d;
}

.settlement .docs_list {
	margin: 50px 0;
}

.settlement .docs_list .doc {
	padding-top: 40px;
}

.settlement .docs_list .name {
	border-top: 2px solid #ececec;
	padding-top: 25px;
	max-height: 80px;
}

.settlement .docs_list .btn_orange {
	top: auto;
}

.settlement_contacts {
	position: relative;
	max-width: 1116px;
	width: 100%;
	height: 770px;
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
	margin: 0 auto;
}

.settlement_contacts .text {
	width: 360px;
	margin: 0 60px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 14px;
	line-height: 20px;
	color: #929292;
}

.settlement_contacts .text h5 {
	font-size: 17px;
	color: #000;
	margin-bottom: 20px;
}

.settlement_contacts dl {
	width: 100%;
	margin-top: 30px;
}

.settlement_contacts dt {
	width: 100px;
}

.settlement_contacts dd {
	margin-left: 100px;
	color: #000;
}

.dl-horizontal dd:before {
	display: none;
}

.settlement_contacts a {
	color: #000;
}

.settlement_contacts .map {
	position: absolute;
	right: 0;
	top: 0;
	width: 57%;
	height: 100%;
	overflow: hidden;
	background: url("/img/map_for_contacts_modal.png") center no-repeat;
	background-size: cover;
}

.settlement_contacts .map:before {
	content: "";
	position: absolute;
	left: -10px;
	top: 0;
	width: 10px;
	height: 100%;
	box-shadow: 0 0 70px rgba(19, 19, 19, 0.13);
}

@media screen and (max-width: 1279px) {
	.settlement_contacts .text {
		margin: 0 30px;
	}
	.settlement_contacts .map {
		width: 55%;
	}
}

@media screen and (max-width: 1023px) {
	.settlement_contacts {
		height: auto;
		padding-top: 40px;
	}
	.settlement_contacts .text {
		margin: 0 auto 40px;
		top: 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	.settlement_contacts .map {
		position: relative;
		width: 100%;
		height: 350px;
	}
	.settlement_contacts .map:before {
		left: 0;
		top: -10px;
		width: 100%;
		height: 10px;
	}
}

@media screen and (max-width: 767px) {
	.settlement {
		font-size: 14px;
	}
	.settlement .btn_orange {
		top: -55px;
	}
	.settlement .row p {
		margin-bottom: 20px;
	}
	.settlement .docs_list {
		margin: 25px 0;
	}
	.settlement_contacts {
		padding-top: 27px;
	}
	.settlement_contacts .text {
		width: 100%;
		margin: 0 0 20px;
		padding: 0 20px;
	}
	.settlement_contacts dl {
		margin-top: 10px;
	}
	.settlement_contacts dd {
		margin-left: 0;
		padding: 2px 0;
	}
}

.hypothec-type {
	font-size: 12px;
	line-height: 1.4;
}

.newsItem-settle {
	@media (--xs) {
		& > div {
			margin-bottom: 20px;
		}
	}
	& h1,
	& .h1 {
		font-size: 40px;
		line-height: 50px;
		font-weight: 600;
		@media (--xs) {
			font-size: 20px;
			line-height: 25px;
			& br {
				display: none;
			}
		}
		& a {
			background: url("/img/bg_dot_blue.png") left 43px repeat-x;
			@media (--xs) {
				background: url(/img/bg_dot_blue.png) left 22px repeat-x;
			}
		}
	}
	& p {
		margin-left: 0;
	}
}

.settleNews_text {
	& h1 {
		padding-bottom: 70px;
		@media (--xs) {
			padding-bottom: 20px;
		}
	}
	& p {
		padding-bottom: 17px;
	}
	& ul {
		padding-bottom: 17px;
	}
	& li {
		list-style-type: none;
		&:before {
			content: "";
			display: inline-block;
			height: 2px;
			width: 16px;
			position: relative;
			top: -3px;
			background: #31aae2;
			margin-right: 10px;
		}
	}
}

.page_110,
.page_111 {
	display: none !important;
}

.page_109 + .container {
	@media (--xs) {
		padding-left: 0;
		padding-right: 0;
	}
}

.menuHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
}

.menuHeader > li {
	margin: 0 20px;
	position: relative;
	line-height: 40px;
}

.menuHeader > li > a {
	position: relative;
	z-index: 10;
	display: block;
	height: 100%;
	background-color: #fff;
}

.menuHeader > li > a:before {
	content: "";
	transition: ease 0.3s all;
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 2px;
	width: 0;
	background-color: #69abe2;
}

.menuHeader > li:hover .menuHeader-sub {
	opacity: 1;
	visibility: visible;
}

.menuHeader > li:hover > a:before {
	width: 100%;
	left: 0;
}

.menuHeader-sub {
	transition: ease 0.3s all;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;
	margin-top: 15px;
	box-shadow: 0 0 40px rgba(70, 87, 115, 0.25);
	background-color: #fff;
	padding: 20px 30px;
	min-width: 250px;
	border-radius: 4px;
}

.menuHeader-sub:before {
	display: block;
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #69abe2;
	margin-left: -3px;
}

.menuHeader .menuHeader-sub__item {
	display: block;
	padding: 0;
	margin: 0;
	float: none;
}

.menuHeader .menuHeader-sub__link {
	transition: ease 0.3s all;
	display: block;
	height: 100%;
}

.menuHeader .menuHeader-sub__link:hover {
	color: #f9a442;
}

.white-page .menuHeader {
	background-color: transparent;
}

.white-page .menuHeader > li > a {
	background-color: transparent;
}

.white-page .menuHeader-sub__link {
	color: #323232;
}

.white-page .menuHeader-sub__link:hover {
	color: #f9a442;
}

.decoration_1 .galery_str_l,
.decoration_1 .galery_str_r {
	transition: ease 0.3s all;
	background: linear-gradient(45deg, #87ae00 1%, #1486be 100%);
	width: 74px;
	height: 74px;
	border-radius: 50%;
	box-shadow: 0 0 45px rgba(136, 175, 2, 0.55);
	margin-top: -100px;

	&:before,
	&:after {
		content: "";
		width: 14px;
		height: 1px;
		background-color: #fff;
		position: absolute;
		left: 50%;
		top: 50%;
	}

	&:before {
		transform: rotate(45deg) translate(-50%, -50%);
	}

	&:after {
		transform: rotate(-45deg) translate(-50%, -50%);
	}

	&.slick-disabled,
	&:active {
		box-shadow: none;
	}
}

.decoration_1 .galery_str_l {
	margin-left: -115px;
	transform: rotate(-180deg);
}

.decoration_1 .galery_str_r {
	margin-right: -105px;
}

.slick-track {
	margin-left: 0;
}

.text-align_center {
	text-align: center;
}

.text-align_right {
	text-align: right;
}

.text-align_left {
	text-align: left;
}

.beadcrumb-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 10px;
}

.beadcrumb-wrapper .breadcrumb {
	margin-top: 20px;
}

.beadcrumb-wrapper .btn_orange {
	height: 52px;
	line-height: 52px;
}

.modal {
	z-index: 1000;
}

.modal-dialog {
	&._3d {
		height: 80%;
		width: 80%;
		max-width: 1000px;

		& .modal-content {
			width: 100%;
			height: 100%;

			& [data-modal-3d] {
				height: 100%;
			}
		}

		& .modal-close {
			position: absolute;
			top: 20px;
			right: 20px;
			width: 17px;
			height: 17px;
			cursor: pointer;

			&:before,
			&:after {
				content: "";
				position: absolute;
				top: 50%;
				width: 17px;
				height: 2px;
				background-color: #f58766;
			}

			&:before {
				transform: rotate(45deg);
			}

			&:after {
				transform: rotate(-45deg);
			}
		}

		& iframe {
			border: none;
			padding: 0;
			margin: 0;
			text-align: center;
		}

		& #KeyShotXR {
			margin: 0 auto;
		}
	}
}

/*=require includes/layout.css */

/*=require includes/white_page.css */

/*=require includes/full_size.css */

/*=require includes/blocks/*.css */

/* About mortgage */

.about-mortgage {
	text-align: center;

	&__title {
		max-width: none;
		margin-bottom: 19px;
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: 0;

		@media (--mdPlus) {
			margin-bottom: 16px;
		}
	}

	&__first-line {
		display: block;

		@media (--mdPlus) {
			display: inline;
		}
	}

	&__text {
		max-width: 625px;
		margin-right: auto;
		margin-left: auto;

		@media (--mdPlus) {
			margin-bottom: 84px;
		}

		& .br {
			display: block;

			@media (--mdPlus) {
				display: none;
			}
		}

		&,
		& p {
			line-height: 1.72;

			@media (--mdPlus) {
				line-height: 1.53;
			}
		}

		& a {
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}

	&__address {
		font-weight: 500;
	}
}

/* Mortgage Calculator */

.MortgageCalc {
	@media (--mdPlus) {
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	& .MortgageCalc_option {
		&:not(:last-child) {
			margin-bottom: 31px;

			@media (--mdPlus) {
				margin-right: 25px;
			}
		}

		&-firstPayment {
			@media (--mdPlus) {
				-webkit-flex-basis: 355px;
				flex-basis: 355px;
			}
		}

		&-price {
			@media (--mdPlus) {
				-webkit-flex-basis: 357px;
				flex-basis: 357px;
				margin-left: 7px;
			}
		}

		&-duration {
			@media (--mdPlus) {
				-webkit-flex-basis: 355px;
				flex-basis: 355px;
			}

			& .MortgageCalc_sum {
				@media (--mdPlus) {
					margin-right: -3px;
				}
			}
		}
	}

	&__option-wrapper {
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-align-items: center;
		align-items: center;
		margin-bottom: 11px;
	}

	& .MortgageCalc_text {
		@media (--mdPlus) {
			font-size: 14px;
		}
	}

	& .MortgageCalc_sumWrapper {
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		height: 30px;
		margin-right: 1px;
		font-weight: 600;

		@media (--mdPlus) {
			font-size: 14px;
		}
	}

	& .MortgageCalc_sum {
		margin-right: 8px;
	}

	& .MortgageSlider_popupInp {
		width: 100px;
		height: 30px;
		border: 1px solid transparent;
		font-weight: 600;

		&:focus {
			border-color: #d99b47;
		}
	}

	& .ui-widget {
		&.ui-widget-content {
			position: relative;
			border: none;
			background: url(../img/bg_slide.png) 0 0 repeat-x;
		}
	}

	& .ui-slider-horizontal {
		height: 2px;

		& .ui-slider-handle {
			top: -10px;
			margin-left: -11px;
		}
	}

	& .ui-slider .ui-slider-handle {
		position: absolute;
		width: 22px;
		height: 22px;
		cursor: pointer;
	}

	& .ui-state-default,
	& .ui-widget-content .ui-state-default {
		border: 1px solid #e6e6e6;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: transparent;

		&:before {
			content: "";
			position: absolute;
			left: 6px;
			top: 6px;
			height: 8px;
			width: 8px;
			background: #d99b47;
			border-radius: 4px;
		}
	}

	& .ui-state-focus,
	& .ui-state-hover,
	& .ui-widget-content .ui-state-focus,
	& .ui-widget-content .ui-state-hover {
		background: transparent;
	}

	& .ui-slider .ui-slider-range {
		position: absolute;
		top: 0;
		height: 2px;
		background-color: #eb9c48;
	}

	/* Price */
	/* & .MortgageCalc_option-price .ui-slider .ui-slider-range {
    background-color: #eb9c48;
  }
  & .MortgageCalc_option-price .ui-state-default,
  & .MortgageCalc_option-price .ui-widget-content .ui-state-default {
    &:before {
      background: #eb9c48;
    }
  } */
	/* Duration */
	/* & .MortgageCalc_option-duration .ui-slider .ui-slider-range {
    background-color: #93BC55;
  }
  & .MortgageCalc_option-duration .ui-state-default,
  & .MortgageCalc_option-duration .ui-widget-content .ui-state-default {
    &:before {
      background: #93BC55;
    }
    } */
}

/* MortgageBanklist */

.MortgageBanklist {
	& .MortgageBanklist_row {
		display: table;
		width: 100%;
		height: 70px;
		background: #fff;
		-webkit-box-shadow: 0px 8px 20px 0 rgba(70, 87, 115, 0.1);
		box-shadow: 0px 8px 20px 0 rgba(70, 87, 115, 0.1);

		@media (--mdPlus) {
			margin-bottom: 12px;
		}

		&:not(:last-child) {
			margin-bottom: 12px;

			@media (--mdPlus) {
				margin-bottom: 10px;
			}
		}
	}

	& .MortgageBanklist_cell {
		display: table-cell;
		vertical-align: middle;
		text-align: center;

		&-img {
			width: 28%;

			@media (--mdPlus) {
				width: 24.1%;
			}

			& img {
				max-width: 69.45%;
				margin-top: -4px;
				margin-left: 8px;

				@media (--mdPlus) {
					max-width: 130px;
					margin-left: -24%;
				}
			}
		}

		&-description {
			width: 25.2%;

			& .MortgageBanklist_header .hidden-sm {
				@media (--smPlus) {
					display: inline-block !important;
					margin-right: 3px;
				}
			}

			@media screen and (max-width: 1023px) {
				display: none;
			}
		}

		&-rate {
			width: 15%;

			@media (--mdPlus) {
				width: 12.3%;
			}

			& + .MortgageBanklist_cell {
				width: 25.7%;

				@media (--mdPlus) {
					width: 22.1%;
				}
			}
		}

		&:last-child {
			padding-left: 1%;
		}
	}

	& .MortgageBanklist_header {
		margin-top: 4px;
		font-weight: normal;
		font-size: 8px;
		line-height: 12px;
		text-transform: none;

		@media (--smPlus) {
			font-size: 10px;
		}

		@media (--mdPlus) {
			font-size: 12px;
			line-height: 20px;
			letter-spacing: 0.2px;
		}
	}

	& .MortgageBanklist_text {
		font-weight: 600;
		font-size: 12px;
		letter-spacing: 0.2px;

		@media (--mdPlus) {
			font-size: 13px;
		}
	}
}

/* Ask Question */

.ask-question {
	text-align: center;

	&__title {
		max-width: none;
		margin-bottom: 22px;
		font-weight: normal;
		font-size: 17px;
		line-height: 1.59;
		letter-spacing: 0.4px;
		text-transform: none;

		@media (--mdPlus) {
			font-size: 20px;
		}
	}

	&__phone {
		position: relative;
		margin-bottom: 32px;
		padding-bottom: 11px;
		font-size: 16px;
		letter-spacing: 0.4px;
		text-indent: -3px;
		color: #7d7d7d;

		&:before {
			content: "";
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			width: 244px;
			height: 2px;
			margin: 0 auto;
			background: #e4e5e7;
		}
	}

	&__btn {
		width: 244px;
		height: auto;
		margin-left: -2px;
		padding: 8px 12px 12px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		background-image: -webkit-linear-gradient(346deg, #f3b94f, #ee9d4e);
		background-image: -o-linear-gradient(346deg, #f3b94f, #ee9d4e);
		background-image: linear-gradient(346deg, #f3b94f, #ee9d4e);
		font-size: 16px;
		line-height: normal;
		text-indent: -2px;
	}
}

.l-body--hypothec {
	& .b-page-content {
		padding-bottom: 148px;
	}
	& .about-mortgage {
		margin-top: 3px;
		margin-bottom: 20px;

		@media (--mdPlus) {
			margin-top: 88px;
		}
	}

	& .MortgageCalc {
		margin-bottom: 45px;

		@media (--mdPlus) {
			margin-bottom: 37px;
		}
	}

	& .Box {
		margin-bottom: 53px;

		@media (--mdPlus) {
			margin-bottom: 122px;
		}
	}
}

.OurPhone {
	display: none;
}
