body {
    -ms-touch-action: none;
}

#KeyShotXR {
    margin: 0 auto;
    padding-bottom: 80px;
    box-sizing: border-box;
}

#KeyShotXR img {
    max-height: 100%;
}

.KeyShotXR-controls {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    left: 0;
    right: 0;
    z-index: 1000;
}

.KeyShotXR-controls__section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 40px;
}

.KeyShotXR-controls__section:last-child {
    margin-right: 0;
}

.KeyShotXR-controls__item {
    margin-right: 18px;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.KeyShotXR-controls__item:last-child {
    margin-right: 0;
}

.KeyShotXR-controls__item svg {
    fill: #f58766;
}

.KeyShotXR-controls__item._disabled svg {
    fill: #d6d6d6;
}

.KeyShotXR-controls__item._arrow._right {
    transform: rotate(180deg);
}

#viewwindow,
#turntable {
    height: 100% !important;
}

