.b-actpoup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    @media (--xs) {
    	display: none;
    }
    &__inner {
        width: 530px;
		min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: url("../img/actpoupbg.png") center no-repeat;
        background-size: cover;
        position: relative;
        color: #fff;
        font-family: "AvenirNextCyr", Arial, sans-serif;
        font-weight: 500;
        font-size: 24px;
        border-radius: 10px;
		overflow: hidden;

    }

    &__head {
        padding: 34px 20px 0 30px;
    }

    &__huge-text {
        font-weight: 700;
        font-size: 70px;
        display: inline-block;
        border-bottom: 3px solid #0098bc;
        line-height: 65px;
        margin-bottom: 5px;
    }

    &__bold-text {
        font-weight: 600;
    }

    &__corner {
        padding: 40px 20px 25px 30px;
        background: url("../img/popuptextbg.png") left bottom;
        background-size: 100% 100%;
        width: 300px;
        font-size: 18px;
    }

    &__bold-corner-text{
    	font-size: 20px;
    	font-weight: 700;
    	line-height: 24px;
    	display: inline-block;
    }
    &__regular-corner-text {
        border-bottom: 3px solid #ffcd26;
    }

    &__close {
        display: block;
        border: none;
        position: absolute;
        width: 17px;
        height: 17px;
        right: 15px;
        top: 15px;
        background: url("../img/icon_close.svg") center no-repeat;
        background-size: contain;
    }
}