.b-composite-pic {
    &__img {
        float: left;
        width: 50%;
        display: block;
        &--right {
            margin-top: 10%;
        }

        &--sm-fullwidth {
            @media (--sm) {
                width: 100%;
                margin: 0;
            }
        }

        &--hidden-sm {
            @media (--sm) {
                display: none!important;
            }
        }
    }

    &--reversed{
    	& > .b-composite-pic__img--left{
    		margin-top: 10%;
    	}

    	& > .b-composite-pic__img--right{
    		margin-top: 0;
    	}
    }
}