.b-custom-checkbox {
    text-align: left;
    font-size: 12px;
    user-select: none;
    &__input {
        position: absolute;
        opacity: 0;
    }

    &__label {
        cursor: pointer;
        position: relative;
        padding-left: 24px;
        line-height: 1.3;
        font-weight: normal;

        &:before {
            position: absolute;
            content: "";
            background: center no-repeat;
            background-size: 8px 7px;
            height: 16px;
            width: 16px;
            border-radius: 1px;
            border: 2px solid #e5e5e5;
            top: 0;
            left: 0;
            transition: all .1s;
        }
    }

    &__link {
        color: #F1B14F;
    }

    &__input:checked+&__label {
        &:before {
            background-image: url(../img/check.svg);
            border-color: #EFA34D;
            background-color: #EFA34D;
        }
    }

    &__input:not(:checked).error+&__label {
        &:before {
            border-color: #d07b7b;
        }
    }
}