.b-fitblock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    @media (--xs) {
        height: calc(100% - 50px);
    }
    &__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        visibility: hidden;
        overflow: hidden;
    }
    &__pusher {
        display: block;
        pointer-events: none;
        background-size: cover;
        &--genplan {
            background-image: url('/img/genplan.jpg');
        }
    }
    &__svgmap {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        & path:hover{
            fill-opacity:0.5!important;
        }
    }
}
