.b-flatvars-titles {
    position: absolute;
    top: 137px;
    height: 28px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    font-size: 14px;
    letter-spacing: -0.01em;
    @media (--sm) {
    	top: 186px;
    }
    &__wrap {
        position: absolute;
        left: 16px;
        right: 16px;
        top: 0;
        height: 100%;
    }
    &__item {
        height: 100%;
        float: left;
        width: 33.33333%;
        white-space: nowrap;
        overflow-x: hidden;
        text-align: center;
        text-overflow: ellipsis;
        padding: 0 6px;
        opacity: 0.4;
        transition: opacity .4s;
        cursor: pointer;
        &.slick-center{
        	opacity: 1;
        }
    }
    &__slidelink {
        pointer-events: none;
        user-select:none;
        font-weight: 500;
    }
    &__arrow {
        position: absolute;
        top: 0;
        width: 9px;
        height: 100%;
        display: block;
        border: none;
        cursor: pointer;
        opacity: 1;
        transition: all 0.2s;
        box-shadow: -3px 0px 9px #fff;
        &--prev {
            left: 0;
            background: #fff url(../img/icon_galery_arrow_left.svg) center no-repeat;
        }
        &--next {
            background: #fff url(../img/icon_galery_arrow_right.svg) center no-repeat;
            right: 0;
        }

        &.slick-disabled{
        	visibility: hidden;
        	opacity: 0;
        }
    }

    &__uderline-track{
    	position: absolute;
    	bottom: -4px;
    	height: 2px;
    	left: 0;
    	right: 0;
    }

    &__underline{
    	margin: 0 auto;
    	width: 50px;
    	will-change: width;
    	position: relative;
    	height: 2px;
    	border-top: 1px solid #eaa838;
    	border-bottom: 1px solid #edb635; 
    }
}
