.b-flatcounter {
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    z-index: 100;
    &__leaf {
        position: relative;
        border-top: 1px solid #ededed;
        height: 47px;
        line-height: 46px;
        font-size: 16px;
        color: #000;
        &:first-child {
            border: none;
        }
    }

    &__count {
        position: absolute;
        right: 0;
        top: 0;
        color: #d99b47;
        font-weight: 500;
        line-height: 47px;
        min-width: 36px;
        text-align: center;
    }

    &__arrow{
    	position: absolute;
    	background: url(../img/icon_galery_arrow_right.svg) center no-repeat;
    	background-size: contain;
    	width: 8px;
    	height: 16px;
    	display: block;
    	opacity: 0.24;
    	top: 50%;
    	margin-top: -8px;
    	&:hover{
    		opacity: 0.6;
    	}
    	&--next{
    		right: -18px;
    	}

    	&--prev{
    		transform: scaleX(-1);
    		right: 46px;
    	}
    }
}