.b-floor-plan {
    user-select: none;
    &__pusher {
        pointer-events: none;
    }
    &__cell {
        position: absolute;
        left: 0;
        stop-color: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        & > g {
            fill-opacity: 1;
            cursor: pointer;
            
        }
    }
    &__popup {
        position: absolute;
        width: 198px;
        padding: 18px 20px;
        font-size: 12px;
        color: #929292;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 19px 40px rgba(19, 19, 19, 0.2);
        z-index: 3;
    }
    &__section-num {
        float: left;
        color: #000;
        font-weight: 500;
        margin-bottom: 2px;
    }
    &__section-type {
        float: right;
        color: #000;
        font-weight: 500;
        margin-bottom: 2px;
    }
    &__section_label {
        float: left;
        padding-top: 2px;
    }
    &__section-square {
        float: right;
        color: #f8ae4b;
        font-weight: 500;
        & > .big {
            font-size: 18px;
        }
    }
}
