.b-flats-list-scroller {
    overflow-x: hidden;
    @media (--mdPlus) {
        margin-top: -12px;
        height: calc(100vh - 382px);
        overflow-y: hidden;
    }
    &__td-pusher {
        height: 0px!important;
        overflow-y: hidden;
        overflow-x: visible;
        padding-top: 0!important;
        padding-bottom: 0!important;

    }
}
