.b-footer {
    overflow: hidden;
    &__copyright {
        color: #bdbdbd;
    }
    .b-footer__icon {
        color: #323232;
        transition: color 0.4s;
    }

    &__text{
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.1px;
        position: relative;
        top: -3px;
        &--dashed{
            border-bottom: 1px dashed #323232;
        }
    }

    &__icons {
        &--white {
            .icon-logo_rg:before {
                background-image: url('/img/sdi-logo-light.svg');
            }
            & .b-footer__icon {
                @media (--smPlus) {
                    color: #fff;
                }
            }
        }
    }
    &__icon {
        @media (--xs){
            font-size: 12px;
        }
        &.icon-logo_rg {
            top: -3px;
            position: relative;

        }
    }
    &--in-halfpage {
        position: absolute;
        @media (--smPlus) {
            width: calc(100vw - (100vw - 200%));
            bottom: 0;
        }
    }
    &--left {
        left: 0;
        right: auto;
        width: 100vw;
    }
    &--right {
        right: 0;
        left: auto;
    }
}
