.b-halfpage {
    overflow: hidden;
    transition: all 0.4s;
    &--active {
        z-index: 100;
        @media (--xs) {
            height: 100%!important;
            &.choice_gp_link {
                height: calc(100% - 50px)!important;
            }
        }
        @media (--smPlus) {
            width: 100%!important;
        }
    }
    &__genplan-bg {
        position: absolute;
        @media (--xs) {
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            background: url(../img/genplan.jpg) top left no-repeat;
            background-size: cover;
        }
        @media(--smPlus) {
            left: 0;
            width: 100vw;
            overflow-y: scroll;
            top: 0;
            bottom: 0;
            &:after {
                position: absolute;
                content: "";
                background: url(../img/genplan.jpg) center no-repeat;
                background-size: cover;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }
    }
    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
    }
}

@-moz-document url-prefix() {
    @media(--smPlus) {
        .b-halfpage__genplan-bg {
            overflow: hidden;
        }
    }
}
