.b-header {
    height: 1px;
    text-transform: uppercase;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 4;
    & .logo {
        position: absolute;
        left: 60px;
        top: 27px;
        @media screen and (max-width: 1023px) {
            left: 40px;
        }
        @media screen and (--xs) {
            left: 30px;
            top: 23px;
        }
    }

    & .favorit_link {
        position: absolute;
        right: 735px;
        top: 50px;
        font-size: 14px;
        line-height: 40px;
        font-weight: 500;
        z-index: 100;

        &:hover span {
            &:before {
                width: 100%;
                left: 0;
            }
        }
    }

    & .favorit_link span {
        display: inline-block;
        position: relative;
        background: #fff;
        padding-right: 2px;
        line-height: 1.6;
        padding-right: 5px;
        padding-bottom: 13px;

        &:before {
            content: '';
            transition: ease .3s all;
            position: absolute;
            bottom: 0;
            left: 50%;
            height: 2px;
            width: 0;
            background-color: #69abe2;
        }
    }
    & .favorit_link_count {
        position: absolute;
        right: -15px;
        top: -5px;
        width: 25px;
        height: 25px;
        border: 1px solid #e3b457;
        border-radius: 12px;
        font-style: normal;
        font-size: 10px;
        line-height: 23px;
        text-align: center;
    }
    &--in-halfpage {
        position: absolute;
        @media (--smPlus) {
            width: 100vw;
        }
    }
    &--left {
        left: 0;
    }
    &--right {
        right: 0;
        left: auto;
    }
}
