.b-houseinfo {
    &__cell {
        padding-bottom: 12px;
        &--left {
            vertical-align: bottom;
        }
        &--right {
            color: #fe8626;
            font-size: 18px;
            text-align: right;
            padding-left: 16px;
        }
        &--status {
            color: #74b61f;
            padding-top: 5px;
        }
    }
    &__row:last-child {
        & > .b-houseinfo__cell {
            padding-bottom: 0;
        }
    }
}
