 .b-infras-inter {
     user-select: none;
     z-index: 1;
     @media (--xs) {
         overflow-x: scroll;
     }
     &__inner {
         @media (--xs) {
             margin-left: 0!important;
             left: 0;
         }
     }
     &__pusher {
         background: url("/img/infra_gk/bg_infra_gk.jpg") center no-repeat;
         background-size: 100%;
     }
 }
