.b-insurdesc {
    padding: 40px 20px;
    font-size: 14px;
    letter-spacing: -0.01em;
    position: relative;
    @media (--xs) {
        padding-left: 0;
        padding-right: 8px;
    }
    & > p {
        line-height: 1.45;
        margin-bottom: 19px;
        & > strong {
            font-weight: 600;
        }
    }
}
