.b-logo {
    position: absolute;
    &__pic {
        position: absolute;
        opacity: 1;
        transition: all 0.4s;
        visibility: visible;
        &--hidden {
            opacity: 0;
            visibility: hidden;
        }
    }
}
