.b-location-modal {
    display: none;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #929292;
    z-index: 100;
    &__backdrop {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
        opacity: 0.5;
    }
    &__inner {
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }

        & > .wrap{
            @media (--xs) {
            z-index: 200;
            position: relative;
        }
        }
    }
}
