.b-multycheckbox__btn {
    position: relative;
    width: 22px;
    height: 22px;
    border: 1px solid #e7e7e7;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: -4px;
    &:after {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -1px;
        bottom: 0;
        width: 2px;
        background: #00c7c4;
        transform: rotate(45deg);
        display: none;
        content: "";
    }

    &--disabled {
        color: #434143;
        pointer-events: none;
    }
}

.b-multycheckbox__input[value='1'] + .b-multycheckbox__btn {
    border-color: #d99b47;
    background: url(../img/icon_check_mark_white_little.svg) center no-repeat #d99b47;
}

.b-multycheckbox__input[value='0'] + .b-multycheckbox__btn {
    border-color: #d99b47;
    background: url(../img/checkbox_icon_off.svg#datauri) center no-repeat #d99b47;
    /* &--disabled{
            box-shadow: 0 0 0 3px #434143 inset;
            &:after{
                background: #434143;
            }
        } */
}
