.b-plan-info{
	font-size: 15px;
	@media (--xs) {
		margin-bottom: 20px;
	}

	@media (--sm) {
		margin-bottom: 30px;
	}

	@media (--mdPlus) {
		margin-top: 30px;
		margin-bottom: 30px;
	}


	&__tbl{
	width: 100%;
	
	}
	&__cell{
		padding: 12px 0;
		border-bottom: 1px solid lightgray;
		&--right{
			text-align: right;
			color: #d99b47;
		}
	}
}
