.b-popup-gallery {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: all 0.4s;
    overflow: hidden;
    &--active {
        visibility: visible;
        opacity: 1;
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.9;
    }
    &__wrap {
        height: 100%;
        width: 100%;
        position: relative;
        padding: 0!important;
    }
    &__close-btn {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 17px;
        height: 17px;
        background: url(../img/icon_close.svg) center no-repeat;
        opacity: 1 !important;
        z-index: 1;
    }
    & .video_about {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 80%;
        max-width: 1160px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    &__slider {
        height: 100%;
        & > .slick-list {
            height: 100%;
            & > .slick-track {
                height: 100%;
            }
        }
    }
    &__slide {
        width: 100%;
        height: 100%;
        @media (--xs) {
            padding: 30px;
        }
        @media(--sm) {
            padding: 30px 80px;
        }
        padding: 30px 60px;
    }
    &__picwrap {
        text-align: center;
        height: 100%;
        user-select: none;
        white-space: nowrap;
        &:before {
            content: "";
            display: inline-block;
            height: 100%;
            margin-left: -0.5em;
            vertical-align: middle;
            visibility: hidden;
        }
    }
    &__details {
        display: inline-block;
        position: relative;
    }
    &__img {
        border-radius: 8px;
        max-width: 100%;
        max-height: 100%;
        display: inline-block!important;
        &--with-details {
            max-height: calc(100vh - 107px);
            position: relative;
            top: -43px;
        }
    }
    &__video {
        position: absolute;
        border: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &--with-details{
            height: calc(100% - 50px);
        }
    }
    &__white-plate {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -4px;
        background: #fff;
        padding: 17px 10px 15px;
        border-bottom: 2px solid #6195bd;
        border-radius: 0 0 2px 2px;
        font-size: 14px;
        line-height: 20px;
    }
    &__bottom-hint {
        position: absolute;
        left: 0;
        bottom: -50px;
        width: 100%;
        overflow: hidden;
        font-size: 12px;
        color: #737272;
        padding: 12px 0;
    }
}

@media screen and (max-width:1023px) {
    .b-popup-gallery__close-btn {
        right: 13px;
        top: 8px;
    }
}

@media (--xs) {
    .b-popup-gallery__close-btn {
        right: 8px;
    }
    .b-popup-gallery .video_about {
        width: 100%;
    }
}
