.b-preloader {
    position: fixed;
    background: rgba(255, 255, 255, .5);
    width: 100%;
    height: 100%;
    z-index: 999999;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s;
    transform: translateZ(0);
    &--active{
        opacity: 1;
        visibility: visible;
        & > .b-preloader__background{
            transform: scale(1,1);
        }
    }

    &--transparent{
        background: none;
    }

    &__inner {
        pointer-events: none;
        width: 100px;
        height: 100px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        bottom: 0;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MzgiIGhlaWdodD0iOTkiPjxwYXRoIGZpbGw9IiMwMzcxQ0UiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTAgMjFDNDYtNiA4NiA0IDExOCAyMXM4MiAyNiAxMjIgMCA4My0zMCAxMzggMCA5NyAyOSAxNjAgMHY3OEgwVjIxeiIvPjwvc3ZnPg==');
        background-repeat: repeat-x;
        background-position: 0 4px;
        animation: loader-waves 4s infinite linear;
    }
    &__background {
        width: 100px;
        height: 100px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        border-radius: 50px;
        overflow: hidden;
        z-index: 1;
        transform: scale(0.8,0.8);
        transition: all 0.4s;
        box-shadow: 0 30px 100px -15px rgba(0, 0, 0, .6);
    }
}

@keyframes loader-waves {
    100% {
        background-position: -538px 4px;
    }
}
