.b-webcams-row {
    position: absolute;
    text-align: right;
    top: 152px;
    right: 30px;
    @media(--xs) {
        position: relative;
        top: 130px;
        margin-bottom: 25px;
    }
    @media (--smPlus) {
        right: 148px;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        top: 124px;
    }
}