.choice_floor {
    &__house-compass {
        position: absolute;
        bottom: 30px;
        left: 30px;
        user-select: none;
        width: 5%;
        min-width: 80px;
        pointer-events: none;
        @media (--sm) {
            left: 40px;
            bottom: 106px;
        }
        @media (--mdPlus) {
            left: 58px;
            bottom: 116px;
        }
    }
    &__shadow-corner {
    	pointer-events: none;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 20%;
        overflow: hidden;
        background: url(/img/1_shadow.png);
        min-width: 122px;
        background-size: contain;
        &:after {
            content: "";
            padding-top: 100%;
            display: block;
        }
    }
}
