.docs_list {
    &__title {
        text-transform: uppercase;
        letter-spacing: -0.01em;
        width: 100%;
        max-width: 100%;
        display: block;
        margin-bottom: 15px;
        margin-top: 21px;
        @media (--smPlus) {
            padding-left: 10px;
        }
        &--top {
            margin-top: 0;
        }
    }
}
