.floor_info {
    position: absolute;
    width: 165px;
    background: #fff;
    border-radius: 8px;
    padding: 25px 20px 8px;
    font-size: 12px;
    line-height: 1;
    color: #929292;
    z-index: 2;
}

.floor_info .floor_number {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    margin-bottom: 18px;
    font-weight: 600;
    color: #000;
    vertical-align: top;
}

.floor_info .section_number {
    display: inline-block;
    width: 50%;
    font-weight: 600;
    color: #000;
    text-align: right;
    vertical-align: top;
}

.floor_info .flat_type {
    position: relative;
    margin-bottom: 18px;
}

.floor_info .count {
    position: absolute;
    right: 0;
    bottom: -1px;
    font-size: 18px;
    font-weight: 500;
}

.floor_info .type_1 .count {
    color: #f8ae4b;
}

.floor_info .type_2 .count {
    color: #6fadc8;
}

.floor_info .type_3 .count {
    color: #83a95f;
}

.floor_info .type_4 .count {
    color: #5a2b7e;
}
