.b-fitblock.genplan {
    background-size: cover;
    @media (--xs) {
        overflow-x: scroll;
        & > .b-fitblock__inner {
            left: 0;
            margin-left: 0!important;
        }
    }
}

.genplan {
    &__compass {
        position: absolute;
        bottom: 30px;
        left: 30px;
        user-select: none;
        width: 5%;
        min-width: 80px;
        pointer-events: none;
        transform: rotate(40deg);
        @media (--sm) {
            left: 40px;
            bottom: 106px;
        }
        @media (--mdPlus) {
            left: 58px;
            bottom: 116px;
        }
    }
    &__circle {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        & > .circles-wrp > svg{
            shape-rendering: geometricprecision;
        }
    }
}
