.Settle {
    @media(--xs) {
        padding-left: 0;
        padding-right: 0;
    }
    &_card {
        display: block;
        height: 270px;
        background: white;
        border-radius: 9px 9px 3px 3px;
        box-shadow: 0 21px 40px rgba(70, 87, 115, 0.25);
        border-bottom: 2px solid #1db2dd;
        padding: 40px 37px;
        margin-bottom: 50px;
        @media (--xs) {
            margin-bottom: 30px;
        }
        @media (--sm) {
            margin-bottom: 30px;
        }
        & h4 {
            font-size: 14px;
            font-weight: 700;
            line-height: 19px;
        }
    }
    &_sizeWrapper {
        display:  flex;
        justify-content: space-between;
        position: absolute;
        bottom: 80px;
        left: 52px;
        right: 52px;
    }
    &_size {
        font-size: 14px;
        font-weight: 400;
    }
}