.SiteMap {
    @media (--xs){
        padding-bottom: 24px;
    }
    @media (--sm){
        padding-bottom: 40px;
    }
    @media (--mdPlus) {
        display: flex;
        flex-wrap: wrap;
    }

    &_group {
        @media (--smMinus) {
            padding-bottom: 11px;
        }

        @media (--mdPlus) {
            width: 25%;
            max-width: 25%;
            padding-bottom: 48px;
        }
    }
    &_groupHead {
        margin-bottom: 2px;
        font-size: 17px;
        font-weight: 600;
        line-height: 1.47;
    }

    &_item {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.67;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            left: -26px;
            top: -1px;
            bottom: 0;
            width: 10px;
            transform: translateY(-12px);
            border-left: 1px solid #68aae2;
            border-bottom: 1px solid #68aae2;
        }

        &:first-child {
            &:before {
                top: 9px;
            }
        }
    }

    &_list {
        padding-left: 26px;
    }

    &_link {
        color: inherit;
    }

    &_link,
    &_headLink {
        &:hover {
            color: #f0b017;
            text-decoration: underline;
        }
    }
}
