.subsidies-block {
	margin: 40px 0;
}

.subsidies_title,
.subsidies_subtitle  {
	font-size: 20px;
	line-height: 32px;
	font-weight: 600;
	color:#424242;
}

.subsidies_subtitle {
	margin-bottom: 15px;
}

.blue-markers {
	position: relative;
	padding-left: 30px;
	margin-bottom: 10px;

	&:after {
		content:'';
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background: #4fa6db;
		position: absolute;
		top:6px;
		left:0;
	}
}

.subsidies p {
	text-indent: 30px;
	margin: 0;
}

.subsidies-list {
	margin: 15px 0;
}

.blue-text-markers {
	position: relative;
	padding-left: 108px;
	margin-bottom: 20px;
	color:#424242;
	font-size: 17px;
}

.blue-text-markers span {
	font-size: 24px;
	color:#4fa6db;
	font-weight: 500;
	position: absolute;
	width: 108px;
	left:0;
	top:0;
}


.example-calculation {
	margin-bottom: 30px;
}

.example-calculation:last-child {
	margin-bottom: 0;
} 

.example-calculation span {
	color:#4fa6db;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 10px;
}

.example-calculation p {
	text-indent: 0;
}

.subsidies  .area-room-title {
	text-indent: 0;
	text-transform: uppercase;
	font-size: 15px;
}