<div class="modal modal-centered fade" id="3d-modal">
	<div class="modal-dialog _3d">
		<div class="modal-content">
			<span class="modal-close em" data-dismiss="modal" aria-hidden="true"></span>
			<div data-modal-3d></div>
		</div>
	</div>
</div>