<div class="copy b-footer__copyright">© «Пироговская Ривьера», 2016</div>
<ul class="menuFooter b-footer__icons{% if isPageWhite %} b-footer__icons--white{% endif %}">

    {#<li> <a href="#" title="" target="_blank"><i class="b-footer__icon icon-logo_rg"></i></a> </li> #}


    <li class="hidden-sm hidden-md hidden-lg"><span class="b-footer__text">2018&copy;</span> </li>
    <li><a href="/sitemap.html" title="" target="_blank"><span class="b-footer__text b-footer__text--dashed">Карта сайта</span></a> </li>
    <li> <a href="#" title="" target="_blank"><i class="b-footer__icon icon-fb"></i></a> </li>
    <li> <a href="#" title="" target="_blank"><i class="b-footer__icon icon-vk"></i></a> </li>
    <li> <a href="#" title="" target="_blank"><i class="b-footer__icon icon-inst"></i></a> </li>
    <li> <a href="#" title="" target="_blank"><i class="b-footer__icon icon-logo_blue-ant"></i></a> </li>
</ul>