<div class="popUpbgGrad b-location-modal" id="hypothecFormModal">
	<div class="b-location-modal__backdrop"></div>
	<div class="send_letterIpotek lg b-location-modal__inner">
		<div class="wrap">
			<div class="h1">Заявка на ипотеку</div>
			<div class="note">Введите ваши контактные данные, наш менеджер свяжется с Вами в ближайшее время и ответит на интересующие вас вопросы, в удобное для вас время.</div>
			<form action="/ajax/form-mortgage/" method="post" data-action="/ajax/form-mortgage/" id="hypothecForm">
				<div class="row">
					<input type="text" name="name" placeholder="ФИО *" required>
				</div>
				<div class="row">
					<input type="tel" name="phone" placeholder="Телефон *" required>
				</div>
				<div class="row">
					<input type="text" name="email" placeholder="E-mail">
				</div>
				<div class="row">
					<select class="easydropdown">
						<option>Банк</option>
						<option>Банк 1</option>
						<option>Банк 2</option>
						<option>Банк 3</option>
					</select>
				</div>
				<div class="row"><input data-inputformat='num' type="text" name="price" placeholder="Стоимость квартиры"></div>
				<div class="row"><input data-inputformat='num' type="text" name="first_fee" placeholder="Первоначальный взнос"></div>
				<div class="row captcha">
					<img src="img/trash_captcha.gif" alt="" class="pull-right">
					<input type="text" name="" placeholder="Код с картинки *" required class="pull-left">
				</div>
				<div class="note_important"><sup>*</sup> поля, обязательные для заполнения</div>
				<div class="row">
					<input type="submit" name="" value="Отправить" class="btn_orange">
					<span class="btn_orange">Отправить</span>
				</div>
				<!--<div class="row thanks">
					<span class="btn_orange">Спасибо</span>
				</div>-->
			</form>

		</div>
	</div>
</div>
