<div class="logo">
    <a href="/" title="" class="b-logo">
        <img src="img/logo.svg" class="b-logo__pic" alt="">
        <img src="img/logo_white.svg" class="b-logo__pic b-logo__pic--white{% if not isPageWhite %} b-logo__pic--hidden{% endif %}" alt="">
    </a>
</div>