<div class="menu" id="mainMenu">

    <div class="wrap">
         <div class="menu__name name">Меню</div>
        <div class="menu__inner">
                    <div class="item item_1">
            <!--<div class="item item_1 active"> - вариант для активного пунта на разрешении 320рх --><a href="#" class="menu__item-link menu__item-link--unclickable">О проекте</a>
            <ul>
                <li class="back">
                    <a href="#"></a>
                </li>
                <li><a class="menu__subitem-link" href="about.html">О проекте</a></li>
                <li><a class="menu__subitem-link" href="developer.html">О застройщике</a></li>
                <li><a class="menu__subitem-link" href="location.html">Расположение</a></li>
                <li><a class="menu__subitem-link" href="gallery.html">Галерея</a></li>
                <li><a class="menu__subitem-link" href="news.html">Новости</a></li>
                <li><a class="menu__subitem-link" href="diary.html">Динамика строительства</a></li>
                <li><a class="menu__subitem-link" href="tours.html">Виртуальный тур</a></li>
                <li><a class="menu__subitem-link" href="docs.html">Документы</a></li>
                <li><a class="menu__subitem-link" href="404.html">Наши награды</a></li>
                <li><a class="menu__subitem-link" href="404.html">СМИ о нас</a></li>
            </ul>
        </div>
        <div class="item item_2"><a class="menu__item-link" href="actions.html">Акции</a></div>
        <div class="item item_3"> <a class="menu__item-link menu__item-link--unclickable" href="infras-internal.html">Инфраструктура</a>
            <ul>
                <li class="back">
                    <a href="#"></a>
                </li>
                <li><a class="menu__subitem-link" href="infras-external.html">Инфраструктура района</a></li>
                <li><a class="menu__subitem-link" href="infras-internal.html">Инфраструктура ЖК</a></li>
            </ul>
        </div>
        <div class="item item_4"> <a class="menu__item-link menu__item-link--unclickable" href="#">Как купить</a>
            <ul>
                <li class="back">
                    <a href="#"></a>
                </li>
                <li><a class="menu__subitem-link" href="plans.html">Рассрочка</a></li>
                <li><a class="menu__subitem-link" href="hypothec.html">Ипотека</a></li>
                <li><a class="menu__subitem-link" href="hypothec-military.html">Военная ипотека</a></li>
                <li><a class="menu__subitem-link" href="maternal-capital.html">Материнский капитал</a></li>
                <li><a class="menu__subitem-link" href="subsidies.html">Субсидии</a></li>
            </ul>
        </div>
        <div class="item item_5"> <a class="menu__item-link menu__item-link--unclickable" href="flats.html">Квартиры</a>
            <ul>
                <li class="back">
                    <a href="#"></a>
                </li>
                <li><a class="menu__subitem-link" href="choice.html">Выбор квартиры</a></li>
                <li><a class="menu__subitem-link" href="flats.html">Типовые планировки</a></li>
                <li><a class="menu__subitem-link" href="flats.html">Подбор по параметрам</a></li>
                <li><a class="menu__subitem-link" href="furnish.html">Квартиры с отделкой</a></li>
            </ul>
        </div>
        <div class="item item_6"><a class="menu__item-link" href="furnish.html">Отделка</a></div>
        <div class="item item_8"><a class="menu__item-link" href="settling.html">Заселение</a></div>
        <div class="item item_7"><a class="menu__item-link" href="contacts.html">Контакты</a></div>
        </div>
       
        <a href="#" title="" class="close"></a>
        <ul class="menuFooter">
            <li>
                <a href="#" title="" target="_blank"><img src="img/icon_fb.svg" alt=""></a>
            </li>
            <li>
                <a href="#" title="" target="_blank"><img src="img/icon_vk.svg" alt=""></a>
            </li>
            <li>
                <a href="#" title="" target="_blank"><img src="img/icon_inst.svg" alt=""></a>
            </li>
        </ul>

    </div>
    <div class="menu__backdrop"></div>
</div>
